﻿@using Geumcheon.Web.Consult.Models
@model Application
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        font-weight: bold !important;
    }
</style>
<script>

    function sat($frame) {
        this.$frame = $($frame);
        this.config = {

        }
        this.initModule();
    }

    sat.prototype.setConfig = function () {
        var config = {

            $frame: null,
            $update: null,
            $save: null,
            $cancel: null,
            $remove: null,

            $updateItem: null,
            $viewItem: null,
            Modyfy: false,
            $satJson: null,
            $testYear: null,
            $testDate: null
        }

        return config;
    }
    sat.prototype.setConfigMap = function () {

        var $frame = this.$frame;
    }
    sat.prototype.setDisplay = function () {

        this.$updateItem = this.$frame.find(".satUpdate");
        this.$viewItem = this.$frame.find(".satView");

        if (this.Modyfy) {
            this.$updateItem.css("display", "");
            this.$viewItem.css("display", "none");
        }
        else {
            this.$updateItem.css("display", "none");
            this.$viewItem.css("display", "");
        }
    }
    sat.prototype.setTestDate = function () {

    }

    sat.prototype.setTestYear = function () {

    }
    sat.prototype.update = function () {

        //alert(this.$frame.attr('id'));
        this.Modyfy = true;
        this.setDisplay();
    }

    sat.prototype.save = function () {
        this.Modyfy = false;
        this.setDisplay();
    }

    sat.prototype.cancel = function () {
        this.Modyfy = false;
        this.setDisplay();
    }
    sat.prototype.initModule = function () {
        this.config = this.setConfig();
        this.setConfigMap();

        this.config.$update = this.$frame.find('.btnSatUpdate');
        this.config.$save = this.$frame.find('.btnSatSave');
        this.config.$cancel = this.$frame.find('.btnSatCancel');
        this.config.$testYear = this.$frame.find('.testyear');
        this.config.$testDate = this.$frame.find('.testdate');
        this.config.$satJson = this.getScore('', '');
        var objThis = this;

        this.config.$update.click(function () {
            objThis.update();
        });

        this.config.$save.click(function () {
            objThis.save();
        });

        this.config.$cancel.click(function () {
            objThis.cancel();
        });

        this.config.$testYear.change(function () {
            objThis.chageTestYear();
        });

        this.config.$testDate.change(function () {
            objThis.chageTestDate();
        });

        this.setDisplay();
        //this.bindData();
        return true;
    }
    sat.prototype.bindData = function () {

        var parseJsons = JSON.parse(this.config.$satJson.replace(/&quot;/g, '"'));
        var objThis = this;
        var idx = 0;
        $.each(parseJsons, function (key, value) {
            if (objThis.$testYear == null) {
                objThis.$testYear = new Array();
                objThis.$testDate = new Array();
            }
            var _testdt = new Object();
            _testdt.TestYear = value.TestYear;
            _testdt.TestDate = value.TestDate;
            if ($.inArray(value.TestYear, objThis.$testYear) === -1) {
                objThis.$testYear[idx] = value.TestYear;
                idx += 1;
            }
            objThis.$testDate.push(_testdt);

            if (value.TestYear == '2019' && value.TestDate == '0604') {
                objThis.$frame.find('.schoolyear').html(value.SchoolYear+'학년');
                objThis.$frame.find('.Std').find('.kor').html(value.Kor.Std);
                objThis.$frame.find('.Std').find('.mat').html(value.Mat.Std);
                objThis.$frame.find('.Std').find('.tam1').html(value.Tam1.Std);
                objThis.$frame.find('.Std').find('.tam2').html(value.Tam2.Std);
                objThis.$frame.find('.Std').find('.lang2').html(value.Lang2.Std);

                objThis.$frame.find('.Per').find('.kor').html(value.Kor.Per);
                objThis.$frame.find('.Per').find('.mat').html(value.Mat.Per);
                objThis.$frame.find('.Per').find('.tam1').html(value.Tam1.Per);
                objThis.$frame.find('.Per').find('.tam2').html(value.Tam2.Per);
                objThis.$frame.find('.Per').find('.lang2').html(value.Lang2.Per);

                objThis.$frame.find('.Gra').find('.kor').html(value.Kor.Gra);
                objThis.$frame.find('.Gra').find('.mat').html(value.Mat.Gra);
                objThis.$frame.find('.Gra').find('.eng').html(value.Eng.Gra);
                objThis.$frame.find('.Gra').find('.his').html(value.His.Gra);
                objThis.$frame.find('.Gra').find('.tam1').html(value.Tam1.Gra);
                objThis.$frame.find('.Gra').find('.tam2').html(value.Tam2.Gra);
                objThis.$frame.find('.Gra').find('.lang2').html(value.Lang2.Gra);
            }


        });

        var ddlTestYearHtmlItems = '';
        this.$testYear.forEach(function (element) {
            //alert(element);
            //alert(j);
            //per += j.Per;
            var ddlTestYearHtml = "<option value='" + element + "'>" + element + "</option>";
            ddlTestYearHtmlItems += ddlTestYearHtml;


        });
        this.$frame.find('.test-year').append(ddlTestYearHtmlItems);

    }

    //시험일자년도 선택변경
    sat.prototype.chageTestYear = function () {
        //alert('year');
        //var testdate = perArray.filter(function (item) { return (item.Idx == idx && item.SchoolYear == i && item.Class == j); });
        alert($(this).val());
        var aa = this.$testDate.filter(function (item) {
            return (item.TestYear)
        });

    }

    //시험일자 변경
    sat.prototype.chageTestDate = function () {
        //alert($(this).val());
    }

    //시험일자 조회
    sat.prototype.getTestDate = function () {

    }

    //수학/탐구/제2외국어 과목코드 조회
    sat.prototype.getSubCodes = function (type) {

        switch (type) {
            case '1': {
                break;
            }
            case '2': {
                break;
            }
            case '3': {
                break;
            }
        }
    }

    //성적저장
    sat.prototype.setScore = function () {

    }

    //성적조회
    sat.prototype.getScore = function (stuId, schoolYear) {
               var result;
        $.ajax({
            async: false,
            url: '@Url.Action("GetSat", "Score")',
            data: {
                stuId: stuId,
                schoolYear: schoolYear
            },
            dataType: 'json',
            type: 'POST'
        }).done(function (json) {
            result = json.jsonMsg
            //alert(result);
        })
        .error(function () {
            result = false;
            });
        return result;
    }

</script>
<script>
    $(document).ready(function () {
        //모의고사 성적입력
        var _sat = new sat("#sat");

        var test_date = $(".testdate option:selected").val();
        $(".sat-score").css("display", "none");
        $("#sat-" + test_date).css("display", "");

        $(".testdate").change(function () {
            //alert($(this).val());
            $(".sat-score").css("display", "none");
            $("#sat-" + $(this).val()).css("display", "");
        })
    });
</script>

<div class="common_form">
    <div id="sat">
        <div class="table mt1 txC pdh2">
            <table class="form_tbl">
                <caption>목록</caption>
                <thead>
                    <tr>
                        <th style="padding:7px;">대상학년</th>
                        <th>
                            <span class="satView schoolyear">
                                3학년
                            </span>
                            @*<select class="satView" style="width:100%;">
                                <option>1학년</option>
                                <option>2학년</option>
                                <option>3학년</option>
                            </select>
                            <select class="satUpdate">
                                <option>1학년</option>
                                <option>2학년</option>
                                <option>3학년</option>
                            </select>*@
                        </th>
                        <th>시험일자</th>
                        <th colspan="5">
                            <select class="satView test-year" style="width:30%;">
                                @*<option>2017</option>
                                <option>2018</option>*@
                                <option>2019</option>
                            </select>
                            <select class="satView testdate" style="width:69%;">
                                <option selected="selected" value="0604">06.04(교육청)</option>
                                <option value="0710">07.10(교육청)</option>
                                <option value="0904">09.04(교육청)</option>
                            </select>
                            <select class="satUpdate">
                                <option></option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2">구분</th>
                        <th rowspan="2">국어</th>
                        <th rowspan="2">수학</th>
                        <th rowspan="2">영어</th>
                        <th rowspan="2">한국사</th>
                        <th colspan="2">탐구영역</th>
                        <th>제2외국어</th>
                    </tr>
                    <tr>
                        <th>
                            <span class="satView">화학Ⅰ</span>
                            <select class="satUpdate">
                                <option></option>
                            </select>
                        </th>
                        <th>
                            <span class="satView">생명과학Ⅰ</span>
                            <select class="satUpdate">
                                <option></option>
                            </select>
                        </th>
                        <th>

                            <span class="satView">-</span>
                            <select class="satUpdate">
                                <option></option>
                            </select>
                        </th>
                    </tr>
                </thead>
                <tbody class="sat-score" id="sat-0604">
                    <tr class="Std">
                        <td class="s-type">표준점수</td>

                        <td>
                            <span class="satView kor">134</span>
                            <input class="satUpdate kor" type="text" />
                        </td>
                        <td>
                            <span class="satView mat">126</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView his">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">80</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">84</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                    </tr>
                    <tr class="Per">
                        <td class="s-type">백분위</td>
                        <td>
                            <span class="satView kor">95</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView mat">89</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView his">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">100</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">100</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                    </tr>
                    <tr class="Gra">
                        <td class="s-type">등급</td>
                        <td>
                            <span class="satView kor">1</span>
                            <input class="satUpdate " type="text" />
                        </td>
                        <td>
                            <span class="satView mat">2</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView his">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                    </tr>
                </tbody>
                <tbody id="sat-0710" class="sat-score">
                    <tr class="Std">
                        <td class="s-type">표준점수</td>

                        <td>
                            <span class="satView kor">110</span>
                            <input class="satUpdate kor" type="text" />
                        </td>
                        <td>
                            <span class="satView mat">126</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView his">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">80</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">84</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                    </tr>
                    <tr class="Per">
                        <td class="s-type">백분위</td>
                        <td>
                            <span class="satView kor">95</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView mat">89</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView his">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">100</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">100</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                    </tr>
                    <tr class="Gra">
                        <td class="s-type">등급</td>
                        <td>
                            <span class="satView kor">1</span>
                            <input class="satUpdate " type="text" />
                        </td>
                        <td>
                            <span class="satView mat">2</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView his">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                    </tr>
                </tbody>
                <tbody id="sat-0904" class="sat-score">
                    <tr class="Std">
                        <td class="s-type">표준점수</td>

                        <td>
                            <span class="satView kor">120</span>
                            <input class="satUpdate kor" type="text" />
                        </td>
                        <td>
                            <span class="satView mat">126</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView his">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">80</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">84</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                    </tr>
                    <tr class="Per">
                        <td class="s-type">백분위</td>
                        <td>
                            <span class="satView kor">95</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView mat">89</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView his">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">100</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">100</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                    </tr>
                    <tr class="Gra">
                        <td class="s-type">등급</td>
                        <td>
                            <span class="satView kor">1</span>
                            <input class="satUpdate " type="text" />
                        </td>
                        <td>
                            <span class="satView mat">2</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView his">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">1</span>
                            <input class="satUpdate" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate" type="text" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btnWrap mt7" style="text-align:right !important; margin-top:10px !important;">
            <a href="#none" class="satView btn Ty7 btnSatUpdate" style="max-width:100%;width:100px; height:50px; line-height:50px !important;"><span>수정</span></a>
            <a href="#none" class="satUpdate btn Ty7 btnSstSave" style="max-width:100%;width:100px; height:50px; line-height:50px !important;"><span>저장</span></a>
            <a href="#none" class="satUpdate btn Ty7 btnSatCancel" style="max-width:100%;width:100px; height:50px; line-height:50px !important;"><span>취소</span></a>
        </div>
    </div>
</div>

