﻿@using Geumcheon.Web.Consult.Models
@model Application
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        font-weight: bold !important;
    }
</style>
<script>
    $(document).ready(function () {

    });
</script>

<div class="common_form">
    <div class="student">
        <table class="form_tbl">

            <tbody>
                <tr>
                    <td colspan="2">
                        구분
                    </td>
                    <td>
                        1학년
                    </td>
                    <td>
                        2학년
                    </td>
                    <td>
                        3학년
                    </td>
                    <td>평군</td>
                </tr>
                <tr>
                    <td rowspan="5">
                        석차등급
                    </td>
                    <td>
                        국어
                    </td>
                    <td>
                        <span class="avrg_k"></span>
                    </td>
                    <td>
                        <span class="avrg_k"></span>
                    </td>
                    <td>
                        <span class="avrg_k"></span>
                    </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>
                        영어
                    </td>
                    <td>
                        <span class="avrg_e"></span>
                    </td>
                    <td>
                        <span class="avrg_e"></span>
                    </td>
                    <td>
                        <span class="avrg_e"></span>
                    </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>
                        수학
                    </td>
                    <td>
                        <span class="avrg_m"></span>
                    </td>
                    <td>
                        <span class="avrg_m"></span>
                    </td>
                    <td>
                        <span class="avrg_m"></span>
                    </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>
                        사회
                    </td>
                    <td>
                        <span class="avrg_soc"></span>
                    </td>
                    <td>
                        <span class="avrg_soc"></span>
                    </td>
                    <td>
                        <span class="avrg_soc"></span>
                    </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>
                        과학
                    </td>
                    <td>
                        <span class="avrg_sci"></span>
                    </td>
                    <td>
                        <span class="avrg_sci"></span>
                    </td>
                    <td>
                        <span class="avrg_sci"></span>
                    </td>
                    <td><input type="text" /></td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="btn_a right no-print">
        <a href="#" class="btn blue" style="padding:0px;" onclick="fnUnivItemSave();">저장하기</a>
    </div>
</div>

