﻿@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.ViewModel
@using Geumcheon.Web.Core.Entity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .loading {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        background: #fff;
        z-index: 1000; /* 이 값으로 레이어의 위치를 조정합니다. */
    }

    input::placeholder {
        color:#bfbfbf;
    }
</style>
<script>
    $(document).ready(function () {
        fnDataBinding();
        if ('@ViewBag.WriterType' == 'P') {
            $(".writer").text('| 학부모답변 |');
        }
        else {
            $(".writer").text('| 학생답변 |');
        }

        $("input[name=re]").change(function () {
            var checked = $(this).val();            
            $("#r-a1").val(checked);
        });
    });

    fnDataBinding = function () {
        if ('@ViewBag.UnivJson' != '') {
            //alert('@ViewBag.UnivJson')
            var univJson = '@ViewBag.UnivJson'.replace(/&quot;/g, '"');
            var univObj = JSON.parse(univJson);
            $.each(univObj, function (key, value) {

                var idx = parseInt(value.Ranking) - 1;
                var obj = $(".univ-item").get(idx);

                $(obj).attr("idx", value.ApplyUnivIdx);
                $(obj).attr("ranking", value.Ranking);
                $(obj).find(".univ").val(value.UniversityName);
                $(obj).find(".stype-rem").val(value.StypeRem);
                $(obj).find(".major-name").val(value.MajorName);
            });

            var apply_univ_idx = $(this).attr("idx");
            var ranking = $(this).attr("ranking");
            var university_name = $(this).find(".univ").val();
            var stype_rem = $(this).find(".stype-rem").val();
            var major_name = $(this).find(".major-name").val();

        }

        if ('@ViewBag.AnswerJson' != '') {
            //alert('@ViewBag.AnswerJson')
            var answerJson = '@ViewBag.AnswerJson'.replace(/&quot;/g, '"').replace(/\n/gi, '\\n').replace(/\r/gi, '\\r').replace(/&#39;/g, '\\"');
            //answerJson = answerJson.replace(/""/g,'"\\"');
            var answerObj = JSON.parse(answerJson);
            //var answerObj = '@ViewBag.AnswerJson'.replace(/&quot;/g, '"').replace(/\n/gi, '\\n').replace(/\r/gi, '\\r');
            $.each(answerObj, function (key, value) {
                $("#" + value.ID).val(value.Answer)
            });
        }

        if ($("#r-a1").val() != '') {
            $("input[name=re][value=" + $("#r-a1").val()+"]").prop("checked", true);
        }
    }

    fnSavetest = function () {
        var isValudation = true;
        var answerArray = new Array();
        $.each($(".basic-info").find(".answer"), function (key, value) {

            var id = $(this).attr("id");
            var answer = $(this).val();

            var answerInfo = new Object();
            answerInfo.ID = id;
            answerInfo.Answer = answer;
            answerArray.push(answerInfo);
        });


        if (isValudation) {
            var answerItem = new Object();
            answerItem.AnswerItem = answerArray
            var answerJson = JSON.stringify(answerArray);
            //fnSetResponse(answerJson);
            fnSaveAnswer('S', answerJson);
            //var obj2 = JSON.parse(answerJson);
            //$.each(obj2, function (key, value) {
            //    alert(value.ID);
            //    alert(value.Answer);
            //});
        }
    };

    fnSave = function () {
        var univItemArray = new Array();
        $.each($(".univ-item"), function (key, value) {

            var apply_univ_idx = $(this).attr("idx");
            var ranking = $(this).attr("ranking");
            var university_name = $(this).find(".univ").val();
            var stype_rem = $(this).find(".stype-rem").val();
            var major_name = $(this).find(".major-name").val();

            var UnivItem = new Object();

            UnivItem.ApplyUnivIdx = parseInt(apply_univ_idx);
            UnivItem.Ranking = parseInt(ranking);
            UnivItem.UniversityName = university_name
            UnivItem.StypeRem = stype_rem
            UnivItem.MajorName = major_name
            univItemArray.push(UnivItem);
        });
        var univJson = JSON.stringify(univItemArray);


        var isValudation = true;
        var answerArray = new Array();
        $.each($(".basic-info").find(".answer"), function (key, value) {

            var id = $(this).attr("id");
            var answer = $(this).val();

            var answerInfo = new Object();
            answerInfo.ID = id;
            answer = answer
            answerInfo.Answer = answer.replace(/"/g, "\u0027");
            answerArray.push(answerInfo);
        });


        if (isValudation) {
            var answerItem = new Object();
            answerItem.AnswerItem = answerArray
            var answerJson = JSON.stringify(answerArray);
            //fnSetResponse(answerJson);
            //fnSaveAnswer('S', answerJson);
            //var obj2 = JSON.parse(answerJson);
            //$.each(obj2, function (key, value) {
            //    alert(value.ID);
            //    alert(value.Answer);
            //});
        }

        fnModifyDefaultInfo('@ViewBag.WriterType', answerJson,univJson);
    }

    fnSaveAnswer = function (writerType, answer) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'writerType': writerType
                , 'answer': answer

            }),
            url: '@Url.Action("ModifyAnswer", "Score")',
            success: function (msg) {
                var result = msg.ok;
                if (result) {
                    alert('저장성공');
                }
                else {
                    alert('저장실패')
                }
            },
            error: function (xhr, msg) { alert(msg); },
        });
    }

    fnModifyUnivItem = function (writerType, univitem) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                  'writerType': writerType
                , 'univItemJson': univitem
            }),
            url: '@Url.Action("ModifyUniversityitem", "Score")',
            success: function (msg) {
                var result = msg.ok;
                if (result) {
                    alert('저장성공');
                }
                else {
                    alert('저장실패')
                }
            },
            error: function (xhr, msg) { alert(msg); },
        });
    }

    fnModifyDefaultInfo = function (writerType, answer, univitem) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                  'writerType': writerType
                , 'answer': answer
                , 'univitem': univitem

            }),
            url: '@Url.Action("ModifyDefailtInfo", "MyPage")',
            success: function (msg) {
                var result = msg.ok;
                if (result) {
                    alert('저장하였습니다');
                }
                else {
                    alert('저장실패')
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            },
        });
    }
</script>

<div class="common_form" style="min-width:1024px; position:relative !important">
    
    @if (ViewBag.WriterType == "P")
    {
        @Html.Partial("../Shared/Partial/_UserDataNavigation", "BASICINFO_P");
    }
    else
    {
        @Html.Partial("../Shared/Partial/_UserDataNavigation", "BASICINFO_S");
    }

    <div class="basic-info">
        <p><span style="color:red;font-weight:bold;">＊경우도 반드시 기초조사서를 새롭게 작성해주세요.(복붙 비추)＊</span></p>
        <p>※올해 1:1 금천구 컨설팅을  하신적이 있으신가요?</p>
        <p style="margin-left:10px;">
            <label><input type="radio" name="re" value="0"> 없다</label>
            <label><input type="radio" name="re" value="1"> 1회</label>
            <label><input type="radio" name="re" value="2"> 2회</label>
            <label><input type="radio" name="re" value="3"> 3회</label>
            <input type="hidden" class="answer" id="r-a1" />
        </p>
        <p>※재상담의 경우도 원하시는 컨설턴트가 있으신가요?<br /><span>(있으시면 성함을 적어주세요. 없으면 '없음'으로, 기존 컨설턴트를 원하시지만 성함을 모르면 '기존 컨설턴트'로 적으시면 됩니다. </span></p>
        <p style="margin-left:10px;"><input type="text" style="width:80%;" class="answer" id="r-a2" /></p>
        <hr />
        <p><span class="writer">| 학생답변 |</span> 1~3순위까지 희망 대학을 적어보세요</p>
        <p>※목표학교는 회원가입시 저장한 학교 목록을 보여줍니다. 수정하시면 회원정보도 동시 수정됩니다</p>

        <table class="form_tbl">
            <tbody>
                <tr>
                    <td colspan="4" class="thead-dark" style="border-top:1px solid black;border-bottom:1px solid black">지원희망대학</td>
                </tr>
                <tr class="univ-item" ranking="1" idx="0">
                    <td class="thead">
                        1지망
                    </td>
                    <td>
                        <input type="text" class="univ" width="20%" /> 대학
                    </td>
                    <td>
                        <input type="text" class="stype-rem" /> 전형
                    </td>
                    <td>
                        <input type="text" class="major-name" /> 학과
                    </td>
                </tr>
                <tr class="univ-item" ranking="2" idx="0">
                    <td class="thead">
                        2지망
                    </td>
                    <td>
                        <input type="text" class="univ" /> 대학
                    </td>
                    <td>
                        <input type="text" class="stype-rem" /> 전형
                    </td>
                    <td>
                        <input type="text" class="major-name" /> 학과
                    </td>
                </tr>
                <tr class="univ-item" ranking="3" idx="0">
                    <td class="thead">
                        3지망
                    </td>
                    <td>
                        <input type="text" class="univ" /> 대학
                    </td>
                    <td>
                        <input type="text" class="stype-rem" /> 전형
                    </td>
                    <td>
                        <input type="text" class="major-name" /> 학과
                    </td>
                </tr>

            </tbody>
        </table>
        @if (Geumcheon.Web.Consult.Models._identity.SchoolType == "M")
        {


        <p><span class="writer">| 학생답변 |</span> 일반고 외(특목/자사/자율/비평준고 등) 학교 지원에 대한 희망이 있는 학생은 답변 해주세요.</p>
        <p>※특목 등 희망학교 준비를 어느정도 했나요?(선행, 경시, 비교과 기타)<br /></p>
        <p style="margin-left:10px;"><input type="text" style="width:80%;" class="answer" id="m_a1" placeholder="없을경우 아니오로 답해주세요" /></p><br />
        <p>※특목 등 희망학교에 대한 진학 상담 경험이 있나요? (어디에서, 몇회, 상담결과 내용은)<br /></p>
        <p style="margin-left:10px;"><input type="text" style="width:80%;" class="answer" id="m_a2" placeholder="없을경우 아니오로 답해주세요" /></p><br />


        <p>※입학을 희망하는 고등학교를 적어주세요(1,2,3지망 순으로)</p>
        <table class="form_tbl">
            <tbody>
                <tr>
                    <td colspan="2" class="thead-dark" style="border-top:1px solid black;border-bottom:1px solid black">입학희망고등학교</td>
                </tr>
                <tr>
                    <td class="thead">
                        1지망
                    </td>
                    <td>
                        <input type="text" id="h_a1" class="answer" width="100%" />
                    </td>
                </tr>
                <tr>
                    <td class="thead">
                        2지망
                    </td>
                    <td>
                        <input type="text" id="h_a2" class="answer" width="100%" />
                    </td>
                </tr>
                <tr>
                    <td class="thead">
                        3지망
                    </td>
                    <td>
                        <input type="text" id="h_a3" class="answer" width="100%" />
                    </td>
                </tr>

            </tbody>
        </table>
        }


        <p style="margin-top:10px;"><span class="writer">| 학생답변 |</span> 상담을 통해 도움받고 싶은 고민을 적어보세요</p>
        <table class="form_tbl">
            <tr>
                <td rowspan="3" class="thead-dark border-top" width="10%">
                    학습
                </td>
                <td class="thead border-top">
                    제일 어렵거나 힘든과목
                </td>
                <td class="border-top"><input type="text" id="s_a1" class="answer" /></td>
            </tr>
            <tr>
                <td class="thead">위의 과목 공부가 힘든 이유가 무엇인가요?</td>
                <td>
                    <textarea id="s_a2" class="answer" style="height:150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="thead">그 외의 과목에서 어려움이 무엇인가요?</td>
                <td>
                    <textarea id="s_a3" class="answer" style="height:150px;"></textarea>
                </td>
            </tr>

            <tr>
                <td class="thead-dark">진학</td>
                <td class="thead">진학방면으로 고민 되는 도움받고 싶은 부분을 자세하게 작성해주세요</td>
                <td>
                    <textarea id="j_a1" class="answer" style="height:150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td rowspan="3" class="thead-dark">진로</td>
                <td class="thead">앞으로 어떤 직업을 갖고 싶은가요?</td>
                <td>
                    <textarea id="c_a1" class="answer" style="height:150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="thead">
                    위의 직업을 갖고 싶은 이유를 적어주세요
                </td>
                <td>
                    <textarea id="c_a2" class="answer" style="height:150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="thead">
                    진로에 대한 고민이 있다면 적어주세요
                </td>
                <td>
                    <textarea id="c_a3" class="answer" style="height:150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="thead-dark">생활</td>
                <td class="thead">생활하면서 요즘 가장 고민되는 부분은?</td>
                <td>
                    <textarea id="l_a1" class="answer" style="height:150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="thead">고치고싶은 습관이 있다면?</td>
                <td>
                    <textarea id="l_a2" class="answer" style="height:150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="thead-dark">기타</td>
                <td class="thead">현재 다니고 있는 학원/과목 기타사항을 적어주세요</td>
                <td>
                    <textarea id="e_a1" class="answer" style="height:150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="thead">
                    기타 궁금하거나 상담 받고 싶은 사항을 적어주세요<br />
                    (이전에 컨설팅을 했던 학생 중, 기존 컨설턴트를 희망하는 경우에도 적어주세요)
                </td>
                <td>
                    <textarea id="e_a2" class="answer" style="height:150px;"></textarea>
                </td>
            </tr>
        </table>
    </div>

    <div class="btn_a right no-print">
        <a href="#" class="btn blue" style="padding:0px;" onclick="fnSave();">저장하기</a>
    </div>
</div>
<div style="background-color: #0a0a0a;
    min-width: 1024px;
    height: 1030px;
    position: relative;
    top: -50%;
    opacity: 0.7;
    display:none">
    <div style="text-align:center; background-color:white;position:absolute; top:30%;left:50%; line-height:100px; z-index:1; opacity:1"><span style="font-weight:bold;margin:10px;">5월6일부터 입력가능합니다.</span></div>
</div>
