﻿@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.ViewModel
@using Geumcheon.Web.Core.Entity
@model List<Files>
@{
    Layout = null;

}


<!doctype html>
<HTML>
<BODY style="margin:0px;">

    <style>
        .icon_attchment {
            background: url("../Resources/images/common/icon.png") no-repeat -54px -33px;
            height: 30px;
            width: 20px;
        }

        .icon_del {
            background: url(../Resources/images/common/del.png) no-repeat;
            width: 17px;
            height: 17px;
        }
    </style>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script type="text/javascript">

        // 파일 리스트 번호
        var fileIndex = 0;
        // 등록할 전체 파일 사이즈
        var totalFileSize = 0;
        // 파일 리스트
        var fileList = new Array();
        // 파일 사이즈 리스트
        var fileSizeList = new Array();
        // 등록 가능한 파일 사이즈 MB
        var uploadSize = 100;
        // 등록 가능한 총 파일 사이즈 MB
        var maxUploadSize = 500;
        // 업데이트 파일
        var update_file_list = new Array();

        $(function () {
            // 파일 드롭 다운
            fileDropDown();

            $("#myFile").on("change", function () {
                selectFile($(this)[0].files)
            });

        });

        // 파일 드롭 다운
        function fileDropDown() {
            var dropZone = $(".dropZone");
            //Drag기능
            dropZone.on('dragenter', function (e) {
                e.stopPropagation();
                e.preventDefault();
                // 드롭다운 영역 css
                dropZone.css('background-color', '#E3F2FC');
            });
            dropZone.on('dragleave', function (e) {
                e.stopPropagation();
                e.preventDefault();
                // 드롭다운 영역 css
                dropZone.css('background-color', '#FFFFFF');
            });
            dropZone.on('dragover', function (e) {
                e.stopPropagation();
                e.preventDefault();
                // 드롭다운 영역 css
                dropZone.css('background-color', '#E3F2FC');
            });
            dropZone.on('drop', function (e) {
                e.preventDefault();
                // 드롭다운 영역 css
                dropZone.css('background-color', '#FFFFFF');

                var files = e.originalEvent.dataTransfer.files;
                if (files != null) {
                    if (files.length < 1) {
                        alert("폴더 업로드 불가");
                        return;
                    }
                    selectFile(files)
                } else {
                    alert("ERROR");
                }
            });
        }

        // 파일 선택시
        function selectFile(files) {
            // 다중파일 등록
            if (files != null) {
                for (var i = 0; i < files.length; i++) {
                    // 파일 이름
                    var fileName = files[i].name;
                    var fileNameArr = fileName.split("\.");
                    // 확장자
                    var ext = fileNameArr[fileNameArr.length - 1];
                    // 파일 사이즈(단위 :MB)
                    var fileSize = files[i].size / 1024 / 1024;

                    if ($.inArray(ext, ['exe', 'bat', 'sh', 'java', 'jsp', 'html', 'js', 'css', 'xml']) >= 0) {
                        // 확장자 체크
                        alert("등록 불가 확장자");
                        break;
                    } else if (fileSize > uploadSize) {
                        // 파일 사이즈 체크
                        alert("용량 초과\n업로드 가능 용량 : " + uploadSize + " MB");
                        break;
                    } else {
                        // 전체 파일 사이즈
                        totalFileSize += fileSize;

                        // 파일 배열에 넣기
                        fileList[fileIndex] = files[i];

                        // 파일 사이즈 배열에 넣기
                        fileSizeList[fileIndex] = fileSize;

                        // 업로드 파일 목록 생성
                        addFileList(fileIndex, fileName, fileSize);

                        // 파일 번호 증가
                        fileIndex++;
                    }
                }
            } else {
                alert("ERROR");
            }
        }

        // 업로드 파일 목록 생성
        function addFileList(fIndex, fileName, fileSize) {
            var html = "";
            //html += "<tr id='fileTr_" + fIndex + "'>";
            //html += "    <td class='dropZone left' >";
            //html += fileName + " / " + fileSize + "MB " + "<a href='#' onclick='deleteFile(" + fIndex + "); return false;' class='btn small bg_02'>삭제</a>"
            //html += "    </td>"
            //html += "</tr>"
            var bottom_border_color = "#bfbfbf";
            if (fIndex == 4) {
                bottom_border_color = "";
            }
            html = "<div class='fileTr' id='fileTr_" + fIndex + "' style=\"float:left; width:100%;" + bottom_border_color + ";\">"
                + " <div style=\"padding:1px;\">"

                + "     <div style= \"float:left;width:90%; height:100%; margin-left:10px; margin-top:5px; margin-right:10px;\">"
                + "        <span class=\"icon icon_del\" onclick=\"deleteFile(" + fIndex + ");\"></span>"
                + "        <span style=\"line-height:0.5em; vertical-align:text-top;\">" + fileName + "</span>"
                + "      </div>"
                + " </div>"
                + "</div>"
            $('#file-list').append(html);


            //파일인포메시지 삭제
            $("#file_info").css("display", "none");
        }

        //<div style="float:left; width:100%; height:40px; border-bottom:1px solid #bfbfbf;">
        //    <div style="padding:7px;">
        //        <div style="float:left;width:90%; height:100%;"><span>파일이름</span></div>
        //        <div style="float:left;width:10%; height:100%;">
        //            <button style="" type="button" class="btn minus" id="btnFileRowMinus" onclick="deleteFile(0);">삭제</button>
        //        </div>
        //    </div>
        //</div>

        // 업로드 파일 삭제
        function deleteFile(fIndex) {
            // 전체 파일 사이즈 수정
            totalFileSize -= fileSizeList[fIndex];

            // 파일 배열에서 삭제
            delete fileList[fIndex];

            // 파일 사이즈 배열 삭제
            delete fileSizeList[fIndex];

            // 업로드 파일 테이블 목록에서 삭제
            $("#fileTr_" + fIndex).remove();
        }

        // 파일 등록
        function uploadFile() {

            // 등록할 파일 리스트
            var uploadFileList = Object.keys(fileList);
            //var task_student_report_seq = $("#dv_task_student_report_seq", parent.document).html();
            //alert("2::::::::"+task_student_report_seq);


            // 등록할 파일 리스트를 formData로 데이터 입력
            var form = $('#uploadForm');
            var formData = new FormData();
            for (var i = 0; i < uploadFileList.length; i++) {
                formData.append('files', fileList[uploadFileList[i]])
            }

            var uploadid = '@Geumcheon.Web.Consult.Models._identity.MemberIdx';
            //var task_seq = $("#dv_task_seq", parent.document).html();
            //var task_student_report_seq = $("#dv_task_student_report_seq", parent.document).html();
            //var sch_code = $("#dv_sch_code", parent.document).html();
            formData.append("___uploadid___", uploadid);
            //formData.append("___task_seq___", task_seq);
            //formData.append("___task_student_report_seq___", task_student_report_seq);
            //formData.append("___sch_code___", sch_code);

            var update_file = $(".file_u");
            $.each(update_file, function (seq, ele) {
                update_file_list[seq] = $(ele).attr("fileid");
                formData.append('___update_file___', update_file_list[seq]);
            });

            $.ajax({
                url: 'UploadFile',
                data: formData,
                type: 'POST',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                dataType: 'json',
                cache: false,
                success: function (result) {
                }
            }).done(function (json) {
                //$("#btn_replace_submit", parent.document).click();
            });
        }

        //파일추가
        function addFile() {
            $("#myFile").click();
        }

        function remove_file_u(idx) {
            $("#file_" + idx).remove();
        }

        //파일조회

    </script>

    <form name="uploadForm" id="uploadForm" enctype="multipart/form-data" method="post"></form>

    @{
        int idx = 1;
        foreach (var item in Model)
        {

            @*<div style="width:500px; height:40px; border:1px solid #bfbfbf">
                    <div style="padding:7px;">
                        <button type="button" class="btn minus" onclick="remove_file_u('@idx');">삭제</button>
                        <div style="float:left;width:90%; height:100%;"><span style=""></span>@item.fileName</div>
                    </div>
                </div>*@
            idx++;
        }
    }
    <div style="margin-left:10px;">
        <a href="#" onclick="uploadFile(); return false;" class="btn bg_01" id="btn_upload_file" style="display:none;">파일 업로드</a>
        <a href="#" onclick="addFile();" class="btn bg_01 icon Ty1" style="font-weight:bold;">파일 첨부하기</a>
    </div>


    <div class="dropZone" id="file-list" style="width:98%; height:100px;border:1px solid #bfbfbf; overflow-x:hidden; overflow-y:auto;">


        <ul>
            @{
                int n = 1;
                foreach (var item in Model)
                {
                    <li fileid="@item.FileID" class='file_u' id='file_@n'>
                        <div style="float:left;width:90%; margin-left:10px; margin-right:10px; margin-top:5px;  height:100%;">
                            <span class="icon icon_del" onclick="remove_file_u('@n');"></span>
                            <span style="line-height:0.5em; vertical-align:text-top;">@item.FileName</span>
                        </div>
                    </li>
                    n++;
                }
            }
        </ul>
        @{
            if (n == 1)
            {
                <p id="file_info" style="padding-top:34px; text-align:center;">여러개의 파일을 마우스로 끌어놓으세요.</p>
            }
        }
    </div>
    <input type="file" id="myFile" style="display:none;" />
</BODY>
</HTML>
