﻿@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.ViewModel
@using Geumcheon.Web.Core.Entity
@model Application
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        font-weight: bold !important;
    }

    .satUpdate {
        width: 90%;
    }

    .use_ori {
        /*width: 20% !important;*/
        background-color:#ff6a00;
        height: 100%;
        float: left;
        line-height: 35px;
        text-align: center;
        margin-left: 10px;
        color: white;
        cursor :pointer;
    }
    .use_std {
        /*width: 20% !important;*/
        background-color: #b6ff00;
        height: 100%;
        float: left;
        line-height: 35px;
        text-align: center;
        margin-left: 10px;
        color: black;
        cursor: pointer;
    }
</style>
<script>

    function sat($frame) {
        this.$frame = $($frame);
        this.config = {

        }
        this.initModule();
    }

    sat.prototype.setConfig = function () {
        var config = {

            $frame: null,
            $testInfo: null,
            $update: null,
            $save: null,
            $cancel: null,
            $remove: null,

            $updateItem: null,
            $viewItem: null,
            Modyfy: true,
            $satJson: null,
            $testYear: null,
            $testDate: null,
            $gradeArea: null,
            $gradeArea1: null,
            $gradeArea2: null,
            $gradeArea3: null,
            $ctrlCssCode: null,
            $ctrlStd: null,
            $ctrlPer: null,
            $ctrlGrd: null,
            $ctrlOri: null,
            $ctrlTam: null,
            $$ctrlMat: null,
            $$ctrlTam1: null,
            $$ctrlTam2: null,
            $$ctrlLang2: null,
            $ctrlPartCode: null,
            $ctrlUseOri: null,
            $IsRealScore: null
        }

        return config;
    }
    sat.prototype.setConfigMap = function () {

        var $frame = this.$frame;
    }
    sat.prototype.setDisplay = function () {

        this.$updateItem = this.$frame.find(".satUpdate");
        this.$viewItem = this.$frame.find(".satView");

        if (this.Modyfy) {
            this.$updateItem.css("display", "");
            this.$viewItem.css("display", "none");
        }
        else {
            //this.$updateItem.css("display", "none");
            //this.$viewItem.css("display", "");
            this.$updateItem.css("display", "");
            this.$viewItem.css("display", "none");
        }
    }
    sat.prototype.setTestDate = function () {

    }
    sat.prototype.setTestYear = function () {

    }
    sat.prototype.update = function () {

        //alert(this.$frame.attr('id'));
        this.Modyfy = true;
        this.setDisplay();
    }

    sat.prototype.save = function () {
        this.Modyfy = false;
        this.setDisplay();
    }

    sat.prototype.cancel = function () {
        this.Modyfy = false;
        this.setDisplay();
    }
    sat.prototype.initModule = function () {


        this.config = this.setConfig();
        this.setConfigMap();
        this.config.$testInfo = '@ViewBag.TestInfo';
        this.config.$update = this.$frame.find('.btnSatUpdate');
        this.config.$save = this.$frame.find('.btnSatSave');
        this.config.$cancel = this.$frame.find('.btnSatCancel');
        this.config.$testYear = this.$frame.find('.testyear');
        this.config.$testDate = this.$frame.find('.testdate');
        this.config.$grade = this.$frame.find('#sltGrade');
        this.config.$ctrlCssCode = this.$frame.find('.css_code');
        this.config.$ctrLang2 = this.$frame.find('select.LANG2');
        this.config.$ctrlSltCssCode
        this.config.$gradeArea = this.$frame.find('.grade');
        this.config.$gradeArea1 = this.$frame.find('.grade1');
        this.config.$gradeArea2 = this.$frame.find('.grade2');
        this.config.$gradeArea3 = this.$frame.find('.grade3');
        this.config.$ctrlStd = this.$frame.find('.Std').find("input[type='text']");
        this.config.$ctrlPer = this.$frame.find('.Per').find("input[type='text']");
        this.config.$ctrlGrd = this.$frame.find('.Gra').find("input[type='text']");
        this.config.$ctrlOri = this.$frame.find('.Ori').find("input[type='text']");
        this.config.$ctrlMat = this.$frame.find("input[type='text'].mat");
        this.config.$ctrlTam1 = this.$frame.find("input[type='text'].tam1");
        this.config.$ctrlTam2 = this.$frame.find("input[type='text'].tam2");
        this.config.$ctrlLang2 = this.$frame.find("input[type='text'].lang2");
        this.config.$ctrlPartCode = this.$frame.find('.PartCode select.css_code');
        this.config.$ctrlUseOri = this.$frame.find('#btn-use-scoretype');
        this.config.$IsRealScore = 0;
        this.config.Modyfy = true;

        if (isEmpty(this.config.$testInfo)) {
            this.config.$satJson = '';
            //시험날짜조회
            this.getTestDate();
            this.getPartCode(this.config.$testDate.val(), this.config.$grade.val(), null);
        }
        else {
            var testInfo = this.config.$testInfo.split('/')
            this.config.$satJson = this.getScore(testInfo[0], testInfo[1]);
            this.config.$testDate.val(testInfo[1]);
            this.config.$grade.val(testInfo[0]);

            //시험날짜조회
            this.getTestDate();
            //과목코드조회
            //alert(testInfo[1] + ":testdate");
            //alert(testInfo[0] + ":grade");
            this.getPartCode(testInfo[1], testInfo[0], null);
            this.bindData();
            this.config.$IsRealScore = this.config.$testDate.find("option:selected").attr("isreal");
            this.set_use_ori_btn("1", true);
            //if (this.config.$IsRealScore == 1) {
            //    this.config.$ctrlUseOri.removeClass("use_ori");
            //    this.config.$ctrlUseOri.addClass("use_std");
            //    this.$frame.find("tr.Ori").css("display", "none");
            //}
            //else {
            //    this.$frame.find("tr.Ori").css("display", "");
            //    this.config.$ctrlUseOri.addClass("use_ori");
            //    this.config.$ctrlUseOri.removeClass("use_std");
            //}
        }

        var objThis = this;

        this.config.$update.click(function () {
            objThis.update();
        });

        this.config.$save.click(function () {
            objThis.save();
        });

        this.config.$cancel.click(function () {
            objThis.cancel();
        });

        this.config.$ctrlUseOri.click(function () {                      
            var is_use_ori = $(this).attr("is-ori");
            if (is_use_ori == "0") {
                objThis.set_use_ori_btn("1", false);
            }
            else {
                objThis.set_use_ori_btn("0", false);
            }
            
        });

        this.config.$testYear.change(function () {
            objThis.changeTestYear();
        });

        this.config.$testDate.change(function () {
            objThis.changeTestDate();
        });

        this.config.$grade.change(function () {
            objThis.changeGrade();
        });


        this.config.$ctrlStd.keyup(function () {
            var score = parseInt($(this).val());
            var grade = objThis.config.$grade.val();
            var groupKey = objThis.config.$testDate.val();
            var areaTam = '.grade' + grade;
            var partCode = ''
            var cssName = ''

            if ($(this).hasClass("kor")) {

                partCode = '001';
                cssName = 'kor'
            }

            else if ($(this).hasClass("mat")) {
                $.each(objThis.$frame.find(".MATH"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        //alert($(this).val())
                        partCode = $(this).val();
                    }
                });
                cssName = 'mat'

            }
            else if ($(this).hasClass("tam1")) {
                $.each(objThis.$frame.find(areaTam).find(".tam1"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        partCode = $(this).val();
                    }
                });
                cssName = "tam1"
            }
            else if ($(this).hasClass("tam2")) {
                $.each(objThis.$frame.find(areaTam).find(".tam1"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        partCode = $(this).val();
                    }
                });
                cssName = "tam2"
            }
            else if ($(this).hasClass("lang2")) {
                $.each(objThis.$frame.find(".LANG2"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        partCode = $(this).val();
                    }
                });
                cssName = "lang2";
            }
            if (score > 9) {
                //else {
                //    alert('없다')
                //}

                var satItem = objThis.getScorePrer(groupKey, partCode, grade, score);

                $.each(objThis.config.$ctrlPer, function (key, value) {
                    if ($(this).hasClass(cssName)) {
                        $(this).val(satItem.per);
                        return false;
                    }
                });
                $.each(objThis.config.$ctrlGrd, function (key, value) {
                    if ($(this).hasClass(cssName)) {
                        $(this).val(satItem.grd);
                        return false;
                    }
                });
            }

            else {
                $.each(objThis.config.$ctrlPer, function (key, value) {
                    if ($(this).hasClass(cssName)) {
                        $(this).val('');
                        return false;
                    }
                });
                $.each(objThis.config.$ctrlGrd, function (key, value) {
                    if ($(this).hasClass(cssName)) {
                        $(this).val('');
                        return false;
                    }
                });
            }
        });


        this.config.$ctrlOri.keyup(function () {
            var score = parseInt($(this).val());
            var grade = objThis.config.$grade.val();
            var groupKey = objThis.config.$testDate.val();
            var areaTam = '.grade' + grade;
            var partCode = ''
            var cssName = ''

            if ($(this).hasClass("kor")) {

                partCode = '001';
                cssName = 'kor'
            }
            else if ($(this).hasClass("eng")) {
                partCode = '004';
                cssName = 'eng'
            }
            else if ($(this).hasClass("his")) {
                partCode = '052';
                cssName = 'his'
            }
            else if ($(this).hasClass("mat")) {
                $.each(objThis.$frame.find(".MATH"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        //alert($(this).val())
                        partCode = $(this).val();
                    }
                });
                cssName = 'mat'

            }
            else if ($(this).hasClass("tam1")) {
                $.each(objThis.$frame.find(areaTam).find(".tam1"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        partCode = $(this).val();
                    }
                });
                cssName = "tam1"
            }
            else if ($(this).hasClass("tam2")) {
                $.each(objThis.$frame.find(areaTam).find(".tam1"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        partCode = $(this).val();
                    }
                });
                cssName = "tam2"
            }
            else if ($(this).hasClass("lang2")) {
                $.each(objThis.$frame.find(".LANG2"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        partCode = $(this).val();
                    }
                });
                cssName = "lang2";
            }
            if (score > 9) {
                //else {
                //    alert('없다')
                //}

                var satItem = objThis.convertOriToStd(groupKey, partCode, grade, score);
                $.each(objThis.config.$ctrlPer, function (key, value) {
                    if ($(this).hasClass(cssName)) {
                        $(this).val(satItem.per);
                        return false;
                    }
                });
                $.each(objThis.config.$ctrlGrd, function (key, value) {
                    if ($(this).hasClass(cssName)) {
                        $(this).val(satItem.grd);
                        return false;
                    }
                });
                $.each(objThis.config.$ctrlStd, function (key, value) {
                    if ($(this).hasClass(cssName)) {
                        $(this).val(satItem.std);
                        return false;
                    }
                });
            }

            else {
                $.each(objThis.config.$ctrlPer, function (key, value) {
                    if ($(this).hasClass(cssName)) {
                        $(this).val('');
                        return false;
                    }
                });
                $.each(objThis.config.$ctrlGrd, function (key, value) {
                    if ($(this).hasClass(cssName)) {
                        $(this).val('');
                        return false;
                    }
                });
                $.each(objThis.config.$ctrlStd, function (key, value) {
                    if ($(this).hasClass(cssName)) {
                        $(this).val('');
                        return false;
                    }
                });
            }
        });


        this.config.$ctrlPartCode.change(function () {

            if ($(this).hasClass("MATH")) {
                $.each(objThis.config.$ctrlMat, function (key, val) {
                    $(this).val('0');
                });
            }
            else if ($(this).hasClass("tam1")) {
                $.each(objThis.config.$ctrlTam1, function (key, val) {
                    $(this).val('0');
                });
            }
            else if ($(this).hasClass("tam2")) {
                $.each(objThis.config.$ctrlTam2, function (key, val) {
                    $(this).val('0');
                });
            }
            else if ($(this).hasClass("LANG2")) {
                $.each(objThis.config.$ctrlLang2, function (key, val) {
                    $(this).val('0');
                });
            }
        });



        //화면구성
        this.setDisplay();


        //점수화면구성
        this.config.$gradeArea.css("display", "none");
        if (this.config.$grade.val() == '1') {
            $(this.config.$ctrLang2.attr("disabled", true));
            $(this.config.$ctrLang2.addClass("notedit"));
            $(this.$frame.find(".Std").find("input[type=text].lang2")).addClass("notedit");
            $(this.$frame.find(".Std").find("input[type=text].lang2")).removeClass("edit");
        }
        else {
            $(this.config.$ctrLang2.attr("disabled", false));
            $(this.config.$ctrLang2.removeClass("notedit"));
            $(this.$frame.find(".Std").find("input[type=text].lang2")).removeClass("notedit");
            $(this.$frame.find(".Std").find("input[type=text].lang2")).addClass('edit')

            $(this.config.$ctrLang2.attr("readonly", "false"));
            $(this.config.$ctrLang2.css("background-color", ""));
        }
        switch (this.config.$grade.val()) {
            case '1': {
                this.config.$gradeArea1.css("display", "");
                this.config.$ctrlTam = this.$frame.find('.grade1').find(".tam");
                break;
            }
            case '2': {
                this.config.$gradeArea2.css("display", "");
                this.config.$ctrlTam = this.$frame.find('.grade2').find(".tam");
                break;
            }
            case '3': {
                this.config.$gradeArea3.css("display", "");
                this.config.$ctrlTam = this.$frame.find('.grade3').find(".tam");
                break;
            }
        }
        this.$frame.find('.Per').find("input[type=text]").attr("readonly", "true");
        this.$frame.find('.Per').find("input[type=text]").css("background-color", "#ececec");
        this.$frame.find('.Gra').find("input[type=text]").attr("readonly", "true");
        this.$frame.find('.Gra').find("input[type=text]").css("background-color", "#ececec");

        if (this.config.$grade.val() == '1' && (this.config.$testDate.val().substr(0, 4) == '2019' || this.config.$testDate.val().substr(0, 4) == '2018')) {
            this.$frame.find('.Gra').find("input[type=text].tam1").removeClass('notedit');
            this.$frame.find('.Gra').find("input[type=text].tam1").addClass('edit');
            this.$frame.find('.Gra').find("input[type=text].tam2").removeClass('notedit');
            this.$frame.find('.Gra').find("input[type=text].tam2").addClass('edit');

            this.$frame.find('.Std').find("input[type=text].tam1").removeClass('edit');
            this.$frame.find('.Std').find("input[type=text].tam1").addClass('notedit');
            this.$frame.find('.Std').find("input[type=text].tam2").removeClass('edit');
            this.$frame.find('.Std').find("input[type=text].tam2").addClass('notedit');
        }

        this.$frame.find('.notedit').attr("readonly", "true");
        this.$frame.find('.notedit').css("background-color", "#ececec");

        this.$frame.find('.edit').removeAttr("readonly")
        this.$frame.find('.edit').css("background-color", "");


        this.config.$ctrlTam.change(function () {
            objThis.changeTam();
        });

        return true;
    }

    sat.prototype.set_use_ori_btn = function (is_use_ori, is_init) {
        if (this.config.$IsRealScore == 0 && !is_init) {
            alert('가채점 기간에는 표준점수를 사용할수 없습니다.')
            return false;
        }
        if (this.config.$grade.val() == '1' && (this.config.$testDate.val().substr(0, 4) == '2019' || this.config.$testDate.val().substr(0, 4) == '2018')) {
            alert('2018,2019학년 1학년은 정확한 산출을 위하여 원점수를 입력받고 있습니다');            
            return false;
        }
        //if (this.config.$IsRealScore == 1 && !is_init) {
        //    is_use_ori = "0";
        //}
        //표준점수 사용으로변경
        if (is_use_ori == "0") {
            confirm("입력진행중인 성적은 초기화 됩니다.\n\n성적표에 표시된 표준점수와 등급을 입력하세요\n\n계속 진행 하시곘습니까?")
            {
                this.config.$ctrlUseOri.attr("is-ori", "0");
                this.config.$ctrlUseOri.html("원점수 입력으로 변경");
                this.config.$ctrlUseOri.removeClass("use_ori");
                this.config.$ctrlUseOri.addClass("use_std");
                this.display_use_std(is_init);
            }
            
        }
        //원점수 사용으로변경
        else {            
            this.config.$ctrlUseOri.attr("is-ori", "1");
            this.config.$ctrlUseOri.html("표준점수 입력으로 변경");
            this.config.$ctrlUseOri.addClass("use_ori");
            this.config.$ctrlUseOri.removeClass("use_std");
            this.display_use_ori(is_init);            
        }        
    }    
    //탐구변경
    sat.prototype.changeTam = function () {

        switch (this.config.$grade.val()) {
            case '1': {

                break;
            }
            case '2': {
                this.config.$ctrlTam = this.$frame.find(".grade2").find("select.tam");
                break;
            }
            case '3': {
                this.config.$ctrlTam = this.$frame.find(".grade3").find("select.tam");
                break;
            }
        }
        var tam = this.config.$ctrlTam.val();

        $.each(this.config.$ctrlTam1, function (key, val) {
            $(this).val('0');
        });
        $.each(this.config.$ctrlTam2, function (key, val) {
            $(this).val('0');
        });
        var cssCodeItem = this.config.$ctrlCssCode;
        $.each(cssCodeItem, function (key, value) {

            if ($(this).hasClass("SOC") || $(this).hasClass("SCI")) {
                $(this).removeClass("SCI");
                $(this).removeClass("SOC");
                $(this).addClass(tam);
            }
        });

        this.getPartCode(this.config.$testDate.val(), this.config.$grade.val(), tam);
    }

    sat.prototype.bindData = function () {
        if (this.config.$IsRealScore == 1) {
            if (this.config.$grade.val() == '1' && (this.config.$testDate.val().substr(0, 4) == '2019' || this.config.$testDate.val().substr(0, 4) == '2018')) {
                this.display_use_ori(true);
            }
            else {
                this.display_use_std(true);
            }
            
        }
        else {
            this.display_use_ori(true);
        }

        
        if (this.config.$satJson !== '') {
            var parseJsons = JSON.parse(this.config.$satJson.replace(/&quot;/g, '"'));
            var objThis = this;
            var cssCodeItem = $(".PartCode select.css_code");
            var grade = parseJsons[0].SchoolYear;
            //학년
            //alert("학년:"+grade+"ddd");
            objThis.config.$grade.val(grade.toString());
            //시험날짜
            objThis.config.$testDate.val(parseJsons[0].GroupKey);
            objThis.config.$IsRealScore = objThis.config.$testDate.find("option:selected").attr("isreal");

            if (parseInt(grade) > 1) {
                var tamItem = $(".PartCode select.tam");
                //alert(tamItem.length);
                $.each(tamItem, function (key, value) {
                    if ($(this).hasClass("tam")) {
                        if (parseJsons[0].Tam1.PartCode.substr(0, 1) == "4") {
                            //alert('SOC');
                            $(this).val('SOC');
                        }
                        else {
                            //alert('SCI');
                            $(this).val('SCI');
                        }
                        objThis.changeTam();
                    }
                });
            }

            $.each(cssCodeItem, function (key, value) {
                if (parseInt(grade) > 1) {

                    if ($(this).hasClass("MATH")) {

                    }
                    if ($(this).hasClass("tam")) {

                    }

                    if ($(this).hasClass("LANG2")) {
                        if (!isEmpty(parseJsons[0].Lang2.PartCode)) {
                            $(this).val(parseJsons[0].Lang2.PartCode);
                        }
                    }

                    if ($(this).hasClass("tam1")) {

                        if (!isEmpty(parseJsons[0].Tam1.PartCode)) {
                            $(this).val(parseJsons[0].Tam1.PartCode);
                        }
                    }

                    if ($(this).hasClass("tam2")) {
                        if (!isEmpty(parseJsons[0].Tam2.PartCode)) {
                            $(this).val(parseJsons[0].Tam2.PartCode);
                        }
                    }
                }
            });

            $.each(parseJsons, function (key, value) {
                var addclassName = ".satUpdate";
                objThis.$frame.find('.Std').find('.kor' + addclassName).val(value.Kor.Std);
                objThis.$frame.find('.Std').find('.mat' + addclassName).val(value.Mat.Std);
                objThis.$frame.find('.Std').find('.tam1' + addclassName).val(value.Tam1.Std);
                objThis.$frame.find('.Std').find('.tam2' + addclassName).val(value.Tam2.Std);
                objThis.$frame.find('.Std').find('.lang2' + addclassName).val(value.Lang2.Std);

                objThis.$frame.find('.Per').find('.kor' + addclassName).val(value.Kor.Per);
                objThis.$frame.find('.Per').find('.mat' + addclassName).val(value.Mat.Per);
                objThis.$frame.find('.Per').find('.tam1' + addclassName).val(value.Tam1.Per);
                objThis.$frame.find('.Per').find('.tam2' + addclassName).val(value.Tam2.Per);
                objThis.$frame.find('.Per').find('.lang2' + addclassName).val(value.Lang2.Per);

                objThis.$frame.find('.Gra').find('.kor' + addclassName).val(value.Kor.Gra);
                objThis.$frame.find('.Gra').find('.mat' + addclassName).val(value.Mat.Gra);
                objThis.$frame.find('.Gra').find('.eng' + addclassName).val(value.Eng.Gra);
                objThis.$frame.find('.Gra').find('.his' + addclassName).val(value.His.Gra);
                objThis.$frame.find('.Gra').find('.tam1' + addclassName).val(value.Tam1.Gra);
                objThis.$frame.find('.Gra').find('.tam2' + addclassName).val(value.Tam2.Gra);
                objThis.$frame.find('.Gra').find('.lang2' + addclassName).val(value.Lang2.Gra);


                objThis.$frame.find('.Ori').find('.kor' + addclassName).val(value.Kor.Won);
                objThis.$frame.find('.Ori').find('.mat' + addclassName).val(value.Mat.Won);
                objThis.$frame.find('.Ori').find('.eng' + addclassName).val(value.Eng.Won);
                objThis.$frame.find('.Ori').find('.his' + addclassName).val(value.His.Won);
                objThis.$frame.find('.Ori').find('.tam1' + addclassName).val(value.Tam1.Won);
                objThis.$frame.find('.Ori').find('.tam2' + addclassName).val(value.Tam2.Won);
                objThis.$frame.find('.Ori').find('.lang2' + addclassName).val(value.Lang2.Won);
            });

            //alert(parseJsons[0].GroupKey);

            //objThis.config.$grade.val(grade);
            //alert(objThis.config.$IsRealScore);            
        }
        else {
            //alert('ttt');
        }
    }

    //학년변경
    sat.prototype.changeGrade = function () {
        var objThis = this;
        //시일일자리스트 초기화
        this.getTestDate();
        this.config.$IsRealScore = this.config.$testDate.find("option:selected").attr("isreal");
        //과목헤더 변경
        this.config.$gradeArea.css("display", "none");
        if (this.config.$grade.val() == '1') {
            $(this.config.$ctrLang2.attr("disabled", true));
            $(this.config.$ctrLang2.addClass("notedit"));
            $(this.$frame.find(".Std").find("input[type=text].lang2")).addClass("notedit");
            $(this.$frame.find(".Std").find("input[type=text].lang2")).removeClass("edit");
        }
        else {
            //alert('2222');
            $(this.config.$ctrLang2.attr("disabled", false));
            $(this.config.$ctrLang2.attr("readonly", "false"));
            $(this.config.$ctrLang2.css("background-color", ""));
            $(this.config.$ctrLang2.removeClass("notedit"));
            $(this.$frame.find(".Std").find("input[type=text].lang2")).removeClass("notedit");
            $(this.$frame.find(".Std").find("input[type=text].lang2")).addClass("edit");

        }

        if (this.config.$IsRealScore == 1) {
            this.display_use_std(false);
        }
        else {
            this.display_use_ori(false);
        }

        switch (this.config.$grade.val()) {
            case '1': {
                this.config.$gradeArea1.css("display", "");
                this.config.$ctrlTam = this.$frame.find('.grade1').find(".tam");
                break;
            }
            case '2': {
                this.config.$gradeArea2.css("display", "");
                this.config.$ctrlTam = this.$frame.find('.grade2').find(".tam");
                break;
            }
            case '3': {
                this.config.$gradeArea3.css("display", "");
                this.config.$ctrlTam = this.$frame.find('.grade3').find(".tam");
                break;
            }
        }


        //if (this.config.$grade.val() == '1' && this.config.$testDate.val().substr(0, 4) == '2019') {
        //    this.$frame.find('.Gra').find("input[type=text].tam1").removeClass('notedit');
        //    this.$frame.find('.Gra').find("input[type=text].tam1").addClass('edit');
        //    this.$frame.find('.Gra').find("input[type=text].tam2").removeClass('notedit');
        //    this.$frame.find('.Gra').find("input[type=text].tam2").addClass('edit');

        //    this.$frame.find('.Std').find("input[type=text].tam1").removeClass('edit');
        //    this.$frame.find('.Std').find("input[type=text].tam1").addClass('notedit');
        //    this.$frame.find('.Std').find("input[type=text].tam2").removeClass('edit');
        //    this.$frame.find('.Std').find("input[type=text].tam2").addClass('notedit');
        //}

        //else {
        //    this.$frame.find('.Std').find("input[type=text].tam1").removeClass('notedit');
        //    this.$frame.find('.Std').find("input[type=text].tam1").addClass('edit');
        //    this.$frame.find('.Std').find("input[type=text].tam2").removeClass('notedit');
        //    this.$frame.find('.Std').find("input[type=text].tam2").addClass('edit');

        //    this.$frame.find('.Gra').find("input[type=text].tam1").removeClass('edit');
        //    this.$frame.find('.Gra').find("input[type=text].tam1").addClass('notedit');
        //    this.$frame.find('.Gra').find("input[type=text].tam2").removeClass('edit');
        //    this.$frame.find('.Gra').find("input[type=text].tam2").addClass('notedit');
        //}

        //this.$frame.find('.notedit').attr("readonly", "true");
        //this.$frame.find('.notedit').css("background-color", "#ececec");

        //this.$frame.find('.edit').removeAttr("readonly", "");
        //this.$frame.find('.edit').css("background-color", "");

        this.config.$ctrlTam.change(function () {
            objThis.changeTam();
        });

        //과목리스트 초기화
        this.getPartCode(this.config.$testDate.val(), this.config.$grade.val(), null);

        //점수초기화
        this.$frame.find("input[type=text]").val('');

        //성적조회
        this.config.$satJson = this.getScore(this.config.$grade.val(), this.config.$testDate.val());
        this.bindData();

    }

    //시험일자년도 선택변경
    sat.prototype.changeTestYear = function () {
        //alert('year');
        //var testdate = perArray.filter(function (item) { return (item.Idx == idx && item.SchoolYear == i && item.Class == j); });

        var aa = this.$testDate.filter(function (item) {
            return (item.TestYear)
        });
    }

    //시험일자 변경
    sat.prototype.changeTestDate = function () {

        //과목리스트 초기화
        this.getPartCode(this.config.$testDate.val(), this.config.$grade.val(), null);

        //점수초기화
        this.$frame.find("input[type=text]").val('');

        //성적조회
        //alert(this.config.$testDate.val());
        //alert(this.config.$testDate.length);

        //alert(this.config.$testDate.attr("isreal"));
        this.config.$IsRealScore = this.config.$testDate.find("option:selected").attr("isreal");
        //if (this.config.$IsRealScore == 1) {
        //    this.display_use_std();
        //}
        //else {
        //    this.display_use_ori();
        //}

        //set_use_ori_btn()

        var is_use_ori = this.config.$ctrlUseOri.attr("is-ori");
        this.set_use_ori_btn("0", true);

        this.config.$satJson = this.getScore(this.config.$grade.val(), this.config.$testDate.val());
        this.bindData();

    }

    //시험일자 조회
    //<option value="0904">09.04(교육청)</option>
    sat.prototype.getTestDate = function () {
        var result;
        var returnHtml;
        var grade =  this.config.$grade.val()
        $.ajax({
            async: false,
            url: '@Url.Action("GetTestDate", "MyPage")',
            data: {
                grade: grade
            },
            dataType: 'json',
            type: 'POST'
        }).done(function (json) {
            result = json.jsonMsg;
            //alert(result);
            var testDateItem = JSON.parse(result.replace(/&quot;/g, '"'));
            $.each(testDateItem, function (key, value) {
                var itemHtml = '<option value=$KEY$  isReal=$REAL$>$VALUE$</option>'
                itemHtml = itemHtml.replace("$KEY$", value.GroupKey)
                    .replace("$VALUE$", value.TestDate)
                    .replace("$REAL$", value.IsReal);
                returnHtml = returnHtml + itemHtml
            });
        })
        .error(function () {
            result = false;
            });
        this.config.$testDate.empty();
        this.config.$testDate.append(returnHtml);
        return returnHtml;
    }

    //수학/탐구/제2외국어 과목코드 조회
    sat.prototype.bindPartCode = function (item) {
    }

    //성적저장
    sat.prototype.save = function () {

        var rVal = true;
        rVal = this.isValuedation("kor");
        if (!rVal) {
            return false;
        }
        rVal =this.isValuedation("mat");
        if (!rVal) {
            return false;
        }
        rVal =this.isValuedation_Grade("eng");
        if (!rVal) {
            return false;
        }
        rVal =this.isValuedation_Grade("his");
        if (!rVal) {
            return false;
        }

        if (this.config.$grade.val() == '1' && (this.config.$testDate.val().substr(0, 4) == '2019' || this.config.$testDate.val().substr(0, 4) == '2018')) {
            rVal =this.isValuedation_Grade("tam1");
            if (!rVal) {
                return false;
            }
            rVal =this.isValuedation_Grade("tam2");
            if (!rVal) {
                return false;
            }
        }
        else {
            rVal =this.isValuedation("tam1");
            if (!rVal) {
                return false;
            }
            rVal =this.isValuedation("tam2");
            if (!rVal) {
                return false;
            }
        }
        
        //return false;
        var objThis = this;
        var cssItem = ['kor', 'his', 'mat', 'eng', 'tam1', 'tam2', 'lang2'];
        var partCode = ['001', '', 'eng', 'tam1', 'tam2', 'lang2'];
        var tam1_code = '';
        var tam2_code = '';

        var satArray = new Array();
        $.each(cssItem, function (key, value) {
            var satitem = new Object();
            var cssName = value;
            var grade = objThis.config.$grade.val();

            var areaTam = '.grade' + grade;
            var partCode = ''
            if (cssName =="kor") {

                partCode = '001';
            }
            else if (cssName == "eng") {

                partCode = '004';
            }
            else if(cssName == "his") {

                partCode = '052';
            }
            else if(cssName == "mat") {
                $.each(objThis.$frame.find(".MATH"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        partCode = $(this).val();
                    }
                });

            }
            else if (cssName == "tam1") {
                $.each(objThis.$frame.find(areaTam).find(".tam1"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        partCode = $(this).val();
                        tam1_code = partCode;
                    }
                });
            }
            else if (cssName == "tam2") {
                $.each(objThis.$frame.find(areaTam).find(".tam2"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        partCode = $(this).val();
                        tam2_code = partCode;
                    }
                });
            }
            else if (cssName == "lang2") {
                $.each(objThis.$frame.find(".LANG2"), function (key, value) {
                    if ($(this).hasClass("css_code")) {
                        partCode = $(this).val();
                    }
                });
            }

            satitem.cssName = cssName
            satitem.PartCode = partCode

            $.each(objThis.config.$ctrlOri, function (key, value) {
                if ($(this).hasClass(cssName)) {
                    satitem.Ori = $(this).val();
                    return false;
                }
            });

            $.each(objThis.config.$ctrlStd, function (key, value) {
                if ($(this).hasClass(cssName)) {
                    satitem.Std = $(this).val();
                    return false;
                }
            });

            $.each(objThis.config.$ctrlPer, function (key, value) {
                if ($(this).hasClass(cssName)) {
                    satitem.Per = $(this).val();
                    return false;
                }
            });

            $.each(objThis.config.$ctrlGrd, function (key, value) {
                if ($(this).hasClass(cssName)) {
                    satitem.Grd = $(this).val();
                    return false;
                }
            });

            satArray.push(satitem);
        });

        if (tam1_code == tam2_code) {
            alert('선택하신 탐구영역 과목을 확인하세요');
            return false;
        }

        var satJson = JSON.stringify(satArray);
        var hak = objThis.config.$grade.val();
        var groupKey = objThis.config.$testDate.val();
        //alert(hak);
        //alert(satJson);
        //alert(groupKey);

        objThis.setScore(satJson, hak, groupKey);
    }


    //성적저장
    sat.prototype.setScore = function (json,grade, groupKey) {
        var result;
        $.ajax({
            async: false,
            url: '@Url.Action("SaveScore", "Mypage")',
            data: {
                json: json,
                grade:grade,
                groupKey: groupKey
            },
            dataType: 'json',
            type: 'POST'
        }).done(function (json) {
            result = json.jsonMsg;
            if (result == 1) {
                alert('모의고사성적을 저장하였습니다.');
            }
            else {
                alert('처리중오류가발생했습니다.');
            }
        })
        .error(function () {
            result = false;
            });
        return result;
    }

    //성적조회
    sat.prototype.getScore = function (grade, schoolYear) {
        var result;
        $.ajax({
            async: false,
            url: '@Url.Action("GetSat", "Mypage")',
            data: {
                stuid: @_identity.MemberIdx,
                grade: grade,
                groupKey: schoolYear
            },
            dataType: 'json',
            type: 'POST'
        }).done(function (json) {
            result = json.jsonMsg;
            //alert(result);

        })
        .error(function () {
            result = false;
            });
        return result;
    }

    //과목코드조회
    sat.prototype.getPartCode = function (groupKey, grade, cssCode) {
        //alert('과목코드조회');
        //alert(groupKey);
        //alert(grade);
        //alert(cssCode)
        var result;
        var objThis = this;
        //alert(frame.lenth)
        $.ajax({
            async: false,
            url: '@Url.Action("GetPartCode", "Mypage")',
            data: {
                groupKey: groupKey
                , grade: grade
                , cssCode:cssCode
            },
            dataType: 'json',
            type: 'POST'
        }).done(function (json) {
            var sltCssCode = objThis.config.$ctrlCssCode;
            $.each(sltCssCode, function () {
                if (cssCode == null) {
                    //alert(cssCode);
                    $(this).empty();
                }
                else {
                    if ($(this).hasClass(cssCode)) {
                        //alert(cssCode);
                        $(this).empty();
                    }
                }
            });
            //return;
            result = JSON.parse(json.jsonMsg.replace(/&quot;/g, '"'));
            //alert(json.jsonMsg);
            $.each(result, function (key, value) {
                objThis.$frame.find("." + value.CssCode).empty();
            });

            $.each(result, function (key, value) {
                var itemHtml = '<option value=$KEY$>$VALUE$</option>'
                itemHtml = itemHtml.replace("$KEY$", value.PartCode)
                    .replace("$VALUE$", value.PartName);
                if (objThis.config.$grade > 1) {
                    if (value.CssCode == "SOC" || value.CssCode == "SCI") {
                        if (objThis.config.$tam.val() != value.CssCode) {
                            return;
                        }
                    }
                }
                objThis.$frame.find("." + value.CssCode).append(itemHtml);

            });

            //this.$frame.find("MATH").
        })
        .error(function () {
            result = false;
            });
        return result;
    }


    //표준점수입력
    sat.prototype.getScorePrer = function (groupKey, partCode, grade, std) {
       var result;
        $.ajax({
            async: false,
            url: '@Url.Action("ConvertStdToPer", "Mypage")',
            data: {
                groupKey: groupKey,
                partCode: partCode,
                grade: grade,
                std: std
            },
            dataType: 'json',
            type: 'POST'
        }).done(function (json) {
            result = json;
        })
        .error(function () {
            result = false;
            });
        return result;
    }
    //원점수입력
    sat.prototype.convertOriToStd = function (groupKey, partCode, grade, ori) {
       var result;
        $.ajax({
            async: false,
            url: '@Url.Action("ConvertOriToStd", "Mypage")',
            data: {
                groupKey: groupKey,
                partCode: partCode,
                grade: grade,
                ori: ori
            },
            dataType: 'json',
            type: 'POST'
        }).done(function (json) {
            result = json;
        })
        .error(function () {
            result = false;
            });
        return result;
    }

    //원점수입력으로 추가
    
    sat.prototype.display_use_ori = function (is_bind) {
        this.$frame.find("tr.Ori").css("display", "");
        $.each(this.config.$ctrlOri, function (key, value) {
            if (!is_bind) {
                $(this).val('0');
            }
            $(this).removeClass('notedit');
            $(this).addClass('edit');
        });
        $.each(this.config.$ctrlStd, function (key, value) {
            if (!is_bind) {
                $(this).val('0');
            }
            $(this).removeClass('edit');
            $(this).addClass('notedit');
        });
        $.each(this.config.$ctrlPer, function (key, value) {
            if (!is_bind) {
                $(this).val('0');
            }
            $(this).removeClass('edit');
            $(this).addClass('notedit');
        });
        $.each(this.config.$ctrlGrd, function (key, value) {
            if (!is_bind) {
                $(this).val('0');
            }
            $(this).removeClass('edit');
            $(this).addClass('notedit');
        });


        this.$frame.find('.notedit').attr("readonly", "true");
        this.$frame.find('.notedit').css("background-color", "#ececec");

        this.$frame.find('.edit').removeAttr("readonly")
        this.$frame.find('.edit').css("background-color", "");
    }
    sat.prototype.display_use_std = function (is_bind) {  
        
        $.each(this.config.$ctrlOri, function (key, value) {
            if (!is_bind) {
                $(this).val('0');
            }
            $(this).addClass('notedit');
            $(this).removeClass('edit');
        });
        $.each(this.config.$ctrlStd, function (key, value) {
            if (!is_bind) {
                $(this).val('0');
            }
            $(this).addClass('edit');
            $(this).removeClass('notedit');
        });
        $.each(this.config.$ctrlPer, function (key, value) {
            if (!is_bind) {
                $(this).val('0');
            }
            $(this).removeClass('edit');
            $(this).addClass('notedit');
        });
        $.each(this.config.$ctrlGrd, function (key, value) {
            if (!is_bind) {
                $(this).val('0');
            }
            $(this).removeClass('edit');
            $(this).addClass('notedit');
        });

        this.$frame.find("tr.Ori").css("display", "none");


        if (this.config.$grade.val() == '1' && (this.config.$testDate.val().substr(0, 4) == '2019' || this.config.$testDate.val().substr(0, 4) == '2018')) {

            this.$frame.find('.Gra').find("input[type=text].tam1").removeClass('notedit');
            this.$frame.find('.Gra').find("input[type=text].tam1").addClass('edit');
            this.$frame.find('.Gra').find("input[type=text].tam2").removeClass('notedit');
            this.$frame.find('.Gra').find("input[type=text].tam2").addClass('edit');

            this.$frame.find('.Std').find("input[type=text].tam1").removeClass('edit');
            this.$frame.find('.Std').find("input[type=text].tam1").addClass('notedit');
            this.$frame.find('.Std').find("input[type=text].tam2").removeClass('edit');
            this.$frame.find('.Std').find("input[type=text].tam2").addClass('notedit');
        }

        this.$frame.find('.Gra').find("input[type=text].eng").removeClass('notedit');
        this.$frame.find('.Gra').find("input[type=text].eng").addClass('edit');

        this.$frame.find('.Std').find("input[type=text].eng").addClass('notedit');
        this.$frame.find('.Std').find("input[type=text].eng").removeClass('edit');

        this.$frame.find('.Gra').find("input[type=text].his").removeClass('notedit');
        this.$frame.find('.Gra').find("input[type=text].his").addClass('edit');

        this.$frame.find('.Std').find("input[type=text].his").addClass('notedit');
        this.$frame.find('.Std').find("input[type=text].his").removeClass('edit');

        if (this.config.$grade.val() == '3') {

        }
        else {

        }



        this.$frame.find('.notedit').attr("readonly", "true");
        this.$frame.find('.notedit').css("background-color", "#ececec");

        this.$frame.find('.edit').removeAttr("readonly", "");
        this.$frame.find('.edit').css("background-color", "");
    }


    sat.prototype.isValuedation = function (csscode) {
        //제2외국어 확인
        //var partCode = '';
        //$.each(this.$frame.find(".LANG2"), function (key, value) {
        //    if ($(this).hasClass("css_code")) {
        //        partCode = $(this).val();
        //    }
        //});
        

        var cssname = "국어영역";
        switch (csscode) {
            case 'kor': {
                cssname = "국어영역";
                break;
            }
            case 'mat': {
                cssname = "수리영역";
                break;
            }
            case 'tam1': {
                cssname = "탐구1";
                break;
            }
            case 'tam2': {
                cssname = "탐구2";
                break;
            }
        }
        var is_use_ori = this.config.$ctrlUseOri.attr("is-ori");
        var addclassName = "   .satUpdate";
        var std = this.$frame.find('.Std').find("input[type=text]." + csscode).val();
        var per = this.$frame.find('.Per').find("input[type=text]." + csscode).val();
        var gra = this.$frame.find('.Gra').find("input[type=text]." + csscode).val();
        var ori = this.$frame.find('.Ori').find("input[type=text]." + csscode).val();
        if (is_use_ori == "1") {
            //원점수까지 확인            
            if (std <= 0 || per <= 0 || gra <= 0 || ori <= 0) {
                alert('입력하신 ' + cssname + '  원점수를 다시 확인하세요.');
                return false;
            }
        }
        else {
            //표준점수로변환
            if (std <= 0 || per <= 0 || gra <= 0) {
                alert('입력하신 ' + cssname + ' 표준점수를 다시 확인하세요.');
                return false;
            }
        }
        return true;  
    }

    sat.prototype.isValuedation_Grade = function (csscode) {
        var cssname = "영어";
        switch (csscode) {
            case 'eng': {
                cssname = "영어";
                break;
            }
            case 'his': {
                cssname = "한국사";
                break;
            }
            case 'tam1': {
                cssname = "탐구1";
                break;
            }
            case 'tam2': {
                cssname = "탐구2";
                break;
            }
        }
        var is_use_ori = this.config.$ctrlUseOri.attr("is-ori");
        var addclassName = "   .satUpdate";        
        var gra = this.$frame.find('.Gra').find("input[type=text]." + csscode).val();
        var ori = this.$frame.find('.Ori').find("input[type=text]." + csscode).val();
        if (is_use_ori == "1") {
            //원점수까지 확인            
            if (gra <= 0 || ori <= 0) {
                alert('입력하신 ' + cssname + ' 원점수를 다시 확인하세요.');
                return false;
            }
        }
        else {
            //등급점수확인
            if (gra <= 0 || gra>9) {
                alert('입력하신 ' + cssname + ' 등급점수를 확인하세요.');
                return false;
            }
        }

        return true;
        //this.$frame.find('.Std').find('.mat' + addclassName).val(value.Mat.Std);
        //this.$frame.find('.Std').find('.tam1' + addclassName).val(value.Tam1.Std);
        //this.$frame.find('.Std').find('.tam2' + addclassName).val(value.Tam2.Std);
        //this.$frame.find('.Std').find('.lang2' + addclassName).val(value.Lang2.Std);

        //this.$frame.find('.Per').find('.kor' + addclassName).val(value.Kor.Per);
        //this.$frame.find('.Per').find('.mat' + addclassName).val(value.Mat.Per);
        //this.$frame.find('.Per').find('.tam1' + addclassName).val(value.Tam1.Per);
        //this.$frame.find('.Per').find('.tam2' + addclassName).val(value.Tam2.Per);
        //this.$frame.find('.Per').find('.lang2' + addclassName).val(value.Lang2.Per);

        //this.$frame.find('.Gra').find('.kor' + addclassName).val(value.Kor.Gra);
        //this.$frame.find('.Gra').find('.mat' + addclassName).val(value.Mat.Gra);
        //this.$frame.find('.Gra').find('.eng' + addclassName).val(value.Eng.Gra);
        //this.$frame.find('.Gra').find('.his' + addclassName).val(value.His.Gra);
        //this.$frame.find('.Gra').find('.tam1' + addclassName).val(value.Tam1.Gra);
        //this.$frame.find('.Gra').find('.tam2' + addclassName).val(value.Tam2.Gra);
        //this.$frame.find('.Gra').find('.lang2' + addclassName).val(value.Lang2.Gra);


        //this.$frame.find('.Ori').find('.kor' + addclassName).val(value.Kor.Won);
        //this.$frame.find('.Ori').find('.mat' + addclassName).val(value.Mat.Won);
        //this.$frame.find('.Ori').find('.eng' + addclassName).val(value.Eng.Won);
        //this.$frame.find('.Ori').find('.his' + addclassName).val(value.His.Won);
        //this.$frame.find('.Ori').find('.tam1' + addclassName).val(value.Tam1.Won);
        //this.$frame.find('.Ori').find('.tam2' + addclassName).val(value.Tam2.Won);
        //this.$frame.find('.Ori').find('.lang2' + addclassName).val(value.Lang2.Won);

    }
</script>
<script>
    $(document).ready(function () {
        //모의고사 성적입력
        var _sat = new sat("#sat");
    });
</script>
@*'@ViewBag.TestInfo'*@
<div class="common_form">
    @Html.Partial("../Shared/Partial/_UserDataNavigation", "MOI")
    <div id="sat">
        <div class="table mt1 txC pdh2">
            <table class="form_tbl">
                <caption>목록</caption>
                <thead>
                    <tr style="border:1px solid">
                        <th style="padding:7px;">대상학년</th>
                        <th>
                            @*<span class="satView schoolyear">
                                    3학년
                                </span>*@

                            <select class="satUpdate spt1" id="sltGrade">
                                <option value="1">1학년</option>
                                <option value="2">2학년</option>
                                <option value="3">3학년</option>
                            </select>
                        </th>
                        <th>시험일자</th>
                        <th colspan="5">
                            <div style="float:left; width:100%;">
                                <select class="satUpdate testdate spt2" style="width:65% !important; float:left;"></select>
                                <div class="use_ori" id="btn-use-scoretype" is-ori="0" style="width:30%;">
                                    원점수 입력 
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr class="PartCode">
                        <th rowspan="2">구분</th>
                        <th rowspan="2">국어</th>
                        <th rowspan="2">
                            <span class="satView math css_code" css_code="MATH">-</span>
                            <select class="satUpdate MATH css_code spt3"></select>
                        </th>
                        <th rowspan="2">영어</th>
                        <th rowspan="2">한국사</th>
                        <th colspan="2">
                            <div class="grade grade1">
                                <span class="satView">-</span>
                                <span class="satUpdate tam">탐구영역</span>
                            </div>
                            <div class="grade grade2">
                                <span class="satView">-</span>
                                <select class="satUpdate tam spt3">
                                    <option value="SOC">사회탐구</option>
                                    <option value="SCI">과학탐구</option>
                                    
                                </select>
                            </div>
                            <div class="grade grade3">
                                <span class="satView css_code">-</span>
                                <select class="satUpdate tam spt3">
                                    <option value="SOC">사회탐구</option>
                                    <option value="SCI">과학탐구</option>
                                </select>
                            </div>
                        </th>
                        <th>제2외국어</th>
                    </tr>
                    <tr class="PartCode">
                        <th>
                            <div class="grade grade1">
                                <span class="satView tam1" css_code=""></span>
                                <select class="satUpdate css_code tam1 SOC spt4"></select>
                            </div>
                            <div class="grade grade2">
                                <span class="satView tam1" css_code=""></span>
                                <select class="satUpdate css_code tam1 SOC spt4"></select>
                            </div>
                            <div class="grade grade3">
                                <span class="satView tam1" css_code=""></span>
                                <select class="satUpdate css_code tam1 SOC spt4"></select>
                            </div>
                        </th>
                        <th>
                            <div class="grade grade1">
                                <span class="satView tam2" css_code=""></span>
                                <select class="satUpdate css_code tam2 SCI spt4"></select>
                            </div>
                            <div class="grade grade2">
                                <span class="satView tam2" css_code=""></span>
                                <select class="satUpdate css_code tam2 SOC spt4"></select>
                            </div>
                            <div class="grade grade3">
                                <span class="satView tam2" css_code=""></span>
                                <select class="satUpdate css_code tam2 SOC spt4"></select>
                            </div>
                        </th>
                        <th>
                            <span class="satView LANG2" css_code="LANG2">-</span>
                            <select class="satUpdate css_code LANG2 spt3"></select>
                        </th>
                    </tr>
                </thead>
                <tbody class="sat-score">
                    <tr class="Ori">
                        <td class="s-type">원점수</td>
                        <td>
                            <input class="satUpdate kor int" type="text" />
                        </td>
                        <td>
                            <input class="satUpdate mat int" type="text" />
                        </td>
                        <td>
                            <input class="satUpdate eng int" type="text" />
                        </td>
                        <td>
                            <input class="satUpdate his int" type="text" />
                        </td>
                        <td>
                            <input class="satUpdate tam1 int" type="text" />
                        </td>
                        <td>
                            <input class="satUpdate tam2 int" type="text" />
                        </td>
                        <td>
                            <input class="satUpdate lang2 int" type="text" />
                        </td>
                    </tr>
                    <tr class="Std">
                        <td class="s-type">표준점수</td>
                        <td>
                            <span class="satView kor">134</span>
                            <input class="satUpdate kor int" type="text" />
                        </td>
                        <td>
                            <span class="satView mat">126</span>
                            <input class="satUpdate mat int" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">-</span>
                            <input class="satUpdate eng notedit" type="text" />
                        </td>
                        <td>
                            <span class="satView his">-</span>
                            <input class="satUpdate his notedit" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">80</span>
                            <input class="satUpdate tam1 int" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">84</span>
                            <input class="satUpdate tam2 int" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate lang2 int" type="text" />
                        </td>
                    </tr>
                    <tr class="Per">
                        <td class="s-type">백분위</td>
                        <td>
                            <span class="satView kor">95</span>
                            <input class="satUpdate kor int" type="text" />
                        </td>
                        <td>
                            <span class="satView mat">89</span>
                            <input class="satUpdate mat int" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">-</span>
                            <input class="satUpdate eng notedit" type="text" />
                        </td>
                        <td>
                            <span class="satView his">-</span>
                            <input class="satUpdate his notedit" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">100</span>
                            <input class="satUpdate tam1 int" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">100</span>
                            <input class="satUpdate tam2 int" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate lang2 int" type="text" />
                        </td>
                    </tr>
                    <tr class="Gra">
                        <td class="s-type">등급</td>
                        <td>
                            <span class="satView kor">1</span>
                            <input class="satUpdate kor int" type="text" />
                        </td>
                        <td>
                            <span class="satView mat">2</span>
                            <input class="satUpdate mat int" type="text" />
                        </td>
                        <td>
                            <span class="satView eng">1</span>
                            <input class="satUpdate eng edit" type="text" />
                        </td>
                        <td>
                            <span class="satView his">1</span>
                            <input class="satUpdate his edit" type="text" />
                        </td>
                        <td>
                            <span class="satView tam1">1</span>
                            <input class="satUpdate tam1 int" type="text" />
                        </td>
                        <td>
                            <span class="satView tam2">1</span>
                            <input class="satUpdate tam2 int" type="text" />
                        </td>
                        <td>
                            <span class="satView lang2">-</span>
                            <input class="satUpdate lang2 int" type="text" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btnWrap mt7" style="text-align:right !important; margin-top:10px !important; display:none;">
            <a href="#none" class="satView btn Ty7 btnSatUpdate" style="max-width:100%;width:100px; height:50px; line-height:50px !important;"><span>수정</span></a>
            <a href="#none" class="satUpdate btn Ty7 btnSstSave" style="max-width:100%;width:100px; height:50px; line-height:50px !important;"><span>저장</span></a>
            <a href="#none" class="satUpdate btn Ty7 btnSatCancel" style="max-width:100%;width:100px; height:50px; line-height:50px !important;"><span>취소</span></a>
        </div>

        <div class="btn_a right no-print">
            <a href="#" class="btn blue btnSatSave" style="padding:0px;">저장하기</a>
        </div>
    </div>
</div>
<div style="background-color: #0a0a0a;
    min-width: 1024px;
    height: 450px;
    position: relative;
    top: -48%;
    opacity: 0.5;
    display:none;">
    <div style="text-align:center; background-color:white;position:absolute; top:30%;left:50%; line-height:100px; z-index:1; opacity:1"><span style="font-weight:bold;margin:10px;">5월6일부터 입력가능합니다.</span></div>
</div>
