﻿@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.ViewModel
@using Geumcheon.Web.Core.Entity
@model Nesin
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        font-weight: bold !important;
    }

    .red-border {
        border: 1px solid red !important;
    }
</style>
<script>
    $(document).ready(function () {
        if (@ViewBag.IsCreate == 1){
           //alert('create');
        }
        else {
            //alert('modify');
            var nesinJson = '@Model.scoreJson'.replace(/&quot;/g, '"');
            var nesinObj = JSON.parse(nesinJson);
            $.each(nesinObj, function (key, value) {

                $("#" + value.ID).val(value.Grade)
            });
            $("#avg_k").val('@Model.kor_grade');
            $("#avg_e").val('@Model.eng_grade');
            $("#avg_m").val('@Model.math_grade');
            $("#avg_soc").val('@Model.soc_grade');
            $("#avg_sci").val('@Model.sci_grade');
        }
    });

    fnSetNesin = function () {
        var isValudation = true;
        var nesinArray = new Array();
        $.each($(".grade"), function (key, value) {
            var id = $(this).attr("id");
            var grade = parseFloat($(this).val());
            if (isEmpty($(this).val())) {
                $(this).val(0);
            }
            if (0 > grade || grade >=10 ) {
                $(this).addClass("red-border");
                isValudation = false;
            }
            else {
                $(this).removeClass("red-border");
            }

            var nesin = new Object();
            nesin.ID = id;
            nesin.Grade = grade;
            nesinArray.push(nesin);
        });

        $.each($('.avg'), function (key, value) {
            var obj = $(this).attr("id");
            var sum = 0;
            var divid = 0;
            $.each($('.' + obj), function (key, value) {

                var g = parseFloat($(this).val());
                if (g > 0) {
                    divid++;
                }
                
                sum = sum + parseFloat($(this).val());
                
                
            })
            if (sum == 0 || divid == 0) {
                $('#' + obj).val(0);
            }
            else {
                $('#' + obj).val((sum / divid).toFixed(2));
            }            
          
        });

        if (isValudation) {
            var nesinJson = JSON.stringify(nesinArray);
            var kor_grade = $("#avg_k").val();
            var eng_grade = $("#avg_e").val();
            var math_grade = $("#avg_m").val();
            var soc_grade = $("#avg_soc").val();
            var sci_grade = $("#avg_sci").val();

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'nesinJson': nesinJson
                , 'kor': kor_grade
                , 'eng': eng_grade
                , 'math': math_grade
                , 'soc': soc_grade
                , 'sci': sci_grade
            }),
            url: '@Url.Action("ModifyNesin", "MyPage")',
            success: function (msg) {
                var result = msg.ok;
                if (result) {
                    alert('내신성적을 저장하였습니다');
                }
                else {
                    alert('1~9사이의 평균등급을 입력하세요')
                }
            },
            error: function (xhr, msg) { alert(msg); },
            });
        }
    }
</script>

<div class="common_form">
    @Html.Partial("../Shared/Partial/_UserDataNavigation", "NESIN")
    <div><span style="font-weight:bold;">※ 평균등급을 입력하세요.</span></div>
    <div>
        <table class="form_tbl">

            <tbody>
                <tr>
                    <td colspan="2" class="thead-dark" width="20%">
                        구분
                    </td>
                    <td class="thead-dark">
                        1학년
                    </td>
                    <td class="thead-dark">
                        2학년
                    </td>
                    <td class="thead-dark">
                        3학년
                    </td>
                    <td class="thead-dark">평균등급</td>
                </tr>
                <tr>
                    <td rowspan="5" class="thead">
                        석차등급
                    </td>
                    <td class="thead">
                        국어
                    </td>
                    <td>
                        <input type="text" class="grade avg_k float" id="k_1" />
                    </td>
                    <td>
                        <input type="text" class="grade avg_k float" id="k_2" />
                    </td>
                    <td>
                        <input type="text" class="grade avg_k float" id="k_3" />
                    </td>
                    <td><input type="text" readonly="readonly" class="avg" id="avg_k" style="background-color:#e4e1e1;" /></td>
                </tr>
                <tr>
                    <td class="thead">
                        영어
                    </td>
                    <td>
                        <input type="text" class="grade avg_e float" id="e_1" />
                    </td>
                    <td>
                        <input type="text" class="grade avg_e float" id="e_2" />
                    </td>
                    <td>
                        <input type="text" class="grade avg_e float" id="e_3" />
                    </td>
                    <td><input type="text" readonly="readonly" class="avg" id="avg_e" style="background-color:#e4e1e1;" /></td>
                </tr>
                <tr>
                    <td class="thead">
                        수학
                    </td>
                    <td>
                        <input type="text" class="grade avg_m float" id="m_1" />
                    </td>
                    <td>
                        <input type="text" class="grade avg_m float" id="m_2" />
                    </td>
                    <td>
                        <input type="text" class="grade avg_m float" id="m_3" />
                    </td>
                    <td><input type="text" readonly="readonly" class="avg" id="avg_m" style="background-color:#e4e1e1;" /></td>
                </tr>
                <tr>
                    <td class="thead">
                        사회
                    </td>
                    <td>
                        <input type="text" class="grade avg_soc float" id="soc_1" />
                    </td>
                    <td>
                        <input type="text" class="grade avg_soc float" id="soc_2" />
                    </td>
                    <td>
                        <input type="text" class="grade avg_soc float" id="soc_3" />
                    </td>
                    <td><input type="text" readonly="readonly" class="avg" id="avg_soc" style="background-color:#e4e1e1;" /></td>
                </tr>
                <tr>
                    <td class="thead">
                        과학
                    </td>
                    <td>
                        <input type="text" class="grade avg_sci float" id="sci_1" max="9" min="0" />
                    </td>
                    <td>
                        <input type="text" class="grade avg_sci float" id="sci_2" />
                    </td>
                    <td>
                        <input type="text" class="grade avg_sci float" id="sci_3" />
                    </td>
                    <td><input type="text" readonly="readonly" class="avg" id="avg_sci" style="background-color:#e4e1e1;" /></td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="btn_a right no-print">
        <a href="#" class="btn blue" style="padding:0px;" onclick="fnSetNesin();">저장하기</a>
    </div>
</div>

<div style="background-color: #0a0a0a;
    min-width: 1024px;
    height: 450px;
    position: relative;
    top: -48%;
    opacity: 0.5;
    display:none;">
    <div style="text-align:center; background-color:white;position:absolute; top:30%;left:50%; line-height:100px; z-index:1; opacity:1"><span style="font-weight:bold;margin:10px;">5월6일부터 입력가능합니다.</span></div>
</div>
