﻿@model Geumcheon.Web.Core.ViewModel.ViewModelList<Geumcheon.Web.Core.Entity.Application, Geumcheon.Web.Core.ViewModel.SearchInfo>
@{
    ViewBag.Title = "신청 및 상담내역";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Geumcheon.Web.Core.Entity.Member member = ViewData["Member"] as Geumcheon.Web.Core.Entity.Member;
}


@if (string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.ConsultId))
{
    @section Javascript {
        <script type="text/javascript">
            $(document).ready(function () {
                alert("로그인 후 이용가능합니다.");
                location.href = "@Url.Action("Login", "Account")?returnUrl=@this.Request.Url.LocalPath";
            });
        </script>

        <div>로그인 후 이용 가능합니다.</div>
    }
}
else
{
    @section Javascript {
        <script type="text/javascript">
            var duplicateCheckID = "";
            var requesting = false;

            const passwordRegex = /^[a-zA-Z0-9]{0,50}$/;
            const idRegex = /^[a-zA-Z0-9]{4,30}$/;//.test(this.state.userName)) {
            const phoneRegex = /^01(?:0|1|[6-9])[.-]?(\d{3}|\d{4})[.-]?(\d{4})$/;
            const emailRegex = /^(([^<>()\[\].,;:\s@@"]+(\.[^<>()\[\].,;:\s@@"]+)*)|(".+"))@@(([^<>()[\].,;:\s@@"]+\.)+[^<>()[\].,;:\s@@"]{2,})$/i;

            $(document).ready(function () {
                // 검색
                $("#modifyBtn").on("click", function () {
                    requestConsultList(@ViewBag.Page);
                });

                requestConsultList(@ViewBag.Page);
            });

            // 상담 신청 리스트 조회
            var requestConsultList = function (page) {
                $.ajax({
                    url: "@Url.Action("MyRequestList", "MyPage")",
                    headers: {
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify({
                        page : page,
                        type: "@(ViewBag.ConsultWay ?? "I")",
                        search: $("#searchTitle").val(),
                        order: "REGDATE"
                    }),
                    dataType: "json",
                    type: "POST",
                    beforeSend: function () {
                        requesting = true
                    }
                }).done(function (json) {
                    console.log(json);
                    createConsultList(json.data1);
                    createPresentationList(json.data2);
                    requesting = false;
                }).fail(function (httpObj, textStatus) {
                    requesting = false;
                    alert("처리 중 오류가 발생하였습니다.");
                });
            }

            var requestPresentationList = function (page) {
                $.ajax({
                    url: "@Url.Action("MyRequestList", "MyPage")",
                    headers: {
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify({
                        page : page,
                        type: "@(ViewBag.ConsultWay ?? "I")",
                        search: $("#searchTitle").val(),
                        order: "REGDATE"
                    }),
                    dataType: "json",
                    type: "POST",
                    beforeSend: function () {
                        requesting = true
                    }
                }).done(function (json) {
                    console.log(json);
                    createConsultList(json.data);
                    createPresentationList(json.data);
                    requesting = false;
                }).fail(function (httpObj, textStatus) {
                    requesting = false;
                    alert("처리 중 오류가 발생하였습니다.");
                });
            }

            // 날자 변환
            var convertDate = function (data) {
                var date = new Date(data);

                if (!isNaN(date.getTime())) {
                    let year = date.getFullYear();
                    let month = date.getMonth() + 1;
                    let day = date.getDate();

                    return year.toString() + "-" + (month < 10 ? "0" : "") + month.toString() + "-" + (day < 10 ? "0" : "") + day.toString();
                }
                else {
                    return "없음";
                }
            }

            // 날짜 및 시간 변환
            var convertDateTime = function (data) {
                var date = new Date(data);
                if (!isNaN(date.getTime())) {
                    let year = date.getFullYear();
                    let month = date.getMonth() + 1;
                    let day = date.getDate();
                    let hour = date.getHours();
                    let minute = date.getMinutes();
                    let week = "월";
                    switch (date.getDay()) {
                        case 0: week = "일"; break;
                        case 1: week = "월"; break;
                        case 2: week = "화"; break;
                        case 3: week = "수"; break;
                        case 4: week = "목"; break;
                        case 5: week = "금"; break;
                        case 6: daweekte = "토"; break;
                    }


                    //return year.toString() + "-" + (month < 10 ? "0" : "") + month.toString() + "-" + (day < 10 ? "0" : "") + day.toString() + "(" + week + ") " + (hour < 10 ? "0" : "") + hour.toString() + ":" + (minute < 10 ? "0" : "") + minute.toString();
                    return year.toString() + "-" + (month < 10 ? "0" : "") + month.toString() + "-" + (day < 10 ? "0" : "") + day.toString()  + (hour < 10 ? "0" : "") + hour.toString() + ":" + (minute < 10 ? "0" : "") + minute.toString();
                }
                else {
                    return "없음";
                }
            }

            // 상담 명칭 변환
            var convertConsultWay = function (type) {
                switch (type) {
                    case "I": return "대면컨설팅";
                    case "V": return "화상컨설팅";
                    case "O": return "온라인컨설팅";
                }
            }

            // 상담신청 리스트 만들기
            var createConsultList = function (data) {
                // 리스트 클리어
                $("#consult-list").html("");
                $("ul[class=pagination]").html("");

                if (data.Entities.length == 0) {
                    var row = $("<div style='text-align:center; padding:8px; border:1px solid #C3C3C3;'>");
                    row.text("상담 신청 내역이 없습니다.");
                    $("#consult-list").append(row);
                }
                else {
                    $.each(data.Entities, function (index, item) {
                        var row = $("<div class='row'>");
                        row.append("<div>" + item.RowIdx + "</div>");
                        row.append("<div>" + convertConsultWay(item.ConsultWay) + "</div>");
                        row.append("<div class='link'><a href='#' onclick=\"goPage('" + item.ConsultWay + "', " + item.RequestIdx + ")\" title='" + item.Title + "' >" + item.Title + "</a></div>");
                        row.append("<div>" + item.StudentName + "</div>");
                        row.append("<div>" + convertDate(item.CreateDate) + "</div>");
                        row.append("<div>" + convertDateTime(item.Schedule.ConsultDate + "    " + item.Schedule.ConsultTime) + "</div>");
                        row.append(createStateBtn(item.Progress));
                        $("#consult-list").append(row);
                    });
                    //data.Entities.forEach((item, index) => {

                    //});
                }

            };

            // 상담신청 리스트 만들기
            var createPresentationList = function (data) {
                // 리스트 클리어
                $("#presentation-list").html("");

                if (data.length == 0) {
                    var row = $("<div style='text-align:center; padding:8px; border:1px solid #C3C3C3;'>");
                    row.text("상담 신청 내역이 없습니다.");
                    $("#presentation-list").append(row);
                }
                else {
                    var no = 1;
                    $.each(data, function (index, item) {
                        var row = $("<div class='row'>");
                        row.append("<div>" + no + "</div>");
                        row.append("<div>" + item.PresentationTypeDP + "</div>");
                        row.append("<div class='link'>" + item.PresentationName + "</a></div>");
                        row.append("<div>" + item.Name + "</div>");
                        
                        row.append("<div>" + item.jCreateDate.substring(0,10) + "</div>");
                        row.append("<div>" + item.PresentationDate + "</div>");
                        row.append(createPtStateBtn(item.State));
                        $("#presentation-list").append(row);
                        no = no + 1;
                    });
                    //data.Entities.forEach((item, index) => {

                    //});
                }

            };

            // 상태 값에 따라 버튼 생성
            var createStateBtn = function (state) {
                var rtn = $("<div><div class=''><a class='' /></div></div>");

                if (state == "R") {
                    rtn.find("a").addClass("green").text("신청대기").css("color", "blue");
                }
                else if (state == "I") {
                    rtn.find("a").addClass("green").text("신청승인").css("color", "red");
                }
                else if (state == "W") {
                    rtn.find("a").addClass("green").text("대기예약").css("color", "green");;
                }
                else {
                    rtn.find("a").addClass("green").text("상담완료");
                }

                return rtn;
            }


            // 상태 값에 따라 버튼 생성
            var createPtStateBtn = function (state) {
                var rtn = $("<div><div class=''><a class='' /></div></div>");

                if (state == "R") {
                    rtn.find("a").addClass("green").text("신청완료").css("color", "blue");
                }
                else if (state == "I") {
                    rtn.find("a").addClass("green").text("신청완료").css("color", "red");
                }
                else if (state == "W") {
                    rtn.find("a").addClass("green").text("대기예약").css("color", "green");;
                }
                else {
                    rtn.find("a").addClass("green").text("상담완료");
                }

                return rtn;
            }

            // 페이지 이동
            var goPage = function (type, idx) {
                if (type == "I" || type == "O" || type == "V") {
                    location.href = "@Url.Action("Detail", "Entrance")?requestIdx=" + idx;
                }
                //requestConsultList(page);
                return false;
            }

            var requestDetail = function (type, idx) {

            }

        </script>
    }
    @section Css {
        <style type="text/css">
            .outer{
                width:98%;
            }

            .registerform {
                border-top: 0px !important;
                border-bottom: 0px !important;
            }
            .consultlist .row > div:nth-child(n) {
                width: 15%;
                padding: 8px;
            }

            .consultlist .row > div:nth-child(3n+3) {
                width: 20%;
                padding: 8px;
            }

            .consultlist .row > div:first-child {
                width: 5%;
                padding: 8px;
            }

            .consultlist .row > div:last-child {
                width: 10%;
                padding: 8px;
            }
            .link {
                font-weight:bold;
            }
        </style>
    }

    <div style="min-width:960px;">
        <div class="content">
            <!-- 신청 내역 -->
            <div name="list">
                <div class="registerform">
                    <div class="divider"></div>
                    @*<div style="display:flex; align-items:center;">
            <input type="text" id="searchTitle" placeholder="검색어를 입력하세요." style="width:300px;margin-left:auto;" />
            <div class="btns" style="margin-left:8px;">
                <a class="btn blue" id="modifyBtn" style="">검색</a>
            </div>
        </div>*@
                    <h1>컨설팅 신청내역</h1>
                    <div class="divider"></div>
                    <div>
                        <div style="display:flex; align-items:center; text-align:center; border: 1px solid #C3C3C3; border-top: 1px solid #3685ca; background-color:#F7F7F7; font-weight:bold;">
                            <div style="width:5%;padding:8px; border-right:1px solid #C3C3C3;">번호</div>
                            <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">프로그램</div>
                            <div style="width:20%;padding:8px; border-right:1px solid #C3C3C3;">제목</div>
                            <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">참가자이름</div>
                            <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">신청일</div>
                            <div style="width:20%;padding:8px; border-right:1px solid #C3C3C3;">희망일/완료일</div>
                            <div style="width:10%;padding:8px;">상태</div>
                        </div>
                        <div class="consultlist" id="consult-list">
                        </div>
                        <div class="divider" style="display:none;"></div>
                        <div id="pager" style="margin-top:5px; display:none;">
                            <div class="totalCount">
                                전체 <span style="font-weight:bold; color:#428bca;"></span> 건
                            </div>
                            <div class="pagination-container" style="text-align:center;">
                                <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="divider" style="margin-top:30px;"></div>
                    <h1>설명회 신청내역</h1>
                    <div class="divider"></div>
                    <div>
                        <div style="display:flex; align-items:center; text-align:center; border: 1px solid #C3C3C3; border-top: 1px solid #3685ca; background-color:#F7F7F7; font-weight:bold;">
                            <div style="width:5%;padding:8px; border-right:1px solid #C3C3C3;">번호</div>
                            <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">프로그램</div>
                            <div style="width:20%;padding:8px; border-right:1px solid #C3C3C3;">제목</div>
                            <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">참가자이름</div>
                            <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">신청일</div>
                            <div style="width:20%;padding:8px; border-right:1px solid #C3C3C3;">설명회</div>
                            <div style="width:10%;padding:8px;">상태</div>
                        </div>
                        <div class="consultlist" id="presentation-list">
                        </div>
                        <div class="divider" style="display:none;"></div>
                        <div id="pager" style="margin-top:5px; display:none;">
                            <div class="totalCount">
                                전체 <span style="font-weight:bold; color:#428bca;"></span> 건
                            </div>
                            <div class="pagination-container" style="text-align:center;">
                                <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>
}

