﻿@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.ViewModel
@using Geumcheon.Web.Core.Entity
@model Application
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        font-weight: bold !important;
    }

    .outer {
        width: 1280px;
    }

    .common_form .btn_a .white.btn {
        border: 1px solid #EE7855;
        color: #EE7855;
    }

    .common_form .btn_a .btn {
        width: 500px;
        height: 70px;
    }
</style>
<script>
    $(document).ready(function () {
        //$(".btnPsy").click(function () {
        //    alert('검사시작');
        //})
    });
</script>

<div class="common_form">
    @Html.Partial("../Shared/Partial/_UserDataNavigation", "SMARTTEST")
    <div style="width:100%;">
        <div style="width:100%; float:left;">
            <div style="height:500px; max-width:1280px; min-width:1280px;">
                <div class="btn_a right no-print" style="text-align:center !important;">
                    <a href="http://psy.futureplan.co.kr/Account/GeumcheonStmartAuth?orgIdx=600&memberIdx=@_identity.MemberIdx" class="btn white btnPsy" target="_blank" style="padding:0px; line-height:70px;">검사시작</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #0a0a0a;
    min-width: 1024px;
    height: 150px;
    position: relative;
    top: -10%;
    opacity: 0.5;
    display:none;">
    <div style="text-align:center; background-color:white;position:absolute; top:30%;left:50%; line-height:100px; z-index:1; opacity:1"><span style="font-weight:bold;margin:10px;">5월6일부터 입력가능합니다.</span></div>
</div>
