﻿@charset "utf-8";
/********** Font **********/

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../font/glyphicons-halflings-regular.eot');
    src: url('../font/glyphicons-halflings-regular.woff') format('woff'), url('../font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg'), url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family: 'Nanum Barun Gothic';
	src: url('../font/NanumBarunGothicLight.eot');
	src: url('../font/NanumBarunGothicLight.woff') format('woff'), url('../font/NanumBarunGothicLight.ttf') format('truetype'), url('../font/NanumBarunGothicLight.svg#NanumBarunGothicLight') format('svg'), url('../font/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../font/glyphicons-halflings-regular.eot');
    src: url('../font/NanumBarunGothic.woff') format('woff'), url('../font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg'), url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../font/glyphicons-halflings-regular.eot');
    src: url('../font/glyphicons-halflings-regular.woff') format('woff'), url('../font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#NanumBarunGothicBold') format('svg'), url('../font/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype');
    font-weight: 800;
    font-style: normal;
}

/*--- base class ---*/
html {line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html, body {height:100%;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,div {margin:0;padding:0;}
body, input, textarea, select, button, table {
    font-family: 'Nanum Gothic';
    font-size: 15px;
    vertical-align: baseline;
    line-height: 1.75;
    color: #333;
    word-break: keep-all;
    word-wrap: break-word;
}
img {border:0;vertical-align:middle;}
ul,ol,dl {list-style:none;}
dd{word-break:keep-all;word-wrap:break-word;}
h1, h2, h3, h4, h5, h6 {font-weight:600;font-size:inherit;}
h1.title{font-weight:bold; font-size:20px;padding:5px;}
em,address {font-style:normal;}
a {text-decoration:none;color:inherit;}
a:focus, a:active, a:hover {color:#333;text-decoration:none;}
div:focus {outline:none;}
header, hgroup, footer, section, article, aside, nav, figure, figcaption, main, details, menu {display:block;}
table{border-collapse:collapse;table-layout:fixed;border-spacing:0;width:100%;empty-cells:show;}
tbody, tfoot, thead, tr, th, td {word-wrap:break-word;}
caption,legend {display:block;position:absolute !important;left:-9999px !important;top:0 !important;text-indent:9999px !important;width:0 !important;height:0 !important;border:0 !important;overflow:hidden !important;font-size:1px;line-height:0 !important;white-space:nowrap !important;}
button {cursor:pointer;width:auto;overflow:visible;vertical-align:middle;background:none;margin:0;padding:0;border:0;background:transparent;border:none;box-sizing:border-box;}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {padding:0;border:0;}
input {background:none;overflow:visible;vertical-align:middle;box-sizing:border-box;}
input[disabled="disabled"], input.disabled {background-color:#f4f4f4;opacity:0.5;filter:alpha(opacity=50);cursor:default;}
input[type=text]::-ms-clear{display:none !important;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height:auto;}
[type="search"] {-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
::-webkit-file-upload-button {-webkit-appearance:button;font:inherit;}
input[type="text"], input[type="password"], input[type="number"], input[type="search"] {
    padding: 0 10px;
    height: 36px;
    line-height: 34px;
    border: 1px solid #bfbfbf;
    background-color: #fff;
    /*text-align: center;*/
}
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="search"]:focus {outline:none;}
textarea{overflow:auto;vertical-align:top;padding:8px 10px;box-sizing:border-box;border:solid 1px #bfbfbf;}
select[disabled="disabled"] {background-color:#f4f4f4;color:#666;}
select {height:36px;line-height:34px;border:1px solid #bfbfbf;vertical-align:middle; padding:6px 12px;}
select:focus {border-color:#bfbfbf;outline:none;}
.ie.v9 select, .ie.v8 select, .ie.v7 select {padding:0 0 0 10px;}
fieldset {border:none;}
label {cursor:pointer;}
hr {box-sizing:content-box;height:0;overflow:visible;}
template, [hidden] {display:none;}
audio, video, canvas {display:inline-block;}
audio:not([controls]) {display:none;height:0;}
progress {display:inline-block;vertical-align:baseline;}
summary {display:list-item;}
small {font-size:80%;}
sub, sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub {bottom:-0.25em;}
sup {top:-0.5em;}
/* placeholder */
::-webkit-input-placeholder {color:#333 !important;}
::-moz-placeholder {color:#333 !important;}
:-ms-input-placeholder {color:#333 !important;}
:-moz-placeholder {color:#333 !important;}
/* layout - accessibility */
.blind {display:block;position:absolute;left:-9999px;text-indent:9999px;width:0;height:0;border:0;overflow:hidden;font-size:1px;line-height:0;white-space:nowrap;}
a.line {text-decoration:underline;}