@font-face {
    font-family: 'Jalnan';
    src: url(../../Resources/font/Jalnan.ttf);
    src: url(../../Resources/font/Jalnan.otf);
    src: url(../../Resources/font/Jalnan.woff);
}

/* section9 */
.section9{padding:66px 0;background-color:#f9f9f9;margin-bottom:30px;}
.section9 h2 span{display:block;font-size:30px;color:#4f5958;}
.section9 td span{display:block;font-size:14px;font-weight:300;padding-top:4px;}
.section9 ul.disclist {list-style-type:disc; padding-left:40px; padding-bottom:32px;}
.section9 ul li{font-size:25px;margin-bottom:2px;color:#4f5958;}
.section9 td {vertical-align:middle !important}
.section9 table .btn span{line-height:31px;}

/* section7 */
.section7 {padding: 66px 0;background-color: #f9f9f9;margin-bottom: 30px;}
.section7 table .t_btn span {line-height: 31px;}
.section7 td {vertical-align:middle !important}
.section7 td span {display: block;font-size: 17px;font-weight: 300;padding-top: 4px;}
.section7 ul li{font-size:25px;margin-bottom:2px;color:#4f5958;line-height:30px;}
.section7 .table span{display:block;font-size:20px;margin:18px auto 16px;width:90%;}

/*section8*/
.section8 {padding: 66px 0;background-color: #f9f9f9;margin-bottom: 30px;}
.section8 ul {list-style-type:disc; padding-left:40px; padding-bottom:32px;}
.section8 ul li{font-size:25px;margin-bottom:2px;color:#4f5958;line-height:30px;}

/* section4 */
.section4{background-color:#fcb813;position:relative;height:600px;}
.section4 .inner_sec{}
.section4 .tit_box{position:absolute;left:50%;transform:translateX(-50%);top:54px;min-width:80%;display:flex;}
.section4 .tit_box:after{display:block;content:"";clear:both;}
.section4 img{float:left;margin-right:40px;}
.section4 h2{float:left;font-size:85px;color:#141414;text-align:center;font-family:'Jalnan';padding-top:52px;background-color:transparent;padding-left:0px;line-height:initial;letter-spacing:initial;}
.section4 h2 span{font-size:37px;font-weight:bold;display:block;font-family:'Noto Sans KR', sans-serif;padding-top:18px;}
.section4 ul{position:absolute;left:50%;transform:translateX(-50%);top:340px;min-width:90%;}
.section4 ul li{margin-bottom:14px;font-size:24px;color:#383838;}
.section4_disabled {background-color:#fcb813;position:relative;height:240px;}
.section4_disabled .tit_box{display:none;}
.section4_disabled ul{position:absolute;left:50%;transform:translateX(-50%);top:40px;min-width:90%;}
.section4_disabled ul li{margin-bottom:14px;font-size:24px;color:#383838;}


/* content2 */
.content2 {background-color: #fff;}
.content2 table {width: 90%;margin: 0 auto;border-collapse: collapse; table-layout:auto !important;}
.content2 h2 {width: 90%;margin: 0 auto;font-size: 50px;color: #357190;font-family: 'Jalnan';margin-bottom: 20px;background-color: transparent;padding-left:0px; height:auto;}
.content2 h2 span{display:block;font-size:30px;color:#4f5958;line-height:initial;}
.content2 ul {width: 90%;margin: 0 auto;}
.content2 table th, .content2 table td {text-align: center;border: 1px solid #626262;}
.content2 table th {background-color: #357190;color: #fff;font-weight: bold;font-size: 25px;padding: 8px 0;border-right: 1px solid #fff;}
.content2 table th:last-of-type {border-right: 1px solid #626262;}
.content2 table td {background-color: #fff;font-size: 19px;color: #4f5958;padding: 6px;line-height: 1.3;}
.content2 table .t_btn span {display: block;width: 65px;height: 38px;border-radius: 10px;background-color: #ff6215;text-align: center;color: #fff;font-weight: bold;font-size: 22px;margin: 0 auto;line-height: 38px;padding-right: 3px;box-sizing: border-box;box-shadow: 2px 2px 0 #9f3e13;cursor: pointer;}
.content2 table .t_btn_disabled span {display: block;width: 65px;height: 38px;border-radius: 10px;background-color: #4F5958;text-align: center;color: #fff;font-weight: bold;font-size: 22px;margin: 0 auto;line-height: 38px;padding-right: 3px;box-sizing: border-box;box-shadow: 2px 2px 0 #3B4544;}
.content2 table .tit {background-color: #ededed;}
    