@font-face{
	font-family:'Jalnan';
	src:url(../font/Jalnan.ttf);
	src:url(../font/Jalnan.otf);
	src:url(../font/Jalnan.woff);
}

/* common */
body {font-family:'Noto Sans KR', sans-serif;font-weight:500;font-size:21px;letter-spacing:-2px;line-height:1.2;font-weight:400;box-sizing:border-box;width:100%;overflow-x:hidden;}

#header{height:72px;background-color:#fff;font-size:34px;color:#4f5958;text-align:center;}
#header h1{height:72px;line-height:72px;}
#header h1 img{vertical-align:middle;margin-right:30px;}

/* section1 */
.section1{background-color:#0e51d5;}
.section1 h2{font-family:'Jalnan';font-size:116px;color:#0e51d5;width:60%;height:735px;margin:0 auto;text-align:center;background-color:#ffd737;position:relative;border-radius:0 0 20px 20px;padding-top:80px;box-sizing:border-box;}
.section1 h2 span{display:block;color:#35435d;font-size:42px;margin-bottom:30px;font-family:'Noto Sans KR', sans-serif;}
.section1 h2:after{display:block;content:"";width:627px;height:393px;background:url(../images/common/img_sec1.png) no-repeat 0 0;position:absolute;bottom:-152px;left:50%;margin-left:-313.5px;}
.section1 p{font-size:30px;color:#fff;width:60%;margin:0 auto;padding-top:156px;font-weight:300;padding-bottom:74px;}
.section1 p strong{font-weight:bold;color:#0e51d5;background-color:#ffd800;display:inline-block;font-weight:bold;}

/* section2 */
.section2{background-color:#ffd800;padding:60px 0 78px;}
.section2 h2{text-align:center;color:#0e51d5;font-size:46px;font-weight:bold;margin-bottom:40px;}
.section2 h2 span{display:block;font-size:46px;font-weight:bold;margin-bottom:12px;color:red;}
.section2 table{width:80%;margin:0 auto;}
.section2 table th,.section2 table td{background-color:#fff;border:1px solid #ffd800;color:#4f5958;text-align:center;padding:4px 0;}
.section2 table th{font-size:32px;font-weight:900;}
.section2 table td{font-size:24px;}
.section2 table .btn span{display:block;width:65px;height:38px;border-radius:10px;background-color:#ff6215;text-align:center;color:#fff;font-weight:bold;font-size:22px;margin:0 auto;line-height: 38px;padding-right: 3px;box-sizing: border-box;box-shadow:2px 2px 0 #9f3e13;cursor:pointer;}

/* section3 */
.section3{background:#383838 url(../images/common/bg_sec3.jpg) no-repeat 50% 346px;padding-bottom:85px;background-size:contain;}
.section3 h2{font-family:'Jalnan';font-size:83px;padding:96px 0 68px;color:#ffd800;width:80%;margin:0 auto;}
.section3 .box{background-color:#fff;padding:74px 38px;margin:345px auto 0;border-radius:100px;box-shadow:10px 10px 30px rgba(255,255,255,0.6);width:80%;}
.section3 h3{font-size:35px;font-weight:bold;margin-bottom:14px;}
.section3 h3 img{vertical-align:middle;margin-right:22px;}
.section3 p{font-size:28px;word-break:keep-all;padding-left:16px;}
.section3 span{display:block;font-size:28px;margin-top:16px;padding-bottom:60px;padding-left:16px;}

/* section4 */
.section4{background-color:#fcb813;position:relative;height:600px;}
.section4 .inner_sec{}
.section4 .tit_box{position:absolute;left:50%;transform:translateX(-50%);top:54px;min-width:800px;}
.section4 .tit_box:after{display:block;content:"";clear:both;}
.section4 img{float:left;margin-right:40px;}
.section4 h2{float:left;font-size:85px;color:#141414;text-align:center;font-family:'Jalnan';padding-top:52px;}
.section4 h2 span{font-size:37px;font-weight:bold;display:block;font-family:'Noto Sans KR', sans-serif;padding-top:18px;}
.section4 ul{position:absolute;left:50%;transform:translateX(-50%);top:360px;min-width:940px;}
.section4 ul li{margin-bottom:14px;font-size:24px;color:#383838;}


/* content2 */
.content2{background-color:#fff;}
.content2 table{width:80%;margin:0 auto;border-collapse:collapse;}
.content2 h2{width:80%;margin:0 auto;font-size:50px;color:#357190;font-family:'Jalnan';margin-bottom:20px;}
.content2 ul{width:80%;margin:0 auto;}
.content2 table th,.content2 table td{text-align:center;border:1px solid #626262;}
.content2 table th{background-color:#357190;color:#fff;font-weight:bold;font-size:25px;padding:8px 0;border-right:1px solid #fff;}
.content2 table th:last-of-type{border-right:1px solid #626262;}
.content2 table td{background-color:#fff;font-size:19px;color:#4f5958;padding:6px;line-height:1.3;}
.content2 table .btn span{display:block;width:65px;height:38px;border-radius:10px;background-color:#ff6215;text-align:center;color:#fff;font-weight:bold;font-size:22px;margin:0 auto;line-height: 38px;padding-right: 3px;box-sizing: border-box;box-shadow:2px 2px 0 #9f3e13;cursor:pointer;}
.content2 table .btn_disabled span{display:block;width:65px;height:38px;border-radius:10px;background-color:#4F5958;text-align:center;color:#fff;font-weight:bold;font-size:22px;margin:0 auto;line-height: 38px;padding-right: 3px;box-sizing: border-box;box-shadow:2px 2px 0 #3B4544;}
.content2 table .tit{background-color:#ededed;}

/* section5 */
.section5{background-color:#357190;padding-top:84px;padding-bottom:170px;}
.section5 .tit_box{background-color:#ffd737;height:590px;border-radius:0 100px 100px 0;width:80%;padding-top:85px;box-sizing:border-box;position:relative;}
.section5 .tit_box:after{display:block;content:"";width:630px;height:378px;background:url(../images/common/img_sec5.png) no-repeat 0 0;position:absolute;right:-64px;bottom:-220px;}
.section5 .tit_box h2{box-sizing:border-box;font-size:95px;margin-bottom:0;}
.section5 .tit_box h2 span{display:inline-block;width:148px;height:148px;border-radius:50%;background-color:#357190;color:#fff;text-align:center;font-size:30px;font-weight:bold;position: relative;left: 40px;top: -14px;padding-top:35px;box-sizing:border-box;}
.section5 ul{width:80%;margin:40px auto 0;}
.section5 ul li{font-size:30px;letter-spacing:-3px;color:#484747;margin-bottom:14px;}
.section5 ul li span{display:block;margin-top:14px;padding-left:10px;}

/* section6 */
.section6{background-color:#f9f9f9;margin-bottom:30px;padding-top:170px;padding-bottom:54px;}
.section6 h2{font-size:55px;color:#fff;text-shadow:6px 5px 0 #376e94;background-color:#ffd737;width:650px;height:80px;line-height:80px;padding-left:10%;box-sizing:border-box;-webkit-text-stroke: 2px #376e94;border-radius:0 40px 40px 0;margin:0;margin-bottom:20px;}
.section6 table th{background-color:#ffd737;color:#575757;}
.section6 table th,.section6 table td{border:2px solid #565656;}
.section6 table td{padding:4px;}
.section6 table .btn span{display:block;width:53px;height:23px;line-height:23px;font-size:19px;border-radius:8px;}

/* section7 */
.section7{padding:66px 0;background-color:#f9f9f9;margin-bottom:30px;}
.section7 table .btn span{line-height:31px;}
.section7 td span{display:block;font-size:17px;font-weight:300;padding-top:4px;}

/* section8 */
.section8{padding:66px 0;background-color:#f9f9f9;margin-bottom:30px;}
.section8 ul li{font-size:25px;margin-bottom:2px;color:#4f5958;}
.section8 .table span{display:block;font-size:20px;margin:18px auto 16px;width:80%;}

/* section9 */
.section9{padding:66px 0;background-color:#f9f9f9;margin-bottom:30px;}
.section9 h2 span{display:block;font-size:30px;color:#4f5958;}
.section9 td span{display:block;font-size:14px;font-weight:300;padding-top:4px;}
.section9 ul li{font-size:25px;margin-bottom:2px;color:#4f5958;}
.section9 table{margin-top:34px;}
.section9 table .btn span{line-height:31px;}
.section9 .table span{display:block;font-size:20px;margin:18px auto 16px;width:80%;}

/* section10 */
.section10{padding:66px 0;background-color:#f9f9f9;}
.section10 h2 span{display:block;font-size:30px;color:#4f5958;margin-top:22px;}
.section10 ul li{font-size:25px;margin-bottom:2px;color:#4f5958;}
.section10 table{margin-top:34px;}