﻿.head {
    width: 100%;
    height: 73px;
    position: relative;
    background: #eff2fd;
}

    .head .project {
        float: left;
        margin: 25px 0 0 15px;
        color: #3685ca;
        font-size: 28px;
        font-weight: normal;
    }

    .head .school {
        float: left;
        margin: 33px 0 0 10px;
        color: #282828;
        font-size: 16px;
        font-weight: normal;
    }

    .head .btn_common_fnc {
        background: url("../images/btn_common_fnc.png") no-repeat;
        top: 12px;
        width: 45px;
        height: 45px;
        right: 20px;
        display: block;
        position: absolute;
    }

.LeftMenu {
    width: 220px;
    float: left;
}

    .LeftMenu .info {
        padding: 13px 12px;
        width: 220px;
        height: 74px;
        background-color: #7FA9CE;
        box-sizing: border-box;
    }

        .LeftMenu .info .photo {
            position: absolute;
            top: 88px;
            left: 12px;
            display: inline-block;
            overflow: hidden;
            width: 48px;
            height: 48px;
            border-radius: 48px;
        }

        .LeftMenu .info .name {
            display: block;
            margin-left: 60px;
            color: #fff;
            font-size: 16px;
            line-height: 1.4;
        }

        .LeftMenu .info .btnInfo {
            display: inline-block;
            width: 66px;
            height: 24px;
            line-height: 23px;
            border: 1px solid #666;
            color: #666;
            text-align: center;
            background-color: #fff;
            font-size: 12px;
            box-sizing: border-box;
        }

            .LeftMenu .info .btnInfo.log {
                margin-left: 60px;
            }

    .LeftMenu h2 {
        margin-left: 220px;
        padding-left: 40px;
        width: 100%;
        max-width: 1030px;
        height: 74px;
        line-height: 74px;
        background-color: #7a7980;
        font-size: 29px;
        color: #fff;
        box-sizing: border-box;
        letter-spacing: -0.04em;
    }

#gnb {
    position: relative;
    margin-left: 260px;
    padding-right: 40px;
    max-width: 990px;
    height: 0px;
    border-right: 1px solid #7FA9CE;
    text-align: right;
    box-sizing: border-box;
}

.side_w {
    width: 220px;
    float: left;
}

    .side_w .gnb > ul > li > a {
        background: url("/resource/images/common/bg_gnb_close.png") no-repeat right 20px center;
        height: 59px;
        line-height: 59px;
        border-bottom-color: rgb(221, 221, 221);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: block;
        font-size: 18px;
    }

        .side_w .gnb > ul > li > a span {
            color: rgb(102, 102, 102);
            padding-left: 20px;
            font-size: 16px;
            display: block;
        }

        .side_w .gnb > ul > li > a span {
            font-size: 18px;
        }

    .side_w .gnb > ul > li.curr > a span {
        background: url("/resource/images/common/bg_gnb_open.png") no-repeat right 20px center rgb(244, 244, 244);
        color: #fff;
        background-color: #7FA9CE;
    }

    .side_w .gnb > ul > li > ul {
        display: none;
    }

    .side_w .gnb > ul > li.curr > ul {
        display: block;
    }

    .side_w .gnb > ul > li > ul > li > a {
        background: url("/resources/images/common/bg_gnb_depth_arrow.png") no-repeat right 20px center;
        padding: 0px 30px;
        height: 50px;
        color: rgb(136, 136, 136);
        line-height: 50px;
        font-size: 16px;
        border-bottom-color: rgb(218, 218, 218);
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        display: block;
    }

    .side_w .gnb > ul > li > ul > li.on > a {
        color: #3685ca;
        background-color: beige;
        font-weight: bold;
    }

    .side_w .gnb > ul > li > ul > li.in_depth > a {
        border-bottom-width: 0px;
        border-bottom-style: none;
    }


/* LNB */

.lnbWrap {
    position: relative;
    float: left;
    margin-left: -220px;
    width: 220px;
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}

    .lnbWrap:after {
        position: fixed;
        top: 0;
        bottom: -200%;
        left: 220px;
        display: block;
        width: 1px;
        background-color: #dbdbdb;
        -webkit-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        transition: left 0.3s ease;
        z-index: -1;
    }



/* contWrap */

.contWrap {
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
    float: left;
}

    .contWrap h2 {
        padding-left: 40px;
        width: 100%;
        height: 74px;
        line-height: 74px;
        background-color: #7a7980;
        font-size: 29px;
        color: #fff;
        box-sizing: border-box;
        letter-spacing: -0.04em;
        background-color: #3785ca;
    }
    .contWrap h3 {
        padding:24px;
        font-size: 29px;
        color: #C1EAF7;
        box-sizing: border-box;
        letter-spacing: -0.04em;
    }
    .contWrap h4 {
        padding: 24px;
        font-size: 20px;
        color: #FFF;
        box-sizing: border-box;
        letter-spacing: -0.04em;
    }

    .contWrap .outer {
        padding: 20px;
    }

.page_tab ul {
    border-bottom-color: #3685ca;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -ms-zoom: 1;
    height:51px;
}

    .page_tab ul::after {
        clear: both;
        display: block;
    }

    .page_tab ul li {
        background: rgb(245, 245, 245);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(195, 195, 195) rgb(195, 195, 195) ;
        border-image: none;
        width: 164px;
        float: left;
    }

        .page_tab ul li a {
            width: 100%;
            height: 48px;
            text-align: center;
            color: rgb(102, 102, 102);
            line-height: 48px;
            font-size: 18px;
            display: block;
        }

        .page_tab ul li.curr {
            background: rgb(255, 255, 255);
            border-width: 1px;
            border-style: solid;
            border-color: #3685ca;
            border-image: none;
        }

            .page_tab ul li.curr a {
                background-color: #3685ca;
                color:#fff;
                font-weight:600;
            }

.common_list .search_box {
    background: rgb(245, 245, 245);
    padding: 5px;
    border: 1px solid rgb(182, 182, 182);
    border-image: none;
    margin-bottom: 20px;
    -ms-zoom: 1;
}

    .common_list .search_box::after {
        clear: both;
        display: block;
    }

    .common_list .search_box .group {
        float: left;
        -ms-zoom: 1;
    }

        .common_list .search_box .group::after {
            clear: both;
            display: block;
        }

    .common_list .search_box .c_selectbox_normal {
        width: 158px;
        margin-right: 5px;
        float: left;
    }

    .common_list .search_box .input_box {
        background: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        border-image: none;
        width: 416px;
        height: 48px;
        float: left;
    }

        .common_list .search_box .input_box input[type='text'] {
            padding: 0px 10px;
            border: 0px ;
            border-image: none;
            width: calc(100% - 20px);
            height: 48px;
            color: rgb(102, 102, 102);
            line-height: 48px;
            font-size: 14px;
        }

    .common_list .search_box button {
        width: 110px;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 50px;
        font-size: 14px;
        margin-left: 5px;
        float: left;
        display: block;
    }

    .common_list .search_box .btn_search {
        background: rgb(88, 88, 88);
        border-image: none;
    }

    .common_list .search_box .btn_all {
        background: #cc7777;
        border-image: none;
    }

        .common_list .search_box .btn_all img {
            margin-right: 8px;
        }

    .common_list .search_box .btn_type {
        background: rgb(88, 88, 88);
        border-image: none;
    }

    .common_list .search_box .txt {
        width: 16px;
        height: 50px;
        text-align: center;
        color: rgb(102, 102, 102);
        line-height: 50px;
        font-size: 14px;
        float: left;
        display: block;
    }

.common_list .multi.search_box .row {
    -ms-zoom: 1;
}

    .common_list .multi.search_box .row::after {
        clear: both;
        display: block;
    }

.common_list .multi.search_box :first-child.row {
    margin-bottom: 6px;
}

.common_list .multi.search_box .row .info {
    background: url("../images/bg_whitegray_pattern.gif");
    border: 1px solid rgb(204, 204, 204);
    border-image: none;
    width: 861px;
    height: 48px;
    -ms-zoom: 1;
}

    .common_list .multi.search_box .row .info::after {
        clear: both;
        display: block;
    }

    .common_list .multi.search_box .row .info li {
        background: url("../images/bullet_gray_dot.png") no-repeat left;
        height: 48px;
        color: rgb(102, 102, 102);
        line-height: 48px;
        padding-left: 16px;
        font-size: 14px;
        margin-left: 16px;
        float: left;
    }

        .common_list .multi.search_box .row .info li.mark {
            background: url("../images/bullet_red_dot.png") no-repeat left;
            color: rgb(0, 0, 0);
        }

.common_list .multi.search_box .first {
    width: 208px;
}

.common_list .multi.search_box .second {
    width: 118px;
}

.common_list .multi.search_box .third {
    width: 118px;
}

.common_list .multi.search_box .input_box {
    width: 281px;
}

.common_list .list_info {
    margin: 20px 0px;
    -ms-zoom: 1;
    padding: 0px  20px;
    height: 31px;
}

    .common_list .list_info::after {
        clear: both;
        display: block;
    }

    .common_list .list_info .cnt {
        height: 36px;
        color: rgb(56, 56, 57);
        line-height: 36px;
        font-size: 18px;
        float: left;
    }

        .common_list .list_info .cnt em {
            color: #3685ca;
            font-size: 20px;
            font-weight: bold;
        }

    .common_list .list_info .btns {
        float: right;
    }

        .common_list .list_info .btns .btn {
            padding: 0px 18px;
            height: 32px;
            color: #3685ca;
            line-height: 32px;
            display: inline-block;
        }

        .common_list .list_info .btns .output_file.btn {
            margin-right: 3px;
        }

        .common_list .list_info .btns .course_copy.btn {
            margin-right: 3px;
        }

        .common_list .list_info .btns .course_modify.btn {
            margin-right: 3px;
        }

        .common_list .list_info .btns .pay_confirm.btn {
            margin-right: 3px;
        }

        .common_list .list_info .btns .btn.blue {
            background: #3685ca;
            border: 1px solid #3685ca;
            border-image: none;
            color: #fff;
        }

        .common_list .list_info .btns .btn.red {
            background: #ba3741;
            border: 1px solid #ba3741;
            border-image: none;
            color: #fff;
        }

        .common_list .list_info .btns .btn.white {
            border: 1px solid #3685ca;
            border-image: none;
        }

.common_list .list_tbl {
    width: 100%;
    table-layout: fixed;
}

    .common_list .list_tbl th {
        background: rgb(247, 247, 247);
        border-width: 1px;
        border-style: solid;
        border-color: #3685ca rgb(195, 195, 195) rgb(195, 195, 195);
        border-image: none;
        height: 50px;
        text-align: center;
        color: rgb(34, 34, 34);
        font-weight: normal;
        vertical-align: middle;
    }

        .common_list .list_tbl th .row {
            margin-top: 8px;
        }

        .common_list .list_tbl th input {
            background: rgb(255, 255, 255);
            padding: 0px 8px;
            border: 1px solid rgb(204, 204, 204);
            border-image: none;
            width: 44px;
            height: 22px;
            color: rgb(102, 102, 102);
            line-height: 22px;
            font-size: 11px;
        }

        .common_list .list_tbl th .btn_set {
            background: rgb(184, 12, 17);
            border: 1px solid rgb(142, 14, 18);
            border-image: none;
            width: 34px;
            height: 24px;
            text-align: center;
            color: rgb(255, 255, 255);
            line-height: 24px;
            font-size: 11px;
            vertical-align: middle;
            display: inline-block;
        }

    .common_list .list_tbl td {
        height: 50px;
        text-align: center;
        color: rgb(102, 102, 102);
        /*font-size: 13px;*/
        vertical-align: middle;
        border-bottom-color: rgb(195, 195, 195);
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

.common_list .line.list_tbl th {
    margin: 0px auto;
}

.common_list .list_tbl td .c_selectbox_gray {
    margin: 0px auto;
}

.common_list .list_tbl td .btns {
    -ms-zoom: 1;
}

    .common_list .list_tbl td .btns::after {
        clear: both;
        display: block;
    }

    .common_list .list_tbl td .btns .btn {
        padding: 0px 8px;
        height: 27px;
        display: inline-block;
    }

    .common_list .list_tbl td .btns :first-child.btn {
        /*border-right-color: rgb(195, 195, 195);
        border-right-width: 1px;
        border-right-style: dashed;*/
    }

    .common_list .list_tbl td .btns .btn img {
        top: 1px;
        vertical-align: middle;
        position: relative;
    }

.common_list .list_tbl td .btn_a .btn {
    padding: 0px 23px;
    height: 30px;
    color: rgb(255, 255, 255);
    line-height: 30px;
    display: inline-block;
}

.common_list .list_tbl td .btn_a .darkgray.btn {
    background: rgb(88, 88, 88);
    border: 1px solid rgb(59, 59, 59);
    border-image: none;
}

.common_list .list_tbl td .btn_a .red.btn {
    background: rgb(184, 12, 17);
    border: 1px solid rgb(142, 14, 18);
    border-image: none;
}

.common_list .list_tbl td .btn_a .blue.btn {
    background: rgb(28, 89, 164);
    border: 1px solid rgb(14, 56, 108);
    border-image: none;
}

.common_list .list_tbl td.txt_blue {
    color: rgb(38, 94, 160);
}

.common_list .list_tbl td.txt_red {
    color: rgb(209, 0, 0);
}

.common_list .list_tbl .checkbox {
    margin: 0px auto;
    width: 23px;
    height: 23px;
    position: relative;
}

    .common_list .list_tbl .checkbox input[type='checkbox'] {
        left: -9999px;
        top: 0px;
        position: absolute;
    }

    .common_list .list_tbl .checkbox label {
        background: url("../images/bg_checkbox_square_off.gif") no-repeat;
        width: 23px;
        height: 23px;
        display: block;
    }

    .common_list .list_tbl .checkbox input[type='checkbox']:checked + label {
        background: url("../images/bg_checkbox_square_on.gif") no-repeat;
    }

.common_list .line.list_tbl td {
    border: 1px solid rgb(195, 195, 195);
    border-image: none;
}

.common_list .list_footer {
    margin-top: 20px;
    -ms-zoom: 1;
}

    .common_list .list_footer::after {
        clear: both;
        display: block;
    }

    .common_list .list_footer .confirm {
        float: left;
        -ms-zoom: 1;
    }

        .common_list .list_footer .confirm::after {
            clear: both;
            display: block;
        }

        .common_list .list_footer .confirm .c_selectbox_box {
            margin-right: 5px;
            float: left;
        }

        .common_list .list_footer .confirm .btn_confirm {
            border: 1px solid #3685ca;
            border-image: none;
            width: 105px;
            height: 32px;
            text-align: center;
            color: #3685ca;
            line-height: 32px;
            letter-spacing: -1px;
            margin-right: 4px;
            float: left;
            display: block;
            cursor: pointer;
        }

        .common_list .list_footer .confirm .btn_link {
            background: #3685ca;
            border: 1px solid #3685ca;
            border-image: none;
            width: 103px;
            height: 30px;
            text-align: center;
            color: rgb(255, 255, 255);
            line-height: 30px;
            letter-spacing: -1px;
            margin-right: 4px;
            float: left;
            display: block;
        }

    .common_list .list_footer .page_nate {
        float: right;
    }

.common_list .txt_required {
    margin: 0px 15px;
    color: rgb(51, 51, 51);
    padding-left: 6px;
    font-size: 18px;
}

.common_list .short_mg.txt_required {
    margin: 0px 0px 20px;
    color: rgb(51, 51, 51);
    padding-left: 6px;
    font-size: 13px;
}

.common_list .txt_required .ico_required {
    margin-right: 10px;
}

.common_form .txt_summary {
    margin: 25px 0px;
    color: rgb(34, 34, 34);
    padding-left: 6px;
    font-size: 13px;
}

.common_form .tbl_summary {
    margin: 5px 0px 25px;
    color: rgb(34, 34, 34);
    font-size: 13px;
}

.common_form .form_tbl {
    width: 100%;
}

    .common_form .form_tbl th {
        padding: 10px 6px;
        border: 1px solid rgb(195, 195, 195);
        border-image: none;
        font-weight: normal;
        vertical-align: middle;
    }

    .common_form .form_tbl td {
        padding: 10px 6px 10px 20px;
        border: 1px solid rgb(195, 195, 195);
        border-image: none;
        font-weight: normal;
        vertical-align: middle;
    }

    .common_form .form_tbl .top th {
        border-top-color: #3685ca;
        border-top-width: 1px;
        border-top-style: solid;
    }

    .common_form .form_tbl .top td {
        border-top-color: #3685ca;
        border-top-width: 1px;
        border-top-style: solid;
    }

    .common_form .form_tbl th {
        background: rgb(247, 247, 247);
        padding: 10px 6px 10px 12px;
        text-align: left;
        color: rgb(34, 34, 34);
    }

        .common_form .form_tbl th.blue {
            color: #3685ca;
        }

        .common_form .form_tbl th .ico_required {
            margin-left: 8px;
        }

    .common_form .form_tbl td .txt {
        height: 40px;
        color: rgb(102, 102, 102);
        line-height: 40px;
        font-size: 14px;
    }

    .common_form .form_tbl td .label_txt {
        width: 80px;
        height: 40px;
        color: rgb(34, 34, 34);
        line-height: 40px;
        font-size: 14px;
        margin-right: 20px;
        float: left;
    }

        .common_form .form_tbl td .label_txt img {
            top: -1px;
            margin-left: 5px;
            vertical-align: middle;
            position: relative;
        }

    .common_form .form_tbl td .summary_txt {
        height: 40px;
        color: rgb(102, 102, 102);
        line-height: 40px;
        font-size: 14px;
        float: left;
    }

    .common_form .form_tbl td .row {
        position: relative;
        -ms-zoom: 1;
    }

        .common_form .form_tbl td .row::after {
            clear: both;
            display: block;
        }

    .common_form .form_tbl td .multi.row {
        margin-top: 6px;
    }

    .common_form .form_tbl td .row .r_title {
        width: 82px;
        height: 38px;
        color: rgb(34, 34, 34);
        line-height: 38px;
        font-size: 14px;
        font-weight: normal;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .r_txt {
        height: 38px;
        color: rgb(34, 34, 34);
        line-height: 38px;
        font-size: 16px;
        float: left;
    }

    .common_form .form_tbl td .row .txt {
        height: 38px;
        color: rgb(102, 102, 102);
        line-height: 38px;
        font-size: 13px;
        margin-right: 8px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .input_box {
        border: 1px solid rgb(204, 204, 204);
        border-image: none;
        height: 38px;
        margin-right: 6px;
        float: left;
    }

        .common_form .form_tbl td .row .input_box input[type='text'] {
            padding: 0px 8px;
            border: 0px currentColor;
            border-image: none;
            width: calc(100% - 16px);
            height: 38px;
            color: rgb(102, 102, 102);
            line-height: 38px;
            font-size: 13px;
        }

        .common_form .form_tbl td .row .input_box input[type='password'] {
            padding: 0px 8px;
            border: 0px currentColor;
            border-image: none;
            width: calc(100% - 16px);
            height: 38px;
            color: rgb(102, 102, 102);
            line-height: 38px;
            font-size: 13px;
        }

    .common_form .form_tbl td .row .date.input_box input[type='text'] {
        width: calc(100% - 16px - 36px);
    }

    .common_form .form_tbl td .row .input_box input[type='number'] {
        padding: 0px 8px;
        border: 0px currentColor;
        border-image: none;
        width: calc(100% - 16px);
        height: 38px;
        color: rgb(102, 102, 102);
        line-height: 38px;
        font-size: 13px;
    }

    .common_form .form_tbl td .row .date.input_box img {
        top: -1px;
        vertical-align: middle;
        position: relative;
    }

    .common_form .form_tbl td .row .txt_caution {
        height: 40px;
        color: rgb(209, 0, 0);
        line-height: 40px;
        font-size: 13px;
        float: left;
    }

    .common_form .form_tbl td .row .two.txt_caution {
        line-height: 20px;
    }

    .common_form .form_tbl td .row .txt_guide {
        height: auto;
        color: rgb(102, 102, 102);
        line-height: 18px;
        padding-top: 10px;
        clear: both;
    }

        .common_form .form_tbl td .row .txt_guide .mark {
            color: rgb(28, 89, 164);
        }

    .common_form .form_tbl td .row .btn_check {
        background: rgb(115, 115, 115);
        border: 1px solid rgb(70, 70, 70);
        border-image: none;
        width: 80px;
        height: 40px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 40px;
        font-size: 13px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .c_selectbox_normal {
        border: 1px solid rgb(204, 204, 204);
        border-image: none;
        height: 38px;
        margin-right: 6px;
        float: left;
    }

        .common_form .form_tbl td .row .c_selectbox_normal label {
            top: 13px;
        }

        .common_form .form_tbl td .row .c_selectbox_normal select {
            height: 38px;
            line-height: 38px;
            min-height: 38px;
        }

    .common_form .form_tbl td .row .btn_item_add {
        background: rgb(115, 115, 115);
        border: 1px solid rgb(70, 70, 70);
        border-image: none;
        width: 80px;
        height: 40px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 38px;
        font-size: 13px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .items {
        margin-bottom: 15px;
        -ms-zoom: 1;
    }

        .common_form .form_tbl td .row .items::after {
            clear: both;
            display: block;
        }

        .common_form .form_tbl td .row .items li {
            padding: 0px 5px;
            height: 23px;
            color: rgb(102, 102, 102);
            line-height: 23px;
            font-size: 14px;
            margin-right: 14px;
            float: left;
            -ms-zoom: 1;
        }

            .common_form .form_tbl td .row .items li::after {
                clear: both;
                display: block;
            }

            .common_form .form_tbl td .row .items li .btn_item_delete {
                background: url("../images/btn_item_delete.gif") no-repeat;
                top: -1px;
                width: 23px;
                height: 23px;
                margin-left: 12px;
                vertical-align: middle;
                display: inline-block;
                position: relative;
            }

    .common_form .form_tbl td .check.row .c_selectbox_normal label {
        background: none;
        margin: 0px;
        padding: 0px;
        height: auto;
        color: rgb(102, 102, 102);
        line-height: inherit;
        font-size: 14px;
        float: none;
    }

    .common_form .form_tbl td .choice.row input[type='radio'] {
        left: -9999px;
        top: 0px;
        position: absolute;
    }

    .common_form .form_tbl td .choice.row label {
        background: url("../images/bg_radio_off.png") no-repeat left;
        height: 40px;
        color: rgb(102, 102, 102);
        line-height: 40px;
        padding-left: 25px;
        font-size: 13px;
        font-weight: normal;
        margin-right: 13px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .choice.row input[type='radio']:checked + label {
        background: url("../images/bg_radio_on.png") no-repeat left;
    }

    .common_form .form_tbl td .check.row input[type='checkbox'] {
        left: -9999px;
        top: 0px;
        position: absolute;
    }

    .common_form .form_tbl td .check.row label {
        background: url("../images/bg_checkbox_square_off.gif") no-repeat left;
        height: 40px;
        color: rgb(102, 102, 102);
        line-height: 40px;
        padding-left: 32px;
        font-size: 13px;
        font-weight: normal;
        margin-right: 13px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .check.row input[type='checkbox']:checked + label {
        background: url("../images/bg_checkbox_square_on.gif") no-repeat left;
    }

    .common_form .form_tbl td .file.row input[type='file'] {
        left: -9999px;
        top: 0px;
        position: absolute;
    }

    .common_form .form_tbl td .file.row .btn_file {
        background: rgb(115, 115, 115);
        border: 1px solid rgb(70, 70, 70);
        border-image: none;
        width: 80px;
        height: 38px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 38px;
        font-size: 13px;
        font-weight: normal;
        margin-right: 6px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .btn_fnc {
        background: rgb(115, 115, 115);
        border: 1px solid rgb(70, 70, 70);
        border-image: none;
        width: 25%;
        height: 40px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 40px;
        font-size: 13px;
        font-weight: normal;
        margin-right: 6px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .btn_delete {
        background: url("../images/btn_form_row_delete.gif") no-repeat;
        width: 33px;
        height: 40px;
        display: block;
    }

    .common_form .form_tbl td .row .btn_add {
        background: url("../images/btn_form_row_add.gif") no-repeat;
        width: 33px;
        height: 40px;
        display: block;
    }

    .common_form .form_tbl td .summary_list li {
        margin: 7px 0px;
        color: rgb(102, 102, 102);
        line-height: 14px;
        font-size: 13px;
    }

        .common_form .form_tbl td .summary_list li .mark {
            color: rgb(209, 0, 0);
            font-size: 13px;
        }

    .common_form .form_tbl td .textarea_box {
        border: 1px solid rgb(204, 204, 204);
        border-image: none;
    }

        .common_form .form_tbl td .textarea_box textarea {
            padding: 10px;
            border: 0px currentColor;
            border-image: none;
            width: calc(100% - 20px);
            height: 190px;
            font-size: 13px;
            resize: none;
        }

.common_form .comment {
    margin: 25px;
    text-align: center;
    color: #009688;
    font-weight: 600;
}

.common_form .right.btn_a {
    text-align: right;
    margin-top: 10px;
}

.common_form .btn_a button {
    top: -1px;
    position: relative;
}

.common_form .btn_a .btn {
    width: 183px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 16px;
    margin-left: 8px;
    display: inline-block;
    box-sizing: border-box;
}

.common_form .btn_a .white.btn {
    border: 1px solid #3685ca;
    border-image: none;
    color: #3685ca;
}

.common_form .btn_a .blue.btn {
    background: #3685ca;
    border: 1px solid #3685ca;
    border-image: none;
    color: rgb(255, 255, 255);
}

.common_form .btn_a .green.btn {
    background: rgb(28, 153, 164);
    border: 1px solid rgb(28, 153, 164);
    border-image: none;
    color: rgb(255, 255, 255);
}

.common_form .btn_a .red.btn {
    background: #a62929;
    border: 1px solid #a62929;
    border-image: none;
    color: rgb(255, 255, 255);
}

.common_form .btn_a .orange.btn {
    background: #e29d20;
    border: 1px solid #e29d20;
    border-image: none;
    color: rgb(255, 255, 255);
}

.common_form .btn_a .indigo.btn {
    background: #234466;
    border: 1px solid #234466;
    border-image: none;
    color: rgb(255, 255, 255);
}

#footer {
    float: left;
    margin-left: 0;
    padding: 0 28px 28px;
    width: 100%;
    color: #a6a6a6;
    font-size: 11px;
    line-height: 1.2;
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}

    #footer.m {
        position: relative;
        margin-left: -260px;
        -webkit-transition: margin 0.3s ease;
        -moz-transition: margin 0.3s ease;
        -o-transition: margin 0.3s ease;
        transition: margin 0.3s ease;
    }

    #footer img {
        margin-bottom: 9px;
    }

    #footer .logo {
        overflow: hidden;
        text-indent: -9999px;
        margin: 0 20px 0 0;
        display: inline-block;
        width: 180px;
        height: 53px;
        background: url("../images/common/logo_education.png") 0 0 no-repeat;
        bottom: 0;
    }


/* login */

.login {
    position: relative;
    min-height: 716px;
    height: 100%;
    background: #e8ebed;
    text-align: center;
}

    .login:before {
        display: inline-block;
        margin-left: -1%;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }

    .login .loginBox {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 880px;
        height: 544px;
        background-color: #fff;
        vertical-align: middle;
        text-align: left;
        border-top: 1px solid #005086;
    }

        .login .loginBox .fL {
            position: relative;
            padding: 34px 30px 0;
            width: 375px;
            height: 544px;
            background-color: #005086;
            color: #fff;
            box-sizing: border-box;
        }

            .login .loginBox .fL p {
                margin-top: 25px;
            }

            .login .loginBox .fL .loginVisual {
                position: absolute;
                bottom: 0;
                left: 0;
            }

        .login .loginBox .fR {
            padding: 30px 103px 0;
            width: 100%;
            max-width: 505px;
            box-sizing: border-box;
            text-align: center;
        }

        .login .loginBox .loginTitle {
            margin: 40px 0 20px;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            line-height: 50px;
            font-size: 21px;
            color: #000;
            font-weight: bold;
        }

        .login .loginBox #typeTabs {
            text-align: left;
        }

            .login .loginBox #typeTabs > span {
                display: inline-block;
                width: 70px;
                font-size: 15px;
                color: #333;
                vertical-align: middle;
            }

            .login .loginBox #typeTabs ul,
            .login .loginBox #typeTabs ul li {
                display: inline-block;
                vertical-align: middle;
            }

                .login .loginBox #typeTabs ul li {
                    float: left;
                }

                    .login .loginBox #typeTabs ul li:first-child {
                        margin-right: 10px;
                    }

        .login .loginBox .footer {
            position: absolute;
            left: 12px;
            bottom: -60px;
            color: #a6a6a6;
            font-size: 11px;
        }

            .login .loginBox .footer span {
                display: inline-block;
                margin-left: 10px;
                line-height: 1.3;
                vertical-align: middle;
            }

        .login .loginBox .notice {
            padding: 20px 65px;
            display: inline-block;
        }

/* 금천구 추가 CSS */
.topmenu {
    background-color: #FFF;
}
.topmenu div.menu > a{
    padding: 23px 13px;
}

.topmenu.on div.bar {
    background-color: #EE7855;
}
.topmenu.on div.menu {
    color: #EE7855;
}
.topmenu.on div.menu > a {
    color: #EE7855;
}
.topmenu.on .submenu {
    display: flex;
}

.topmenu a span {
    font-size: 16px;
    font-weight:600;
}
.topmenu div.bar {
    height: 3px;
}
/*.topmenu div.bar.on {
    background-color: #7FA9CE;
}*/
.topmenu div.menu {
    padding: 16px 8px;
    padding-top: 13px;
}
/*.topmenu div.menu.on {
    color: #7FA9CE;
}
.topmenu div.menu.on > a {
    color: #7FA9CE;
}*/

.submenu {
    position:absolute;
    display:none;
    flex-direction:row;
}
.submenu > li {
    padding:12px 8px;
    display:block;
}
.submenu > li > a {
    padding: 12px;
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
    font-family: "helvetica neue";
}
    .submenu > li.on > a {
        color: yellow;
    }
    .submenu > li.select > a {
        color: yellow;
    }
@media (max-width: 1183px) {
    .submenu.right {
        right: 0px;
    }
}
.loginbtn {
    padding:8px;
    margin:8px;
}
.loginbtn > a {
    font-size:18px;
    font-weight:bold;
}

.registerform {
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    align-items:center;
    margin-bottom:32px;
}
.registerrow {
    display: flex;
    border-bottom: 1px solid #DADADA;
}
.registerrow:last-child {
    border-bottom: 0px;
}
.registerheader {
    width:160px;
    text-align:center;
    background-color:#EAEAEA;
    display:flex;
    font-weight:bold;
}
.registerheader span {
    margin:auto;
}
.registerdata {
    padding:8px;
}
div .btns .btn.blue {
    background: #3685ca;
    border: 1px solid #3685ca;
    border-image: none;
    color: #fff;
}

div .btns .btn.white {
    border: 1px solid #3685ca;
    border-image: none;
    color: #3685ca;
}

div .btns .btn.grey {
    background-color: dimgrey;
    border: 1px solid dimgrey;
    border-image: none;
    color: #fff;
}

div .btns .btn.orange {
    background-color: #EE7855;
    border: 1px solid #EE7855;
    border-image: none;
    color: #fff;
}

.registerrow.none {
    display:none;
}

.registerdata.calcwidth {
    width: calc(100% - 160px);
}

.divider {
    padding: 8px 0px;
}

.content .none {
    display:none;
}

.consultlist .row {
    display:flex; align-items:center; text-align:center; border-bottom: 1px solid #C3C3C3; border-top:0px; margin:0px;
}

.consultlist .row .link a {
    text-decoration:underline
}

.consultlist .row .link {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.consultlist .row .link a:hover {
    color: #2a6496;
}





.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #bbb;
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    /*padding: 2px;*/
    margin-right: 3px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\221A";
    font-family: 'FontAwesome';
    /*background: rebeccapurple;*/
    color: #FF5722;
    border: 2px solid #ff6a00;
    font-size: 19px !important;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\221A";
    font-family: 'FontAwesome';
    color: #ff6a00;
    font-weight: bold;
    border: 2px solid #ff6a00;
    font-size: 10px;
    line-height: 18px;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd; /* focus style */
}


/* 금천구 추가 CSS 끝 */