﻿.input_netizen fieldset {
	position: relative;
	margin-bottom: 13px
}

	.input_netizen fieldset > ul {
		float: none;
		*zoom: 1
	}

		.input_netizen fieldset > ul:after {
			display: block;
			clear: both;
			content: " "
		}

		.input_netizen fieldset > ul li {
			float: left
		}

			.input_netizen fieldset > ul li.drag_star {
				width: 147px;
				height: 61px;
				border: 1px solid #bcbcbc
			}

				.input_netizen fieldset > ul li.drag_star div.lft {
					border-top: 1px solid #efefef;
					border-left: 1px solid #efefef;
					border-right: 1px solid #d4d4d4;
					width: 146px;
					height: 60px;
					background: #fcfcfc
				}

				.input_netizen fieldset > ul li.drag_star .star_score button, .input_netizen fieldset > ul li.drag_star .star_score .btn_star, .input_netizen ul li.drag_star .star_score div {
					display: block;
					height: 20px;
					background: url(https://ssl.pstatic.net/static/movie/2018/10/sp_ico.png) no-repeat -9999px -9999px
				}

				.input_netizen fieldset > ul li.drag_star .star_score em {
					padding-right: 5px;
					font-family: tahoma;
					color: #333;
					font-size: 14px;
					letter-spacing: -1px;
					font-weight: bold
				}

				.input_netizen fieldset > ul li.drag_star .star_score {
					float: none;
					width: auto;
					height: auto
				}

					.input_netizen fieldset > ul li.drag_star .star_score .st_off {
						overflow: hidden;
						width: 120px;
						padding-left: 1px;
						margin: 9px auto 5px;
						background-position: 1px -900px
					}

					.input_netizen fieldset > ul li.drag_star .star_score button, .input_netizen fieldset > ul li.drag_star .star_score .btn_star {
						display: block;
						overflow: hidden;
						float: left;
						width: 11px;
						height: 20px;
						border: 0;
						background-position: 0 -925px;
						text-indent: -9999px
					}

					.input_netizen fieldset > ul li.drag_star .star_score .st_off .btn_star:first-child {
						position: absolute;
						top: -9999px
					}

					.input_netizen fieldset > ul li.drag_star .star_score .st_r {
						width: 13px;
						background-position: -11px -925px
					}

					.input_netizen fieldset > ul li.drag_star .star_score .btn_star.on ~ .btn_star {
						background-position: 0 -9999px
					}

					.input_netizen fieldset > ul li.drag_star .star_score .st_over .btn_star.on ~ .btn_star {
						background-position: 0 -925px
					}

						.input_netizen fieldset > ul li.drag_star .star_score .st_over .btn_star.on ~ .btn_star.st_r {
							background-position: -11px -925px
						}

					.input_netizen fieldset > ul li.drag_star .star_score .st_over .btn_star:hover ~ .btn_star {
						background-position: 0 -9999px !important
					}

.input_netizen.b_star fieldset > ul li.drag_star .star_score .btn_star {
	background-position: 0 -950px
}

	.input_netizen.b_star fieldset > ul li.drag_star .star_score .btn_star.st_r {
		background-position: -11px -950px
	}

	.input_netizen.b_star fieldset > ul li.drag_star .star_score .btn_star.on ~ .btn_star {
		background-position: 0 -9999px
	}

.input_netizen.b_star fieldset > ul li.drag_star .star_score .st_over .btn_star.on ~ .btn_star {
	background-position: 0 -950px
}

	.input_netizen.b_star fieldset > ul li.drag_star .star_score .st_over .btn_star.on ~ .btn_star.st_r {
		background-position: -11px -950px
	}

.input_netizen.b_star fieldset > ul li.drag_star .star_score .st_over .btn_star:hover ~ .btn_star {
	background-position: 0 -9999px !important
}

.input_netizen fieldset > ul li.drag_star .star_score em {
	font-size: 14px;
	color: #999;
	font-family: tahoma;
	padding: 0;
	font-weight: normal
}

	.input_netizen fieldset > ul li.drag_star .star_score em:first-child {
		color: #333;
		font-weight: bold
	}

.input_netizen fieldset > ul li.drag_star .star_score span.star_count {
	display: block;
	height: auto;
	padding-right: 2px;
	text-align: center
}

.input_netizen fieldset > ul li.input_textarea {
	position: relative;
	width: 449px;
	height: 61px;
	border-top: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc
}

	.input_netizen fieldset > ul li.input_textarea textarea {
		height: 23px;
		width: 377px;
		border: 0;
		border-top: 1px solid #efefef;
		*height: 20px;
		background: #fcfcfc;
		text-align: justify;
		font-size: 12px;
		color: #aeaeae;
		letter-spacing: -1px;
		line-height: 17px;
		padding: 22px 60px 15px 12px
	}

		.input_netizen fieldset > ul li.input_textarea textarea.active {
			color: #666
		}

	.input_netizen fieldset > ul li.input_textarea .tx_length {
		position: absolute;
		top: 22px;
		right: 25px;
		color: #999;
		font-family: tahoma;
		font-size: 13px
	}

		.input_netizen fieldset > ul li.input_textarea .tx_length em {
			color: #333;
			font-weight: bold
		}

.input_netizen .top_behavior {
	padding: 10px 0
}

.input_netizen fieldset > ul.t_layer_view li.drag_star {
	width: 197px
}

	.input_netizen fieldset > ul.t_layer_view li.drag_star div.lft {
		width: 196px
	}

.input_netizen fieldset > ul li.drag_star .star_score {
	*zoom: 1
}

	.input_netizen fieldset > ul li.drag_star .star_score:after {
		display: block;
		clear: both;
		content: ''
	}

.input_netizen fieldset > ul.t_layer_view li.drag_star .star_score .st_off {
	float: left;
	margin: 19px 0 5px 13px
}

.input_netizen fieldset > ul.t_layer_view li.drag_star .star_score span.star_count {
	float: left;
	margin: 21px 0 0 5px;
	width: 21px;
	text-align: left
}

	.input_netizen fieldset > ul.t_layer_view li.drag_star .star_score span.star_count em + em {
		position: absolute;
		text-indent: -9999px
	}

.input_netizen fieldset > ul.t_layer_view li.drag_star .star_score button.btn_ly_open {
	width: 31px;
	height: 30px;
	margin: 14px 0 0;
	background-position: -83px -820px
}

	.input_netizen fieldset > ul.t_layer_view li.drag_star .star_score button.btn_ly_open.on {
		background-position: -83px -845px
	}

.input_netizen fieldset > ul.t_layer_view li.input_textarea {
	width: 399px
}

	.input_netizen fieldset > ul.t_layer_view li.input_textarea textarea {
		width: 327px
	}

.input_netizen fieldset .t_layer_score {
	margin: 2px 0 3px
}

.input_netizen fieldset .t_list_score em {
	padding-left: 6px;
	line-height: 24px;
	text-align: left
}

.input_netizen fieldset .t_list_score li:first-child em, .input_netizen fieldset .t_list_score li.col_right em {
	padding-left: 5px
}
