﻿@charset "utf-8";

@font-face {
    font-family: 'notokr-regular';
    font-weight: 100;
    src: url(fonts/notokr-regular.eot);
    src: local(※), url(fonts/notokr-regular.woff) format('woff');
}

@font-face {
    font-family: 'notokr-medium';
    font-weight: 100;
    src: url(fonts/notokr-medium.eot);
    src: local(※), url(fonts/notokr-medium.woff) format('woff');
}

@font-face {
    font-family: 'notokr-bold';
    font-weight: 100;
    src: url(fonts/notokr-bold.eot);
    src: local(※), url(fonts/notokr-bold.woff) format('woff');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/NanumBarunGothic.eot);
    src: url(fonts/NanumBarunGothic.woff) format('woff');
}

/*--- common class ---*/
html {
    overflow-y: scroll;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, strong, sub, sup, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, embed, input, select, textarea, button {
    margin: 0;
    padding: 0;
    font-family: 'NanumBarunGothic',"맑은 고딕","Malgun Gothic",'돋움',Dotum,AppleGothic,Tahoma,Helvetica,sans-serif;
}

body {
    color: #111;
    /*font-size: 0.875em;*/
    font-size:12px;
    line-height: 1.5;
    font-family: 'NanumBarunGothic',"맑은 고딕","Malgun Gothic",'돋움',Dotum,AppleGothic,Tahoma,Helvetica,sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em; /*font-weight:normal;*/
    font-family: 'NanumBarunGothic',"맑은 고딕","Malgun Gothic",'돋움',Dotum,AppleGothic,Tahoma,Helvetica,sans-serif;
}

input, button, textarea, select {
    font-size: 1em;
    font-family: 'NanumBarunGothic',"맑은 고딕","Malgun Gothic",'돋움',Dotum,AppleGothic,Tahoma,Helvetica,sans-serif;
}

code, pre {
    font-size: 1em;
}

address, em, cite {
    font-style: normal;
}

img {
    border: 0 none;
    vertical-align: top;
}

hr {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: auto;
    width: 100%;
}

caption, legend {
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
}

th, td {
    font-weight: normal;
}

li {
    list-style-type: none;
}

fieldset {
    border: 0 none;
}

select {
    height: 28px;
    padding: 6px 4px 5px 7px;
    font-size: 1em;
    line-height: 1.5;
    color: #646464;
    border: 1px solid #646464;
}

textarea {
    padding: 5px;
    border: 1px solid #646464;
    line-height: 1.167;
}

label, button {
    cursor: pointer;
}

button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

    button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

button {
    overflow: visible;
    border: none;
    background: none;
    background: transparent;
    vertical-align: top;
    font-family: inherit;
    white-space: nowrap;
    text-decoration: none; /*outline:0;*/
}

strong {
    font-weight: bold;
    font-weight: 700;
}

a {
    color: #111;
    text-decoration: none;
}

    a:hover, a:focus, a:active {
        color: #000;
        text-decoration: underline;
    }

#wrap {
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    page-break-after: always;
}

    #wrap #container {
        position: relative;
        width: 890px;
        height: 1255px;
        max-height: 1255px;
        min-height: 1255px;
        margin: 0 auto;
        /*padding: 3px 5px 3px;*/        
        box-sizing: border-box;
        font-size: 12px;
        overflow: hidden;
        border: 1px solid #9c9b9b;
    }

    #wrap .containerleft {
        float: left;
        width: 220px;
        margin: 0 10px 0;
    }

    #wrap .containerright {
        float: left;
        width: 630px;
    }

.list_ggg li {
    position: relative;
    padding-left: 10px;
}

    .list_ggg li:before {
        content: "·";
        position: absolute;
        top: 0;
        left: 0;
    }

.bn {
    border: none;
}

.wfont {
    font-family: 'NanumBarunGothic';
}

.wfont1 {
    font-family: 'notokr-regular';
}

.wfont2 {
    font-family: 'notokr-medium';
}

.wfont3 {
    font-family: 'notokr-bold';
}

.pink_box {
    font-family: 'notokr-medium';
}

/* overflow:hidden > left, right */
.clearfix {
    width: 100%;
    display: table;
}

    .clearfix:after {
        content: "";
        display: block;
        width: 100%;
    }

    .clearfix .clear_box {
        display: table-cell;
        vertical-align: top;
    }

.fl_left {
    float: left;
}

.fl_right {
    float: right;
}

/*표지 공통*/
.front {
    position: relative;
    padding: 0;
    width: 100%;
    height: 1274px;
}

    .front .name_box {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -365px;
        width: 730px;
        height: 84px;
        background: url(../images/check_result/01_1.jpg) 0 0 repeat-x;
        border-radius: 10px 10px 0 0;
    }

        .front .name_box table th, .front .name_box table td {
            border-left: 1px solid #751449;
            text-align: left;
            padding: 5px 0 0 5px;
            font-weight: bold;
        }

            .front .name_box table th:first-child, .front .name_box table td:first-child {
                border-left: 0 !important;
            }

        .front .name_box table th {
            font-size: 12px;
            color: #751449;
        }

        .front .name_box table td {
            font-size: 15px;
            color: #000;
        }

.front1 {
    background: #751449 url(../images/check_result/01.jpg) top center no-repeat;
}

.front2 {
    background: #9a9100 url(../images/check_result/04.jpg) top center no-repeat;
}

.front.front2 .name_box {
    background: url(../images/check_result/a_4_page1_01.jpg) 0 0 repeat-x;
}

    .front.front2 .name_box table th {
        color: #9a9100;
    }

    .front.front2 .name_box table th, .front.front2 .name_box table td {
        border-left: 1px solid #9b5b6c;
    }

.front3 .name_box table th {
    border: 0 !important;
    border-left: 1px solid #751449 !important;
}

.front3 .name_box table td {
    border: 0 !important;
}

.bg_007095.front3 .name_box table th {
    border: 0 !important;
    border-left: 1px solid #5ba2bd !important;
}

.bg_007095.front3 .name_box table td {
    border: 0 !important;
}

.bg_0e66ba3.front3 .name_box table th {
    border: 0 !important;
    border-left: 1px solid #eb8cb7 !important;
}

.bg_0e66ba3.front3 .name_box table td {
    border: 0 !important;
}

/* 페이지 상하단*/
.page_bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 45px;
    background: #74164a url(../images/check_result/02_2.jpg) 0 0 no-repeat;
}

.page_bottom2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 45px;
    background: #74164a;
}

.page_top {
    position: relative;
    width: 100%;
    height: 45px;
    background: #74164a url(../images/check_result/03_1.jpg) 0 0 no-repeat;
    background-size: 100%;
}

.page_top2 {
    position: relative;
    width: 100%;
    height: 45px;
    background: #74164a;
}

/* 소제목 */
.page_title {
    padding: 15px 10px 10px;
    width: 100%;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
}

    .page_title h1 {
        position: relative;
        display: table-cell;
        width: 10%;
        padding-left: 10px;
        font-size: 18px;
        line-height: 15px;
        color: #000;
        z-index: 2;
        font-weight: bold;
        font-family: 'notokr-bold';
    }

        .page_title h1:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background: #751449;
            opacity: 0.2;
            position: absolute;
            top: -5px;
            left: 0;
            border-radius: 50%
        }

        .page_title h1:after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background: #751449;
            opacity: 0.2;
            position: absolute;
            top: 10px;
            left: 7px;
            border-radius: 50%
        }

    .page_title p {
        font-family: 'notokr-medium';
        display: table-cell;
        padding-top: 3px;
        font-size: 12px;
        color: #2b2429;
        vertical-align: top;
        /*border-top: 3px solid #751449;*/
        line-height: 14px;
        font-weight: bold;
        letter-spacing: -0.5px;
    }

.page_title_top {
    padding: 0 0 5px 20px;
    font-size: 18px;
    color: #680339;
    font-weight: bold;
    font-family: 'notokr-medium';
}

    .page_title_top span {
        font-size: 17px;
        /*font-style: italic;*/
    }

    .page_title_top + .page_title {
        margin-top: -5px;
        padding-top: 0;
    }

/*smart 진로탐색 검사*/
.page1_tbl {
    border-bottom: 1px solid #b0a4aa;
}

    .page1_tbl th, .page1_tbl td {
        position: relative;
        padding: 3px 0 3px 5px;
        text-align: left;
    }

    .page1_tbl th {
        background: #751449;
        color: #fff;
        font-size: 12px;
        font-family: 'notokr-medium';
    }

    .page1_tbl td {
        font-size: 15px;
        color: #000;
        background: #f7ebf1;
        font-weight: bold
    }

    .page1_tbl th:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 15px;
        background: #fff;
    }

    .page1_tbl th:first-child:before, .page1_tbl th:nth-child(2):before {
        display: none;
    }

    .page1_tbl td:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 15px;
        background: #b0a4aa;
    }

    .page1_tbl td:first-child:before {
        display: none;
    }

/*여백*/
.p0 {
    padding: 0 !important;
}

.p10 {
    padding: 10px !important;
}

.p20 {
    padding: 20px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.p010 {
    padding: 0 10px;
}

.m0 {
    margin: 0 !important;
}

.m10 {
    margin: 10px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

/* color */
.c_a21544 {
    color: #a21544 !important;
}
/* 자주색 */
.c_5b9bd5 {
    color: #5b9bd5 !important;
}
/* 하늘색 */
.c_6e2150 {
    color: #6e2150 !important;
}
/* 진자주*/
.c_0083cb {
    color: #0083cb !important
}
/* 포인트 블루 */
.c_e04d90 {
    color: #e04d90 !important
}
/* 핑크 */
.c_fff {
    color: #fff !important
}

.c_000 {
    color: #000 !important
}

/* size */
.f_10 {
    font-size: 10px !important;
}

.f_12 {
    font-size: 12px !important;
}

.f_13 {
    font-size: 13px !important;
}

.f_14 {
    font-size: 14px !important;
}

.f_15 {
    font-size: 15px !important;
}

.bold {
    font-weight: bold;
}

/* 정렬 */
.ta-c {
    text-align: center !important;
}

.ta-l {
    text-align: left !important;
}

.ta-r {
    text-align: right !important;
}

/* 타이틀 */
.title_type1 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px
}
    /* 순위 */
    .title_type1 span {
        display: inline-block;
        margin-right: 15px;
        width: 65px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 13px;
        color: #fff;
        background: #a56785;
        border-radius: 5px;
    }

.title_type2 {
    padding-left: 23px;
}

    .title_type2 p {
        font-size: 13px;
        color: #0583a6;
        display: inline-block;
        vertical-align: middle;
    }

    .title_type2 ul {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
    }

        .title_type2 ul li {
            float: left;
            background: #eef5f9;
            padding: 0;
        }

            .title_type2 ul li span {
                display: inline-block;
                background: #4a9dbd;
                padding: 3px 10px;
                color: #fff;
                border-radius: 0 5px 5px 0;
                width: 80px;
                text-align: center;
            }

            .title_type2 ul li b {
                display: inline-block;
                padding: 3px 40px 3px 10px;
            }


/*table 표*/
table th {
    font-family: 'notokr-medium' !important;
    font-size: 12px !important;
}

table td {
    font-size: 12px !important;
    line-height: 17px;
}

.row_tbl th {
    background: #e3d0d9;
    color: #000;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    line-height: 16px;
    font-family: 'notokr-bold' !important;
}

.row_tbl td {
    background: #f0f3f2;
    color: #000;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

.big {
    border: 1px solid #000;
    border-bottom: 0;
}

    .big th {
        color: #a21544;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        font-weight: bold;
    }

    .big td {
        background: #fff;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        vertical-align: top;
        padding: 5px;
        font-size: 12px;
    }

.col_tbl th {
    padding: 3px 0;
    background: #e5d0d9;
    color: #74164a;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

.col_tbl td {
    padding: 2px;
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #c4b9c0;
    border-left: 1px solid #c4b9c0;
}

.col_tbl tbody th {
    background: #f7eff3;
    color: #000;
    border-left: 1px solid #c4b9c0;
    border-bottom: 1px solid #c4b9c0;
}

.col_tbl.f11 td, .col_tbl.f11 th {
    font-size: 12px !important;
}

.col_tbl.f10 td, .col_tbl.f10 th {
    font-size: 12px !important;
}

.col_tbl.pd th, .col_tbl.pd td {
    padding: 1px 0
}

.col_tbl.td_l td {
    text-align: left;
}

    .col_tbl.td_l td:first-child {
        text-align: center;
    }

.tbl_pd5 th, .tbl_pd5 td {
    padding: 5px;
}

    .tbl_pd5 td span {
        color: #0083cb;
    }

.just_td {
    border: 0;
}

    .just_td td {
        width: 40px;
        height: 28px;
        box-sizing: border-box;
        font-size: 13px;
        color: #000;
        text-align: center;
        border: 0;
    }

/*흰 박스*/
.white_box {
    margin: 0 10px 0;
    background: #fff;
    padding: 10px;
}

/*회색 박스*/
.gray_box {
    width: 100%;
    background: #eceef0;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
}

    .gray_box b {
        font-size: 14px;
    }

/*분홍박스*/
.pink_box {
    padding: 10px 10px 0;
    border: 1px solid #cca8b9;
    box-sizing: border-box;
    font-size: 12px;
    color: #741949;
    font-weight: bold;
}

    .pink_box ol {
        padding: 7px 20px 3px;
    }

        .pink_box ol li {
            font-size: 12px;
            color: #000;
            padding-bottom: 7px;
        }

    .pink_box.c2 {
        padding: 5px 10px 0;
        border: 1px solid #f7cee0;
        box-sizing: border-box;
        font-size: 12px;
        color: #741949;
        font-weight: bold;
    }

        .pink_box.c2 ol {
            padding: 5px 20px 0;
        }

            .pink_box.c2 ol li {
                font-size: 12px;
                color: #000;
                padding-bottom: 5px;
            }

        .pink_box.c2 strong {
            color: #dc2f7e
        }

    .pink_box.c3 {
        padding: 10px;
        border: 1px solid #efa4c5;
        box-sizing: border-box;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        border-radius: 10px
    }

/* 그린박스 */
.green_box {
    border: 2px solid #e8e4c1;
    border-radius: 15px;
    padding: 10px;
    font-size: 13px;
    color: #000;
    font-family: 'notokr-medium';
    line-height: 17px;
}

/*다이어그램_type1- 퓨처플랜 */
.diagram_type1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    font-family: 'notokr-medium'
}

    .diagram_type1 .box {
        display: inline-block;
        float: right;
        width: 49.5%;
        margin-bottom: 4px;
    }

        .diagram_type1 .box td {
            vertical-align: top;
            letter-spacing: -1px;
            font-size: 12px !important;
            font-family: 'notokr-medium'
        }

            .diagram_type1 .box td:before {
                content: "·";
                display: inline-block;
                padding-right: 2px;
            }

        .diagram_type1 .box .title {
            padding: 5px;
            background: #75154a;
            color: #fff;
            text-align: right;
        }

            .diagram_type1 .box .title b {
                font-size: 13px;
                font-weight: normal;
                padding: 0 5px;
                font-family: 'notokr-medium'
            }

            .diagram_type1 .box .title span {
                font-size: 11px !important;
                font-family: 'notokr-regular';
                letter-spacing: -1px;
                font-family: 'notokr-medium'
            }

        .diagram_type1 .box .content {
            padding: 5px;
            height: 83px;
            color: #333;
            background: #f7eff3;
            border-top: 0;
            overflow: hidden;
            box-sizing: border-box;
        }

            .diagram_type1 .box .content p {
                width: 85%;
                font-family: 'notokr-medium'
            }

            .diagram_type1 .box .content table {
                width: 100%;
                float: right;
            }

        .diagram_type1 .box:nth-child(2n) {
            float: left
        }

            .diagram_type1 .box:nth-child(2n) .title {
                text-align: left;
            }

            .diagram_type1 .box:nth-child(2n) p {
                float: right
            }

            .diagram_type1 .box:nth-child(2n) table {
                float: left
            }

    .diagram_type1 .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        font-size: 14px;
        overflow: hidden;
        background: #fff;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform:: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-box-shadow: 1px 9px 7px -4px rgba(153,153,153,1);
        -moz-box-shadow: 1px 9px 7px -4px rgba(153,153,153,1);
        box-shadow: 1px 9px 7px -4px rgba(153,153,153,1);
    }

        .diagram_type1 .circle .title {
            height: 50%;
            padding: 15px 0 0;
            background: #939598;
            color: #fff;
            text-align: center;
            box-sizing: border-box;
            line-height: 60px;
            font-family: 'notokr-medium'
        }

        .diagram_type1 .circle .content {
            height: 50%;
        }

            .diagram_type1 .circle .content p {
                width: 70%;
                height: 90%;
                margin: 4px auto 0;
                padding: 5px;
                overflow: hidden;
                color: #939598;
                text-align: center;
                line-height: 18px;
                font-family: 'notokr-medium'
            }

        .diagram_type1 .circle + .box table tr:nth-child(4) td:nth-child(3):before, .diagram_type1 .circle + .box table tr:nth-child(4) td:nth-child(4):before {
            display: none
        }

        .diagram_type1 .circle + .box + .box table tr:nth-child(3) td:nth-child(2):before, .diagram_type1 .circle + .box + .box table tr:nth-child(4) td:nth-child(2):before {
            display: none
        }

        .diagram_type1 .circle + .box + .box + .box table tr:nth-child(2) td:nth-child(3):before {
            display: none
        }
/*그린*/
.bg_faf9ef .diagram_type1 .box .title {
    background: #8d8300
}

.bg_faf9ef .diagram_type1 .box .content {
    background: #faf9ef
}
/*청록*/
.bg_007095 .diagram_type1 .box .title {
    background: #007095
}

.bg_007095 .diagram_type1 .box .content {
    background: #eef5f9
}
/* 핑크*/
.bg_0e66ba3 .diagram_type1 .box .title {
    background: #e66ba3
}

.bg_0e66ba3 .diagram_type1 .box .content {
    background: #fdf7f9
}


/* 직업유형 */
.box_type1 {
    padding: 2px;
    text-align: center;
    border: 2px solid #9a848a;
    border-radius: 20px 0 20px 0;
}

    .box_type1 p {
        padding: 10px 0;
        font-size: 15px;
        font-weight: bold;
        color: #7c4960;
        font-family: 'notokr-medium'
    }

    .box_type1 ul {
        width: 98%;
        margin: 0 auto 2px;
        background: #e5d0d9;
        border-radius: 0 0 20px 0;
        padding-top: 10px
    }

        .box_type1 ul li {
            display: block;
            margin: 0 auto;
            width: 95px;
            padding: 7px 0;
            font-size: 14px;
            font-weight: bold;
            color: #000;
            text-align: center;
        }

            .box_type1 ul li:first-child {
                border-top: 3px solid #76124c;
                padding-top: 10px !important
            }

            .box_type1 ul li:nth-child(2):after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 15px;
                height: 15px;
                border: 3px solid #76124c;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg);
            }

            .box_type1 ul li.after_none {
                padding: 20px 0 40px;
            }

                .box_type1 ul li.after_none:after {
                    display: none;
                }

    .box_type1 .list_col {
        width: 100%;
        overflow: hidden;
        display: table
    }

        .box_type1 .list_col span {
            display: table-cell;
            box-sizing: border-box;
            padding: 0 11px;
            border-left: 3px solid #fff;
            width: 25%;
            font-size: 12px;
            color: #000;
        }

            .box_type1 .list_col span:first-child {
                border-left: 0;
            }

.box_type2 {
    width: 100%;
    border: 1px solid #d9ced4;
    box-sizing: border-box;
}

    .box_type2 .head {
        position: relative;
        padding: 10px 20px;
        background: #e5d0d9;
        text-align: center;
        font-size: 17px;
        color: #6a6568;
        font-weight: 400;
        font-family: 'notokr-medium'
    }

        .box_type2 .head:before {
            content: "Point";
            position: absolute;
            top: -7px;
            left: -7px;
            display: block;
            padding: 1px 3px;
            font-size: 11px;
            color: #fff;
            background: #6e2150;
            transform: rotate(-21deg)
        }

        .box_type2 .head b {
            color: #000;
            font-family: 'NanumBarunGothic'
        }

        .box_type2 .head .title {
            position: absolute;
            top: 10px;
            left: 20px;
            font-size: 17px;
            color: #6e2150;
            font-weight: 700;
            font-family: 'notokr-medium'
        }

    .box_type2 .body {
        padding: 10px 20px 0;
        font-size: 13px;
        line-height: 18px !important;
        color: #000;
    }

        .box_type2 .body p {
            padding-bottom: 10px;
        }

        .box_type2 .body .title {
            font-size: 13px;
            color: #6e2150;
            font-weight: bold;
            font-family: 'notokr-medium'
        }

    .box_type2.nohead {
        position: relative;
    }

        .box_type2.nohead:before {
            content: "Point";
            position: absolute;
            top: -7px;
            left: -7px;
            display: block;
            padding: 1px 3px;
            font-size: 12px;
            color: #fff;
            background: #6e2150;
            transform: rotate(-45deg)
        }
/*추천직업*/
.box_type3 .head {
    padding: 2px 3px;
    width: 22%;
    text-align: center;
    font-size: 13px;
    color: #000;
    background: #e5d0d9;
    font-weight: bold;
}

    .box_type3 .head span {
        font-family: 'notokr-medium'
    }

.box_type3 .body {
    padding: 5px;
    color: #000;
    border: 1px solid #e5d0d9;
    font-size: 12px;
    line-height: 16px;
}

.box_type3 + .box_type3 {
    margin-top: 10px;
}

.box_type3 .black {
    font-family: 'notokr-medium'
}

.box_type3.blue .head {
    background: #0c85a8 !important;
    border-radius: 0 5px 0 0
}

.box_type3.blue .body {
    border: 0;
    border-top: 1px solid #9ac7d9;
    padding: 10px 0 0;
}

.box_type3.c2 .head {
    background: #a56785 !important;
    color: #fff;
    border-radius: 0 5px 0 0
}
/* 자주*/
.box_type3.c3 .head {
    background: #c4ba66 !important;
    color: #fff;
    border-radius: 0 5px 0 0
}
/* 그린 */
.bnone {
    border: 0 !important;
}

/* 퓨처플랜*/
.page_title.none {
    padding: 4px 10px 10px
}

    .page_title.none p {
        border: 0 !important;
    }

/* 검사결과표(텍스트샘플)_pdf_01.진로탐색(스크립트) */
.bg_f7ebf1 {
    background: #f7ebf1;
}

.bg_faf9ef {
    background: #faf9ef;
}

.bg_007095 {
    background: #eef5f9;
}

.bg_0e66ba3 {
    background: #fdf7f9;
}

/* 자주색*/
.bg_f7ebf1 .box_type3 {
    position: relative;
}

    .bg_f7ebf1 .box_type3 .black {
        position: absolute;
        top: 3px;
        left: 227px;
        color: #000;
        font-size: 12px;
    }

        .bg_f7ebf1 .box_type3 .black span {
            color: #0083cb;
            padding: 0 20px
        }

    .bg_f7ebf1 .box_type3 .head {
        background: #dcc0ce;
        color: #000;
        width:99.3%;
        text-align:left;
    }

/*그린색 p_2*/
.bg_faf9ef .name_box table th, .bg_faf9ef .name_box table td {
    border-color: #9a9100 !important
}

.bg_faf9ef .page1_tbl, .bg_faf9ef .page_title p {
    border-color: #bfb95d !important
}

    .bg_faf9ef .page1_tbl th, .bg_faf9ef .box_type2 .head:before, .bg_faf9ef .page_bottom2 {
        background: #9a9100
    }

    .bg_faf9ef .page1_tbl td {
        background: #faf9ef
    }

.bg_faf9ef .page_title h1:before, .bg_faf9ef .page_title h1:after {
    background: #d1c987;
    opacity: 0.5;
    z-index: -1;
}

.bg_faf9ef .box_type1, .bg_faf9ef .box_type2 {
    border-color: #dfdaaa;
}

    .bg_faf9ef .box_type1 p, .bg_faf9ef .box_type2 .head .title {
        color: #a79d25
    }

    .bg_faf9ef .box_type1 ul, .bg_faf9ef .box_type2 .head {
        background: #efecd2
    }

        .bg_faf9ef .box_type1 ul li:first-child {
            border-color: #998f00;
        }

.bg_faf9ef .page_bottom {
    background: #9a9100 url(../images/check_result/02_2_1.jpg) 0 0 no-repeat;
}

.bg_faf9ef .page_top {
    background: #9a9100 url(../images/check_result/03_1_1.jpg) 0 0 no-repeat;
}

.bg_faf9ef .page_top2 {
    background: #9a9100
}

.bg_faf9ef .col_tbl th {
    background: #efecd2;
    color: #8d8300;
    border-left: 1px solid #fff;
    font-size: 12px;
    padding: 10px 0
}

    .bg_faf9ef .col_tbl th:first-child {
        border-right: 1px solid #fff !important
    }

.bg_faf9ef .col_tbl td {
    border: 1px solid #e1dcaf;
    font-size: 12px;
    padding: 10px
}

.bg_faf9ef .row_tbl th {
    background: #efecd2
}

.bg_faf9ef .box_type2 .body .title {
    color: #9a9100
}

.bg_faf9ef .page_title_top {
    color: #9a9100;
}

/*청록색*/
.bg_007095 .page1_tbl, .bg_007095 .page_title p {
    border-color: #007095 !important
}

    .bg_007095 .page1_tbl th, .bg_007095 .box_type2 .head:before, .bg_007095 .page_bottom2 {
        background: #007095
    }

    .bg_007095 .page1_tbl td {
        background: #eef5f9
    }

.bg_007095 .page_title h1:before, .bg_007095 .page_title h1:after {
    background: #71b2cb;
    opacity: 0.5;
    z-index: -1;
}

.bg_007095 .box_type1, .bg_007095 .box_type2 {
    border-color: #a9cfdf;
}

    .bg_007095 .box_type1 p, .bg_007095 .box_type2 .head .title {
        color: #a79d25
    }

    .bg_007095 .box_type1 ul, .bg_007095 .box_type2 .head {
        background: #efecd2
    }

        .bg_007095 .box_type1 ul li:first-child {
            border-color: #998f00;
        }

.bg_007095 .page_bottom {
    background: #007095 url(../images/check_result/08_1.jpg) 0 0 no-repeat;
}

.bg_007095 .page_top {
    background: #007095 url(../images/check_result/08_2.jpg) 0 0 no-repeat;
    background-size: 100%
}

.bg_007095 .page_top2 {
    background: #007095
}

.bg_007095 .col_tbl th {
    background: #4a9dbd;
    color: #fff;
    border-left: 1px solid #fff;
    font-size: 12px;
    padding: 5px 0;
}

    .bg_007095 .col_tbl th:first-child {
        border-right: 1px solid #fff !important
    }

.bg_007095 .col_tbl td {
    border: 1px solid #90c1d5;
    font-size: 12px;
    padding: 5px
}

.bg_007095 .col_tbl.c2 th {
    background: #cbe2ed;
}

.bg_007095 .col_tbl.c2 tbody th {
    background: #eef5f9
}

.bg_007095 .row_tbl th {
    background: #efecd2
}

.bg_007095 .box_type2 .body .title {
    color: #007095
}

.bg_007095 .page_title_top, .bg_007095 .name_box table th {
    color: #007095 !important;
}

.bg_007095 .name_box {
    background: url(../images/check_result/a_8_page1_01.jpg) 0 0 repeat-x !important;
}

    .bg_007095 .name_box table th, .bg_007095 .name_box table td {
        border-left: 1px solid #007095 !important
    }

        .bg_007095 .name_box table th:first-child, .bg_007095 .name_box table td:first-child {
            border-left: none !important
        }

.bg_007095 .title_type1 span {
    background: #0c85a8;
}

.bg_007095 .box_type3 {
    position: relative;
}

    .bg_007095 .box_type3 .black {
        position: absolute;
        top: 3px;
        left: 227px;
        color: #000;
        font-size: 12px;
    }

        .bg_007095 .box_type3 .black span {
            color: #0083cb;
            padding: 0 10px;
            font-weight: bold;
        }

    .bg_007095 .box_type3 .head {
        background: #75b1cc;
        color: #fff;
        font-family: 'notokr-medium'
    }

    .bg_007095 .box_type3 .body {
        border-color: #bedbe7
    }

/* 핑크 */
.bg_0e66ba3 .page1_tbl, .bg_0e66ba3 .page_title p {
    border-color: #e66ba3 !important
}

    .bg_0e66ba3 .page1_tbl th, .bg_0e66ba3 .box_type2 .head:before, .bg_0e66ba3 .page_bottom2 {
        background: #e66ba3
    }

    .bg_0e66ba3 .page1_tbl td {
        background: #fdf7f9
    }

.bg_0e66ba3 .page_title h1:before, .bg_0e66ba3 .page_title h1:after {
    background: #f2b8d1;
    opacity: 0.5;
    z-index: -1;
}

.bg_0e66ba3 .page_title_top {
    color: #e14e91
}

.bg_0e66ba3 .box_type1, .bg_0e66ba3 .box_type2 {
    border-color: #f5c0d8;
}

    .bg_0e66ba3 .box_type1 p, .bg_0e66ba3 .box_type2 .head .title {
        color: #e469a0
    }

    .bg_0e66ba3 .box_type1 ul, .bg_0e66ba3 .box_type2 .head {
        background: #fbe6ef
    }

    .bg_0e66ba3 .box_type2 .body .title {
        color: #e25393
    }

    .bg_0e66ba3 .box_type1 ul li:first-child {
        border-color: #e566a0;
    }

.bg_0e66ba3 .box_type3 .head {
    background: #fbe6ef
}

.bg_0e66ba3 .box_type3 .body {
    border-color: #f6cbde;
    padding:10px;
}

.bg_0e66ba3 .page_bottom {
    background: #e66ba3 url(../s/check_result/10_2.jpg) 0 0 no-repeat;
}

.bg_0e66ba3 .page_top {
    background: #e66ba3 url(../images/check_result/10_3.jpg) 0 0 no-repeat;
    background-size: 100%
}

.bg_0e66ba3 .page_top2 {
    background: #e66ba3
}

.bg_0e66ba3 .col_tbl th {
    background: #fbe6ef;
    color: #df448b;
    border-left: 1px solid #fdf0f5;
    font-size: 12px;
    padding: 2px 0
}

.bg_0e66ba3 .col_tbl tbody th {
    background: #fdf7f9;
    color: #000;
    border-bottom: 1px solid #fae5ee;
}

.bg_0e66ba3 .col_tbl td {
    border: 1px solid #f9ddea;
    font-size: 12px;
    padding: 3px
}

.bg_0e66ba3 .col_tbl.c2 th {
    background: #fbe6ef;
    color: #000
}

.bg_0e66ba3 .row_tbl.big, .bg_0e66ba3 .row_tbl.big td, .bg_0e66ba3 .row_tbl.big th {
    border-color: #f2b3cf
}

.bg_0e66ba3 .row_tbl th {
    background: #fbe6ef;
    color: #e66ba3
}

.bg_0e66ba3 .name_box {
    background: url(../images/check_result/10_1.jpg) 0 0 repeat-x !important;
}

    .bg_0e66ba3 .name_box table th {
        color: #e4629d !important
    }

    .bg_0e66ba3 .name_box table th, .bg_0e66ba3 .name_box table td {
        border-left: 1px solid #eb8ab6 !important
    }

        .bg_0e66ba3 .name_box table th:first-child, .bg_0e66ba3 .name_box table td:first-child {
            border-left: none !important
        }

.bg_0e66ba3 .box_type1 ul li:nth-child(2):after {
    border-color: #e4629e
}

.bg_0e66ba3 .title_type1 span {
    background: #efa4c5
}

.bg_0e66ba3 .chart_type1 {
    height: 271px;
    background: url(../images/check_result/a_10_page3_01.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    margin-top: 0
}

    .bg_0e66ba3 .chart_type1 .bar {
        background: #e66ba3
    }

        .bg_0e66ba3 .chart_type1 .bar.bar01 {
            top: 66px;
        }

        .bg_0e66ba3 .chart_type1 .bar.bar02 {
            top: 96px;
        }

        .bg_0e66ba3 .chart_type1 .bar.bar03 {
            top: 125px;
        }

        .bg_0e66ba3 .chart_type1 .bar.bar04 {
            top: 154px;
        }

        .bg_0e66ba3 .chart_type1 .bar.bar05 {
            top: 183px;
        }

        .bg_0e66ba3 .chart_type1 .bar.bar06 {
            top: 210px;
        }

.bg_0e66ba3 .box_type3 {
    position: relative;
}

    .bg_0e66ba3 .box_type3 .black {
        position: absolute;
        top: 3px;
        left: 227px;
        color: #000;
        font-size: 12px;
    }

        .bg_0e66ba3 .box_type3 .black span {
            color: #e24f92;
            padding: 0 20px
        }

    .bg_0e66ba3 .box_type3 .head {
        background: #fbe6ef;
        color: #000;
    }

    .bg_0e66ba3 .box_type3.c2 .head {
        background: #ea88b4 !important;
        color: #fff
    }

.bg_0e66ba3 .tbl_pd5 td span {
    color: #ea88b4 !important;
}










/* ---------------------------------------------------------------contents--------------------------------------------------------------------*/

/* 학급 학교 */
.squre {
    width: 100%;
    margin-top: -15px;
    padding: 0 10px 10px;
    overflow: hidden;
    text-align: right;
    box-sizing: border-box;
}

    .squre span {
        color: #999;
        font-size: 12px;
        padding-left: 15px;
    }

        .squre span:first-child {
            color: #000
        }

        .squre span:before {
            content: "■";
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

/* 직업유형특징 다이어그램*/
.diagram_type2 {
    position: relative;
    width: 860px;
    height: 670px;
    margin: 0 auto;
    background: url(../images/check_result/02_4.jpg) 0 0 no-repeat;
}
/*직업유형 그래프*/
.chart_type1 {
    position: relative;
    width: 328px;
    height: 207px;
    background: url(../images/check_result/03_2.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    margin-top: 7px;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background: #75154a;
    max-width: 310px;
}

.chart_type1 .bar.bar01 {
    top: 46px;
}

.chart_type1 .bar.bar02 {
    top: 70px;
}

.chart_type1 .bar.bar03 {
    top: 93px;
}

.chart_type1 .bar.bar04 {
    top: 116px;
}

.chart_type1 .bar.bar05 {
    top: 139px;
}

.chart_type1 .bar.bar06 {
    top: 162px;
}

.chart_type01 {
    position: relative;
    width: 653px;
    height: 228px;
    background: url(../images/check_result/03_2_1.jpg) 0 0 no-repeat;
}

    .chart_type01 table {
        position: absolute;
        top: 45px;
        left: 70px;
        width: 258px;
    }

        .chart_type01 table td {
            text-align: center;
            height: 26px;
        }

    .chart_type01 .bararea {
        position: absolute;
        top: 6px;
        left: 327px;
        width: 310px;
    }

    .chart_type01 .bar.bar01 {
        top: 46px;
    }

    .chart_type01 .bar.bar02 {
        top: 72px;
    }

    .chart_type01 .bar.bar03 {
        top: 98px;
    }

    .chart_type01 .bar.bar04 {
        top: 124px;
    }

    .chart_type01 .bar.bar05 {
        top: 149px;
    }

    .chart_type01 .bar.bar06 {
        top: 174px;
    }

/*전공계열검사*/
.chart_type2 {
    position: relative;
    width: 582px;
    height: 367px;
    background: url(../images/check_result/a_2_page2_01.jpg) 0 0 no-repeat;
    background-size: 100%;
}

    .chart_type2 .bar_area {
        position: absolute;
        top: -3px;
        left: 334px;
        width: 250px
    }

    .chart_type2 .bar.bar01 {
        top: 45px;
    }

    .chart_type2 .bar.bar02 {
        top: 72px;
    }

    .chart_type2 .bar.bar03 {
        top: 99px;
    }

    .chart_type2 .bar.bar04 {
        top: 126px;
    }

    .chart_type2 .bar.bar05 {
        top: 153px;
    }

    .chart_type2 .bar.bar06 {
        top: 183px;
    }

    .chart_type2 .bar.bar07 {
        top: 211px;
    }

    .chart_type2 .bar.bar08 {
        top: 239px;
    }

    .chart_type2 .bar.bar09 {
        top: 267px;
    }

    .chart_type2 .bar.bar10 {
        top: 294px;
    }

    .chart_type2 .bar.bar11 {
        top: 322px;
    }

    .chart_type2 .bar.bar12 {
        top: 350px;
    }

    .chart_type2.c2 {
        background: url(../images/check_result/a_11_1_page3_01.jpg) 0 0 no-repeat;
    }

        .chart_type2.c2 .bar {
            background: #e66ba3
        }

/*추천직업 진로활동*/
.diagram_type3 {
    position: relative;
    width: 700px;
    height: 385px;
    margin: 0 auto;
    background: url(../images/check_result/04_1.jpg) 0 0 no-repeat;
}

    .diagram_type3.c2 {
        background: url(../images/check_result/a_12_1_page9_01.jpg) 0 0 no-repeat;
    }

    .diagram_type3 .txt {
        position: absolute;
        width: 120px;
        height: 40px;
        text-align: center;
        font-size: 12px;
        color: #000;
        line-height: 40px;
    }

    .diagram_type3 .center {
        top: 170px;
        left: 298px;
        width: 102px;
        height: 46px;
        line-height: 46px;
        font-weight: bold;
    }

    .diagram_type3 .north1 {
        top: 40px;
        left: 164px;
    }

    .diagram_type3 .north2 {
        top: 88px;
        left: 290px;
    }

    .diagram_type3 .north3 {
        top: 40px;
        left: 410px;
    }

    .diagram_type3 .east1 {
        top: 123px;
        left: 514px;
    }

    .diagram_type3 .east2 {
        top: 172px;
        left: 450px;
    }

    .diagram_type3 .east3 {
        top: 222px;
        left: 512px;
    }

    .diagram_type3 .west1 {
        top: 123px;
        left: 60px;
    }

    .diagram_type3 .west2 {
        top: 172px;
        left: 125px;
    }

    .diagram_type3 .west3 {
        top: 222px;
        left: 65px;
    }

    .diagram_type3 .south1 {
        top: 305px;
        left: 164px;
    }

    .diagram_type3 .south2 {
        top: 260px;
        left: 290px;
    }

    .diagram_type3 .south3 {
        top: 306px;
        left: 410px;
    }

/* 학습성격 유형*/
.chart_type3 {
    position: relative;
    width: 840px;
    height: 213px;
    background: url(../images/check_result/a_4_page2_03.jpg) 0 0 no-repeat;
    background-size: 100%;
}

    .chart_type3 .left_gage {
        position: absolute;
        top: 35px;
        left: 220px;
    }

    .chart_type3 .right_gage {
        position: absolute;
        top: 35px;
        left: 587px;
    }

    .chart_type3 .left_gage .gage_ {
        display: block;
        width: 35px;
        height: 46px;
        text-align: center;
        line-height: 46px;
        font-size: 12px;
        color: #000;
    }

    .chart_type3 .right_gage .gage_ {
        display: block;
        width: 35px;
        height: 46px;
        text-align: center;
        line-height: 46px;
        font-size: 12px;
        color: #000;
    }

    .chart_type3 .bar_area {
        position: absolute;
        top: 35px;
        left: 254px;
        width: 333px;
        height: 177px;
    }

    .chart_type3 .bar {
        max-width: 333px;
        background: #6a6300
    }

        .chart_type3 .bar.bar01 {
            top: 15px;
        }

        .chart_type3 .bar.bar02 {
            top: 56px;
        }

        .chart_type3 .bar.bar03 {
            top: 107px;
        }

        .chart_type3 .bar.bar04 {
            top: 150px;
        }

    .chart_type3.c2 {
        position: relative;
        width: 840px;
        height: 202px;
        background: url(../images/check_result/a_10_page5_01.jpg) 0 0 no-repeat;
        background-size: 100%;
    }

        .chart_type3.c2 .left_gage {
            position: absolute;
            top: 35px;
            left: 220px;
        }

        .chart_type3.c2 .right_gage {
            position: absolute;
            top: 35px;
            left: 587px;
        }

        .chart_type3.c2 .left_gage .gage_ {
            display: block;
            width: 35px;
            height: 42px;
            text-align: center;
            line-height: 42px;
            font-size: 12px;
            color: #000;
        }

        .chart_type3.c2 .right_gage .gage_ {
            display: block;
            width: 35px;
            height: 42px;
            text-align: center;
            line-height: 42px;
            font-size: 12px;
            color: #000;
        }

        .chart_type3.c2 .bar_area {
            position: absolute;
            top: 35px;
            left: 254px;
            width: 333px;
            height: 177px;
        }

        .chart_type3.c2 .bar {
            max-width: 333px;
            background: #e66ba3
        }

            .chart_type3.c2 .bar.bar01 {
                top: 15px;
            }

            .chart_type3.c2 .bar.bar02 {
                top: 62px;
            }

            .chart_type3.c2 .bar.bar03 {
                top: 98px;
            }

            .chart_type3.c2 .bar.bar04 {
                top: 139px;
            }

    .chart_type3.tp2 .left_gage, .chart_type3.tp2 .right_gage {
        top: 41px;
    }

        .chart_type3.tp2 .left_gage .gage_, .chart_type3.tp2 .right_gage .gage_ {
            height: 40px;
            line-height: 16px;
            padding-bottom: 5px;
        }

/* 학습동기 유형 */
.chart_type4 {
    position: relative;
    width: 642px;
    height: 277px;
    background: url(../images/check_result/a_5_page3_01.jpg) 0 0 no-repeat;
    background-size: 100%;
}

    .chart_type4 ul {
        position: absolute;
        top: 35px;
        left: 77px;
        width: 44px;
    }

        .chart_type4 ul li {
            width: 100%;
            text-align: center;
            line-height: 52px;
            font-size: 14px;
            box-sizing: border-box;
        }

    .chart_type4 .bar_area {
        position: absolute;
        top: 34px;
        left: 120px;
        width: 230px;
    }

    .chart_type4 .bar {
        max-width: 230px;
        background: #9a9100
    }

        .chart_type4 .bar.bar01 {
            top: 21px;
        }

        .chart_type4 .bar.bar02 {
            top: 73px;
        }

        .chart_type4 .bar.bar03 {
            top: 124px;
        }

        .chart_type4 .bar.bar04 {
            top: 174px;
        }

    .chart_type4.c2 {
        position: relative;
        width: 642px;
        height: 277px;
        background: url(../images/check_result/a_10_page6_01.jpg) 0 0 no-repeat;
        background-size: 100%;
    }

        .chart_type4.c2 .bar {
            max-width: 230px;
            background: #e66ba3
        }

/*학습전력검사*/
.chart_type5 {
    position: relative;
    width: 841px;
    height: 529px;
    background: url(../images/check_result/a_6_page3_01.jpg) 0 0 no-repeat;
    background-size: 100%;
}

    .chart_type5 table {
        position: absolute;
        top: 32px;
        left: 130px;
        width: 709px;
    }

    .chart_type5.c2 {
        width: 841px;
        height: 547px;
        background: url(../images/check_result/a_10_page7_03.jpg) 0 0 no-repeat;
    }

        .chart_type5.c2 table {
            position: absolute;
            top: 36px;
            left: 137px;
            width: 704px;
        }

            .chart_type5.c2 table td {
                text-align: center;
                height: 30px;
            }

                .chart_type5.c2 table td:nth-child(4) {
                    padding-left: 5px;
                    text-align: left;
                }

/* 학습종합검사 */
.chart_type6 {
    position: relative;
    width: 625px;
    height: 151px;
    background: url(../images/check_result/a_6_page2_02_1.jpg) 0 0 no-repeat;
}

    .chart_type6 .data {
        position: absolute;
        top: 0;
        left: 62px;
        width: 563px;
    }

        .chart_type6 .data td {
            width: 33px !important;
            height: 28px !important;
            line-height: 28px !important
        }

    .chart_type6.c2 {
        background: url(../images/check_result/a_10_page7_02.jpg) 0 0 no-repeat;
    }

/* 대입예측검사 */
.chart_type7 {
    position: relative;
    width: 487px;
    height: 68px;
    background: url(../images/check_result/a_8_page2_03.jpg) 0 0 no-repeat;
}

    .chart_type7 .data {
        position: absolute;
        top: 4px;
        left: 45px;
        width: 442px;
    }

        .chart_type7 .data td {
            width: 55px !important;
            height: 20px !important;
            line-height: 20px !important
        }

.chart_type8 {
    position: relative;
    width: 356px;
    height: 68px;
    background: url(../images/check_result/a_8_page2_05.jpg) 0 0 no-repeat;
}

    .chart_type8 .data {
        position: absolute;
        top: 3px;
        left: 59px;
        width: 295px;
    }

        .chart_type8 .data td {
            width: 58px !important;
            height: 20px !important;
            line-height: 20px !important
        }

/* 희망 대학 합격예측*/
.chart_type9 {
    position: relative;
    width: 561px;
    height: 110px;
    margin: 0 auto;
    background: url(../images/check_result/a_8_page3_01.jpg) 0 0 no-repeat;
}

    .chart_type9 .group1 {
        position: absolute;
        top: 0;
        left: 0;
    }

        .chart_type9 .group1 div {
            display: inline-block;
            text-align: center;
            font-size: 12px;
            color: #000;
            font-weight: bold;
            vertical-align: top;
        }

        .chart_type9 .group1 .div1 {
            width: 62px;
            margin-right: 60px;
        }

        .chart_type9 .group1 .div2 {
            width: 62px;
        }

        .chart_type9 .group1.group2 {
            left: 183px;
        }

        .chart_type9 .group1.group3 {
            left: 379px;
        }

            .chart_type9 .group1.group3 .div1 {
                margin-right: 54px;
            }

    .chart_type9.c2 {
        position: relative;
        width: 561px;
        height: 110px;
        margin: 0 auto;
        background: url(../images/check_result/a_11_1_page7_01.jpg) 0 0 no-repeat;
    }


/* 대입 예측검사*/
.chart_type10 {
    position: relative;
    width: 547px;
    height: 101px;
    margin: 0 auto;
    background: url(../images/check_result/a_8_page4_01.jpg) 0 0 no-repeat;
}

    .chart_type10 .group1 {
        position: absolute;
        top: 60px;
        left: 0;
        width: 70px;
        text-align: center;
        font-size: 15px;
        color: #000;
    }

    .chart_type10 .group2 {
        position: absolute;
        top: 58px;
        left: 153px;
        font-size: 15px;
        color: #000;
    }

        .chart_type10 .group2 ul li {
            float: left;
            width: 73px;
            padding-right: 27px;
            text-align: center;
        }

            .chart_type10 .group2 ul li:last-child {
                padding-right: 0;
            }

    .chart_type10.c2 {
        background: url(../images/check_result/a_11_1_page8_01.jpg) 0 0 no-repeat;
    }

/* 학교선택검사 */
.chart_type11 {
    position: relative;
    width: 489px;
    height: 84px;
    background: url(../images/check_result/a_9_page2_03.jpg) 0 0 no-repeat;
}

    .chart_type11.c2 {
        height: 67px;
        background: url(../images/check_result/a_11_1_page6_03.jpg) 0 0 no-repeat;
    }

    .chart_type11.c3 {
        height: 84px;
        background: url(../images/check_result/a_11_2_page6_02.jpg) 0 0 no-repeat;
    }

    .chart_type11 .data {
        position: absolute;
        top: 7px;
        left: 49px;
        width: 439px;
    }

    .chart_type11 table {
        position: absolute;
        top: 3px;
        left: 45px;
        width: 437px;
    }

    .chart_type11 td {
        text-align: center;
        height: 29px;
    }

    .chart_type11.c2 .data {
        position: absolute;
        top: 0;
        left: 46px;
        width: 442px;
    }

    .chart_type11.c3 .data {
        position: absolute;
        top: 0;
        left: 46px;
        width: 442px;
    }

.chart_type12 {
    position: relative;
    width: 355px;
    height: 81px;
    background: url(../images/check_result/a_9_page2_05.jpg) 0 0 no-repeat;
}

    .chart_type12 .data {
        position: absolute;
        top: 7px;
        left: 58px;
        width: 298px;
    }

        .chart_type12 .data td {
            width: 50px !important;
            height: 20px !important;
            line-height: 20px !important
        }

    .chart_type12.c2 {
        height: 67px;
        background: url(../images/check_result/a_11_1_page6_05.jpg) 0 0 no-repeat;
    }

        .chart_type12.c2 .data {
            position: absolute;
            top: 2px;
            left: 58px;
            width: 298px;
        }

    .chart_type12.c3 {
        height: 82px;
        background: url(../images/check_result/a_11_2_page6_04.jpg) 0 0 no-repeat;
    }

        .chart_type12.c3 .data {
            position: absolute;
            top: 6px;
            left: 58px;
            width: 298px;
        }

/* 진로 학습종합검사 */
.chart_type13 {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    background: url(../images/check_result/a_10_page2_02.jpg) 0 0 no-repeat;
    background-size: 100%
}

    .chart_type13 .data {
        position: absolute;
        font-size: 14px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type13 .data.d_00 {
            top: 166px;
            width: 72px;
            left: 50%;
            margin-left: -36px;
        }

        .chart_type13 .data.d_01 {
            top: 8px;
            left: 76px;
            width: 172px;
        }

        .chart_type13 .data.d_02 {
            top: 106px;
            left: 0;
            width: 80px;
        }

        .chart_type13 .data.d_03 {
            top: 106px;
            right: -10px;
            width: 80px;
        }

        .chart_type13 .data.d_04 {
            top: 200px;
            left: -8px;
            width: 80px;
        }

        .chart_type13 .data.d_05 {
            top: 283px;
            left: 74px;
            width: 172px;
        }

        .chart_type13 .data.d_06 {
            top: 200px;
            right: -6px;
            width: 80px;
        }

.chart_type14 {
    position: relative;
    width: 383px;
    height: 43px;
    margin: 0 auto;
    background: url(../images/check_result/a_10_page2_03.jpg) 0 0 no-repeat;
}

    .chart_type14 .data {
        position: absolute;
        top: 0;
        left: 70px;
        font-size: 14px;
        color: #000;
        font-weight: bold;
        text-align: center;
        width: 315px;
    }

        .chart_type14 .data td {
            width: 75px !important;
            height: 20px !important;
            line-height: 20px !important
        }

/*전공/계열 유형*/
.chart_type15 {
    position: relative;
    width: 587px;
    height: 281px;
    background: url(../images/check_result/a_10_page4_01.jpg) 0 10px no-repeat;
    background-size: 100%;
}

    .chart_type15 .bar_area {
        position: absolute;
        top: 0px;
        left: 341px;
        width: 245px
    }

    .chart_type15 .bar {
        background: #e66ba3;
        height: 6px;
    }

        .chart_type15 .bar.bar01 {
            top: 37px;
        }

        .chart_type15 .bar.bar02 {
            top: 56px;
        }

        .chart_type15 .bar.bar03 {
            top: 76px;
        }

        .chart_type15 .bar.bar04 {
            top: 96px;
        }

        .chart_type15 .bar.bar05 {
            top: 116px;
        }

        .chart_type15 .bar.bar06 {
            top: 136px;
        }

        .chart_type15 .bar.bar07 {
            top: 156px;
        }

        .chart_type15 .bar.bar08 {
            top: 176px;
        }

        .chart_type15 .bar.bar09 {
            top: 196px;
        }

        .chart_type15 .bar.bar10 {
            top: 216px;
        }

        .chart_type15 .bar.bar11 {
            top: 236px;
        }

        .chart_type15 .bar.bar12 {
            top: 256px;
        }

/*진학종합검사 결과표*/
.chart_type16 {
    position: relative;
    width: 454px;
    height: 208px;
    background: url(../images/check_result/a_11_1_page2_03.jpg) 0 0 no-repeat;
    background-size: 100%;
}

    .chart_type16 .data1 {
        position: absolute;
        top: 0px;
        left: 0;
        width: 172px;
        text-align: right;
        font-size: 12px;
        color: #888
    }

    .chart_type16 .data2 {
        position: absolute;
        top: 0px;
        right: 0;
        width: 118px;
        text-align: left;
        font-size: 12px;
        color: #888
    }

/*진로진학 학습종합검사 결과표*/
.chart_type17 {
    position: relative;
    width: 350px;
    height: 352px;
    margin: 0 auto;
    background: url(../images/check_result/a_12_1_page1_02.jpg) 0 0 no-repeat;
    background-size: 100%
}

    .chart_type17.c2 {
        background: url(../images/check_result/a_12_2_page2_01.jpg) 0 0 no-repeat;
    }

    .chart_type17 .data {
        position: absolute;
        font-size: 14px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type17 .data.d_00 {
            top: 179px;
            width: 72px;
            left: 50%;
            margin-left: -36px;
        }

        .chart_type17 .data.d_01 {
            top: 62px;
            left: 47px;
        }

        .chart_type17 .data.d_02 {
            top: 5px;
            left: 50%;
            margin-left: -54px;
            width: 108px;
        }

        .chart_type17 .data.d_03 {
            top: 43px;
            right: 40px;
            width: 80px;
        }

        .chart_type17 .data.d_04 {
            top: 135px;
            left: -13px;
            width: 80px;
        }

        .chart_type17 .data.d_05 {
            top: 228px;
            left: 0px;
            width: 80px;
        }

        .chart_type17 .data.d_06 {
            top: 307px;
            left: 90px;
            width: 80px;
        }

        .chart_type17 .data.d_07 {
            top: 140px;
            right: -15px;
            width: 80px;
        }

        .chart_type17 .data.d_08 {
            top: 244px;
            right: 6px;
            width: 80px;
        }

        .chart_type17 .data.d_09 {
            top: 307px;
            right: 92px;
            width: 80px;
        }

.chart_type18.c1 {
    position: relative;
    width: 660px;
    height: 114px;
    background: url(../images/check_result/a_3_page2_03_1.jpg) 0 0 no-repeat;
}

.chart_type18 {
    position: relative;
    width: 662px;
    height: 114px;
    background: url(../images/check_result/a_12_1_page4_02.jpg) 0 0 no-repeat;
}

    .chart_type18 .data {
        margin: 0 0 0 62px;
        width: 535px;
        font-size: 14px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type18 .data td {
            height: 25px;
        }

.chart_type19 {
    position: relative;
    width: 847px;
    height: 97px;
    background: url(../images/check_result/b_1_page2_03.jpg) 0 0 no-repeat;
}

    .chart_type19 .data {
        margin: 0 0 0 57px;
        width: 490px;
        font-size: 14px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type19 .data td {
            height: 24px;
            width: 132px;
        }

    .chart_type19.c2 {
        width: 842px;
        height: 107px;
        background: url(../images/check_result/b_4_page2_02.jpg) 0 0 no-repeat;
    }

        .chart_type19.c2 .data2 {
            margin: 0 0 0 54px;
            width: 786px;
        }

            .chart_type19.c2 .data2 td {
                width: 97px;
                height: 29px;
                text-align: center;
                font-size: 12px;
            }

    .chart_type19.c3 {
        width: 849px;
        height: 122px;
        background: url(../images/check_result/b_5_page2_02.jpg) 0 0 no-repeat;
    }

        .chart_type19.c3 .data3 {
            margin: 0 0 0 57px;
            width: 787px;
        }

            .chart_type19.c3 .data3 td {
                height: 27px;
                text-align: center;
                font-size: 12px;
            }

    .chart_type19.c4 {
        width: 843px;
        height: 111px;
        background: url(../images/check_result/b_6_page2_02.jpg) 0 0 no-repeat;
    }

        .chart_type19.c4 .data3 {
            margin: 0 0 0 54px;
            width: 788px;
        }

            .chart_type19.c4 .data3 td {
                height: 27px;
                text-align: center;
                font-size: 12px;
            }
    .chart_type19.c6 {
        position: relative;
        width: 847px;
        height: 96px;
        background: url(../images/check_result/b_11_2_page3_02b.jpg) 0 0 no-repeat;
    }
    .chart_type19.c5 {
        position: relative;
        width: 847px;
        height: 96px;
        background: url(../images/check_result/b_10_page2_05.jpg) 0 0 no-repeat;
    }

    .chart_type19.c4.c_ {
        width: 842px;
        height: 119px;
        background: url(../images/check_result/b_7_page2_01.jpg) 0 0 no-repeat;
    }

    .chart_type19.c4.c_2 {
        width: 842px;
        height: 95px;
        background: url(../images/check_result/b_10_page3_01.jpg) 0 0 no-repeat;
    }

.chart_type20 {
    position: relative;
    width: 845px;
    height: 102px;
    background: url(../images/check_result/b_2_page2_02.jpg) 0 0 no-repeat;
}

    .chart_type20.c2 {
        background: url(../images/check_result/b_10_page2_03.jpg) 0 0 no-repeat;
    }

    .chart_type20 .data {
        margin: 0 0 0 55px;
        width: 788px;
        font-size: 14px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type20 .data td {
            height: 24px;
            width: auto;
        }

.chart_type21 {
    position: relative;
    width: 835px;
    height: 361px;
    background: url(../images/check_result/b_4_page2_03.jpg) 0 0 no-repeat;
}

    .chart_type21 .tbl {
        float: left;
        width: 338px;
        font-size: 12px;
        color: #000;
        text-align: left;
    }

        .chart_type21 .tbl:first-child {
            margin-right: 140px;
        }

        .chart_type21 .tbl td {
            height: 60px;
            padding: 28px 10px 0;
            line-height: 21px !important;
            letter-spacing: -1px;
        }

.chart_type22 {
    position: relative;
    width: 427px;
    height: 106px;
    background: url(../images/check_result/b_8_page2_03.jpg) 0 0 no-repeat;
}

    .chart_type22 .data {
        margin: 0 0 0 44px;
        width: 383px;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type22 .data td {
            height: 28px;
            width: auto;
        }

.chart_type23 {
    position: relative;
    width: 427px;
    height: 93px;
    background: url(../images/check_result/b_8_page2_05.jpg) 0 0 no-repeat;
}

    .chart_type23 .data23 {
        margin: 0 0 0 47px;
        width: 380px;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type23 .data23 td {
            height: 23px;
            width: auto;
        }

.chart_type24 {
    position: relative;
    width: 392px;
    height: 123px;
    background: url(../images/check_result/b_9_page2_02.jpg) 0 0 no-repeat;
}

    .chart_type24 .data24 {
        margin: 0 0 0 46px;
        width: 345px;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type24 .data24 td {
            height: 30px;
            width: auto;
        }

.chart_type25 {
    position: relative;
    width: 392px;
    height: 107px;
    background: url(../images/check_result/b_9_page2_04.jpg) 0 0 no-repeat;
}

    .chart_type25 .data25 {
        margin: 0 0 0 46px;
        width: 344px;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type25 .data25 td {
            height: 27px;
            width: auto;
        }

.chart_type26 {
    position: relative;
    width: 401px;
    height: 210px;
    background: url(../images/check_result/b_11_page4_02.jpg) 0 0 no-repeat;
}

    .chart_type26.c2 {
        background: url(../images/check_result/b_11_2_page4_01.jpg) 0 0 no-repeat;
    }

    .chart_type26 .data26 {
        margin: 0 0 0 48px;
        width: 350px;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type26 .data26 td {
            height: 25px;
            width: auto;
        }

.chart_type27 {
    position: relative;
    width: 401px;
    height: 88px;
    background: url(../images/check_result/b_11_page4_04.jpg) 0 0 no-repeat;
}

    .chart_type27.c2 {
        background: url(../images/check_result/b_11_2_page4_02.jpg) 0 0 no-repeat;
    }

    .chart_type27 .data27 {
        margin: 0 0 0 45px;
        width: 356px;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type27 .data27 td {
            height: 24px;
            width: auto;
        }

.chart_type28 {
    position: relative;
    width: 320px;
    height: 80px;
    background: url(../images/check_result/a_13_page3_01.jpg) 0 0 no-repeat;
}

    .chart_type28 .data28 {
        margin: 0 0 0 45px;
        width: 275px;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type28 .data28 td {
            height: 26px;
            width: auto;
        }

.chart_type29 {
    position: relative;
    width: 399px;
    height: 73px;
    background: url(../images/check_result/b_13_page2_03.jpg) 0 0 no-repeat;
}

    .chart_type29 .data29 {
        margin: 0 0 0 54px;
        width: 342px;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

        .chart_type29 .data29 td {
            height: 23px;
            width: auto;
        }

/* ol 1) 2) 3) */
.garo {
    counter-reset: num;
}

    .garo li {
        font-size: 12px;
        position: relative;
        padding-left: 15px;
        font-family: 'notokr-medium';
    }

        .garo li:before {
            content: '';
            display: inline;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 12px;
            content: "" counter(num);
            counter-increment: num 1;
        }

        .garo li:after {
            content: ')';
            display: inline;
            position: absolute;
            top: 0;
            left: 8px;
            font-size: 12px;
        }

    .garo b {
        font-family: 'NanumBarunGothic';
        font-size: 12px;
    }



@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

    #wrap #container {
        border: 0;
    }
}
