﻿div.tab-content-selected {
    display: block !important;
}

div.tab-cont {
    display: none;
}

.tab-menu:after {
    display: block;
    content: '';
    clear: both;
}

.tab-menu li {
    float: left;
    border: 1px solid #dedede;
    border-left: 0;
    box-sizing: border-box;
}

    .tab-menu li:first-child {
        border-left: 1px solid #dedede;
    }

    .tab-menu li a {
        display: block;
        height: 44px;
        line-height: 43px;
        text-align: center;
        font-size: 16px;
        color: #222;
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }

        .tab-menu li.selected a,
        .tab-menu li a:hover {
            position: relative;
            color: #ee7855;
        }

            .tab-menu li.selected a:after,
            .tab-menu li a:hover:after {
                content: '';
                position: absolute;
                left: 0;
                top: -1px;
                width: 100%;
                height: 2px;
                background: #ee7855;
            }

.stab-menu-wrap {
    margin: 0 0 34px 0;
}

    .stab-menu-wrap.type {
        margin: 0 0 17px 0;
    }

.stab-menu {
    display: inline-block;
    margin: 34px 0 0 0;
    border-radius: 1px;
    overflow: hidden;
    vertical-align: top;
}

    .stab-menu:after {
        display: block;
        content: '';
        clear: both;
    }

    .stab-menu li {
        float: left;
        min-width: 108px;
        margin: 0 0 0 -1px;
        box-sizing: border-box;
        background: #f1f1f1;
    }

        .stab-menu li:first-child {
            border-left: 0;
            margin: 0;
        }

        .stab-menu li a {
            position: relative;
            display: block;
            height: 38px;
            line-height: 38px;
            padding: 0 23px;
            text-align: center;
            font-size: 14px;
            color: #5a5a5a;
            -webkit-transition: all 0.1s ease-out;
            -moz-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
        }

            .stab-menu li.selected a,
            .stab-menu li a:hover {
                position: relative;
                color: #fff;
                background: #f05a89;
            }

            .stab-menu li a:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #dedede;
                box-sizing: border-box;
            }

            .stab-menu li.selected a:after,
            .stab-menu li a:hover:after {
                z-index: 1;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #e24e7d;
                box-sizing: border-box;
            }

.intab-menu {
    overflow: hidden;
    border: 3px solid #f1f1f1;
}

    .intab-menu li {
        float: left;
        width: 50%;
        background: #f1f1f1;
        text-align: center;
    }

        .intab-menu li.on {
            background: #fff;
        }

        .intab-menu li a {
            display: block;
            height: 54px;
            line-height: 54px;
            font-size: 16px;
            color: #5a5a5a;
        }

        .intab-menu li.on a {
            color: #222;
        }

        .intab-menu li.attend .ico {
            display: inline-block;
            padding: 0 0 0 34px;
            background: url('/lite/static/images/message/ico_attend.png') no-repeat 0 48%;
        }
        /* 출결 */
        .intab-menu li.attend.on .ico {
            background: url('/lite/static/images/message/ico_attend_on.png') no-repeat 0 48%;
        }

        .intab-menu li.receipt .ico {
            display: inline-block;
            padding: 0 0 0 34px;
            background: url('/lite/static/images/message/ico_receipt.png') no-repeat 0 50%;
        }
        /* 수납 */
        .intab-menu li.receipt.on .ico {
            background: url('/lite/static/images/message/ico_receipt_on.png') no-repeat 0 48%;
        }body {
}
