﻿@{
    ViewBag.Title = "금천구 대입지원 프로그램 소개";
    ViewBag.Navigation = "PROGRAMINFO";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>입시컨설팅</title>

    <link rel="stylesheet" type="text/css" href="~/Resources/css/intro_common.css" />
    <link rel="stylesheet" type="text/css" href="~/Resources/css/intro_style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            window.onload = function () {
                setTimeout(function () {
                    scrollTo(0, 0);
                }, 100);
            }

            $("a").click(function (event) {
                event.preventDefault();
            });

            const curHeight = $($("html")[0]).height().toString() + "px";

            window.parent.setFrameHeight(curHeight);
        });

        var goRequest = function (url, type) {
            parent.goRequest(url, type);
        }

    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <div id="wrap">
        @*<div id="header">
            <h1><img src="~/Resources/images/common/intro_logo.png" alt="로고">2020 금천구 대입지원 프로그램</h1>
        </div>*@
        <div class="content_wrap content1">
            <div class="section section1">
                <h2><span>20년 대치동 컨설턴트와 EBS 강사의<br />개인별 전담 컨설턴트 배치</span>프리미엄 1:1<br />입시컨설팅</h2>
                <p>안녕하세요.<br />금천구 대입지원 프로그램입니다.<br />전년도 <strong>참가자 99%의 만족도</strong>를 자랑한 본 프로그램이<br />더욱 뜨거운 관심을 받고 있습니다. <br /><br />금천구 대입지원 프로그램은<br /><strong>2021학년도 수시 및 정시를 준비하는 고3 수험생들</strong>과<br />맞춤 전형설계를 통한 대입전략 수립을 원하는<br /><strong>고1,2 학생들을  대상</strong>으로 진행됩니다.<br /><br />특히, 코로나로 인해 대입에 대한 불안감이 커지는 시기에<br />가정에서 자녀와 함께 집에서 국내 최고의 전문가로부터<br /><strong>수준 높은 1:1 입시 컨설팅</strong>을 받을 수 있는<br /><strong>화상, 온라인게시판컨설팅</strong>을 운영하고 있으니, 많은 참여 부탁드립니다.<br /><br /><strong>선착순 신청</strong>이므로, 늦지 않게 미리미리 신청하셔서<br />학생 여러분의 꿈을 이룰 귀중한 기회를 놓치지 마세요!<br />금천구는 여러분을 끝까지 응원합니다 !</p>
            </div>
            <!-- //section1 -->
            <div class="section section2">
                <h2><span>*현재 신청 접수중인 프로그램</span>1:1입시컨설팅 (화상/게시판 컨설팅)</h2>
                <style>
                    td{
                        font-size:18px !important;
                    }
                </style>
                <table style="width:85% !important;">
                    <thead>
                        <tr>
                            <th>신청기간</th>
                            <th colspan="2">프로그램</th>
                            <th>대상</th>
                            <th>인원</th>
                            <th>상담일정</th>
                            <th>신청</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2020. 05. 01 ~ 12. 16</td>
                            <td colspan="2">온라인 게시판 컨설팅</td>
                            <td>고1~N수생<br />및 학부모</td>
                            <td>50명</td>
                            <td>2020. 05. 01 ~ 12. 18</td>
                            <td class="btn" onclick="goRequest('@(Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=O" : "/Entrance/Consult?way=O")')"><span style="cursor:pointer;">신청</span></td>
                        </tr>
                        <tr>
                            <td>2020. 04. 27 ~ 11. 18</td>
                            <td rowspan="2">
                                화상/대면 컨설팅<br /><span style="font-size:15px;">*화상은 ZOOM프로그램(비대면) 활용</span>
                            </td>
                            <td>종합컨설팅<br /><span style="font-size:15px;">(진로, 학습, 진학 종합 로드맵)</span></td>
                            <td>중1~고3, N수생<br />및 학부모</td>
                            <td>210명</td>
                            <td>2020. 05. 18(월) ~ 11. 30 (월)</td>
                            <td class="btn" onclick="goRequest('@(Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=V" : "/Entrance/Consult?way=V")')"><span style="cursor:pointer;">신청</span></td>
                        </tr>
                        <tr>
                            <td>2020. 10. 15 ~ 12. 15</td>
                            <td>정시컨설팅</td>
                            <td>고3, N수생<br />및 학부모</td>
                            <td>40명</td>
                            <td>2020. 12. 26 (토)</td>
                            <td class="btn" onclick="goRequest('@(Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=V" : "/Entrance/Consult?way=I&eidx=6")')"><span style="cursor:pointer;">신청</span></td>
                        </tr>                    
                        @if (DateTime.Now < DateTime.Parse("2020-10-15 16:30"))
                        {
                        <tr>
                            <td>현재 ~ 2020.10.06</td>
                            <td rowspan="3">학부모입시아카데미<br><span style="font-size: 15px;">(* 온라인 실시간 유튜브 진행)</span></td>
                            <td>초·중등반</td>
                            <td rowspan="3">초·중·고 학생 <br />및 학부모</td>
                            <td>40명</td>
                            <td>2020.10.07(수)</td>
                            <td class="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-07 16:30") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-07 16:30") ? "" : "goRequest('/Presentation/ParentAcademy?pidx=26')")"><span>신청</span></td>
                        </tr>

                        <tr>
                            <td>현재 ~ 2020.10.07</td>
                            <td>공통(초·중·고)반</td>
                            <td>40명</td>
                            <td>2020.10.08(목)</td>
                            <td class="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-08 16:30") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-08 16:30") ? "" : "goRequest('/Presentation/ParentAcademy?pidx=27')")"><span>신청</span></td>
                        </tr>

                        <tr>
                            <td>현재 ~ 2020.10.14</td>
                            <td>고등반</td>
                            <td>40명</td>
                            <td>2020.10.14(수) ~ 10.15(목)</td>
                            <td class="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-15 16:30") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-15 16:30") ? "" : "goRequest('/Presentation/ParentAcademy?pidx=28')")"><span>신청</span></td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div style="width:80%; margin:18px auto 16px;">*코로나19 상황에 따라 온라인으로 운영될 수 있습니다. 참가자분들께 빠른시간내에 개별 연락드리겠습니다</div>
            </div>
            <div class="section section4" style="background-color:#FFD800;height:460px;">
                <div class="tit_box" style="top:0px;">
                    <h2 style="padding-top:0px;">금천구 대입지원 앱 출시 !!</h2>
                </div>
                <ul style="top:240px;">
                    <li>이젠 폰으로도 서비스를 편하게 이용하세요.</li>
                    <li>자동 알림 기능으로 선착순 신청도 잊지 않고 확인 가능!</li>
                    <li>다양한 입시프로그램을 손쉽게 접할 수 있는 기회!</li>
                    <li><strong style="font-size:28px;">App store(아이폰), Play store(안드로이드) -> '금천구 대입지원'을 검색하세요.</strong></li>
                    <li><strong style="text-decoration:underline; color:#428bca; cursor:pointer;" onclick="goRequest('/금천구_대입지원_앱_사용법.pdf', '_blank')">※금천구 대입지원 앱 사용법 다운로드</strong></li>
                </ul>
            </div>
            <!-- //section2 -->
            <div class="section section3">
                <h2>금천구 대입지원<br />프로그램 소개</h2>
                <div class="box">
                    <div class="box1">
                        <h3><img src="~/Resources/images/common/ico_3-1.png">1:1입시컨설팅(화상, 대면, 게시판 컨설팅)</h3>
                        <p>수시정시 합격예측, 장·단기 입시전략, 비교과 로드맵 및 학생부 관리<strong> 20년 이상 대치동 전문 컨설턴트</strong>와 <strong>EBS 대표강사</strong>의 개인별  전담 컨설턴트 배치</p>
                        <span>*대상: 고1-N수생,  370명 (선착순, 개인별 지원전략  리포트 배부)</span>
                    </div>
                    <div class="box2">
                        <h3><img src="~/Resources/images/common/ico_3-2.png">대입 설명회 (수시, 전문대, 정시)</h3>
                        <p>최고의 입시 전문가와 전문대교협 진학지원관이 직접 합불데이터로 분석한 <strong>우리 지역 맞춤 설명회</strong></p>
                        <span>*대상: 학생 및 학부모,  500명 (배치자료집 배부)</span>
                    </div>
                    <div class="box3">
                        <h3><img src="~/Resources/images/common/ico_3-3.png">입학사정관 특강</h3>
                        <p>서울 및 수도권 15개 <strong>대학 현직 입학사정관 초빙, 특강 및 질의응답</strong></p>
                        <span>*대상: 학생 및 학부모, 각 50명 (선착순, 대학별 자료집 배부)</span>
                    </div>
                    <div class="box4">
                        <h3><img src="~/Resources/images/common/ico_3-4.png">학부모 입시 아카데미</h3>
                        <p>최고의 진로진학 전문가 초빙의 초·중·고 학교 급별운영<strong>(수,목 저녁7-9시, 4회차)</strong></p>
                        <span>*대상: 학부모, 각 40명 (선착순, 교재 배부)</span>
                    </div>
                </div>
            </div>
            <!-- //section3 -->
            <div class="section section4">
                <div class="tit_box">
                    <img src="~/Resources/images/common/img_sec4.png">
                    <h2>신청 접수중<span>놓치지 말고 지금 바로 신청하세요</span></h2>
                </div>
                <ul>
                    <li><strong>• 신청 :</strong> 프로그램 신청 기간에만 신청이 가능합니다.</li>
                    <li><strong>• 예비 :</strong> 모집인원이 초과되면 ‘예비대기자’로 신청이 가능하며, 취소자 발생 시에 담당자가 연락을 드립니다. </li>
                    <li><strong>• 마감 :</strong> 신청 기간이 지나면 마감됩니다. </li>
                    <li><strong>* 문의 : 금천구청 교육지원과(02-2627-2822),  담당자 직통(070-5125-8615)</strong></li>
                </ul>
            </div>
            <!-- //section4 -->
        </div>
        <!-- //page1 -->


        <div class="content_wrap content2">
            <div class="section section5">
                <div class="tit_box">
                    <h2>1:1 입시컨설팅<span>선착순!<br />신청접수</span></h2>
                    <ul>
                        <li><strong>· 수시정시 합격예측, 장·단기 입시전략, 비교과 로드맵 및 학생부 관리</strong></li>
                        <li>· 20년 이상 대치동 전문 컨설턴트와 <span>EBS 대표강사의  개인별  전담 컨설턴트 배치</span></li>
                        <li><strong>· 대상: 중1-3학생, 고1-N수생,  370명 (선착순)</strong></li>
                    </ul>
                </div>
            </div>
            <!-- //section5 -->
            <div class="section section6" style="display:none;">
                <h2>현재 신청 접수중</h2>
                <table>
                    <!-- <colgroup>
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                </colgroup> -->
                    <thead>
                        <tr>
                            <th>신청기간</th>
                            <th colspan="2">프로그램</th>
                            <th>대상</th>
                            <th>인원</th>
                            <th>상담일정</th>
                            <th>신청</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2020. 05. 01 ~ 12. 16</td>
                            <td colspan="2">온라인 게시판 컨설팅</td>
                            <td rowspan="3">고1~N수생<br />및 학부모</td>
                            <td>50명</td>
                            <td>2020. 05. 01 ~ 12. 18</td>
                            <td class="btn" onclick="goRequest('@(Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=O" : "/Entrance/Consult?way=O&")')"><span>신청</span></td>
                        </tr>
                        <tr>
                            <td rowspan="3">2020. 06. 01 ~ 08. 26</td>
                            <td rowspan="3">화상컨설팅</td>
                            <td rowspan="2">종합컨설팅</td>
                            <td rowspan="2">70명</td>
                            <td>2020. 06. 20 ~ 07. 05</td>
                            <td class="btn" onclick="goRequest('@(Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=V" : "/Entrance/Consult?way=V")')"><span>신청</span></td>
                        </tr>
                        <tr>
                            <td>2020. 07. 30 ~ 08. 30</td>
                            <td class="btn" onclick="goRequest('@(Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=V" : "/Entrance/Consult?way=V")')"><span>신청</span></td>
                        </tr>
                        <tr>
                            <td>수시컨설팅</td>
                            <td>고3,N수생<br />및 학부모</td>
                            <td>70명</td>
                            <td>2020. 07. 30 ~ 08. 30</td>
                            <td class="btn" onclick="goRequest('@(Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=V" : "/Entrance/Consult?way=V")')"><span>신청</span></td>
                        </tr>
                        <tr>
                            <td>2020. 07. 30 ~ 08. 26</td>
                            <td>화상컨설팅</td>
                            <td>종합컨설팅</td>
                            <td>중1~3학생<br /> 및 학부모</td>
                            <td>50명</td>
                            <td>2020. 07. 30 ~ 08. 30</td>
                            <td class="btn" onclick="goRequest('@(Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=V" : "/Entrance/Consult?way=V")')"><span style="cursor:pointer;">신청</span></td>
                        </tr>
                        <tr style="@(DateTime.Now < DateTime.Parse("2020-06-03") ? "display:none;" : "")">
                            <td rowspan="2">2020. 06. 03 ~ 07. 24</td>
                            <td colspan="2">수시 지원전략</td>
                            <td rowspan="2">희망 학생<br />및 학부모</td>
                            <td rowspan="2">500명</td>
                            <td rowspan="2">2020. 08. 07<br />(18:50 ~ 21:00)</td>
                            <td class="btn" onclick="goRequest('/Presentation/Occasional')"><span>신청</span></td>
                        </tr>
                        <tr style="@(DateTime.Now < DateTime.Parse("2020-06-03") ? "display:none;" : "")">
                            <td colspan="2">전문대 지원전략</td>
                            <td class="btn" onclick="goRequest('/Presentation/Occasional')"><span>신청</span></td>
                        </tr>
                        <tr style="@(DateTime.Now < DateTime.Parse("2020-06-03") ? "display:none;" : "")">
                            <td rowspan="3">2020. 06. 03 ~ 07. 29</td>
                            <td rowspan="3" colspan="2">입학사정관 특강</td>
                            <td rowspan="3">희망 학생<br />및 학부모</td>
                            <td rowspan="3">각 50명</td>
                            <td>2020. 07. 28<br />(16:50 ~ 19:00)</td>
                            <td class="btn" onclick="goRequest('/Presentation/Admissions')"><span>신청</span></td>
                        </tr>
                        <tr style="@(DateTime.Now < DateTime.Parse("2020-06-03") ? "display:none;" : "")">
                            <td>2020. 07. 29<br />(16:50 ~ 18:30)</td>
                            <td class="btn" onclick="goRequest('/Presentation/Admissions')"><span>신청</span></td>
                        </tr>
                        <tr style="@(DateTime.Now < DateTime.Parse("2020-06-03") ? "display:none;" : "")">
                            <td>2020. 07. 30<br />(16:50 ~ 18:40)</td>
                            <td class="btn" onclick="goRequest('/Presentation/Admissions')"><span>신청</span></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- //section6 -->
            <div class="section section7">

                <h2>1:1입시컨설팅</h2>

                <table>

                    <!-- <colgroup>

                    <col width="">

                    <col width="">

                    <col width="">

                    <col width="">

                    <col width="">

                    <col width="">

                </colgroup> -->

                    <thead>

                        <tr>

                            <th colspan="2">운영방식</th>

                            <th>대상</th>

                            <th>인원</th>

                            <th>상담일정</th>

                            <th>신청기간</th>

                            <th>신청</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>
                            <td colspan="2" class="tit"><strong>온라인게시판 컨설팅</strong></td>
                            <td>고1~N수생<br />및 학부모</td>
                            <td>50명</td>
                            <td>2020. 05. 01 (금) ~ 12. 18 (금)</td>
                            <td>2020. 05. 01 ~ 12. 15</td>
                            <td class="btn" onclick="goRequest('@(Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=O" : "/Entrance/Consult?way=O")')"><span>신청</span></td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="tit"><strong>화상<br />컨설팅</strong><span>* 대면없이<br />ZOOM프로그램<br />활용</span></td>
                            <td class="tit">종합컨설팅<br />(진로,학습,진학<br />종합 로드맵)</td>
                            <td>중1~고3,N수생<br />및 학부모</td>
                            <td>210명</td>
                            <td>2020. 05. 18 (월) ~ 11. 30 (일)</td>
                            <td>2020. 04. 27 ~ 11. 18</td>
                            <td class="@(DateTime.Now > DateTime.Parse("2020-11-19") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now > DateTime.Parse("2020-11-19") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=V" : "/Entrance/Consult?way=V") + "')")"><span>신청</span></td>
                        </tr>                   
                        <tr>

                            <td class="tit">수시컨설팅</td>
                            <td rowspan="2">고3,N수생<br />및 학부모</td>
                            <td>70명</td>
                            <td>현재 ~ 2020. 09. 25 (금)</td>
                            <td>현재 ~ 2020. 09. 14</td>
                            <td class="@(DateTime.Now > DateTime.Parse("2020-09-15") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now > DateTime.Parse("2020-09-15") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=V" : "/Entrance/Consult?way=V") + "')")"><span>신청</span></td>

                        </tr>
                        <tr>
                            <td class="tit">정시컨설팅</td>
                            <td>40명</td>
                            <td>2020. 12. 26 (토)</td>
                            <td>2020. 10. 15 ~ 12. 15</td>
                            <td class="@(DateTime.Now < DateTime.Parse("2020-10-15") || DateTime.Now > DateTime.Parse("2020-12-16") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-10-15") || DateTime.Now > DateTime.Parse("2020-12-16") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=I" : "/Entrance/Consult?way=I&eidx=6") + "')")"><span>신청</span></td>
                        </tr>



                        @*대면컨설팅*@
                        <tr style="display:none;">

                            <td rowspan="6" class="tit"><strong>대면<br />컨설팅</strong><br />*코로나19로<br />일정 변경 가능</td>

                            <td rowspan="3" class="tit">종합컨설팅</td>

                            <td>고1~N수생<br />및 학부모</td>

                            <td>50명</td>

                            <td>2020. 11. 07 (토)</td>

                            <td>현재 ~ 2020. 10. 27</td>

                            <td class="@(DateTime.Now < DateTime.Parse("2020-8-1") || DateTime.Now > DateTime.Parse("2020-10-27") ? "btn_disabled" : "btn")"
                                onclick="@(DateTime.Now < DateTime.Parse("2020-8-1") || DateTime.Now > DateTime.Parse("2020-10-27") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=I&eidx=5" : "/Entrance/Consult?way=I&eidx=5") + "')")">
                                <span>신청</span>
                            </td>

                        </tr>
                        <tr style="display:none;">



                            <td>고1~N수생<br />및 학부모</td>

                            <td rowspan="3">40명</td>

                            <td rowspan="3">2020. 09. 12 (토)</td>
                            <td rowspan="3">현재 ~ 2020. 08. 31</td>
                            <td class="@(DateTime.Now > DateTime.Parse("2020-09-01") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now > DateTime.Parse("2020-09-01") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=I&eidx=4" : "/Entrance/Consult?way=I&eidx=4") + "')")"><span>신청</span></td>
                        </tr>
                        <tr style="display:none;">



                            <td>중1~3학생 및 학부모 </td>

                            <td class="@(DateTime.Now > DateTime.Parse("2020-09-01") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now > DateTime.Parse("2020-09-01") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=I&eidx=4" : "/Entrance/Consult?way=I&eidx=4") + "')")"><span>신청</span></td>

                        </tr>
                        <tr style="display:none;">

                            <td rowspan="2" class="tit">수시컨설팅</td>

                            <td>고3~N수생<br />및 학부모</td>

                            <td class="@(DateTime.Now > DateTime.Parse("2020-09-01") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now > DateTime.Parse("2020-09-01") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=I&eidx=4" : "/Entrance/Consult?way=I&eidx=4") + "')")"><span>신청</span></td>

                        </tr>
                        <tr style="display:none;">

                            <td rowspan="2">고1~N수생<br />및 학부모</td>

                            <td>20명</td>

                            <td>2020. 08. 08 (토)</td>

                            <td>2020. 07. 01 ~ 07. 27</td>

                            <td class="btn_disabled"><span>신청</span></td>

                        </tr>
                        <tr style="display:none;">

                            <td class="tit">정시컨설팅</td>
                            <td>20명</td>
                            <td>2021. 01. 03 (일)</td>
                            <td>2020. 11. 02 ~ 12. 20</td>
                            <td class="@(DateTime.Now < DateTime.Parse("2020-11-02") || DateTime.Now > DateTime.Parse("2020-12-21") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-11-02") || DateTime.Now > DateTime.Parse("2020-11-21") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=I" : "/Entrance/Consult?way=I") + "')")"><span>신청</span></td>

                        </tr>

                    </tbody>

                </table>
                <div style="width:80%; margin:18px auto 16px;">
                    * 대면컨설팅 – 코로나19로 인해 비대면 화상컨설팅으로 운영합니다. 대면컨설팅과 화상컨설팅의 질은 동일하며, 오히려 화상컨설팅의 만족도가 더 높습니다.
                </div>
                <!-- //section7 -->
                <div class="section section8">
                    <h2>대입설명회</h2>
                    <ul>
                        <li>· 최고의 입시 전문가와 전문대교협 진학지원관이 직접 합불데이터로 분석한 우리 지역 맞춤 설명회</li>
                        <li>· 대상: 학생 및 학부모,  500명 (선착순, 배치자료집 배부)</li>
                    </ul>
                    <div class="table">
                        <span>※ 사전 신청자에게는 배치 자료집을 드립니다 (대학별 요강, 8개 입시기관 배치점수 포함)</span>
                        <table>
                            <!-- <colgroup>
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                        </colgroup> -->
                            <thead>
                                <tr>
                                    <th>운영방식</th>
                                    <th>진행</th>
                                    <th>대상</th>
                                    <th>인원</th>
                                    <th>행사일정</th>
                                    <th>신청기간</th>
                                    <th>신청</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tit"><strong>수시 지원전략</strong></td>
                                    <td rowspan="3">온라인(유튜브스트리밍)</td>
                                    <td rowspan="3">희망 학생<br />및 학부모</td>
                                    <td rowspan="2">500명</td>
                                    <td rowspan="2">2020. 08. 07 (금)<br />18:50 ~ 21:00</td>
                                    <td rowspan="2">2020. 06. 03 ~ 08. 06</td>
                                    <td class="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-08-07") ? "btn_disabled" : "btn")"
                                        onclick="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-08-07") ? "" : "goRequest('/Presentation/Occasional')")">
                                        <span>신청</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tit"><strong>전문대 지원전략</strong></td>
                                    <td class="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-08-07") ? "btn_disabled" : "btn")"
                                        onclick="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-08-07") ? "" : "goRequest('/Presentation/Occasional')")">
                                        <span>신청</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tit"><strong>정시 지원전략</strong></td>
                                    <td>300명</td>
                                    <td>2020. 12. 12 (토)<br />14:00 - 16:00</td>
                                    <td>현재 ~ 2020.12. 11</td>
                                    <td class="@(DateTime.Now < DateTime.Parse("2020-10-01") || DateTime.Now > DateTime.Parse("2020-12-12") ? "btn_disabled" : "btn")"
                                        onclick="@(DateTime.Now < DateTime.Parse("2020-10-01") || DateTime.Now > DateTime.Parse("2020-12-12") ? "" : "goRequest('/Presentation/Occasional')")">
                                        <span>신청</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span>*연초에 계획한 일정이 코로나19로 인해 부분 수정되었습니다. <br />* 코로나19 상황에 따라 온라인으로 운영될 수 있습니다.</span>
                    </div>
                </div>
                <!-- //section8 -->
                <div class="section section9">
                    <h2>입학사정관 특강<span>대학별 합격 사례 및 면접관을 사로잡는 학생부,자소서,면접 Tip 대방출</span></h2>
                    <ul>
                        <li>· 서울 및 수도권 15개 대학 현직 입학사정관 초빙, 특강 및 질의응답</li>
                        <li>· 대상: 학생 및 학부모, 각 100명 (선착순, 대학별 자료집 배부)</li>
                    </ul>
                    <div class="table">
                        <table>
                            <!-- <colgroup>
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                        </colgroup> -->
                            <thead>
                                <tr>
                                    <th>운영방식</th>
                                    <th>대상</th>
                                    <th>인원</th>
                                    <th>대학</th>
                                    <th>행사일정</th>
                                    <th>신청기간</th>
                                    <th>신청</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3" class="tit"><strong>입학사정관 특강</strong><span>(서울 및 수도권 10개 대학 현직 입사관)</span></td>
                                    <td rowspan="3">희망 학생<br />및 학부모</td>
                                    <td rowspan="3" style="max-width:80px;">오프라인 각 50명<span style="margin-left:0px; margin-right:0px; width:100%;">(온라인은 전원 시청 가능)</span></td>
                                    <td>홍익대학교<br />명지대학교<br />서울시립대학교</td>
                                    <td>2020. 07. 28 (화)<br />16:50 - 19:00</td>
                                    <td>2020. 06. 03 ~ 07. 27</td>
                                    <td class="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-07-28") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-07-28") ? "" : "goRequest('/Presentation/Admissions')")"><span>신청</span></td>
                                </tr>
                                <tr>
                                    <td>단국대학교<br />세종대학교<br />인하대학교</td>
                                    <td>2020. 07. 29 (수)<br />16:50 - 18:30</td>
                                    <td>2020. 06. 03 ~ 07. 28</td>
                                    <td class="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-07-29") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-07-29") ? "" : "goRequest('/Presentation/Admissions')")"><span>신청</span></td>
                                </tr>
                                <tr>
                                    <td>서강대학교<br />광운대학교<br />서울과학기술대학교</td>
                                    <td>2020. 07. 30 (목)<br />16:50 - 18:40</td>
                                    <td>2020. 06. 03 ~ 07. 29</td>
                                    <td class="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-07-30") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-07-30") ? "" : "goRequest('/Presentation/Admissions')")"><span>신청</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <span>*연초에 계획한 일정이 코로나19로 인해 부분 수정되었습니다</span>
                    </div>
                </div>
                <!-- //section9 -->
                <div class="section section9">
                    <h2>학부모 입시 아카데미<span>학부모가 반드시알아야 할 고입 · 대입의 핵심,<br />학생부종합전형 대비자소서 및 면접 전략의 실체 </span></h2>
                    <ul>
                        <li>· 최고의 진로진학 전문가 초빙의 초·중·고 학교 급별 운영(수,목 저녁7-9시, 4회차)</li>
                        <li>· 대상: 학부모, 각 40명 (선착순, 교재 배부)</li>
                        <li>·강의용 교재는 해당 강의 시작 1시간전부터 종료 1시간 후까지 <a onclick="goRequest('/Presentation/BatchDown', '_blank');" style="text-decoration:underline; color:navy; font-weight:bold; cursor:pointer;">다운로드</a> 가능합니다.</li>
						<li><강의안은 참가자분들께 참고로 올려드린 것으로, 강의시간 활용외에 일체 활용을 금지합니다></li>
                    </ul>
                    <div class="table">
                        <table>
                            <!-- <colgroup>
            <col width="">
            <col width="">
            <col width="">
            <col width="">
            <col width="">
            <col width="">
        </colgroup> -->
                            <thead>
                                <tr>
                                    <th>운영방식</th>
                                    <th>대상</th>
                                    <th>인원</th>
                                    <th>행사일정</th>
                                    <th>신청기간</th>
                                    <th>신청</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tit"><strong>초·중등 반</strong></td>
                                    <td rowspan="3">희망 학생<br />및 학부모</td>
                                    <td rowspan="3">40명<br />*3반</td>
                                    <td>2020. 10. 07 (수)<br />19:00 - 21:30</td>
                                    <td>2020. 09. 01 ~ 10. 06</td>
                                    <td class="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-07 16:30") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-07 16:30") ? "" : "goRequest('/Presentation/ParentAcademy?pidx=26')")"><span>신청</span></td>
                                </tr>
                                <tr>
                                    <td class="tit"><strong>공통(초·중·고) 반</strong></td>
                                    <td>2020. 10. 08 (목)<br />19:00 - 21:30</td>
                                    <td>2020. 09. 01 ~ 10. 07</td>
                                    <td class="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-08 16:30") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-08 16:30") ? "" : "goRequest('/Presentation/ParentAcademy?pidx=27')")"><span>신청</span></td>
                                </tr>
                                <tr>
                                    <td class="tit"><strong>고등반</strong></td>
                                    <td>2020. 10. 14 - 15 (수 - 목)<br />19:00 - 21:30</td>
                                    <td>2020. 09. 01 ~ 10. 14</td>
                                    <td class="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-15 16:30") ? "btn_disabled" : "btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-15 16:30") ? "" : "goRequest('/Presentation/ParentAcademy?pidx=28')")"><span>신청</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <span>
                            운영방식 : 온라인 실시간 유튜브 (코로나로 인해 비대면 교육)<br />
                        </span>
                        <span>
                            * 사전 신청하신 분만 초대하여 입장 가능하니, 반드시 사전 신청 부탁드립니다. (선착순 주의)
                        </span>
                    </div>
                    </div>
                </div>
                <!-- //section10 -->
            </div>
            <!-- //page2 -->
        </div>
    </div>
</body>
</html>