﻿@{
    ViewBag.Title = "금천구 대입지원 프로그램 소개";
    ViewBag.Navigation = "PROGRAMINFO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Javascript {
    <script type="text/javascript">


        var goRequest = function (url, target) {
            @*let url = "";

            switch (controller.toLowerCase()) {
                case "entrance":
                    switch (action.toLowerCase()) {
                        case "consult": url = "@(Url.Action("Consult", "Entrance"))" + "?" + param; break;
                    } break;
            }*@

            if (url != "" && target == null) {
                location.href = url;
            }
            else if (url != "") {
                window.open(url, target);
            }
        }
       

        var setFrameHeight = function (size) {
            $("iframe")[0].style.height = size ?? $("iframe")[0].style.height;
        }

    </script>
}

<div class="yyyyyy" style="max-width:1280px; height:180px; margin-left:auto; margin-right:auto; font-size:20px; border:5px solid #cacaca; padding:20px; margin-bottom:20px;">
    <p>2020.08.07(금) 18:50 - 21:20</p>
    <p>수시지원전략설명회 진행!</p>
    <p>(온라인,유튜브 스트리밍)</p>
    <p>
        설명회 링크 바로가기 : <a style="text-decoration:underline;" href="https://youtu.be/Try9G5RqDD4">https://youtu.be/Try9G5RqDD4</a>
    </p>
</div>



                    
<iframe src="@Url.Action("Index", "Application")" style="width: 1240px; height: 10000px; border:0px;"></iframe>

