@font-face {
    font-family: 'Jalnan';
    src: url(http://geumcheon.eduplan.co.kr/MobileWebService/Resources/font/Jalnan.ttf);
    src: url(http://geumcheon.eduplan.co.kr/MobileWebService/Resources/font/Jalnan.otf);
    src: url(http://geumcheon.eduplan.co.kr/MobileWebService/Resources/font/Jalnan.woff);
}

body {
    padding-top: 56px;
    background-color: #fafafa;
    font-family: "Nanum Gothic", "ROBOTO";
    margin: 0px;
    padding-bottom: 56px;
}

@media (min-width: 600px) {
    body {
        padding-top: 64px;
    }
}

.MuiBox-root {
    color: rgba(0, 0, 0, 0.87);
    border-color: #dadada !important;
    font-weight: 500;
}

.MuiBox-root-primary {
    border-color: #FF7C27 !important;
}

.react-calendar {
    width: 100% !important;
}

.react-swipeable-view-container {
    height: 100%;
}

.icon {
    display: inline-block;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
}

    .icon.Ty1 {
        font-size: 14px;
        border: 1px solid #FF3736;
        background-color: #FF3736;
        color: #fff;
        border-radius: 16px;
        
    }
    .icon.Ty1 div {
        color: #fff;
    }

    .icon.Ty2 {
        font-size: 14px;
        border: 1px solid #000;
        background-color: #fff;
        color: #000;
        border-radius: 16px;
        
    }
        .icon.Ty2 div {
            color: #000;
        }

        .icon.Ty2.cl1 {
            border: 1px solid #df1717;
            background-color: #df1717;
            color: #fff;
        }

    .icon.Ty3 {
        font-size: 14px;
        border: 1px solid #2F96D4;
        background-color: #2F96D4;
        color: #fff;
        border-radius: 16px;
        
    }
    .icon.Ty3 div {
        color: #fff;
    }

        .icon.Ty3.cl1 {
            border: 1px solid #993d3d;
            color: #993d3d;
        }

        .icon.Ty3.cl2 {
            color: #fff;
            border: 1px solid #626a73;
            background-color: #626a73;
        }

        .icon.Ty3.on {
            color: #fff;
            border: 1px solid #455277;
            background-color: #455277;
        }

        .icon.Ty3.cl1.on {
            color: #fff;
            border: 1px solid #993d3d;
            background-color: #993d3d;
        }

        .icon.Ty3.cl2.on {
            border: 1px solid #27292b;
            background-color: #27292b;
        }

    .icon.Ty4 {
        font-size: 14px;
        color: #fff;
        border: 1px solid #26C85E;
        background-color: #26C85E;
        border-radius: 16px;
        
    }
        .icon.Ty4 div {
            color:#fff;
        }

        .icon.Ty4.cl1 {
            background-color: #667380;
        }

        .icon.Ty4.cl2 {
            background-color: #80666e;
        }

        .icon.Ty4 + span {
            margin-left: 10px;
        }

    .icon.Ty5 {
        font-size: 14px;
        color: #fff;
        background-color: #bfbfbf;
    }

        .icon.Ty5.cl1 {
            background-color: #9681f7;
        }

        .icon.Ty5.cl2 {
            background-color: #838383;
        }

        .icon.Ty5.cl3 {
            background-color: #487bd0;
        }

        .icon.Ty5.cl4 {
            background-color: #638c0b;
        }

        .icon.Ty5.cl5 {
            background-color: #2a99e1;
        }
