﻿<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>금천구 대입지원 프로그램</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <link rel="stylesheet" href="../Resources/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../Resources/css/base.css" type="text/css" />
    <link rel="stylesheet" href="../Resources/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="../Resources/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="../Resources/css/loading.css" type="text/css" />
    <style>
        .mainLayerPop {
            background-color: black;
            moz-opacity: 0.9;
            -ms-filter: "alpha(opacity:0.9)";
            filter: alpha(opacity:80);
            opacity: 0.9;
            width: 100%;
            height: 2400000px;
            z-index: 998;
            position: absolute;
            top: 0px;
        }
    </style>
    <script type="text/javascript" src="../Resources/js/vendor.js"></script>
    <script type="text/javascript" src="../Resources/js/base.js"></script>
    <script src="../Resources/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../Resources/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="../Resources/js/loading.js"></script>
    <script type="text/javascript" src="../Resources/js/jquery-ui.js"></script>
    <script type="text/javascript" src="../Resources/js/fpUtil.js"></script>
    <script type="text/javascript">
        var $curMenu = null;
        $(document).ready(function () {

            var d = new Date();

            var curr_year = d.getFullYear();
            var curr_month = d.getMonth()+1;
            var curr_dd = d.getDate();

            var curr_hour = d.getHours();
            var curr_minute = d.getMinutes();
            var curr_date = curr_year + '-' + curr_month + '-' + curr_dd + ' '+curr_hour + ":" + curr_minute;
           var open_time = "2020-8-7 17:00";
           var close_time = "2020-8-7 21:00";
           if (Date.parse(curr_date) > Date.parse(open_time) && Date.parse(curr_date) < Date.parse(close_time)) {

           } else {
               $(".yyyyyy").remove();
            }




            $('.side_w .gnb > ul > li a').on('click', function () {
                if ($(this).parent('li').hasClass('curr')) {
                    $(this).parent('li').removeClass('curr');
                } else {
                    $(this).parent('li').addClass('curr');
                }
            });

            var login_modal = document.getElementById('login-modal');
            $(".modal-content").draggable();
            $("#btn-open-login-diaolg").click(function () {
                login_modal.style.display = "block";
            });

            $("#btn-modal-close").click(function () {
                login_modal.style.display = "none";
            });
            //$("#dv-info").css("display", "none");


            $("div.menu > a").on("mouseover", function () {
                $(".topmenu").each(function () {
                    $(this).removeClass("on");
                });
                $(this).parent().parent().addClass("on");
            });

            $("ul.submenu > li > a").on("mouseover", function () {
                $(this).parent().addClass("on");
            }).on("mouseout", function () {
                $(this).parent().removeClass("on");
                });

            $("ul.submenu > li").each(function () {
                if ($(this).attr("actionName") == "@ViewBag.Navigation") {
                    $(this).addClass("select");
                    $(this).parent().parent().addClass("on");
                    $curMenu = $(this);
                }
            });



            if ($curMenu != null) {
                $("div[name=navarea]").on("mouseleave", function () {
                    console.log("mouseout");
                    $(".topmenu").each(function () {
                        $(this).removeClass("on");
                    });
                    $curMenu.addClass("select");
                    $curMenu.parent().parent().addClass("on");
                });
            }

            if (getCookie('view_popup') == "1") {
                $("#popup-notice").remove();
            }
        });

        $(function () {
            //alert('@ViewBag.Navigation')
            @*$(".gnb").find("li").each(function () {
                if ($(this).attr("actionname") == "@ViewBag.Navigation") {
                    $(this).find("a").css("color", "#3785ca");
                    $(this).find("a").css("font-weight", "bold");

                    //if (!$(this).hasClass("on"))
                    //    $(this).addClass("on");

                    //if (!$(this).closest(".topMenu").hasClass("curr"))
                    //    $(this).closest(".topMenu").addClass("curr");

                    //if (!$(this).hasClass("curr"))
                    //    $(this).addClass("curr");

                    //$(".gnb").find(".topMenu").not($(this).closest(".topMenu")).removeClass("curr");
                    //$(".gnb").find("li").not($(this)).removeClass("on");
                }
            });*@

            $("input[type=text].int").keydown(function () {
                onlyNumber(this)
            });

            $("input[type=text].float").keydown(function () {
                onlyFloat(this)
            });
            $("#btnRepotViewClose").click(function () {
                $("#print_frame").attr("src", "");
            });

            $("#btn-login").click(function () {
                //alert('test');
                fnLogin();
            });

            $("#btn-login-modal-close").click(function () {
                //login_modal.style.display = "none";
                $("#login-modal").css("display", "none");
            });

            $("#btn-temp-close").click(function () {
                setCookie("view_popup", "1");
                $("#popup-notice").remove();

            });

        });
        var setCookie = function (name, value, day) {
            var date = new Date();
            date.setTime(date.getTime() + day * 60 * 60 * 24 * 1000);
            document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
        };

        var getCookie = function (name) {
            var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return value ? value[2] : null;
        };

        var deleteCookie = function (name) {
            var date = new Date();
            document.cookie = name + "= " + "; expires=" + date.toUTCString() + "; path=/";
        }
        fnLogin = function () {
            var id = $("#txt-t-id").val();
            var pwd = $("#txt-t-pwd").val();
		$.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'id': id
            ,   'pwd':pwd
            }),
            url: '@Url.Action("LoginTeacher", "Consult")',
            success: function (msg) {
                var result = msg.jsonMsg;
                if (result == "T") {
                    $("#login-modal").css("display", "none");
                    location.href = "index?w=T";
                }
                else {
                    alert("일치하는 계정정보가 없습니다");
                }
            },
            error: function (xhr, msg) {alert(msg);},
            });


        $("input[type=text].int").keydown(function () {
            onlyNumber(this)
        });

        $("input[type=text].float").keydown(function () {
            onlyFloat(this)
        });
	}
    function divLineDraw() {
        var winHeight = $(window).height();
        var gnbHeight = $('.side_w').outerHeight();
        var contHeight = $('.container').outerHeight();
        //윈도우 높이보다 sidebox, container의 높이가 작을경우 임의로 높이 지정
        if (winHeight > gnbHeight && winHeight > contHeight) {
            $('.side_w').css({ 'height': winHeight, 'border-right': '1px solid #ddd' });
        } else {
            if (gnbHeight > contHeight) {
                $('.side_w').css({ 'border-right': '1px solid #ddd' });
                $('.container').css({ 'border-left': 0 });
            } else {
                $('.side_w').css({ 'border-right': 0 });
                $('.container').css({ 'border-left': '1px solid #ddd' });
            }
        }
    }
    onlyNumber = function(obj) {
        $(obj).keyup(function () {
            $(this).val($(this).val().replace(/[^0-9]/g, ""));
        });
    }

    onlyFloat = function(obj) {
        $(obj).keyup(function () {
            $(this).val($(this).val().replace(/[^.0-9]/g, ""));
        });
    }
    isEmpty = function (str) {
        return (str.length === 0 || !str.trim());
    }
    inNumber = function () {
        if (event.keyCode < 48 || event.keyCode > 57) {
            event.returnValue = false;
        }
    }
    </script>
    @RenderSection("Javascript", required: false)
    @RenderSection("CSS", required: false)
    <style type="text/css" media="print">
        .no-print {
            display: none;
        }
    </style>
</head>

<body class="gray">
    <div id="popup-notice" class="yyyyyy mainLayerPop" style="width:100%;min-width:1210px;display:none;">
        <div style="font-size:30px; margin-left:30%; width:100%; color:white; margin-top:10%; ">
            <p>2020.08.07(금) 18:50 - 21:20</p>
            <p>수시지원전략설명회 진행!</p>
            <p>(온라인,유튜브 스트리밍)</p>
            <p>
                설명회 링크 바로가기 : <a style="text-decoration:underline;" href="https://youtu.be/Try9G5RqDD4">https://youtu.be/Try9G5RqDD4</a>
            </p>
        </div>
        <div id="btn-temp-close" style="text-decoration:underline; font-size:30px; margin-left:30%; width:100%; color:white; margin-top:10%;margin-left:60%;">창닫기</div>
    </div>
    <div style="height:100%;">
        <header class="head" style="height:100px; background-color: #fff;">
            <div style="height:90px; flex-direction:row;  display:flex; text-align:center; ">
                <div style="width:100%; display:flex;">
                    <div style="background: url(../../Resources/images/common/logo_m.png) no-repeat; background-size:100%; width:160px; background-position:center 25px; left:25px; height:90px; position:absolute; ">
                        <a href="/Application/Info"></a>
                    </div>
                    <h1 style="line-height:102px; font-size:24px; color:#9966FF; text-align:center; margin-left:auto; margin-right:5px;">금천구 </h1><h1 style="line-height:102px; font-size:24px; color:#EE7855; text-align:center; margin-right:auto;">대입지원프로그램</h1>
                </div>
                <div style="position:absolute; right:0px; display:flex; top:50%; transform: translate(0px, -50%);">
                    @if (string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.ConsultId))
                    {
                        <div class="loginbtn"><a href="/Account/Login">로그인</a></div>
                        <div class="loginbtn"><a href="/Account/Join">회원가입</a></div>
                    }
                    else
                    {
                        <div class="loginbtn"><a href="/Account/Logout">로그아웃</a></div>
                        if (string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.TeacherIdx))
                        {
                            <div class="loginbtn"><a href="/Account/Modify">정보수정</a></div>
                        }
                    }
                </div>
            </div>
        </header>
        <div style="width:100%;">
            <div name="navarea">
                <nav style="background-color:#FFF;">
                    <div style="display:flex; width:100%; text-align:center;">
                        <!--메인 메뉴-->
                        <ul style="display:flex; flex-direction:row; margin-left:auto; margin-right:auto;">
                            <li class="topmenu curr">
                                <div class="bar"></div>
                                <div class="menu">
                                    <a href="/Application/Info">
                                        <span>프로그램소개</span>
                                    </a>
                                </div>
                                <ul class="submenu">
                                    <li actionName="PROGRAMINFO">
                                        <a href="/Application/Info" class="sub-menu">금천구 대입지원 프로그램 소개</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="topmenu curr">
                                <div class="bar"></div>
                                <div class="menu">
                                    <a href="/Entrance/Intro">
                                        <span>1:1입시컨설팅</span>
                                    </a>
                                </div>
                                <ul class="submenu">
                                    <li actionName="INTRO">
                                        <a href="/Entrance/Intro" class="sub-menu">소개</a>
                                    </li>
                                    <li actionName="VIDEO">
                                        @if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT")
                                        {
                                            <a href="/Entrance/List?way=V" class="sub-menu">화상(비대면)컨설팅</a>
                                        }
                                        else
                                        {
                                            <a href="/Entrance/Consult?way=V" class="sub-menu">화상(비대면)컨설팅</a>
                                        }

                                    </li>
                                    <li actionName="INTERVIEW">
                                        @if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT")
                                        {
                                            <a href="/Entrance/List?way=I" class="sub-menu">정시컨설팅</a>
                                        }
                                        else
                                        {
                                            <a href="/Entrance/Consult?way=I" class="sub-menu">정시컨설팅</a>
                                        }


                                    </li>
                                    <li actionName="ONLINE">
                                        @if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT")
                                        {
                                            <a href="/Entrance/List?way=O" class="sub-menu">온라인컨설팅</a>
                                        }
                                        else
                                        {
                                            <a href="/Entrance/Consult?way=O" class="sub-menu">온라인컨설팅</a>
                                        }

                                    </li>
                                </ul>
                            </li>
                            <li class="topmenu curr">
                                <div class="bar"></div>
                                <div class="menu">
                                    <a href="/Presentation/Occasional">
                                        <span>대입설명회</span>
                                    </a>
                                </div>
                                <ul class="submenu">
                                    @*<li actionName="OCCASIONAL">
                                            <a href="/Presentation/Occasional" class="sub-menu">수시설명회</a>
                                        </li>*@
                                    <li actionName="OCCASIONAL">
                                        <a href="/Presentation/Occasional" class="sub-menu">대입설명회</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="topmenu curr">
                                <div class="bar"></div>
                                <div class="menu">
                                    <a href="/Presentation/Admissions">
                                        <span>입학사정관특강</span>
                                    </a>
                                </div>
                                <ul class="submenu">
                                    <li actionName="ADMISSIONS">
                                        <a href="/Presentation/Admissions" class="sub-menu">입학사정관 특강</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="topmenu curr">
                                <div class="bar"></div>
                                <div class="menu">
                                    <a href="/Presentation/ParentAcademy">
                                        <span>학부모아카데미</span>
                                    </a>
                                </div>
                                <ul class="submenu">
                                    <li actionName="PARENTACADEMY">
                                        <a href="/Presentation/ParentAcademy" class="sub-menu">학부모아카데미</a>
                                    </li>
                                </ul>
                            </li>
                            @if (!string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.ConsultId))
                            {
                                <li class="topmenu curr">
                                    <div class="bar"></div>
                                    <div class="menu">
                                        @if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT")
                                        {
                                            if (Geumcheon.Web.Consult.Models._identity.ConsultId == "future")
                                            {
                                            <a href="/Consult/ScheduleView">
                                                <span>상담스케쥴</span>
                                            </a>
                                            }
                                            else
                                            {
                                            <a href=#>
                                                <span>나의활동</span>
                                            </a>
                                            }
                                        }
                                    </div>
                                    @if (Geumcheon.Web.Consult.Models._identity.Roll == "STUDENT" || Geumcheon.Web.Consult.Models._identity.Roll == "PARENT")
                                    {
                                        <ul class="submenu right">
                                            <li actionName="REQUESTLIST">
                                                <a href="/MyPage/RequestList" class="sub-menu">신청 및 상담내역</a>
                                            </li>
                                            <li actionName="DATABASE">
                                                <a href="/MyPage/BasicInfo" class="sub-menu">컨설팅 기초자료 입력</a>
                                            </li>
                                            <li actionName="REPORT" style="display:none;">
                                                <a href="/MyMenu/Report" class="sub-menu">결과리포트</a>
                                            </li>
                                        </ul>
                                    }

                                </li>
                            }
                            <li class="topmenu curr" style="display:none;">
                                <div class="bar"></div>
                                <div class="menu">
                                    <a href="/Consult/Info">
                                        <span>공지사항</span>
                                    </a>
                                </div>
                                <ul class="submenu">
                                    <li actionName="INFO">
                                        <a href="/Consult/Info" class="sub-menu">공지사항</a>
                                    </li>
                                </ul>
                            </li>

                            @if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" && (Geumcheon.Web.Consult.Models._identity.ConsultId == "future"|| Geumcheon.Web.Consult.Models._identity.ConsultId == "admin"))
                                        {
                                <li class="topmenu curr">
                                    <div class="bar"></div>
                                    <div class="menu">
                                        <a href="#">
                                            <span>교사관리</span>
                                        </a>
                                    </div>
                                    <ul class="submenu">
                                        <li actionName="INTERVIEW">
                                            <a href="/Consult/admin?w=I" class="sub-menu">대면컨설팅</a>
                                        </li>
                                        <li actionName="M_BOARD">
                                            <a href="/Consult/admin?w=O" class="sub-menu">온라인컨설팅</a>
                                        </li>
                                        <li actionName="M_TEL">
                                            <a href="/Consult/admin?w=V" class="sub-menu">화상컨설팅</a>
                                        </li>
                                        @if (Geumcheon.Web.Consult.Models._identity.ConsultId == "future")
                                        {
                                        <li actionName="SCHEDULE">
                                            <a href="/Consult/scheduleview?idx=1" class="sub-menu">스케쥴표</a>
                                        </li>
                                        }
                                    </ul>
                                </li>
                            }

                                @if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" && Geumcheon.Web.Consult.Models._identity.ConsultId != "admin")
                                {
                                <li class="topmenu curr" style="display:none;">
                                    <div class="bar"></div>
                                    <div class="menu">
                                        <a href="#">
                                            <span>관리</span>
                                        </a>
                                    </div>
                                    <ul class="submenu">
                                        <li actionName="SCHEDULE">
                                            <a href="/Consult/scheduleview?idx=1" class="sub-menu">스케쥴표</a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            @if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT")
                            {
                                <li class="topmenu curr">
                                    <div class="bar"></div>
                                    <div class="menu">
                                        <a href="/Send/SendMessage">
                                            <span>알림관리</span>
                                        </a>
                                    </div>
                                    <ul class="submenu">
                                        <li actionName="NOTISEND">
                                            <a href="/Send/SendMessage" class="sub-menu">알림발송</a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            <!--기존 온라인 상담실 페이지-->
                            <li class="topmenu curr" style="display:none;">
                                <div class="bar"></div>
                                <div class="menu">
                                    <a href="/Consult/Index?w=F">
                                        <span>상담시스템</span>
                                    </a>
                                </div>
                                <ul class="submenu">
                                    <li actionName="TEL">
                                        <a href="/Consult/Index?w=T" class="sub-menu">전화상담</a>
                                    </li>
                                    <li actionName="BOARD">
                                        <a href="/Consult/Index?w=B" class="sub-menu">온라인상담</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>

                <nav>
                    <div style="height:56px; background-color:#EE7855;">

                    </div>
                </nav>
            </div>

            @*<div style="max-width:220px; min-width:220px;">
                    <div style="height:100%;">
                        <div class="side_w">

                        </div>
                    </div>
                </div>*@
            <div style="width:100%;">
                <div class="title" style="height:59px; background-color:#3785ca; flex-direction:row; float:left; width:100%; display:none;">
                    <div> <h1 style="line-height:59px; margin-left:20px; font-size:25px; font-weight:bold; color:white; float:left; width:60%;">@ViewBag.Title</h1></div>
                    @if (Geumcheon.Web.Consult.Models._identity.Roll == null)
                    {
                        <div id="btn-open-login-diaolg" style=" cursor:pointer;vertical-align: middle; margin-right:19px;"> <span style="/* line-height:59px; */margin-left:20px;font-size:20px;color:white;float:right;/* width:30%; */border: 1px solid #ffffff;width: 200px;text-align: center;padding: 5px;margin-top: 5px;">상담선생님 로그인</span></div>
                    }
                    else
                    {
                        if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT")
                        {
                            <div id="btn-open-login-diaolg" style="/* border:1px solid #ffffff; */vertical-align: middle; margin-right:19px;">
                                <a style=" cursor:pointer;margin-left:20px;font-size:20px;color:white;float:right;/* width:30%; */border: 1px solid #ffffff;width: 200px;text-align: center;padding: 5px;margin-top: 5px;" href="default">로그아웃</a>
                            </div>
                        }
                        else
                        {
                            <div id="btn-open-login-diaolg" style=" cursor:pointer;vertical-align: middle; margin-right:19px;"> <span style="/* line-height:59px; */margin-left:20px;font-size:20px;color:white;float:right;/* width:30%; */border: 1px solid #ffffff;width: 200px;text-align: center;padding: 5px;margin-top: 5px;">상담선생님 로그인</span></div>
                        }
                    }

                </div>
                <div class="contWrap m" style="width:100%; height: 280px; background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../Resources/images/common/gc_background.jpg); background-position:center; background-size:100% 400px; padding:48px;">
                    <div style="text-align:center;">
                        <h3 style="font-family:'Noto Sans KR', sans-serif; font-size:48px;">@(ViewBag.Title ?? "대면컨설팅")</h3>
                    </div>
                    <div style="text-align:center;">
                        <h4>@(ViewBag.Description ?? "")</h4>
                    </div>
                </div>
                <div class="contWrap m" style="vertical-align:top; border-left:1px solid #dfdfdf; width:100%; display:flex;">
                    <div class="outer" style="max-width:1280px; margin-left:auto; margin-right:auto;">
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
        <div id="login-modal" class="modal">
            <div class="modal-content" style="height:350px; width:700px; border:1px; background-color:#eff2fd;  cursor:pointer;">
                <h1 style="color:#3685ca;font-size:28px; padding:3%;">
                    상담선생님 로그인
                </h1>
                <div style="float:left; width:100%;">
                    <div style="padding-left:5%; padding-top:5%; padding-bottom:5%;width:75%; align-items:center;float:left;">
                        <div style="width:100%;float:left;">
                            <div style="width:20%;float:left;">
                                <span style="margin-right:3%; font-weight:bold;">아이디</span>
                            </div>
                            <div style="width:80%; float:left;">
                                <input id="txt-t-id" type="text" style="height:50px; width:95%" />
                            </div>
                        </div>
                        <div style="width:100%;float:left;">
                            <div style="width:20%;float:left;">
                                <span style="margin-right:3%; font-weight:bold;">비밀번호</span>
                            </div>
                            <div style="width:80%; float:left;">
                                <input id="txt-t-pwd" type="password" style="height:50px;width:95%;" />
                            </div>
                        </div>
                    </div>
                    <div id="btn-login" style="width:17%; height:100px; background-color:#3785ca; float:left; margin-top:40px;color:white; cursor:pointer; line-height:100px; text-align:center; font-size:25px;">로그인</div>
                </div>
                <div style="align-items:center; padding:8%;width:100%; text-align:center;">
                    <div style="height:50px; width:21%; background-color:darkred; line-height:50px;color:white;float:right;">
                        <span class="" id="btn-login-modal-close" style="font-size:25px; text-align:center;">닫기</span>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div style="text-align:center; color:#fff;">--------------------------------------------</div>
            <div style="font-family:'Noto Sans KR', sans-serif; padding: 16px; background-color:#00172d; font-size:15px; color:rgb(180, 212, 255);position:fixed; bottom:0;width: 100%;">
                <div style="text-align:center; ">금천구 대입지원 프로그램</div>
                <div style="text-align:center; ">문의전화 (금천구청, 퓨쳐플랜) 02)2627-2822, 070-5125-8615</div>
            </div>
        </footer>
    </div>
</body>