﻿

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>금천구 온라인 진학상담실</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <link rel="stylesheet" href="../Resources/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../Resources/css/base.css" type="text/css" />
    <link rel="stylesheet" href="../Resources/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="../Resources/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="../Resources/css/loading.css" type="text/css" />
  
    <script type="text/javascript" src="../Resources/js/vendor.js"></script>
    <script type="text/javascript" src="../Resources/js/base.js"></script>
    <script src="../Resources/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../Resources/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="../Resources/js/loading.js"></script>
    <script type="text/javascript" src="../Resources/js/jquery-ui.js"></script>    

    <script type="text/javascript">
        $(document).ready(function () {
            $('.side_w .gnb > ul > li a').on('click', function () {
                if ($(this).parent('li').hasClass('curr')) {
                    $(this).parent('li').removeClass('curr');
                } else {
                    $(this).parent('li').addClass('curr');
                }
            });

            var login_modal = document.getElementById('login-modal');
            $(".modal-content").draggable();
            $("#btn-open-login-diaolg").click(function () {
                login_modal.style.display = "block";
            });

            $("#btn-modal-close").click(function () {
                login_modal.style.display = "none";
            });
            //$("#dv-info").css("display", "none");

        });

        $(function () {
            $(".gnb").find("li").each(function () {
                if ($(this).attr("actionname") == "@ViewBag.Navigation") {

                    if (!$(this).hasClass("on"))
                        $(this).addClass("on");

                    if (!$(this).closest(".topMenu").hasClass("curr"))
                        $(this).closest(".topMenu").addClass("curr");

                    if (!$(this).hasClass("curr"))
                        $(this).addClass("curr");

                    $(".gnb").find(".topMenu").not($(this).closest(".topMenu")).removeClass("curr");
                    $(".gnb").find("li").not($(this)).removeClass("on");
                }
            });

            $("input[type=text].int").keydown(function () {
                onlyNumber(this)
            });

            $("input[type=text].float").keydown(function () {
                onlyFloat(this)
            });
            $("#btnRepotViewClose").click(function () {
                $("#print_frame").attr("src", "");
            });

            $("#btn-login").click(function () {
                //alert('test');
                fnLogin();
            });

            $("#btn-login-modal-close").click(function () {
                //login_modal.style.display = "none";
                $("#login-modal").css("display", "none");
            });

        });
        fnLogin = function () {
            var id = $("#txt-t-id").val();
            var pwd = $("#txt-t-pwd").val();
		$.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'id': id
            ,   'pwd':pwd
            }),
            url: '@Url.Action("LoginTeacher", "Consult")',
            success: function (msg) {
                var result = msg.jsonMsg;
                if (result == "T") {
                    $("#login-modal").css("display", "none");
                    location.href = "index?w=T";
                }
                else {
                    alert("일치하는 계정정보가 없습니다");
                }
            },
            error: function (xhr, msg) {alert(msg);},
        });
		//$.ajaxSetup({ async: false });
		//var strx = ableDays.split(',');
		//var arr = [];
		//$.each(strx, function(index, value){
		//	arr.push(parseInt(value));
		//});

		//return arr;

	}
        function divLineDraw() {
            var winHeight = $(window).height();
            var gnbHeight = $('.side_w').outerHeight();
            var contHeight = $('.container').outerHeight();
            //윈도우 높이보다 sidebox, container의 높이가 작을경우 임의로 높이 지정
            if (winHeight > gnbHeight && winHeight > contHeight) {
                $('.side_w').css({ 'height': winHeight, 'border-right': '1px solid #ddd' });
            } else {
                if (gnbHeight > contHeight) {
                    $('.side_w').css({ 'border-right': '1px solid #ddd' });
                    $('.container').css({ 'border-left': 0 });
                } else {
                    $('.side_w').css({ 'border-right': 0 });
                    $('.container').css({ 'border-left': '1px solid #ddd' });
                }
            }

        }
        function jne() {
            window.open("http://www.jne.go.kr", "_blank");
        }
    </script>
    @RenderSection("Javascript", required: false)
    @RenderSection("CSS", required: false)
    <style type="text/css" media="print">
        .no-print {
            display: none;
        }
    </style>
</head>

<body class="gray">
    <header class="head" style="height:148px;">
        <div style="height:74px;">            
            <div><h1><a style="height:80%; margin-top:5%;" href="consult/index?w=B">금천구 온라인 진학상담실</a></h1></div>
            <div style="height:80%; width:10%; float:right; margin-right:2%; margin-top:6px;">
        @if (Geumcheon.Web.Consult.Models._identity.Roll == null)
        {
            <div id="btn-open-login-diaolg" style="height:90%; background-color:#3785ca ; line-height:50px; text-align:center; font-weight:bold; color:white; cursor:pointer; cursor:pointer;">상담선생님로그인</div>
        }
        else
        {
            if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT")
            {

                <div style="height:100%; background-color:#3785ca;text-align:center; font-weight:bold; color:white; cursor:pointer; line-height:50px;">
                    <a href="default" cursor:pointer;>LogOut</a>
                </div>
            }
            else
            {
                    <div id="btn-open-login-diaolg" style="height:90%; background-color:#3785ca; line-height:50px; text-align:center; font-weight:bold; color:white; cursor:pointer;">상담선생님로그인</div>
            }
        }
            </div>
        </div>

        <div style="height:74px; width:100%; background-color:#3785ca;">
            <div class="info" style="float:left; width:220px; background-color:#3785ca !important; height:100%; padding:13px 12px;">
               
            </div>
            <div style="float:left; background-color:#3785ca;">
                <h1 style="line-height:74px; margin-left:20px; font-size:25px; color:white;">@ViewBag.Title</h1>
            </div>
        </div>
    </header>
    <div id="container" style="width:100%; height:100%;">
        <!-- LNB -->
        <div class="LeftMenu no-print" style="height:100%;">
            <div class="side_w">
                <nav class="gnb">
                    <ul>
                        <li class="topMenu curr">
                            <a href="#">
                                <span>공지사항</span>
                            </a>
                            <ul>
                                <li actionName="온라인상담">
                                    <a href="/Consult/Info" class="sub-menu">온라인상담실이용안내</a>
                                </li>
                                <li actionName="전화상담" style="display:none;">
                                    <a href="/Consult/Notice" class="sub-menu">공지사항</a>
                                </li>
                            </ul>
                        </li>
                        <li class="topMenu curr">
                            <a href="#">
                                <span>상담하기</span>
                            </a>
                            <ul>
                                <li actionName="온라인상담">
                                    <a href="/Consult/Index?w=B" class="sub-menu">온라인상담</a>
                                </li>
                                <li actionName="대면상담" style="display:none;">
                                    <a href="/Consult/Index?w=F">대면상담</a>
                                </li>
                                <li actionName="전화상담">
                                    <a href="/Consult/Index?w=T" class="sub-menu">전화상담</a>
                                </li>
                            </ul>
                        </li>

                        @if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" && Geumcheon.Web.Consult.Models._identity.ConsultId == "admin")
                        {
                    <li class="topMenu curr">
                        <a href="#">
                            <span>교사관리</span>
                        </a>
                        <ul>
                            <li actionName="교사관리">
                                <a href="/Consult/admin?w=B" class="sub-menu">온라인상담</a>
                            </li>
                            <li actionName="교사관리">
                                <a href="/Consult/admin?w=T" class="sub-menu">전화상담</a>
                            </li>
                        </ul>
                    </li>
                        }

                    </ul>
                </nav>
            </div>
        </div>
        <!-- contWrap -->
        <div class="contWrap m" style="vertical-align:top;">

            <div class="outer">
                @RenderBody()
            </div>

        </div>
    </div>
    <div id="login-modal" class="modal">
        <div class="modal-content" style="height:350px; width:800px; border:1px; background-color:#eff2fd;  cursor:pointer;">
            <h1 style="color:#3685ca;font-size:28px; padding:3%;">
                상담선생님 로그인
            </h1>
            <div style="float:left; width:100%;">
                <div style="padding-left:5%; padding-top:5%; padding-bottom:5%;width:75%; align-items:center;float:left;">
                    <div style="width:100%;float:left;"><span style="width:30%; margin-right:3%; font-weight:bold;">아이디&nbsp;</span><input id="txt-t-id" type="text" style="height:50px;width:80%;" /></div>
                    <div style="width:100%;float:left;"><span style="width:30%; margin-right:3%; font-weight:bold;">비밀번호</span><input id="txt-t-pwd" type="password" style="height:50px;width:80%;" /></div>
                </div>
                <div id="btn-login" style="width:17%; height:100px; background-color:#3785ca; float:left; margin-top:40px;color:white; cursor:pointer; line-height:100px; text-align:center; font-size:25px;">로그인</div>
            </div>
            <div style="align-items:center; padding:8%;width:100%; text-align:center;">
                <div style="height:50px; width:21%; background-color:darkred; line-height:50px;color:white;float:right;">
                    <span class="" id="btn-login-modal-close" style="font-size:25px; text-align:center;">닫기</span>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="no-print">
        @*<a href="#" onclick="javscript:jne();">
            <span class="logo">r</span>
        </a>*@
    </footer>
    <script type="text/javascript">
        $(window).resize(function () {
            WindowResize();
        });

        function WindowResize() {
            $(".contWrap").css("width", ($(document).innerWidth() - $(".LeftMenu").width()));
            if ($("#layerPopup").length > 0)
                $("#layerPopup").css("width", $(".contWrap").width() - 40);
            if ($("#AddLayer").length > 0)
                $("#AddLayer").css("width", $(".contWrap").width() - 40);
        }
        $(window).load(function () {
            WindowResize()
        });
    </script>
</body>
</html>
