﻿@model Geumcheon.Web.Core.ViewModel.ViewModelList<Geumcheon.Web.Core.Entity.Application, Geumcheon.Web.Core.ViewModel.SearchInfo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Geumcheon.Web.Core.Entity.Member member = ViewData["Member"] as Geumcheon.Web.Core.Entity.Member;

    ViewBag.Title = ViewBag.ConsultWay == "I" ? "정시컨설팅" : (ViewBag.ConsultWay == "V" ? "종합컨설팅" : "온라인컨설팅");
}


@if (!string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.TeacherIdx))
{
    @section Javascript {
        <script src="~/Resources/js/fpLib.js"></script>
        <script type="text/javascript">
            var duplicateCheckID = "";
            var requesting = false;

            $(document).ready(function () {
                // 검색
                $("#modifyBtn").on("click", function () {
                    requestConsultList(@ViewBag.Page);
                });

                // 검색창 입력창 엔터
                $("#searchTitle").on("keydown", function (key) {
                    if (key.keyCode == 13) {
                        requestConsultList(@ViewBag.Page);
                    }
                });

                requestConsultList(@ViewBag.Page);
            });

            // 상담 신청 리스트 조회
            var requestConsultList = function (page) {
                $.ajax({
                    url: "@Url.Action("RequestList", "Entrance")",
                    headers: {
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify({
                        page : page,
                        type: "@(ViewBag.ConsultWay ?? "I")",
                        search: $("#searchTitle").val(),
                        order: "REGDATE"
                    }),
                    dataType: "json",
                    type: "POST",
                    beforeSend: function () {
                        requesting = true
                    }
                }).done(function (json) {
                    console.log(json);
                    createConsultList(json.data);
                    requesting = false;
                }).fail(function (httpObj, textStatus) {
                    requesting = false;
                    alert("처리 중 오류가 발생하였습니다.");
                });
            }


        </script>
    }
    @section Css
{
        <style>
            .consultlist .row > div:nth-child(n) {
                width: 20%;
                padding: 8px;
            }

            .consultlist .row > div:first-child {
                width: 5%;
                padding: 8px;
            }

            .consultlist .row > div:last-child {
                width: 15%;
                padding: 8px;
            }
        </style>
    }


    <div style="min-width:960px;">
        <div class="content">
            <!-- 신청 내역 -->
            <div name="list">
                <div style="padding:24px 8px 8px 8px;">
                    <h1 style="padding:0px 8px;">| 주의사항 |</h1>
                    <div class="registerdata">
                        <span>
                            승인대기 : 신청이 접수 된 상태입니다.<br />
                            신청승인 : 접수 된 신청에 대해 상담 선생님이 배정 된 상태입니다.<br />
                            상담완료 : 상담이 완료 된 상태입니다.<br />
                        </span>
                    </div>
                </div>
                <div class="registerform">
                    <div class="divider"></div>

                    <div class="divider"></div>
                    <div>
                        <div style="display:flex; align-items:center; text-align:center; border: 1px solid #C3C3C3; border-top: 1px solid #3685ca; background-color:#F7F7F7; font-weight:bold;">
                            <div style="width:5%;padding:8px; border-right:1px solid #C3C3C3;">번호</div>
                            <div style="width:20%;padding:8px; border-right:1px solid #C3C3C3;">제목</div>
                            <div style="width:20%;padding:8px; border-right:1px solid #C3C3C3;">신청자 이름</div>
                            <div style="width:20%;padding:8px; border-right:1px solid #C3C3C3;">신청일</div>
                            <div style="width:20%;padding:8px; border-right:1px solid #C3C3C3;">상담희망일</div>
                            <div style="width:15%;padding:8px;">상태</div>
                        </div>
                        <div class="consultlist">
                        </div>
                        <div class="divider"></div>
                        <div id="pager" style="margin-top:5px;">
                            <div class="totalCount">
                                전체 <span style="font-weight:bold; color:#428bca;"></span> 건
                            </div>
                            <div class="pagination-container" style="text-align:center;">
                                <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <link href="~/Resources/css/info_style.css" rel="stylesheet" />
    @section Javascript {
        <script type="text/javascript">
            var duplicateCheckID = "";
            var requesting = false;

            const phoneRegex = /^01(?:0|1|[6-9])[.-]?(\d{3}|\d{4})[.-]?(\d{4})$/;
            const emailRegex = /^(([^<>()\[\].,;:\s@@"]+(\.[^<>()\[\].,;:\s@@"]+)*)|(".+"))@@(([^<>()[\].,;:\s@@"]+\.)+[^<>()[\].,;:\s@@"]{2,})$/i;

            $(document).ready(function () {
                // 컨설팅 정보 불러오기
                $.ajax({
                type: "GET",
                    url: "@Url.Action("Info", "Entrance")" + "?way=@ViewBag.ConsultWay&eidx=@ViewBag.EntranceIdx",
                    contentType: "application/json",
                    beforeSend: function () {

                    },
                    complete: function () {

                    },
                    success: function (data) {
                        if (data.message != null) {
                            alert(data.message);
                        }
                        else {
                            $("div[name=info]").html(data);
                        }
                        return;
                    },
                    error: function (msg) {
                        alert("AjaxHtml Error : " + msg.responseText);
                    }
                });

                //신청
                $("#requestBtn").on("click", function () {
                    if ($(this).hasClass("grey")) {
                        alert('신청기간이 아닙니다');
                    }
                    else {
                        if ("@Geumcheon.Web.Consult.Models._identity.ConsultId" == "") {
                            alert("로그인 후 신청 가능합니다.\r\n로그인 화면으로 이동합니다.");
                            location.href = "@Url.Action("Login", "Account")?returnUrl=@this.Request.Url.PathAndQuery";
                        }
                        else {
                            if (@((ViewBag.ConsultWay == "I" && ViewBag.EntranceCnt <= -10 && ViewBag.EntranceCnt > -9999) ? 1 : 0)) {

                                msgPopupShow(true);
                                return;
                            }

                            if ('@ViewBag.ConsultWay' == 'O"') {
                                location.href = "./Modify?way=@ViewBag.ConsultWay&eidx=@ViewBag.EntranceIdx";
                            }
                            else {
                                location.href = "./Modify?way=@ViewBag.ConsultWay&eidx=@ViewBag.EntranceIdx";
                            }
                        }
                    }
                });

                $("#msgModalLeftBtn").on("click", function () {
                    location.href = "@(Url.Action("Consult", "Entrance") + "?way=V&eidx=" + ViewBag.EntranceIdx)";
                });

                $("#msgModalRightBtn").on("click", function () {
                    location.href = "@(Url.Action("Modify", "Entrance") + "?way=" + ViewBag.ConsultWay + "&eidx=" + ViewBag.EntranceIdx)";
                });
            });

            var msgPopupShow = function (value) {
                if (value) {
                    $("#msgModal")[0].style.display = "block";
                }
                else {
                    $("#msgModal")[0].style.display = "none";
                }
            }
        </script>
    }
    @section Css
    {
        <style>
            .dateBox input.text.Ty2 {
                height: 38px !important;
                width: 160px;
            }

            .socre input[type=text] {
                width: 100% !important;
            }

            .InnerTable {
                border: 1px solid #808080;
                border-collapse: collapse;
            }

                .InnerTable td {
                    border: 1px solid #060606;
                    text-align: center;
                    width: 100px;
                    height: 30px;
                }

                    .InnerTable td.T {
                        background-color: #e5fbf4;
                        font-weight: bold;
                        color: #333;
                    }

                    .InnerTable td.N {
                        background-color: #f7f6dc;
                        font-weight: bold;
                        color: #333;
                    }

                    .InnerTable td.H {
                        background-color: #f7e8ea;
                        font-weight: bold;
                        color: #333;
                    }
        </style>
    }

    <div style="min-width:960px;">
        <div class="content">
            <div name="info" style="padding:24px 8px 8px 8px;"></div>
            <hr />
            <!-- 컨설트 신청 -->
            @if (ViewBag.ConsultWay == "O")
            {
                <div>
                    @Html.Partial("../Shared/Partial/_List")
                </div>
            }
            <hr />
            <div name="request">
                <div>
                    @if (ViewBag.EntranceCnt <= 0 && ViewBag.EntranceCnt > -9999)
                    {
                        <div style="margin-left:30px; color:red;">* 모집인원 수가 초과되었을 경우, 아래의 신청하기 버튼은 '대기신청'버튼으로 변경됩니다. '대기신청'에도 신청은 가능하며, 취소인원이 있을 때 담당자가 연락을 드립니다.</div>
                    }
                    <div class="registerrow">
                        <div class="registerdata" style="margin:auto;">
                            <div class="btns" style="margin-left:8px;">
                                @if (ViewBag.EntranceCnt == -9999)
                                {
                                    <a class="btn grey" id="requestBtn" style="font-size:20px; padding:8px 32px;">신청하기</a>
                                }
                                else if (ViewBag.EntranceCnt <= 0)
                                {
                                    <a class="btn blue" id="requestBtn" style="font-size:20px; padding:8px 32px;">대기신청</a>
                                }
                                else
                                {
                                    <a class="btn blue" id="requestBtn" style="font-size:20px; padding:8px 32px;">신청하기</a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="msgModal" style="position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); width:100%; height:100%; background-color:rgba(0,0,0,0.5); display:none;" onclick="msgPopupShow(false)">
        <div style="width:500px; height:320px; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); background-color:#fff; border-radius:8px;">
            <div style="padding:8px; border-bottom:2px solid #dadada;font-size:24px; font-weight:600; text-align:center;">
                알림
            </div>
            <div style="padding:8px;">
                <div style="font-size:24px;">
                    대면컨설팅은 마감되었습니다.
                </div>
                <br />
                <div style="font-size:18px;">
                    화상컨설팅을 신청해주세요.
                </div>
                <div style="font-size:18px;">
                    대면과 화상의 상담시간, 내용에는 차이가 없고, 오히려 화상 컨설팅의 만족도가 높습니다.
                </div>
                <div style="font-size:18px; color:red;">
                    본 행사는 코로나19로 인해 화상컨설팅으로 변경될 수 있습니다
                </div>               
            </div>
            <div style="position:fixed; bottom:0px; text-align:center; width:100%; display:flex;">
                <div class="btns" style="padding:8px;flex-grow:1">
                    <a class="btn orange" id="msgModalLeftBtn" style="font-size:18px; padding:8px 32px;">화상컨설팅 신청가기</a>
                </div>
            </div>
        </div>
    </div>
}
