﻿@model Geumcheon.Web.Core.Entity.EntranceRequest
@{
    ViewBag.Title = "상담신청";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Geumcheon.Web.Core.Entity.Member member = ViewData["Member"] as Geumcheon.Web.Core.Entity.Member;
}



@section Javascript {
    <script type="text/javascript">
        var duplicateCheckID = "";
        var requesting = false;

        const passwordRegex = /^[a-zA-Z0-9]{0,50}$/;
        const idRegex = /^[a-zA-Z0-9]{4,30}$/;//.test(this.state.userName)) {
        const phoneRegex = /^01(?:0|1|[6-9])[.-]?(\d{3}|\d{4})[.-]?(\d{4})$/;
        const emailRegex = /^(([^<>()\[\].,;:\s@@"]+(\.[^<>()\[\].,;:\s@@"]+)*)|(".+"))@@(([^<>()[\].,;:\s@@"]+\.)+[^<>()[\].,;:\s@@"]{2,})$/i;

        $(document).ready(function () {
            if ("@Model.ConsultWay" == "O") {
                initScore();
            }
        });

        // 온라인 상담일 시 스코어 입력
        var initScore = function () {
            var scores = JSON.parse("@Model.ScoreHtml".replace(/\n/g, "\\n").replace(/&quot;/g, "\""));
            if (scores.length >= 19) {
                $("#consultType option:eq('" + scores[0] + "')").attr("selected", "selected");
                $("#score-html").find("input").each(function (index) {
                    $(this).val(scores[index + 1]);
                });

                $("#consultActivity").val(scores[17]);
                $("#consultNote").val(scores[18]);
            }
        }

        var DoAction = function (type, idx) {
            if (type == "MODIFY") {
                location.href = "@Url.Action("Modify", "Entrance")?requestIdx=" + idx;
            }
            else if (type == "REPLY") {
                location.href = "@Url.Action("Reply", "Entrance")?w="+"@Model.ConsultWay"+"&requestIdx=" + idx;
            }
            else {
                if ("@Geumcheon.Web.Consult.Models._identity.Roll" == "CONSULT") {
                    location.href = "@Url.Action("List", "Entrance")?way=" + "@Model.ConsultWay";
                }
                else {
                    history.back();
                }
            }
        }

        var satisfactionClick = function (satis) {
            //let satis = $(target).find("input:checked").get(0);
            if (satis != null && @(string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.TeacherIdx) ? 1 : 0)) {
                $.ajax({
                    url: "@Url.Action("UpdateReply", "Consult")",
                    headers: {
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify({
                        RequestIdx: @Model.RequestIdx,
                        Satisfaction: satis
                    }),
                    dataType: "json",
                    type: "POST",
                }).done(function (json) {
                    console.log(json);
                }).fail(function (httpObj, textStatus) {
                    console.log(textStatus);
                });
            }
        };


    </script>
}
@section Css
{
    <style>
        .dateBox input.text.Ty2 {
            height: 38px !important;
            width: 160px;
        }




        .socre input[type=text] {
            width: 100% !important;
            text-align: center;
        }

        .InnerTable {
            border: 1px solid #808080;
            border-collapse: collapse;
        }

            .InnerTable td {
                border: 1px solid #060606;
                text-align: center;
                width: 100px;
                height: 30px;
            }

                .InnerTable td.T {
                    background-color: #e5fbf4;
                    font-weight: bold;
                    color: #333;
                }

                .InnerTable td.N {
                    background-color: #f7f6dc;
                    font-weight: bold;
                    color: #333;
                }

                .InnerTable td.H {
                    background-color: #f7e8ea;
                    font-weight: bold;
                    color: #333;
                }

        .consultlist .row > div:nth-child(n) {
            width: 20%;
            padding: 8px;
        }

        .consultlist .row > div:first-child {
            width: 5%;
            padding: 8px;
        }

        .consultlist .row > div:last-child {
            width: 15%;
            padding: 8px;
        }
    </style>
}


<div style="min-width:960px;">
    <div class="content">
        <!-- 컨설트 신청 -->
        <div name="request">
            <div name="info" style="padding:24px 8px 8px 8px;"></div>
            <div class="registerform">
                <div class="registerrow">
                    <div style="width:50%;display:flex;">
                        <div class="registerheader"><span>본인 성명</span></div>
                        <div class="registerdata calcwidth">
                            @member.Name
                        </div>
                    </div>
                    <div style="width:50%;display:flex;">
                        <div class="registerheader"><span>컨설팅 참가학생 성명</span></div>
                        <div class="registerdata" style="flex-grow:1;">
                            @Model.StudentName
                        </div>
                        <div class="registerdata" style="background-color:#eaeaea;">@(Model.StudentGender == 1 ? "남자" : "여자")</div>
                    </div>
                </div>
                <div class="registerrow">
                    <div style="width:50%;display:flex;">
                        <div class="registerheader"><span>핸드폰</span></div>
                        <div class="registerdata calcwidth">
                            @(member.Hp.Length > 3 ? member.Hp.Substring(0, 3) : "")-@(member.Hp.Length > 10 ? member.Hp.Substring(3, member.Hp.Length - 7) : "")-@(member.Hp.Length > 10 ? member.Hp.Substring(member.Hp.Length - 4, 4) : "")

                        </div>
                    </div>
                    <div style="width:50%;display:flex;">
                        <div class="registerheader"><span>이메일</span></div>
                        <div class="registerdata calcwidth">
                            @member.Email
                        </div>
                    </div>
                </div>
                <div class="registerrow">
                    <div style="width:50%;display:flex;">
                        <div class="registerheader"><span>거주지역</span></div>
                        <div class="registerdata calcwidth">@Model.AreaName</div>
                    </div>
                    <div style="width:50%;display:flex;">
                        <div class="registerheader"><span>학교</span></div>
                        <div class="registerdata calcwidth">
                            @member.School - @(member.Grade)학년
                        </div>
                    </div>
                </div>
                <div class="registerrow">
                    <div class="registerheader"><span>제목</span></div>
                    <div class="registerdata calcwidth">
                        @Model.Title
                    </div>
                </div>
                @if (Model.ConsultWay == "V")
                {
                    <div class="registerrow">
                        <div class="registerheader"><span>상담희망일</span></div>
                        <div class="registerdata">
                            @(Model.Schedule != null ? Model.Schedule.ConsultDate : "없음") @(Model.Schedule != null ? Model.Schedule.ConsultTime : "")
                        </div>
                    </div>
                }
                <div class="registerrow">
                    <div class="registerheader"><span>지원희망대학<br /><span style="color:red;">(최소 1개 이상 입력)</span></span></div>
                    <div style="width:calc(100% - 160px);">
                        @for (int i = 1; i < 4; i++)
                        {
                            var univ = member.univ.Where(x => x.Ranking == i).FirstOrDefault();
                            if (univ != null)
                            {
                                <div class="registerrow" name="hopeUniv" style="padding:8px; align-items:center;">
                                    <span style="padding:0px 8px 0px 0px;">@(i)지망</span>
                                    <input type="text" readonly="readonly" value="@univ.UniversityName" /><span style="padding:0px 16px 0px 8px;">대학</span>
                                    <input type="text" readonly="readonly" value="@univ.StypeRem" /><span style="padding:0px 16px 0px 8px;">전형</span>
                                    <input type="text" readonly="readonly" value="@univ.MajorName" /><span style="padding:0px 16px 0px 8px;">학과</span>
                                </div>
                            }
                            else
                            {
                                <div class="registerrow" name="hopeUniv" style="padding:8px; align-items:center;">
                                    <span style="padding:0px 8px 0px 0px;">@(i)지망</span>
                                    <input type="text" readonly="readonly" /><span style="padding:0px 16px 0px 8px;">대학</span>
                                    <input type="text" readonly="readonly" /><span style="padding:0px 16px 0px 8px;">전형</span>
                                    <input type="text" readonly="readonly" /><span style="padding:0px 16px 0px 8px;">학과</span>
                                </div>
                            }
                        }
                    </div>
                </div>
                @if (Model.DisplayInputType == "J")
                {
                    <div class="registerrow">
                        <div class="registerheader"><span>필수입력1.</span></div>
                        <div class="registerdata">
                            <div style="padding:10px;">
                                <div>@Model.NeedValue1</div>
                            </div>
                        </div>
                    </div>
                    <div class="registerrow">
                        <div class="registerheader"><span>필수입력2.</span></div>
                        <div class="registerdata">
                            <div style="padding:10px;">
                                <div>@Model.NeedValue2</div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="registerrow">
                        <div class="registerheader"><span>재상담자<br />필수입력</span></div>
                        <div class="registerdata">
                            <div style="padding:10px;">
                                <div>
                                    @Model.Re_Note
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>



            @if (Model.ConsultWay == "O")
            {
                <div class="registerform">
                    <div class="registerrow none">
                        <div class=" registerheader"><span>상담유형</span></div>
                        <div class="registerdata">
                            <select id="consultType" disabled>
                                <option value="S" selected="">수시상담</option>
                                <option value="J" selected="">정시상담</option>
                                <option value="L" selected="">학습상담</option>
                                <option value="C" selected="">진학상담</option>
                                <option value="E" selected="">기타</option>
                            </select>
                        </div>
                    </div>
                    <div class="registerrow">
                        <div class=" registerheader"><span>성적</span></div>
                        <div class="registerdata calcwidth">
                            <div class="socre" id="score-html">
                                <table cellpadding="0" cellspacing="0" class="InnerTable">

                                    <tr>
                                        <td colspan="6" class="N">
                                            내신 성적(석차등급 평균을 입력하세요)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="N">
                                            전과목
                                        </td>
                                        <td class="N">
                                            국어
                                        </td>
                                        <td class="N">
                                            수학
                                        </td>
                                        <td class="N">
                                            영어
                                        </td>
                                        <td class="N">
                                            사회
                                        </td>
                                        <td class="N">
                                            과학
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="scoreitem" id="s1" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s2" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s3" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s4" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s5" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s6" readonly="readonly" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="T">
                                            모의고사 성적
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="T">
                                            구분
                                        </td>
                                        <td class="T">
                                            국어
                                        </td>
                                        <td class="T">
                                            수학
                                        </td>
                                        <td class="T">
                                            영어
                                        </td>
                                        <td class="T">
                                            탐구1
                                        </td>
                                        <td class="T">
                                            탐구2
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>백분위</td>
                                        <td><input type="text" class="scoreitem" id="s7" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s8" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s9" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s10" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s11" readonly="readonly" /></td>
                                    </tr>
                                    <tr>
                                        <td>등급</td>
                                        <td><input type="text" class="scoreitem" id="s12" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s13" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s14" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s15" readonly="readonly" /></td>
                                        <td><input type="text" class="scoreitem" id="s16" readonly="readonly" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="registerrow">
                        <div class="registerheader"><span>기타질문</span></div>
                        <div class="registerdata calcwidth">
                            *본인에게 의미 있었던 활동 3가지를 적어주세요
                            <textarea readonly="readonly" id="consultActivity" style="width:100%; height:200px;"></textarea>
                            *본 상담을 통해 해결하고 싶거나 궁금한 점을 적어주세요(진로,진학,학습,생활면에서 최대한 상세히, 필수)
                            <textarea readonly="readonly" id="consultNote" style="width:100%; height:200px;"></textarea>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Model.Progress == "C" && Model.ConsultWay == "O")
    {
        <div class="registerform">
            <div class="registerrow">
                <div class="registerheader">
                    <span>상담내용</span>
                </div>
                <div class="registerdata calcwidth">
                    @Html.Raw(Model.Reply.ReplyNote)
                </div>
            </div>
            <div class="registerrow">
                <div class="registerheader">
                    <span>처리상태</span>
                </div>
                <div class="registerdata calcwidth">
                    @if (Model.Progress == "R")
                    {
                        <span>
                            담당 선생님이 배정되기 전입니다.
                        </span>
                    }
                    else if (Model.Progress == "W")
                    {
                        <span>
                            예약대기상태입니다
                        </span>
                    }
                    else if (Model.Progress == "I")
                    {
                        <span>
                            상담이 진행중입니다
                        </span>
                    }
                    else
                    {
                        <span>
                            상담이 완료되었습니다
                        </span>
                    }
                </div>
            </div>
            <div class="registerrow">
                <div class="registerheader">
                    <span>만족도설문</span>
                </div>
                <div class="registerdata">
                    @if (string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.TeacherIdx))
                    {
                        <div>
                            컨설턴트님의 답변에 도움이 되셨나요? (선택 시 자동 저장 됩니다.)
                        </div>
                    }
                    <div>
                        <input type="radio" name="satisfaction" class="radio-custom" id="satisfactionH" value="1" @(Model.Reply.Satisfaction == 1 ? "checked" : "") @(string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.TeacherIdx) ? "" : "disabled") onclick="satisfactionClick(1)" /><label class="radio-custom-label" for="satisfactionH" style="font-weight:600;">매우 도움이 되었다.</label>
                        <input type="radio" name="satisfaction" class="radio-custom" id="satisfactionHM" value="2" @(Model.Reply.Satisfaction == 2 ? "checked" : "") @(string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.TeacherIdx) ? "" : "disabled") onclick="satisfactionClick(2)" /><label class="radio-custom-label" for="satisfactionHM" style="font-weight:600;">조금 도움이 되었다.</label>
                        <input type="radio" name="satisfaction" class="radio-custom" id="satisfactionM" value="3" @(Model.Reply.Satisfaction == 3 ? "checked" : "") @(string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.TeacherIdx) ? "" : "disabled") onclick="satisfactionClick(3)" /><label class="radio-custom-label" for="satisfactionM" style="font-weight:600;">보통이다.</label>
                        <input type="radio" name="satisfaction" class="radio-custom" id="satisfactionML" value="4" @(Model.Reply.Satisfaction == 4 ? "checked" : "") @(string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.TeacherIdx) ? "" : "disabled") onclick="satisfactionClick(4)" /><label class="radio-custom-label" for="satisfactionML" style="font-weight:600;">조금 도움이 되지 않았다.</label>
                        <input type="radio" name="satisfaction" class="radio-custom" id="satisfactionL" value="5" @(Model.Reply.Satisfaction == 5 ? "checked" : "") @(string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.TeacherIdx) ? "" : "disabled") onclick="satisfactionClick(5)" /><label class="radio-custom-label" for="satisfactionL" style="font-weight:600;">매우 도움이 되지 않았다.</label>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (!string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.TeacherIdx) && Model.Progress == "C" && Model.ConsultWay != "O")
    {
        <div class="registerform">
            <div class="registerrow" style="display:none;">
                <div class="registerheader">
                    <span>상담보고서</span>
                </div>
                <div class="registerdata calcwidth">
                    @Html.Raw(Model.Reply.ReplyNote)
                </div>
            </div>
            <div class="registerrow">
                <div class="registerheader">
                    <span>처리상태</span>
                </div>
                <div class="registerdata calcwidth">
                    @if (Model.Progress == "R")
                    {
                        <span>
                            담당 선생님이 배정되기 전입니다.
                        </span>
                    }
                    else if (Model.Progress == "W")
                    {
                        <span>
                            예약대기상태입니다
                        </span>
                    }
                    else if (Model.Progress == "I")
                    {
                        <span>
                            상담이 진행중입니다
                        </span>
                    }
                    else
                    {

                        <span>
                            상담이 완료되었습니다
                        </span>

                    }
                </div>
            </div>
        </div>
    }

    @if (Model.Progress == "I")
    {
        <div style="color:red;">* 담당 선생님 배정 후에는 수정할 수 없습니다.</div>
    }

    <div>
        <div class="registerrow">
            <div class="registerdata" style="margin:auto; display:flex;">
                @if (Geumcheon.Web.Consult.Models._identity.Roll == "STUDENT" || Geumcheon.Web.Consult.Models._identity.Roll == "PARENT")
                {
                    if (Model.Progress == "R" || Model.Progress == "I")
                    {
                        <div class="btns" style="margin-left:8px;">
                            <a class="btn blue" style="font-size:20px; padding:8px 32px;" onclick="DoAction('MODIFY','@Model.RequestIdx');">수정하기</a>
                        </div>
                        <div class="btns" style="margin-left:8px; display:none;">
                            <a class="btn blue" style="font-size:20px; padding:8px 32px;" onclick="DoAction();">삭제하기</a>
                        </div>
                    }

                    <div class="btns" style="margin-left:8px;">
                        <a class="btn white" style="font-size:20px; padding:8px 32px;" onclick="DoAction();">목록보기</a>
                    </div>
                }
                else if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" && Geumcheon.Web.Consult.Models._identity.ConsultId != "admin")
                //else if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT")
                {
                    if (Model.ConsultWay == "O" && Model.Progress == "I")
                    {
                        <div class="btns" style="margin-left:8px;">
                            <a class="btn blue" style="font-size:20px; padding:8px 32px;" onclick="DoAction('REPLY','@Model.RequestIdx');">상담작성</a>
                        </div>
                    }
                    else if ((Model.ConsultWay == "V" || Model.ConsultWay == "I") && (Model.Progress == "I" || Model.Progress == "C"))
                    {
                        <div class="btns" style="margin-left:8px;">
                            <a class="btn blue" style="font-size:20px; padding:8px 32px;" onclick="DoAction('REPLY','@Model.RequestIdx');">상담보고서 작성</a>
                        </div>
                    }
                    <div class="btns" style="margin-left:8px;">
                        <a class="btn white" style="font-size:20px; padding:8px 32px;" onclick="DoAction();">목록보기</a>
                    </div>
                }
                else if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" && Model.Progress == "I" && Geumcheon.Web.Consult.Models._identity.ConsultId != "admin")
                {
                    <div class="btns" style="margin-left:8px;">
                        <a class="btn white" style="font-size:20px; padding:8px 32px;" onclick="DoAction();">목록보기</a>
                    </div>
                }
                else
                {
                    <div class="btns" style="margin-left:8px;">
                        <a class="btn white" style="font-size:20px; padding:8px 32px;" onclick="DoAction();">목록보기</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

