﻿
@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        $.each($(".entrance-lnk"), function (key, obj) {
            if ($(obj).attr("eidx") == "@Model.EntranceIdx") {
                $(obj).parent("div").css("background-color", "#EE7855");
                $(obj).css("color", "white");
            }

        });
    });
</script>
@if (ViewBag.ConsultWay == "O")
{

    <h1 style="padding:0px 8px; color:red;">| 주의사항 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>본 서비스는 금천구청 고교 재학생(또는 졸업생)과 금천구 주민들에게만 제공되는 서비스입니다.</li>
            <li>
                특성화고 전형, 고른기회전형은 전문적인 상담이 어렵습니다. 사전에 참고해주시기 바랍니다.(예체능은 불가)
            </li>
            <li style="color:red;">상담에 대한 답변은 5월6일 이후부터 순차적으로 드립니다</li>
        </ul>

    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 신청기간 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>2020년 5월 1일(금) ~ 2020년 12월 15일(화)</li>
        </ul>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담일정 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>2020년 5월 1일(금) ~ 2020년 12월 18일(수)</li>
        </ul>
    </div>
    <div class="divider"></div>


}
else if (ViewBag.ConsultWay == "I")
{
    <div style="float:left; width:100%; margin-bottom:20px;">
        @*<div style="float:left; width:30%; height:40px; border:1px solid; text-align:center; line-height:40px;"><a class="entrance-lnk" eidx="4" href="Consult?way=I&eidx=4">2020.09.12(토) 상담신청</a></div>
            <div style="float:left; width:30%; height:40px; border:1px solid; border-left:0px; line-height:40px; text-align:center;"><a class="entrance-lnk" eidx="5" href="Consult?way=I&eidx=5">2020.11.07(토) 상담신청</a></div>*@
        <div style="float:left; width:30%; height:40px; border:1px solid; line-height:40px; text-align:center;"><a class="entrance-lnk" eidx="6" href="Consult?way=I&eidx=5">2020.12.26(토) 상담신청</a></div>
    </div>
    <div class="divider" style="padding:20px 0px;"></div>

    <div class="content2">
        <div class="section section7">
            <h2>정시 컨설팅</h2>
            <ul style="padding-bottom:32px;">
                <li>· 수능 및 내신 분석 (수능 및 내신분석을 통한 유불리 점검)</li>
                <li>· 정시 목표학교 합격예측(목표학교 합격 가능성, 학교별 산출 및 배치점수 분석, 3개년 입결 및 추합가능성 확인, 유리한   학교 전략 조정)</li>
                <li>· 정시 원서 전략: 정시 군별 지원 우선순위 리스트</li>
                <li>· 반수 및 재수 전략(해당학생), 지원학교 향후 전망 및 진출,   진로적성 및 자기주도학습에 대한 강약점 분석 및 피드백</li>
            </ul>
            <h2><span>컨설팅 샘플</span></h2>
            <div style="display:flex;  margin-top:8px; margin-top:8px; margin-left:auto; margin-right:auto; width:90%">
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hda.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hdb.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hdc.png);  background-size:100%;"></div>
            </div>
            <div style="display:flex; margin-top:8px; margin-left:auto; margin-right:auto; width:90%">
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hdd.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hde.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hdf.png);  background-size:100%;"></div>
            </div>
        </div>
    </div>

    <h1 style="padding:0px 8px; color:red;">| 주의사항 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>본 서비스는 금천구청 고교 재학생(또는 졸업생)과 금천구 주민들에게만 제공되는 서비스입니다.</li>
            <li style="color:red;">컨설팅 참가학생이 여럿인 경우, 학생 1명에 1아이디로 로그인해서 신청해주세요.</li>
            @if (Geumcheon.Web.Consult.Models._identity.SchoolType == "M")
            {
                <li>
                    고등학교 선택 상담은 가능하나, 특목고 합격여부 및 평가 등의 전문적인 상담은 불가합니다.
                </li>
            }
            else
            {
                <li>
                    특성화고 전형, 고른기회전형은 전문적인 상담이 어렵습니다. 사전에 참고해주시기 바랍니다.(예체능은 불가)
                </li>
            }
        </ul>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담장소 |</h1>
    <div class="registerdata" style="display:flex; align-items:center;">
        <ul style="list-style:square ; margin-left:25px;">
            <li> 화상컨설팅 (* 대면없이 ZOOM 프로그램 활용)</li>
        </ul>
        <div class="btns" style="margin-left:8px; display:none;">
            <a class="btn blue" id="modifyBtn" style="">지도보기</a>
        </div>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 신청기간 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>2020년 10월 15일(목) ~ 2020년 12월 15일(화)   </li>
        </ul>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담일정 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>2020년 12월 26일(토)</li>
        </ul>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담 전 준비서류 |</h1>
    <div class="registerdata" style="display:flex; align-items:center;">
        <ul style="list-style:square ; margin-left:25px;">
            <li>아래의 ‘신청하기’로 상담신청 후, 상단의 <나의활동>의 <컨설팅 기초자료 입력>에서 모든 항목을 입력해야 정식으로 접수가 완료됩니다.</li>
            <li>
                컨설팅 10일 전까지 기초자료를 입력하지 않았거나 누락의 경우, 예비자 학생에게 컨설팅 기회가 자동 양도되므로 주의해 주세요.
                <br />(상담 기초 자료 제출은 상담 희망일 최소 10일전까지- 기초조사서, 성적입력, 학생부, 심리검사 등)
            </li>
        </ul>
        <div class="btns" style="margin-left:8px; display:none;">
            <a href="@Url.Action("BasicInfo", "MyPage")" class="btn blue" id="modifyBtn" style="">컨설팅 기초자료 제출 바로가기</a>
        </div>
    </div>

    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담방법 |</h1>
    <div class="registerdata" style="display:flex; align-items:center;">
        <ul style="list-style:square ; margin-left:25px;">
            <li>컨설팅 신청 후, 3일 이내에 담당자가 확인 연락을 드립니다.(컨설팅 일정, 사전 자료제출, 컨설팅 진행안내)</li>
            <li>
                정확한 컨설팅을 위해 사전자료 제출은 필수입니다(자료제출은 6월 5일부터/ 기초조사서, 성적입력, 학생부, 심리검사 등)
                <br />(기한 내 사전자료 미제출(또는 누락)의 경우, 컨설팅은 자동 취소되며 예비자 학생에게 권한이 이양됩니다.)
            </li>
            <li>
                컨설팅 시간 전에 미리 화상컨설팅 준비를 마치고, 약속된 컨설팅 시간에 컨설팅을 시작합니다.
            </li>
            <li>
                컨설팅 시간은 1인 50분이며, 다음 학생의 컨설팅 진행 관계로 초과상담은 불가하므로, 화상컨설팅 설치 및 준비에 차질 없게 해주세요.
                <br />(시간에 늦게 시작된 경우, 해당 잔여시간 까지만 상담이 가능하며, 잔여시간 이후 접속이 된 경우는 상담이 자동 취소됩니다)
            </li>
            <li>
                상담을 통해 수집된 개인정보 및 성적, 상담내용 등 모든 정보는 일절 유출되지 않으며, 철저한 비밀이 보장을 약속 드리니 부담없이 상담해주세요.
            </li>
            <li>
                진학 및 학습관련 질문 외, 심리상담이나 생활관련 또는 기타의 경우 답변드릴 수 없으니, 이 점 참고해주세요.
            </li>
            <li style="color:red">
                1:1 화상(비대면) 입시컨설팅 ZOOM 설치방법 및 프로그램 다운로드
            </li>
            <li style="list-style:none;">
                <a href="http://geumcheon.eduplan.co.kr/금천구_화상_대면_컨설팅_매뉴얼_컨설턴트.pdf" style="text-decoration:underline;cursor:pointer; color:blue">
                    [컨설턴트]※ZOOM설치방법 PDF 파일 다운로드
                </a>
            </li>
            <li style="list-style:none;">
                <a href="https://www.zoom.us/client/latest/ZoomInstaller.exe" style="text-decoration:underline;cursor:pointer; color:blue">
                    ZOOM 프로그램 다운로드
                </a>
            </li>
        </ul>
        <div class="btns" style="margin-left:8px; display:none;">
            <a href="@Url.Action("BasicInfo", "MyPage")" class="btn blue" id="modifyBtn" style="">컨설팅 기초자료 제출 바로가기</a>
        </div>
    </div>



    <div class="divider"></div>

    #region 대면컨설팅때 HTML
    @*<h1 style="padding:0px 8px; color:red;">| 주의사항 |</h1>
        <div class="registerdata">
            <ul style="list-style:square ; margin-left:25px;">
                <li>본 서비스는 금천구청 고교 재학생(또는 졸업생)과 금천구 주민들에게만 제공되는 서비스입니다.</li>
                <li>컨설팅 참가학생이 여럿인 경우, 학생 1명에 1아이디로 로그인해서 신청해주세요.</li>
                <li>
                    특성화고 전형, 고른기회전형은 전문적인 상담이 어렵습니다. 사전에 참고해주시기 바랍니다.(예체능은 불가)
                </li>
                <li>
                    대면컨설팅과 화상컨설팅의 컨설팅 시간과 내용, 질에는 차이가 없고 오히려 만족도가 높습니다. 코로나19로 수험생 및 학생들의 건강을 위해 화상컨설팅을 적극 권장합니다.
                </li>
                <li style="color:red; font-weight:bold;">
                    * 본 행사는 코로나19로 인해 화상컨설팅으로 변경되었습니다.
                </li>
            </ul>
        </div>
        <div class="divider"></div>

        <h1 style="padding:0px 8px;">| 진행방식 |</h1>
        <div class="registerdata" style="display:flex; align-items:center;">
            <ul style="list-style:square ; margin-left:25px;">
                <li>
                    Zoom프로그램 활용(비대면컨설팅)
                </li>
            </ul>
            <div class="btns" style="margin-left:8px; display:none;">
                <a class="btn blue" id="modifyBtn" style="">지도보기</a>
            </div>
        </div>
        <div class="divider"></div>

        <h1 style="padding:0px 8px;">| 신청기간 |</h1>
        <div class="registerdata">
            <ul style="list-style:square ; margin-left:25px;">
                <li>@Model.RequestDt</li>
            </ul>
        </div>
        <div class="divider"></div>

        <h1 style="padding:0px 8px;">| 상담일정 |</h1>
        <div class="registerdata">
            <ul style="list-style:square ; margin-left:25px;">
                <li>@Model.ConsultDt<br /></li>

            </ul>
        </div>
        <div class="divider"></div>

        <h1 style="padding:0px 8px;">| 상담 전 준비서류 |</h1>
        <div class="registerdata" style="display:flex; align-items:center;">
            <ul style="list-style:square ; margin-left:25px;">
                <li>아래의 ‘신청하기’로 상담신청 후, 상단의 <나의활동>의 <컨설팅 기초자료 입력>에서 모든 항목을 입력해야 정식으로 접수가 완료됩니다.</li>
                <li>컨설팅 1주일 전까지 기초자료를 입력하지 않았거나 누락의 경우, 예비자 학생에게 컨설팅 기회가 자동 양도되므로 주의해 주세요</li>
            </ul>
            <div class="btns" style="margin-left:8px; display:none;">
                <a href="@Url.Action("BasicInfo", "MyPage")" class="btn blue" id="modifyBtn" style="">컨설팅 기초자료 제출 바로가기</a>
            </div>
        </div>

        <div class="divider"></div>*@
    #endregion
}
else if (ViewBag.ConsultWay == "V")
{
    if (Geumcheon.Web.Consult.Models._identity.SchoolType == "M")
    {
        <img src="~/Resources/images/info/middle_1.png" style="
    width: 95%;
    height: 95%;
    border: 5px solid #f5f0f0;
    margin-bottom: 10px;
" />
    }

    <div class="content2">
        <div class="section section7">
            <h2>중1~3학년 입시컨설팅</h2>
            <ul style="padding-bottom:32px;">
                <li>· 현재 중3부터 교육부의 <span style="font-weight:bold;">'대입제도 공정성 강화 방안'</span>이 도입됩니다. 이로 인해 학생부 기재항목이 축소되고, 영재교육이나 자율동아리 등이 반영되지 않습니다. 또한 고교정보 블라인드 처리, 고교프로파일 전면 폐지, 정시 수능위주 전형의 확대 등 많은 점이 달라집니다.</li>
                <li>· 연세대학교 박사팀이 개발한 '진로-학습 심리검사'로 현 수준을 파악하고, 중학교 내신으로 <span style="font-weight:bold;">대입합격 예측 및 고교 선택을 위한 종합역량</span>을 분석해드립니다.</li>
            </ul>
        </div>
        <div class="section section7">
            <h2>고1~2학년 입시컨설팅</h2>
            <ul style="padding-bottom:32px;">
                <li>· 기본 성적분석(내신 및 모의고사 추이)</li>
                <li>· 진로적성 및 자기주도학습에 대한 강약점 분석 및 피드백</li>
                <li>· 대입로드맵(목표학교 합격 가능성, 유리한 전형설계, 수시 및  정시 목표 학교 설정, 목표학교 합격 로드맵/내신, 비교과, 수능 목표점 달성을 위한 코칭)</li>
                <li>· 학생부종합전형 기본 가이드(학생의 학생부 경쟁력, 주요 항목에 대한 전반적인 피드백)</li>
                <li>· 학생의 전공분야에 따른 비교과활동 가이드</li>
                <li>· 자기소개서 피드백 및 모의면접 (사전 요청 학생)</li>
                <li>· 1, 2학기, 총 2회 신청한 학생은 변화와 발전 추이 점검</li>
            </ul>
            <h2><span>컨설팅 샘플</span></h2>
            <div style="display:flex; margin-top:8px; margin-left:auto; margin-right:auto; width:90%">
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd1.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd2.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd3.png);  background-size:100%;"></div>
            </div>
            <div style="display:flex; margin-left:auto; margin-right:auto; width:90%">
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd4.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd5.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd6.png);  background-size:100%;"></div>
            </div>
        </div>
    </div>

    <h1 style="padding:0px 8px; color:red;">| 주의사항 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>본 서비스는 금천구청 고교 재학생(또는 졸업생)과 금천구 주민들에게만 제공되는 서비스입니다.</li>
            <li style="color:red;">컨설팅 참가학생이 여럿인 경우, 학생 1명에 1아이디로 로그인해서 신청해주세요.</li>
            @if (Geumcheon.Web.Consult.Models._identity.SchoolType == "M")
            {
                <li>
                    고등학교 선택 상담은 가능하나, 특목고 합격여부 및 평가 등의 전문적인 상담은 불가합니다.
                </li>
            }
            else
            {
                <li>
                    특성화고 전형, 고른기회전형은 전문적인 상담이 어렵습니다. 사전에 참고해주시기 바랍니다.(예체능은 불가)
                </li>
            }
        </ul>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담장소 |</h1>
    <div class="registerdata" style="display:flex; align-items:center;">
        <ul style="list-style:square ; margin-left:25px;">
            <li> 화상컨설팅 (* 대면없이 ZOOM 프로그램 활용)</li>
        </ul>
        <div class="btns" style="margin-left:8px; display:none;">
            <a class="btn blue" id="modifyBtn" style="">지도보기</a>
        </div>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 신청기간 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>현재 ~ 2020년 11월 18일(수)   </li>
        </ul>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담일정 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>현재 ~ 2020년 11월 30일(월)</li>
        </ul>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담 전 준비서류 |</h1>
    <div class="registerdata" style="display:flex; align-items:center;">
        <ul style="list-style:square ; margin-left:25px;">
            <li>아래의 ‘신청하기’로 상담신청 후, 상단의 <나의활동>의 <컨설팅 기초자료 입력>에서 모든 항목을 입력해야 정식으로 접수가 완료됩니다.</li>
            <li>
                컨설팅 10일 전까지 기초자료를 입력하지 않았거나 누락의 경우, 예비자 학생에게 컨설팅 기회가 자동 양도되므로 주의해 주세요.
                <br />(상담 기초 자료 제출은 상담 희망일 최소 10일전까지- 기초조사서, 성적입력, 학생부, 심리검사 등)
            </li>
        </ul>
        <div class="btns" style="margin-left:8px; display:none;">
            <a href="@Url.Action("BasicInfo", "MyPage")" class="btn blue" id="modifyBtn" style="">컨설팅 기초자료 제출 바로가기</a>
        </div>
    </div>

    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담방법 |</h1>
    <div class="registerdata" style="display:flex; align-items:center;">
        <ul style="list-style:square ; margin-left:25px;">
            <li>컨설팅 신청 후, 3일 이내에 담당자가 확인 연락을 드립니다.(컨설팅 일정, 사전 자료제출, 컨설팅 진행안내)</li>
            <li>
                정확한 컨설팅을 위해 사전자료 제출은 필수입니다(자료제출은 6월 5일부터/ 기초조사서, 성적입력, 학생부, 심리검사 등)
                <br />(기한 내 사전자료 미제출(또는 누락)의 경우, 컨설팅은 자동 취소되며 예비자 학생에게 권한이 이양됩니다.)
            </li>
            <li>
                컨설팅 시간 전에 미리 화상컨설팅 준비를 마치고, 약속된 컨설팅 시간에 컨설팅을 시작합니다.
            </li>
            <li>
                컨설팅 시간은 1인 50분이며, 다음 학생의 컨설팅 진행 관계로 초과상담은 불가하므로, 화상컨설팅 설치 및 준비에 차질 없게 해주세요.
                <br />(시간에 늦게 시작된 경우, 해당 잔여시간 까지만 상담이 가능하며, 잔여시간 이후 접속이 된 경우는 상담이 자동 취소됩니다)
            </li>
            <li>
                상담을 통해 수집된 개인정보 및 성적, 상담내용 등 모든 정보는 일절 유출되지 않으며, 철저한 비밀이 보장을 약속 드리니 부담없이 상담해주세요.
            </li>
            <li>
                진학 및 학습관련 질문 외, 심리상담이나 생활관련 또는 기타의 경우 답변드릴 수 없으니, 이 점 참고해주세요.
            </li>
            <li style="color:red">
                1:1 화상(비대면) 입시컨설팅 ZOOM 설치방법 및 프로그램 다운로드
            </li>
            <li style="list-style:none;">
                <a href="http://geumcheon.eduplan.co.kr/금천구_화상_대면_컨설팅_매뉴얼_컨설턴트.pdf" style="text-decoration:underline;cursor:pointer; color:blue">
                    [컨설턴트]※ZOOM설치방법 PDF 파일 다운로드
                </a>
            </li>
            <li style="list-style:none;">
                <a href="https://www.zoom.us/client/latest/ZoomInstaller.exe" style="text-decoration:underline;cursor:pointer; color:blue">
                    ZOOM 프로그램 다운로드
                </a>
            </li>
        </ul>
        <div class="btns" style="margin-left:8px; display:none;">
            <a href="@Url.Action("BasicInfo", "MyPage")" class="btn blue" id="modifyBtn" style="">컨설팅 기초자료 제출 바로가기</a>
        </div>
    </div>



    <div class="divider"></div>
}