﻿
@{
    ViewBag.Title = "1:1 입시컨설팅";
    ViewBag.Navigation = "INTRO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript {

    <script type="text/javascript">
        var goRequest = function (url) {
            if (url != "") {
                location.href = url;
            }
        }

    </script>
}

@section Css {
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="~/Resources/css/info_style.css" rel="stylesheet" />
}



<div style="font-family:'Noto Sans KR', sans-serif;font-weight:500;font-size:21px;letter-spacing:-2px;line-height:1.2;font-weight:400;box-sizing:border-box;width:100%;overflow-x:hidden;width:1280px;">
    <div class="content1">
        <div class="section section4">
            <div class="tit_box">
                <img src="~/Resources/images/common/img_sec4.png">
                <h2>신청 접수중<span>놓치지 말고 지금 바로 신청하세요</span></h2>
            </div>
            <ul>
                <li><strong>• 신청 :</strong> 프로그램 신청 기간에만 신청이 가능합니다.</li>
                <li><strong>• 예비 :</strong> 모집인원이 초과되면 ‘예비대기자’로 신청이 가능하며, 취소자 발생 시에 담당자가 연락을 드립니다. </li>
                <li><strong>• 마감 :</strong> 신청 기간이 지나면 마감됩니다. </li>
                <li><strong>* 문의 : 금천구청 교육지원과(02-2627-2822),  담당자 직통(070-5125-8615)</strong></li>
                <li><strong>* 2020. 금천구 대입지원 프로그램의 &lt;1:1입시컨설팅&gt; 중, 화상 & 대면 컨설팅은 1학생 3회까지 신청 가능합니다.</strong></li>
            </ul>
        </div>
    </div>
    <div class="section section4" style="background-color:#FFD800;height:420px;">
        <div class="tit_box">
            <h2 style="padding-top:0px; white-space: nowrap;">금천구 대입지원 앱 출시 !!</h2>
        </div>
        <ul style="top:200px;">
            <li>이젠 폰으로도 서비스를 편하게 이용하세요.</li>
            <li>자동 알림 기능으로 선착순 신청도 잊지 않고 확인 가능!</li>
            <li>다양한 입시프로그램을 손쉽게 접할 수 있는 기회!</li>
            <li><strong style="font-size:28px;">App store(아이폰), Play store(안드로이드) -> '금천구 대입지원'을 검색하세요.</strong></li>
            <li><a target="_blank" href="~/금천구_대입지원_앱_사용법.pdf" style="text-decoration:underline; color:#428bca;"><strong>※금천구 대입지원 앱 사용법 다운로드</strong></a></li>
        </ul>
    </div>
    <div class="content2">
        <div class="section section7" style="margin-bottom: 0px; padding-bottom: 0px;">

            <h2>1:1입시컨설팅</h2>

            <table style="table-layout:auto;">

                <!-- <colgroup>

                <col width="">

                <col width="">

                <col width="">

                <col width="">

                <col width="">

                <col width="">

            </colgroup> -->

                <thead>

                    <tr>
                        <th colspan="2">운영방식</th>
                        <th>대상</th>
                        <th>인원</th>
                        <th>상담일정</th>
                        <th>신청기간</th>
                        <th>신청</th>
                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td colspan="2" class="tit"><strong>온라인게시판 컨설팅</strong></td>

                        <td>고1~N수생<br />및 학부모</td>

                        <td>50명</td>

                        <td>2020. 05. 01 (금) ~ 12. 18 (금)</td>

                        <td>2020. 05. 01 ~ 12. 15</td>

                        <td class="t_btn" onclick="goRequest('@(Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=O" : "/Entrance/Consult?way=O")')"><span>신청</span></td>

                    </tr>

                    <tr>

                        <td rowspan="3" class="tit"><strong>화상<br />컨설팅</strong><span>* 대면없이<br />ZOOM프로그램<br />활용</span></td>

                        <td class="tit">종합컨설팅<br />(진로,학습,진학<br />종합 로드맵)</td>
                        <td>중1~고3,N수생<br />및 학부모</td>
                        <td>210명</td>
                        <td>2020. 05. 18 (월) ~ 11. 30 (일)</td>
                        <td>2020. 04. 27 ~ 11. 18</td>
                        <td class="@(DateTime.Now > DateTime.Parse("2020-11-19") ? "t_btn_disabled" : "t_btn")" onclick="@(DateTime.Now > DateTime.Parse("2020-11-19") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=V" : "/Entrance/Consult?way=V") + "')")"><span>신청</span></td>

                    </tr>
                    <tr>
                        <td class="tit">수시컨설팅</td>
                        <td rowspan="2">고3,N수생<br />및 학부모</td>
                        <td>70명</td>
                        <td>현재 ~ 2020. 09. 25 (금)</td>
                        <td>현재 ~ 2020. 09. 14</td>
                        <td class="@(DateTime.Now > DateTime.Parse("2020-09-15") ? "t_btn_disabled" : "t_btn")" onclick="@(DateTime.Now > DateTime.Parse("2020-09-15") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=V" : "/Entrance/Consult?way=V") + "')")"><span>신청</span></td>

                    </tr>
                    <tr>

                        <td class="tit">정시컨설팅</td>
                        <td>40명</td>
                        <td>2020. 12. 26 (토)</td>
                        <td>2020. 10. 15 ~ 12. 15</td>
                        <td class="@(DateTime.Now < DateTime.Parse("2020-10-15") || DateTime.Now > DateTime.Parse("2020-12-16") ? "t_btn_disabled" : "t_btn")" onclick="@(DateTime.Now < DateTime.Parse("2020-10-15") || DateTime.Now > DateTime.Parse("2020-12-16") ? "" : "goRequest('" + (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" ? "/Entrance/List?way=I" : "/Entrance/Consult?way=I&eidx=6") + "')")"><span>신청</span></td>

                    </tr>


                </tbody>

            </table>

        </div>
        <div style="width:90%; margin:18px auto 60px;">
            * 대면컨설팅 – 코로나19로 인해 비대면 화상컨설팅으로 운영합니다. 대면컨설팅과 화상컨설팅의 질은 동일하며, 오히려 화상컨설팅의 만족도가 더 높습니다.
        </div>

        <div class="section section7">
            <h2>중1~3학년 입시컨설팅</h2>
            <ul style="padding-bottom:32px;">
                <li>· 현재 중3부터 교육부의 <span style="font-weight:bold;">'대입제도 공정성 강화 방안'</span>이 도입됩니다. 이로 인해 학생부 기재항목이 축소되고, 영재교육이나 자율동아리 등이 반영되지 않습니다. 또한 고교정보 블라인드 처리, 고교프로파일 전면 폐지, 정시 수능위주 전형의 확대 등 많은 점이 달라집니다.</li>
                <li>· 연세대학교 박사팀이 개발한 '진로-학습 심리검사'로 현 수준을 파악하고, 중학교 내신으로 <span style="font-weight:bold;">대입합격 예측 및 고교 선택을 위한 종합역량</span>을 분석해드립니다.</li>
            </ul>
        </div>
        <div class="section section7">
            <h2>고1~2학년 입시컨설팅</h2>
            <ul style="padding-bottom:32px;">
                <li>· 기본 성적분석(내신 및 모의고사 추이)</li>
                <li>· 진로적성 및 자기주도학습에 대한 강약점 분석 및 피드백</li>
                <li>· 대입로드맵(목표학교 합격 가능성, 유리한 전형설계, 수시 및  정시 목표 학교 설정, 목표학교 합격 로드맵/내신, 비교과, 수능 목표점 달성을 위한 코칭)</li>
                <li>· 학생부종합전형 기본 가이드(학생의 학생부 경쟁력, 주요 항목에 대한 전반적인 피드백)</li>
                <li>· 학생의 전공분야에 따른 비교과활동 가이드</li>
                <li>· 자기소개서 피드백 및 모의면접 (사전 요청 학생)</li>
                <li>· 1, 2학기, 총 2회 신청한 학생은 변화와 발전 추이 점검</li>
            </ul>
            <h2><span>컨설팅 샘플</span></h2>
            <div style="display:flex; margin-top:8px; margin-left:auto; margin-right:auto; width:90%">
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd1.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd2.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd3.png);  background-size:100%;"></div>
            </div>
            <div style="display:flex; margin-left:auto; margin-right:auto; width:90%">
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd4.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd5.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd6.png);  background-size:100%;"></div>
            </div>
        </div>

        <div class="section section7">
            <h2>수시 컨설팅</h2>
            <ul style="padding-bottom:32px;">
                <li>· 기본 성적분석 (내신 및 모의고사 추이를 통한 수시정시 유불리 점검)</li>
                <li>· 진로적성 및 자기주도학습에 대한 강약점 분석 및 피드백</li>
                <li>· 수시 및 정시 목표학교 합격예측(목표학교 합격 가능성, 유리한 전형 설계, 3개년 입결 확인, 수시 및 정시 목표학교 선택)</li>
                <li>· 학생부종합전형 지원 유불리 분석(학생부 경쟁력 판단)</li>
                <li>· 수시 원서 전략: 수시 6개 지원 우선 순위 리스트</li>
                <li>· 장단기 목표점 잡기: 수시와 정시전략에 따른 선택과 집중, 시기별 행동 전략 수립</li>
            </ul>
            <h2><span>컨설팅 샘플</span></h2>
            <div style="display:flex; margin-top:8px; margin-left:auto; margin-right:auto; width:90%">
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd7.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd8.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd9.png);  background-size:100%;"></div>
            </div>
            <div style="display:flex; margin-left:auto; margin-right:auto; width:90%">
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd10.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd11.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hd12.png);  background-size:100%;"></div>
            </div>
        </div>

        <div class="section section7">
            <h2>정시 컨설팅</h2>
            <ul style="padding-bottom:32px;">
                <li>· 수능 및 내신 분석 (수능 및 내신분석을 통한 유불리 점검)</li>
                <li>· 정시 목표학교 합격예측(목표학교 합격 가능성, 학교별 산출 및 배치점수 분석, 3개년 입결 및 추합가능성 확인, 유리한   학교 전략 조정)</li>
                <li>· 정시 원서 전략: 정시 군별 지원 우선순위 리스트</li>
                <li>· 반수 및 재수 전략(해당학생), 지원학교 향후 전망 및 진출,   진로적성 및 자기주도학습에 대한 강약점 분석 및 피드백</li>
            </ul>
            <h2><span>컨설팅 샘플</span></h2>
            <div style="display:flex;  margin-top:8px; margin-top:8px; margin-left:auto; margin-right:auto; width:90%" ">
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hda.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hdb.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hdc.png);  background-size:100%;"></div>
            </div>
            <div style="display:flex; margin-top:8px; margin-left:auto; margin-right:auto; width:90%" ">
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hdd.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hde.png);  background-size:100%;"></div>
                <div style="width:224px; height:235px; background: url(../../Resources/images/common/info_hdf.png);  background-size:100%;"></div>
            </div>
        </div>

        <!-- //section7 -->
    </div>
</div>