﻿@model Geumcheon.Web.Core.ViewModel.ViewModelList<Geumcheon.Web.Core.Entity.Application, Geumcheon.Web.Core.ViewModel.SearchInfo>
@{
    ViewBag.Title = "상담신청";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Geumcheon.Web.Core.Entity.Member member = ViewData["Member"] as Geumcheon.Web.Core.Entity.Member;
}

<script src="~/Resources/js/fpLib.js"></script>
<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" });

        //alert($("#dteConsultStartDate").val());
        $("#btn-down-excel").click(function () {
            var startDt = $("#dteConsultStartDate").val();
            var endDt = $("#dteConsultStartDate").val();
            location.href = "ExcelDownLoad?s=" + startDt + "&e=" + endDt;
            //alert($("#dteConsultStartDate").val());
            //alert($("#dteConsultEndDate").val());
        })
    })
</script>
<div>

</div>

<div class="content" style="min-width:1280px; max-width:1280px;">
    <!-- 신청 내역 -->
    <div name="list">
        <div style="padding:24px 8px 8px 8px; background-color:#f9f8f8; margin-bottom:10px;">
            @if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT")
            {
                @Html.Partial("../Shared/Partial/_Info_C")
            }
            else
            {
                @Html.Partial("../Shared/Partial/_Info_S")
            }

        </div>

        @if (Geumcheon.Web.Consult.Models._identity.Roll == "CONSULT" && ViewBag.ConsultWay != "O")
        {

            <div style="float:left; width:100%; margin-bottom:5px; padding:20px; background-color:#f9f8f8;">
                <div class="dateBox" style="width:25%; margin-bottom:5px;float:left;">
                    <span style="font-weight:bold;"> 상담시작일 : </span><input type="text" id="dteConsultStartDate" readonly="readonly" class="datepicker date text Ty2"
                                                                           style="width:198px;" placeholder="날짜를 선택하세요" /><br />
                </div>
                <div style="float:left;">~</div>
                <div class="dateBox" style="width:25%; margin-bottom:5px;float:left;">
                    <span style="font-weight:bold;"> 상담종료일 : </span><input type="text" id="dteConsultEndDate" readonly="readonly" class="datepicker date text Ty2"
                                                                           style="width:198px;" placeholder="날짜를 선택하세요" /><br />
                </div>
                <div class="btns" style=" float:right;">
                    <a class="btn blue" id="btn-down-excel">기초조사서 엑셀 일괄다운로드</a>
                </div>
            </div>

            <div style="float:left; width:100%; margin-bottom:5px; padding:20px; background-color:#f9f8f8;">
                <select style="float:left; margin-left:10px;" id="sltState">
                    <option value="1">학생명</option>
                    <option value="2">상담교사</option>
                    <option value="3">상담희망일</option>
                </select>
                <input type="text" id="txtKeyword" style="float:left; margin-left:10px;" />
                <div style="float:left; margin-left:10px;" class="btns"><a id="btn_search" class="btn  blue">검색</a></div>
                <div style="float:left; margin-left:10px;" class="btns"><a id="btn_all" class="btn  blue">전체</a></div>
            </div>
        }

        <div class="registerform">
            <div class="divider"></div>

            <div class="divider">

            </div>
            <div>
                @Html.Partial("../Shared/Partial/_List")
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>