﻿@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.Entity
@model Reply
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Javascript
{
<script>
    $(document).ready(function () {
        $("#ifrmEditor").on("load", function () {
                setTimeout(function () {
                    var iframe1 = document.getElementById("ifrmEditor");
                    var html = $("#Note").val();
                    iframe1.contentWindow.pasteHTML(html);
                }, 1000);
            });
        //alert('tttt');
        $("#slt-progress").val($("#Progress").val());
        $("#btn-reply-save").click(function () {
            //alert('test');
            fnSave();
        });
        if ('@ViewBag.ConsultWay' == 'V' || '@ViewBag.ConsultWay' == 'I') {
            if ('@Model.Note' != '') {

                var replyObj = mlParse('@Model.Note');
                $.each(replyObj, function (key, value) {
                    //alert(value.ID + "/" + value.Reply);
                    $("#" + value.ID).val(value.reply)
                });
            }
        }
    });

    fnSave = function () {
        //var iframe1 = document.getElementById("ifrmEditor");
        //var state = $("#sltState").val();
        //var note = iframe1.contentWindow.showHTML();
        //var isSecret = "1";
        //var a_idx = $IDX;

        if ('@ViewBag.ConsultWay' == 'O') {
            var iframe1 = document.getElementById("ifrmEditor");
            var note = iframe1.contentWindow.showHTML();

            if ($("#Progress").val() == 'C' && '@ViewBag.ConsultWay' == 'O') {
                if (confirm("상담완료 상태로 저장하시면 학생에게 즉시 답변이 공개됩니다.\r실행하시겠습니까?")) {
                    $("#Note").val(note);
                    $("#CreateForm").submit();
                }
            }
            else {
                $("#Note").val(note);
                $("#CreateForm").submit();
            }
        }
        else {
            var isValudation = true;
            var replyArray = new Array();
            $.each($(".reply"), function (key, value) {

                var id = $(this).attr("id");
                var reply = $(this).val();
                var replyInfo = new Object();

                replyInfo.ID = id;
                replyInfo.reply = reply;
                replyArray.push(replyInfo);
            });

            if (isValudation) {
                var replyItem = new Object();
                replyItem.AnswerItem = replyArray
                var replyJson = JSON.stringify(replyArray);

                $("#Note").val(replyJson);
                $("#CreateForm").submit();
            }
        }

    }



    fnCancel = function () {
        //document.location.href = "Detail?OP1=" + @ViewBag.IsOnline + "&PK=" + $IDX;
        }

        $("#CreateForm").ajaxForm({
            dataType: 'json',
            beforeSubmit: function () {
            },
            success: function (json) {
                //$("#CreateForm").isLoading("hide");

                if (json.ok) {
                    location.href = "Detail?requestIdx=@Model.RequestIdx";
                    //return true
                }
                else {
                    alert('저장에실패했습니다');
                    //return false;
                }
            },
            error: function () {
                //return false;
                //$("#CreateForm").isLoading("hide");
            }

        });
</script>
}
@using (Html.BeginForm("InsertReply", "Consult", FormMethod.Post, new { @id = "CreateForm", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.RequestIdx)
    @Html.HiddenFor(x => x.Note)
    if (ViewBag.ConsultWay == "O")
    {
        <div style="line-height:20px; margin-bottom:20px;">
            <img class="ico_required" src="/Resources/images/common/ico_required.png">상담내용 작성시, 처리상태를 <상담중>
                에 설정하고 저장하면 ‘임시저장’ 되어 답변 수정이 가능하지만, <상담완료>
                    로 설정하고 저장하면 ‘답변완료’로 즉시 답변이 노출되므로, 수정이 불가하니 유의해주세요.
                    <br />
        </div>
    }
    else
    {
        <div style="padding:2%;">
            <ul style="list-style-type:decimal-leading-zero;">
                <li>
                    상담보고서는 상담 즉시 작성해주세요.(상담일로부터 최소 2일 이내)
                </li>
                <li>
                    처리상태를 <작성중>으로 설정하고 저장하면 수정이 가능하지만, <작성완료>로 설정하고 저장하면, 최종 제출되어 수정이 불가하니 유의해주세요.
                </li>
                <li>
                    학생과 전화 상담했던 내용을 기록해주시면 감사하겠습니다.
                </li>
                <li>
                    4. 상담보고서 작성은 1) 질문1~ 질문N까지 각 질문에 대해 주셨던 답변2) 학생 및 학부모의 건의사항    3) 컨설턴트의 건의사항 및 기타 의 순으로 작성해주시면 되겠습니다.
                </li>
            </ul>
        </div>
    }

    if (ViewBag.ConsultWay == "O")
    {
        <div class="common_form">
            <table class="form_tbl">
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 80%;">
                </colgroup>
                <tbody>
                    <tr class="top">
                        <th>등록자</th>
                        <td>   @_identity.Name</td>
                    </tr>
                    <tr>
                        <th>처리상태</th>
                        <td>
                            @if (ViewBag.ConsultWay == "B")
                            {
                                @Html.DropDownListFor(x => x.Progress, (SelectList)DropDownData.PrgressItem(), new { @class = "select Ty3", @style = "width:80%;" })
                            }
                            else
                            {
                                @Html.DropDownListFor(x => x.Progress, (SelectList)DropDownData.PrgressItem_T(), new { @class = "select Ty3", @style = "width:80%;" })
                            }
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4" height="500px;" style="padding:0px !important;">
                            <iframe src="~/Editor/SmartEditor2.html" frameborder="0" style="width:100%; height:500px" scrolling="no" id="ifrmEditor"></iframe>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn_a right no-print">
                <a href="List?way=@ViewBag.ConsultWay" class="btn white" id="btn-cancel" style="padding:0px;">작성취소</a>
                <a href="#" class="btn blue" id="btn-reply-save" style="padding:0px;" onclick="">저장하기</a>
            </div>
        </div>
    }
    else
    {        
        <style>
            th{
                font-weight:bold !important;
                vertical-align:central;
            }
            .univitem th {
                background-color: rgb(244, 249, 251) !important;
                font-weight:bold;
            }
        </style>
        <div class="common_form">
            <table class="form_tbl">

                <tbody>
                    <tr class="top">
                        <th>컨설턴트명</th>
                        <td colspan="3">
                            <input type="text" style="width:95%;" id="r1" class="reply" />
                        </td>
                        <th>컨설팅일자</th>
                        <td colspan="2">
                            <input type="text" style="width:95%;" id="r2" class="reply" />
                        </td>
                    </tr>
                    <tr>
                        <th>학생</th>
                        <th>이름</th>
                        <td>
                            <input type="text" style="width:95%;" id="r3" class="reply" />
                        </td>
                        <th>학교</th>
                        <td>
                            <input type="text" style="width:95%;" id="r4" class="reply" />
                        </td>
                        <th>학년</th>
                        <td>
                            <input type="text" style="width:95%;" id="r5" class="reply" />
                        </td>
                    </tr>
                    <tr>
                        <th>수시/정시<br />목포설계</th>
                        <td colspan="6">
                            <p style="font-weight:bold;">*상담 시, 학생에게 피드백 주셨던 수시/정시 목표학교를 적어주세요.</p>
                            <p>(운영진이 목표학교를 통에 입력하여 학생에게 수시정시 지원전략 리포트를 출력전달 예정)</p>
                            <br />
                            <p style="font-weight:bold;">[수시지원]</p>
                            <table>
                                <tr class="univitem">
                                    <th>1지망</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r6" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r7" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r8" class="reply" />
                                    </td>
                                </tr>
                                <tr class="univitem">
                                    <th>2지망</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r9" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r10" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r11" class="reply" />
                                    </td>
                                </tr>
                                <tr class="univitem">
                                    <th>3지망</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r12" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r13" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r14" class="reply" />
                                    </td>
                                </tr>
                                <tr class="univitem">
                                    <th>4지망</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r15" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r16" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r17" class="reply" />
                                    </td>
                                </tr>
                                <tr class="univitem">
                                    <th>5지망</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r18" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r19" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r20" class="reply" />
                                    </td>
                                </tr>
                                <tr class="univitem">
                                    <th>6지망</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r21" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r22" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r23" class="reply" />
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <p style="font-weight:bold;">[정시지원]</p>
                            <table>
                                <tr class="univitem">
                                    <th>가군</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r24" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r25" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r26" class="reply" />
                                    </td>
                                </tr>
                                <tr class="univitem">
                                    <th>나군</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r27" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r28" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r29" class="reply" />
                                    </td>
                                </tr>
                                <tr class="univitem">
                                    <th>다군</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r30" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r31" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r32" class="reply" />
                                    </td>
                                </tr>
                                <tr class="univitem">
                                    <th>군외</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r33" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r34" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r35" class="reply" />
                                    </td>
                                </tr>
                                <tr class="univitem">
                                    <th>전문대 또는 기타</th>
                                    <td>
                                        <input type="text" style="width:95%;" id="r36" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r37" class="reply" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:95%;" id="r38" class="reply" />
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <th>컨설팅내용</th>
                        <td colspan="6">
                            <p style="font-weight:bold;">*상담 시, 학생에게 피드백 주셨던 수시/정시 목표학교를 적어주세요.</p>
                            <p>1. 학생이 질문한 사항에 대한 답변</p>
                            <p>2. 중심전형/(수시,정시)목표학교 저정 및 합격예측 / 학생부 피드백 / 비교과활동 추천 / 검사해석 포인트 /  향후 노력할 사항 및 실천과제 등의 내용 중심</p>
                            <textarea style="width:99%; height:150px;" id="r39" class="reply"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>기타사항</th>
                        <td colspan="6">
                            <textarea style="width:99%; height:150px;" id="r40" class="reply"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            @if (Geumcheon.Web.Consult.Models._identity.ConsultId == "future")
            {
                <div class="btn_a right no-print">
                    <a href="List?way=@ViewBag.ConsultWay" class="btn white" id="btn-cancel" style="padding:0px;">목록보기</a>
                </div>
            }
            else
            {
                    <div class="btn_a right no-print">
                        <a href="List?way=@ViewBag.ConsultWay" class="btn white" id="btn-cancel" style="padding:0px;">작성취소</a>
                        <a href="#" class="btn blue" id="btn-reply-save" style="padding:0px;">저장하기</a>
                    </div>
            }

        </div>
    }
}