﻿@model Geumcheon.Web.Core.Entity.EntranceRequest
@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.ViewModel
@using Geumcheon.Web.Core.Entity
@{
    ViewBag.Title = "학생-기초조사서";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Geumcheon.Web.Core.Entity.Member member = ViewData["Member"] as Geumcheon.Web.Core.Entity.Member;

}

<style>
    .enabled {
    }

    .disabled {
        display: none;
    }

    th {
        font-weight: bold !important;
    }

    .writer {
        font-weight: bold;
    }

    .thead {
        background-color: #f2f2f2;
        font-weight: bold !important;
    }

    .thead-dark {
        background-color: #e7e7e7;
        font-weight: bold !important;
    }

    .fb {
        font-weight: bold;
    }
</style>
<link rel="stylesheet" href="~/Resources/css/tab.css" type="text/css" />

<script>
    $(document).ready(function () {
        $("input[type='text']").css("border", "0px");
        $("input[type='text']").attr("readonly", "readonly");
        setNavigationItem('default_info_p');

        $(".tab-menu li").click(function () {
            var menuname = $(this).attr("menu");
            setNavigationItem(menuname);
        });


    });

    setNavigationItem = function (menuname) {

        var obj = $(".tab-menu li").get(0);
        $.each($(".basic-info"), function (index, item) {
            $(this).addClass("disabled");
        });

        switch (menuname)
        {
            case 'default_info_p': {
                obj = $(".tab-menu li").get(0);
                break;
            }
            case 'default_info_s': {
                obj = $(".tab-menu li").get(1);
                break;
            }
            case 'nesin': {
                obj = $(".tab-menu li").get(2);
                break;
            }
            case 'moi': {
                obj = $(".tab-menu li").get(3);
                break;
            }
            case 'student_record': {
                obj = $(".tab-menu li").get(4);
                break;
            }
        }

        getData(menuname);

        if (menuname == "default_info_p" || menuname == "default_info_s") {
            $("#default_info").removeClass("disabled");
        }
        else {
            $("#" + menuname).removeClass("disabled");
        }
        $(".tab-menu li").removeClass("selected");
        $(obj).addClass("selected");
    }

            // 상담 신청 리스트 조회
    getData = function (searchType) {
        $.ajax({
            url: "@Url.Action("GetData", "Entrance")",
            headers: {
                "Content-Type":"application/json"
            },
            data: JSON.stringify({
                searchType: searchType,
                memberIdx: '@ViewBag.MemberIdx'
            }),
            dataType: "json",
            type: "POST",
            beforeSend: function () {
            }
        }).done(function (json) {
            console.log(json);
            fnDataBiding(json.jsonMsg, searchType);
            }).fail(function (request, status, error) {
                mlAjaxError(request, status, error);
            });
    }

    fnDataBiding = function (json, menuname) {

        switch (menuname) {
            case 'default_info_p': {
                fnDataBiding_default_info_p(json);
                break;
            }
            case 'default_info_s': {
                fnDataBiding_default_info_s(json);
                break;
            }
            case 'nesin': {
                fnDataBiding_nesin(json);
                break;
            }
            case 'moi': {
                fnDataBiding_moi(json);
                break;
            }
            case 'student_record': {
                fnDataBiding_student_record(json);
                break;
            }
        }
    }


    fnDataBiding_default_info_s = function (json) {

        $.each($("#default_info").find("input[type='text']"), function (index, val) {
            $(this).val('');
        });
        $.each($("#default_info").find(".answer"), function (index, val) {
            $(this).text('');
        });

        var jsonObj = JSON.parse(json);
        $.each(jsonObj.ApplyUniversityItem, function (index, value) {
            var idx = parseInt(value.Ranking) - 1;
            var obj = $(".univ-item").get(idx);

            $(obj).attr("idx", value.ApplyUnivIdx);
            $(obj).attr("ranking", value.Ranking);
            $(obj).find(".univ").val(value.UniversityName);
            $(obj).find(".stype-rem").val(value.StypeRem);
            $(obj).find(".major-name").val(value.MajorName);
        });

        var apply_univ_idx = $(this).attr("idx");
        var ranking = $(this).attr("ranking");
        var university_name = $(this).find(".univ").val();
        var stype_rem = $(this).find(".stype-rem").val();
        var major_name = $(this).find(".major-name").val();

        if (!mlisEmpty(jsonObj.Answer)) {
            var answerJsonObj = mlParse(jsonObj.Answer.AnswerJson);
            $.each(answerJsonObj, function (key, value) {
                $("#" + value.ID).text(value.Answer);
            });
        }
    }

    fnDataBiding_default_info_p = function (json) {

        $.each($("#default_info").find("input[type='text']"), function (index, val) {
            $(this).val('');
        });
        $.each($("#default_info").find(".answer"), function (index, val) {
            $(this).text('');
        });

        var jsonObj = JSON.parse(json);
        $.each(jsonObj.ApplyUniversityItem, function (index, value) {
            var idx = parseInt(value.Ranking) - 1;
            var obj = $(".univ-item").get(idx);

            $(obj).attr("idx", value.ApplyUnivIdx);
            $(obj).attr("ranking", value.Ranking);
            $(obj).find(".univ").val(value.UniversityName);
            $(obj).find(".stype-rem").val(value.StypeRem);
            $(obj).find(".major-name").val(value.MajorName);
        });

        var apply_univ_idx = $(this).attr("idx");
        var ranking = $(this).attr("ranking");
        var university_name = $(this).find(".univ").val();
        var stype_rem = $(this).find(".stype-rem").val();
        var major_name = $(this).find(".major-name").val();

        if (!mlisEmpty(jsonObj.Answer)) {
            var answerJsonObj = mlParse(jsonObj.Answer.AnswerJson);
            $.each(answerJsonObj, function (key, value) {
                $("#" + value.ID).text(value.Answer);
            });
        }
    }

    fnDataBiding_nesin = function (json) {
        console.log(json);
        var nesinObj = JSON.parse(JSON.parse(json).scoreJson);
        $.each(nesinObj, function (key, value) {
            $("#" + value.ID).val(value.Grade)
        });

        $("#avg_k").val(JSON.parse(json).kor_grade);
        $("#avg_e").val(JSON.parse(json).eng_grade);
        $("#avg_m").val(JSON.parse(json).math_grade);
        $("#avg_soc").val(JSON.parse(json).soc_grade);
        $("#avg_sci").val(JSON.parse(json).sci_grade);
    }
    fnDataBiding_moi = function (json) {
        var moiArray = JSON.parse(json);
        var isDatabiding = false;
        $.each(moiArray, function (index, item) {
            //alert(item.Eng.PartCode);
            var moi = $("#moiHtml").html();
            $("#moi").append(moi)

            var moi_tbl = $(".moi_tbl").get(index+1);

            //학년
            $(moi_tbl).find(".school_year").text(item.SchoolYear);

            //시험일자
            $(moi_tbl).find(".test_date").text(item.TestYear + '-' + item.TestDate);

            //과목명
            $(moi_tbl).find(".math_partname").text(item.Mat.PartName);
            $(moi_tbl).find(".tam1_partname").text(item.Tam1.PartName);
            $(moi_tbl).find(".tam2_partname").text(item.Tam2.PartName);
            $(moi_tbl).find(".lang2_partname").text(item.Lang2.PartName);

            //표준점수
            $(moi_tbl).find(".kor_std").text(item.Kor.Std);
            $(moi_tbl).find(".math_std").text(item.Mat.Std);
            $(moi_tbl).find(".eng_std").text(item.Eng.Std);
            $(moi_tbl).find(".his_std").text(item.His.Std);
            $(moi_tbl).find(".tam1_std").text(item.Tam1.Std);
            $(moi_tbl).find(".tam2_std").text(item.Tam2.Std);
            $(moi_tbl).find(".lang2_std").text(item.Lang2.Std);

            //백분위
            $(moi_tbl).find(".kor_per").text(item.Kor.Per);
            $(moi_tbl).find(".math_per").text(item.Mat.Per);
            $(moi_tbl).find(".eng_per").text(item.Eng.Per);
            $(moi_tbl).find(".his_per").text(item.His.Per);
            $(moi_tbl).find(".tam1_per").text(item.Tam1.Per);
            $(moi_tbl).find(".tam2_per").text(item.Tam2.Per);
            $(moi_tbl).find(".lang2_per").text(item.Lang2.Per);

            //등급
            $(moi_tbl).find(".kor_grade").text(item.Kor.Gra);
            $(moi_tbl).find(".math_grade").text(item.Mat.Gra);
            $(moi_tbl).find(".eng_grade").text(item.Eng.Gra);
            $(moi_tbl).find(".his_grade").text(item.His.Gra);
            $(moi_tbl).find(".tam1_grade").text(item.Tam1.Gra);
            $(moi_tbl).find(".tam2_grade").text(item.Tam2.Gra);
            $(moi_tbl).find(".lang2_grade").text(item.Lang2.Gra);
            isDatabiding = true;
        });

        if (!isDatabiding) {
            $("#moi_info").css("display", "");
        }
    }
    fnDataBiding_student_record = function (json) {

        var ulCtrls= ''
        if (json == 'null') {
            $("#student_record_file_a").text('등록파일없음');
        }
        else {

            var student_record_file = JSON.parse(json);
            $.each(student_record_file, function (index, value) {
                //alert(value.FileID);
                var html = '<li><a style=\"text-decoration:underline; font-weight:bold;\" href=\"$FILEID$\">$FILENAME$</a></li>'
                html = html.replace("$FILENAME$", value.FileName).replace("$FILEID$", "Download?fileId=" + value.FileID)
                $("#student_record_file_a").append(html);
            });


        }
    }
</script>
<div style="height:100%;">
    <div>
        <div style="margin-bottom:10px;"><span style="font-weight:bold;">|&nbsp;&nbsp;상담이력&nbsp;&nbsp;|</span></div>
        @if (member.EntranceRequestItem.Count > 0)
        {

            <div class="common_list">
                <div class="list_w">
                    <table class="list_tbl">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>상담유형</th>
                                <th>제목</th>
                                <th>상담일</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in member.EntranceRequestItem)
                            {

                                <tr>
                                    <td>@i.ToString()</td>
                                    <td>@item.ConsultWayName</td>
                                    <td>@item.Title</td>
                                    <td>@item.ConfirmDate</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div style="border:1px solid #adadad; height:100px; line-height:100px; text-align:center;">상담이력이 없습니다.</div>
        }
    </div>

    <div name="request">
        <div name="info" style="padding:24px 8px 8px 8px;"></div>
        <div style="margin-bottom:10px;"><span style="font-weight:bold;">|&nbsp;&nbsp;기초정보&nbsp;&nbsp;|</span></div>

        <div class="registerform">
            <div class="registerrow">
                <div style="width:50%;display:flex;">
                    <div class="registerheader"><span>본인 성명</span></div>
                    <div class="registerdata calcwidth">
                        @member.Name
                    </div>
                </div>
                <div style="width:50%;display:flex;">
                    <div class="registerheader"><span>컨설팅 참가학생 성명</span></div>
                    <div class="registerdata" style="flex-grow:1;">
                        @Model.StudentName
                    </div>
                    <div class="registerdata" style="background-color:#eaeaea;">
                        @(Model.StudentGender == 1 ? "남자" : "여자")
                    </div>
                </div>
            </div>
            <div class="registerrow">
                <div style="width:50%;display:flex;">
                    <div class="registerheader"><span>핸드폰</span></div>
                    <div class="registerdata calcwidth">
                        @(member.Hp.Length > 3 ? member.Hp.Substring(0, 3) : "")-@(member.Hp.Length > 10 ? member.Hp.Substring(3, member.Hp.Length - 7) : "")-@(member.Hp.Length > 10 ? member.Hp.Substring(member.Hp.Length - 4, 4) : "")
                    </div>
                </div>
                <div style="width:50%;display:flex;">
                    <div class="registerheader"><span>이메일</span></div>
                    <div class="registerdata calcwidth">
                        @member.Email
                    </div>
                </div>
            </div>
            <div class="registerrow">
                <div style="width:50%;display:flex;">
                    <div class="registerheader"><span>거주지역</span></div>
                    <div class="registerdata calcwidth">@Model.AreaName</div>
                </div>
                <div style="width:50%;display:flex;">
                    <div class="registerheader"><span>학교</span></div>
                    <div class="registerdata calcwidth">
                        @member.School - @(member.Grade)학년
                    </div>
                </div>
            </div>
            <div class="registerrow">
                <div class="registerheader"><span>제목</span></div>
                <div class="registerdata calcwidth">
                    @Model.Title
                </div>
            </div>
            <div class="registerrow">
                <div class="registerheader"><span>상담희망일</span></div>
                <div class="registerdata">
                    @(Model.Schedule != null ? Model.Schedule.ConsultDate : "없음") @(Model.Schedule != null ? Model.Schedule.ConsultTime : "")
                </div>
            </div>
            <div class="registerrow">
                <div class="registerheader"><span>재상담 <br />희망내용</span></div>
                <div class="registerdata">
                    <div style="padding:10px;">@(Model.Re_Note)</div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div style="margin-bottom:10px;"><span style="font-weight:bold;">|&nbsp;&nbsp;기초조사서&nbsp;&nbsp;|</span></div>
    <div class="common_form" style="min-width:1024px; height:1027px; position:relative !important">
        <div class="tab-menu-wrap" style="margin-bottom:10px;">
            <ul class="tab-menu">
                <li style="width: 20%;" menu="default_info_p"><a href="#">기초조사서(학부모)</a></li>
                <li class="selected" style="width:20%;" menu="default_info_s"><a href="#">기초조사서(학생)</a></li>
                <li style="width: 20%;" menu="nesin"><a href="#">내신성적</a></li>
                <li style="width: 20%;" menu="moi"><a href="#">모의고사성적</a></li>
                <li style="width: 20%;" menu="student_record"><a href="#">학교생활기록부</a></li>
            </ul>
        </div>

        <div class="basic-info disabled" id="default_info">
            <p style="font-weight:bold;">※올해 1:1 금천구 컨설팅을  하신적이 있으신가요?</p>
            <p style="margin-left:10px;">
                <span style="font-weight:bold; margin-right:5px;">답변:</span><span id="r-a1" class="answer" />
            </p>
            <p style="font-weight:bold;">※재상담의 경우도 원하시는 컨설턴트가 있으신가요?<br /></p>
            <p style="margin-left:10px;">
                <span style="font-weight:bold; margin-right:5px;">답변:</span><span id="r-a2" class="answer" />
            </p>
            <hr />

            <p style="font-weight:bold;">※1~3순위까지 희망 대학</p>
            <table class="form_tbl">
                <tbody>
                    <tr>
                        <td colspan="4" class="thead-dark" style="border-top:1px solid black;border-bottom:1px solid black">지원희망대학</td>
                    </tr>
                    <tr class="univ-item" ranking="1" idx="0">
                        <td class="thead">
                            1지망
                        </td>
                        <td>
                            <input type="text" class="univ" style="border:0px;" readonly="readonly" /> <span class="fb">대학</span>
                        </td>
                        <td>
                            <input type="text" class="stype-rem" /> <span class="fb">전형</span>
                        </td>
                        <td>
                            <input type="text" class="major-name" /> <span class="fb">학과</span>
                        </td>
                    </tr>
                    <tr class="univ-item" ranking="2" idx="0">
                        <td class="thead">
                            2지망
                        </td>
                        <td>
                            <input type="text" class="univ" style="border:0px;" readonly="readonly" /> <span class="fb">대학</span>
                        </td>
                        <td>
                            <input type="text" class="stype-rem" /> <span class="fb">전형</span>
                        </td>
                        <td>
                            <input type="text" class="major-name" /> <span class="fb">학과</span>
                        </td>
                    </tr>
                    <tr class="univ-item" ranking="3" idx="0">
                        <td class="thead">
                            3지망
                        </td>
                        <td>
                            <input type="text" class="univ" style="border:0px;" readonly="readonly" /> <span class="fb">대학</span>
                        </td>
                        <td>
                            <input type="text" class="stype-rem" /> <span class="fb">전형</span>
                        </td>
                        <td>
                            <input type="text" class="major-name" /> <span class="fb">학과</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            @if (member.SchoolType == "M")
            {
                <hr />
            <p style="font-weight:bold; font-size:10px;">＊일반고 외(특목/자사/자율/비평준고 등) 학교 지원에 대한 희망이 있는 학생은 답변 해주세요.</p>
            <p style="font-weight:bold;">※특목 등 희망학교 준비를 어느정도 했나요?(선행, 경시, 비교과 기타)<br /></p>
            <p style="margin-left:10px;">
                <span style="font-weight:bold; margin-right:5px;">답변:</span><span id="m_a1" class="answer" />
            </p><br />
            <p style="font-weight:bold;">※특목 등 희망학교에 대한 진학 상담 경험이 있나요? (어디에서, 몇회, 상담결과 내용은)<br /></p>
            <p style="margin-left:10px;">
                <span style="font-weight:bold; margin-right:5px;">답변:</span><span id="m_a2" class="answer" />
            </p>
            <br />


            <p style="font-weight:bold;">※입학을 희망하는 고등학교를 적어주세요(1,2,3지망 순으로)</p>
            <table class="form_tbl">
                <tbody>
                    <tr>
                        <td colspan="2" class="thead-dark" style="border-top:1px solid black;border-bottom:1px solid black">입학희망고등학교</td>
                    </tr>
                    <tr>
                        <td class="thead">
                            1지망
                        </td>
                        <td>
                            <span id="h_a1" class="answer" />
                        </td>
                    </tr>
                    <tr>
                        <td class="thead">
                            2지망
                        </td>
                        <td>
                            <span id="h_a2" class="answer" />
                        </td>
                    </tr>
                    <tr>
                        <td class="thead">
                            3지망
                        </td>
                        <td>
                            <span id="h_a3" class="answer" />
                        </td>
                    </tr>

                </tbody>
            </table>
            }
            <hr />
            <p style="margin-top:10px;font-weight:bold;">※상담을 통해 도움받고 싶은 고민</p>
            <table class="form_tbl">
                <tr>
                    <td rowspan="3" class="thead-dark border-top" width="10%">
                        학습
                    </td>
                    <td class="thead border-top">
                        제일 어렵거나 힘든과목
                    </td>
                    <td class="border-top"><span id="s_a1" class="answer" /></td>
                </tr>
                <tr>
                    <td class="thead">위의 과목 공부가 힘든 이유가 무엇인가요?</td>
                    <td><span id="s_a2" class="answer" /></td>
                </tr>
                <tr>
                    <td class="thead">그 외의 과목에서 어려움이 무엇인가요?</td>
                    <td><span id="s_a3" class="answer" /></td>
                </tr>

                <tr>
                    <td class="thead-dark">진학</td>
                    <td class="thead">진학방면으로 고민 되는 도움받고 싶은 부분을 자세하게 작성해주세요</td>
                    <td><span id="j_a1" class="answer" /></td>
                </tr>
                <tr>
                    <td rowspan="3" class="thead-dark">진로</td>
                    <td class="thead">앞으로 어떤 직업을 갖고 싶은가요?</td>
                    <td><span id="c_a1" class="answer" /></td>
                </tr>
                <tr>
                    <td class="thead">
                        위의 직업을 갖고 싶은 이유를 적어주세요
                    </td>
                    <td><span id="c_a2" class="answer" /></td>
                </tr>
                <tr>
                    <td class="thead">
                        진로에 대한 고민이 있다면 적어주세요
                    </td>
                    <td><span id="c_a3" class="answer" /></td>
                </tr>
                <tr>
                    <td rowspan="2" class="thead-dark">생활</td>
                    <td class="thead">생활하면서 요즘 가장 고민되는 부분은?</td>
                    <td><span" id="l_a1" class="answer" /></td>
                </tr>
                <tr>
                    <td class="thead">고치고싶은 습관이 있다면?</td>
                    <td><span id="l_a2" class="answer" /></td>
                </tr>
                <tr>
                    <td rowspan="2" class="thead-dark">기타</td>
                    <td class="thead">현재 다니고 있는 학원/과목 기타사항을 적어주세요</td>
                    <td><span id="e_a1" class="answer" /></td>
                </tr>
                <tr>
                    <td class="thead">
                        기타 궁금하거나 상담 받고 싶은 사항을 적어주세요<br />
                        (이전에 컨설팅을 했던 학생 중, 기존 컨설턴트를 희망하는 경우에도 적어주세요)
                    </td>
                    <td><span id="e_a2" class="answer" /></td>
                </tr>
            </table>
        </div>

        <div class="basic-info disabled" id="nesin">
            <div>
                <table class="form_tbl">

                    <tbody>
                        <tr>
                            <td colspan="2" class="thead-dark" width="20%">
                                구분
                            </td>
                            <td class="thead-dark">
                                1학년
                            </td>
                            <td class="thead-dark">
                                2학년
                            </td>
                            <td class="thead-dark">
                                3학년
                            </td>
                            <td class="thead-dark">평균등급</td>
                        </tr>
                        <tr>
                            <td rowspan="5" class="thead">
                                석차등급
                            </td>
                            <td class="thead">
                                국어
                            </td>
                            <td>
                                <input type="text" class="grade avg_k float" id="k_1" />
                            </td>
                            <td>
                                <input type="text" class="grade avg_k float" id="k_2" />
                            </td>
                            <td>
                                <input type="text" class="grade avg_k float" id="k_3" />
                            </td>
                            <td><input type="text" readonly="readonly" class="avg" id="avg_k" style="background-color:#e4e1e1;" /></td>
                        </tr>
                        <tr>
                            <td class="thead">
                                영어
                            </td>
                            <td>
                                <input type="text" class="grade avg_e float" id="e_1" />
                            </td>
                            <td>
                                <input type="text" class="grade avg_e float" id="e_2" />
                            </td>
                            <td>
                                <input type="text" class="grade avg_e float" id="e_3" />
                            </td>
                            <td><input type="text" readonly="readonly" class="avg" id="avg_e" style="background-color:#e4e1e1;" /></td>
                        </tr>
                        <tr>
                            <td class="thead">
                                수학
                            </td>
                            <td>
                                <input type="text" class="grade avg_m float" id="m_1" />
                            </td>
                            <td>
                                <input type="text" class="grade avg_m float" id="m_2" />
                            </td>
                            <td>
                                <input type="text" class="grade avg_m float" id="m_3" />
                            </td>
                            <td><input type="text" readonly="readonly" class="avg" id="avg_m" style="background-color:#e4e1e1;" /></td>
                        </tr>
                        <tr>
                            <td class="thead">
                                사회
                            </td>
                            <td>
                                <input type="text" class="grade avg_soc float" id="soc_1" />
                            </td>
                            <td>
                                <input type="text" class="grade avg_soc float" id="soc_2" />
                            </td>
                            <td>
                                <input type="text" class="grade avg_soc float" id="soc_3" />
                            </td>
                            <td><input type="text" readonly="readonly" class="avg" id="avg_soc" style="background-color:#e4e1e1;" /></td>
                        </tr>
                        <tr>
                            <td class="thead">
                                과학
                            </td>
                            <td>
                                <input type="text" class="grade avg_sci float" id="sci_1" max="9" min="0" />
                            </td>
                            <td>
                                <input type="text" class="grade avg_sci float" id="sci_2" />
                            </td>
                            <td>
                                <input type="text" class="grade avg_sci float" id="sci_3" />
                            </td>
                            <td><input type="text" readonly="readonly" class="avg" id="avg_sci" style="background-color:#e4e1e1;" /></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="basic-info disabled" id="moi">
            <div style="width:100%; display:none;" id="moi_info">
                <div style="width:100%; float:left;">
                    <div><span style="font-weight:bold;color:black;"></span></div>
                    <div style="height:500px; max-width:1280px; min-width:1280px; text-align:center; padding:50px;">

                        <div>
                            <span style="font-weight:bold;">등록된모의고사적성이없습니다</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table mt1 txC pdh2" id="moiHtml" style="display:none;">
                <table class="form_tbl moi_tbl" style="margin-bottom:10px;">
                    <caption>목록</caption>
                    <thead>
                        <tr style="border:1px solid">
                            <th>대상학년</th>
                            <th><span class="school_year"></span>학년</th>
                            <th>시험일자</th>
                            <th colspan="5">
                                <span class="test_date"></span>
                            </th>
                        </tr>
                        <tr class="PartCode">
                            <th rowspan="2">구분</th>
                            <th rowspan="2">국어</th>
                            <th rowspan="2"><span class="math_partname"></span></th>
                            <th rowspan="2">영어</th>
                            <th rowspan="2">한국사</th>
                            <th colspan="2">탐구영역</th>
                            <th>제2외국어</th>
                        </tr>
                        <tr class="PartCode">
                            <th><span class="tam1_partname"></span></th>
                            <th><span class="tam2_partname"></span></th>
                            <th><span class="lang2_partname"></span></th>
                        </tr>
                    </thead>
                    <tbody class="sat-score">
                        <tr class="Std">
                            <td class="s-type">표준점수</td>
                            <td><span class="kor_std"></span></td>
                            <td><span class="math_std"></span></td>
                            <td><span class="eng_std"></span></td>
                            <td><span class="his_std"></span></td>
                            <td><span class="tam1_std"></span></td>
                            <td><span class="tam2_std"></span></td>
                            <td><span class="lang2_std"></span></td>
                        </tr>
                        <tr class="Per">
                            <td class="s-type">백분위</td>
                            <td><span class="kor_per"></span></td>
                            <td><span class="math_per"></span></td>
                            <td><span class="eng_per"></span></td>
                            <td><span class="his_per"></span></td>
                            <td><span class="tam1_per"></span></td>
                            <td><span class="tam2_per"></span></td>
                            <td><span class="lang2_per"></span></td>
                        </tr>
                        <tr class="Gra">
                            <td class="s-type">등급</td>
                            <td><span class="kor_grade"></span></td>
                            <td><span class="math_grade"></span></td>
                            <td><span class="eng_grade"></span></td>
                            <td><span class="his_grade"></span></td>
                            <td><span class="tam1_grade"></span></td>
                            <td><span class="tam2_grade"></span></td>
                            <td><span class="lang2_grade"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="basic-info disabled" id="student_record">
            <div style="width:100%;">
                <div style="width:100%; float:left;">
                    <div><span style="font-weight:bold;color:black;">※학생기록부 관련파일입니다</span></div>
                    <div style="height:500px; max-width:1280px; min-width:1280px; text-align:center; padding:50px;">

                        <div>
                            <ul id="student_record_file_a"></ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn_a right no-print">
        <a href="#" class="btn white" style="padding:0px;" onclick="fnCancel();">목록보기</a>
    </div>
</div>
