﻿@using PagedList
@using PagedList.Mvc
@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.ViewModel
@using Geumcheon.Web.Core.Entity
@model ViewModelList<EntranceRequest, SearchInfo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        font-weight: bold !important;
    }

    div .btns .btn.red {
        background: #FF5722;
        border: 1px solid #FF5722;
        border-image: none;
        color: #fff;
    }
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="../Resources/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        //var password_modal = document.getElementById('password-modal');
        //$(".sp-modal-password").click(function () {
        //    password_modal.style.display = "block";
        //    $("#hidden-applicationIdx").val($(this).attr("idx"));
        //});

        //$("#btn-modal-close").click(function () {
        //    password_modal.style.display = "none";
        //});

        //$("#btn-check-pw").click(function () {
        //    fnSetPassword();
        //});

        $(".btn_reg_consult").click(function () {
            var idx = $(this).attr("idx");
            var t_idx = $(this).parent("td").find("select").val();

            fnSetConsultTeacher(idx, t_idx, null);

        })

        $(".btn_chg_progress").click(function () {
            var progress = $(this).attr("progress");
            var idx = $(this).parent("div").parent("div").parent("td").attr("id").replace("progress-", "");
            if (progress == 'R') {
                progress = 'I'
            }
            else if (progress == 'I') {
                progress = 'R'
            }
            fnChgProgress(idx, progress);
            //var idx = $(this).attr("idx");

            //fnChgProgress();
        })

        $(".btn_delete").click(function () {
            var requestIdx = $(this).attr("idx");
            fnDeleteEntranceRequest(requestIdx);
        });

        $("#btn_search").click(function () {
            $("#hiddenState").val($("#sltState").val());
            $("#hiddenKeyword").val($("#txtKeyword").val());
            $("#searchForm").submit();
        });

        $("#btn_all").click(function () {
            $("#hiddenState").val("0");
            $("#hiddenKeyword").val();
            $("#searchForm").submit();
        });

        $(".schedule_lnk").click(function () {
            var idx = $(this).attr("idx");
            var sch_type = $(this).attr("sch_type");

            var ableDays = fnGetAbleDay(sch_type);

            //var returnHtml = '';
            //$.each(Array.from(new Set(ableDays)), function (key, value) {
            //    var itemHtml = '<option value=$KEY$>$VALUE$</option>'
            //    itemHtml = itemHtml.replace("$KEY$", value)
            //        .replace("$VALUE$", value);
            //    returnHtml = returnHtml + itemHtml
            //});
            //$("#sltDate").empty();
            //$("#sltDate").append(returnHtml);
            //fnGetAbleTime(ableDays[0]);

            $("#btn-open-modal").click();

            $("#btn_chg_schecule_time").attr("idx", idx);
            $("#btn_chg_schecule_time").attr("sch_type", sch_type);
        });

        $("#sltDate").change(function () {
            fnGetAbleTime();
        });

        $("#btn_chg_schecule_time").click(function () {
            var idx = $("#btn_chg_schecule_time").attr("idx");
            var schType = $("#btn_chg_schecule_time").attr("sch_type");
            var timeIdx = $("#sltTime").val();
            fnChgScheduleTime(idx, timeIdx, schType);

        });
    });

    fnSetConsultTeacher = function (idx, t_idx) {
        var result;
	    $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'idx': idx,
                'teacheridx': t_idx
            }),
            url: '@Url.Action("SetConsultTeacher", "Consult")',
            success: function (msg) {
                result =  msg.jsonMsg;
                if (result == "T") {
                    alert('상담교사를 수정하였습니다');
                }
                else {
                    alert("저장하지못했습니다");
                }
            },
            //error: function (xhr, msg) { alert(msg); },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
        $.ajaxSetup({ async: false });

        return result;
    }

    fnChgProgress = function (idx, progress) {
        //alert(idx);
	    $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'idx': idx,
                'progress': progress
            }),
            url: '@Url.Action("ChgProgress", "Consult")',
            success: function (msg) {
                var result = msg.jsonMsg;
                if (result == "T") {

                    if (progress == 'I') {
                        $("#progress-" + idx).find("a").attr("progress", 'I');
                        $("#progress-" + idx).find("a").text('승인완료');
                        $("#progress-" + idx).find("a").removeClass("white");
                        $("#progress-" + idx).find("a").addClass("blue")
                    }
                    else {
                        $("#progress-" + idx).find("a").attr("progress", 'R');
                        $("#progress-" + idx).find("a").text('승인대기');
                        $("#progress-" + idx).find("a").removeClass("blue");
                        $("#progress-" + idx).find("a").addClass("white")
                    }
                    alert('처리상태를 수정하였습니다');
                }
                else {
                    alert("저장하지못했습니다");
                }
            },
            //error: function (xhr, msg) { alert(msg); },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
	    $.ajaxSetup({ async: false });
    }

    fnDeleteEntranceRequest = function (requestIdx) {
        if (confirm("선택하신상담을 삭제하시겠습니까?")) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                data: JSON.stringify({
                    'requestIdx': requestIdx
                }),
                url: '@Url.Action("RemoveEntranceRequest", "Consult")',
                success: function (msg) {
                    if (msg.result == 1) {
                        location.reload();
                    }
                    else {
                        alert('삭제하지못했습니다');
                    }
                },
                //error: function (xhr, msg) { alert(msg); },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }
    }

    var fnGetAbleDay = function (sch_type) {
        var arr = [];
        var ableDays = '';
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'way': "V"
                , 'schType': sch_type
            }),
            url: '@Url.Action("GetAbleDate", "Entrance")',
            success: function (msg) {
                //alert(msg.jsonMsg);
                ableDays = msg.jsonMsg;
                var strx = ableDays.split(',');
                //alert(strx);
                $.each(strx, function (index, value) {
                    arr.push(value);
                });
            },
            error: function (xhr, msg) { alert(msg); },
        }).done(function () {
            var returnHtml = '';
            $.each(Array.from(new Set(arr)), function (key, value) {
                var itemHtml = '<option value=$KEY$>$VALUE$</option>'
                itemHtml = itemHtml.replace("$KEY$", value)
                    .replace("$VALUE$", value);
                returnHtml = returnHtml + itemHtml
            });
            $("#sltDate").empty();
            $("#sltDate").append(returnHtml);
            fnGetAbleTime(arr[0]);
        });
        $.ajaxSetup({ async: false });
        return arr;
    };

    var fnGetAbleTime = function (date = "0") {
        var schType = $("#btn_chg_schecule_time").attr("sch_type");
        if (date = "0") {
            date = $("#sltDate").val();
        }
        var ableTimes = '';
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'date': date,
                'way': "V",
                'schType': schType
            }),
            url: '@Url.Action("GetAbleTime", "Entrance")',
            success: function (msg) {
                ableTimes = msg.jsonMsg;
                var json = JSON.parse(ableTimes.replace(/&quot;/g, '"'));
                var returnHtml = "";
                $.each(json, function (key, value) {
                    var itemHtml = '<option value=$KEY$>$VALUE$</option>'
                    itemHtml = itemHtml.replace("$KEY$", value.ConsultTimeIdx)
                        .replace("$VALUE$", value.ConsultTime + '(남은좌석 : ' + value.Cnt + ')');
                    returnHtml = returnHtml + itemHtml
                });
                $("#sltTime").empty();
                $("#sltTime").append(returnHtml);
            },
            error: function (xhr, msg) {
                alert(msg);
            },
        });
    };

    var fnChgScheduleTime = function (requestIdx, timeIdx, schType ) {       
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'requestIdx': requestIdx,
                'timeIdx': timeIdx,
                'schType': schType
            }),
            url: '@Url.Action("EntranceRequestChageSchedule", "Entrance")',
            success: function (msg) {
                var result = msg.jsonMsg;
                
                if (result == 1) {
                    alert("수정하였습니다");
                    location.reload();
                }
            },
            error: function (xhr, msg) { alert("code:" + xhr.status + "\n" + "message:" + xhr.responseText + "\n" + "error:" + msg); },
        });
    };

</script>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scheduleModal" id="btn-open-modal" style="display:none;">
    Launch demo modal
</button>
<!-- Modal -->
<div class="popModal modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:90% !important;height:800px !important;">
        <div class="modal-content" style="height:300px !important; width:500px !important;">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleModalLabel">스케쥴변경</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:90%;">
                <div style="display:table; width:100%;height:100%">
                    <div style="display:table-row">
                        <div style="display:table-cell;font-weight:bold;">날짜</div>
                        <div style="display:table-cell">
                            <select id="sltDate">

                            </select>
                        </div>
                        <div style="display:table-cell; font-weight:bold;">시간</div>
                        <div style="display:table-cell;">
                            <select id="sltTime">
                                <option>선택하세요</option>
                            </select>
                        </div>
                        <div><input type="button" id="btn_chg_schecule_time" idx="0" sch_type="0" value="수정" /></div>
                    </div>

                </div>
            </div>
            <div class="modal-footer" style="display:none;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("admin", "Consult", FormMethod.Get, new { @id = "searchForm" }))
{
    <input type="hidden" name="page" id="page" value="1" />
    <input type="hidden" name="w" id="w" value="@ViewBag.ConsultWay" />
    <input type="hidden" name="state" id="hiddenState" value="" />
    <input type="hidden" name="keyword" id="hiddenKeyword" value="" />

    <div style="float:left; width:100%; margin-bottom:5px; padding:20px; background-color:#f9f8f8;">
        <select style="float:left; margin-left:10px;" id="sltState">
            <option value="1">학생명</option>
            <option value="2">상담교사</option>
            <option value="3">상담희망일</option>
        </select>
        <input type="text" id="txtKeyword" style="float:left; margin-left:10px;" />
        <div style="float:left; margin-left:10px;" class="btns"><a id="btn_search" class="btn  blue">검색</a></div>
        <div style="float:left; margin-left:10px;" class="btns"><a id="btn_all" class="btn  blue">전체</a></div>
    </div>

    if (ViewBag.ConsultWay == "O")
    {
        <div class="common_list">
            <input type="hidden" id="hidden-applicationIdx" />

            <div class="list_w">
                <table class="list_tbl">
                    <colgroup>
                        <col style="width: 4%;">

                        <col style="width: auto;">
                        <col style="width: 8%;">
                        <col style="width: 15%;">
                        <col style="width: 20%;">

                        <col style="width: 10%;">
                        <col style="width: 10%;">

                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>

                            <th>등록자</th>
                            <th>등록일</th>

                            <th>상담교사</th>
                            <th>처리상태</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Entities.Count() > 0)
                        {
                            foreach (var item in Model.Entities)
                            {
                                <tr>
                                    <td>@item.RowIdx</td>
                                    <td><a class="sp-modal-password" style="font-weight:bold; text-decoration:underline; cursor:pointer;" href="/Entrance/detail?requestIdx=@item.RequestIdx" idx="@item.RequestIdx">@item.Title</a></td>

                                    <td>@item.member.Name (@item.member.ID)</td>
                                    <td>@item.CreateDate</td>

                                    <td>
                                        <select class="select slt-consult" style="width:70%;">
                                            <option value="0">선택하세요</option>
                                            @foreach (var t in ViewBag.Teacher)
                                            {
                                                if (item.TeacherIdx == t.TeacherIdx.ToString())
                                                {
                                                    <option value="@t.TeacherIdx" selected="selected">@t.TeacherName (@t.LoginId)</option>
                                                }
                                                else
                                                {
                                                    <option value="@t.TeacherIdx"> @t.TeacherName (@t.LoginId)</option>
                                                }
                                            }
                                        </select>
                                        <input type="button" value="변경" style="width:20%; background-color:#3685ca; color:white;  border:0px;" class="btn_reg_consult" idx="@item.RequestIdx" />
                                    </td>
                                    <td id="progress-@item.RequestIdx">
                                        @if (item.Progress == "R")
                                        {
                                            <div><div class="btns"><a class="btn_chg_progress btn white" progress="R">승인대기</a></div></div>
                                        }
                                        else if (item.Progress == "I")
                                        {
                                            <div><div class="btns"><a class="btn_chg_progress btn blue" progress="I">승인 완료</a></div></div>
                                        }
                                        else if (item.Progress == "W")
                                        {
                                            <div><div class="btns"><a class="btn_chg_progress btn  red" progress="I">대기예약</a></div></div>
                                        }
                                        else
                                        {
                                            <div><div class="btns"><a class="btn grey">상담완료</a></div></div>
                                        }
                                    </td>
                                    <td>
                                        <div><div class="btns"><a class="btn_delete btn  red" idx="@item.RequestIdx">삭제</a></div></div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else if (ViewBag.ConsultWay == "I")
    {
        <div class="common_list">
            <input type="hidden" id="hidden-applicationIdx" />

            <div class="list_w">
                <table class="list_tbl">
                    <colgroup>
                        <col style="width: 4%;">
                        <col style="width: auto;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 15%;">
                        <col style="width: 20%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>


                            <th>등록자</th>
                            <th>등록일</th>
                            <th>상담희망일</th>
                            <th>상담교사</th>
                            <th>처리상태</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Entities.Count() > 0)
                        {
                            foreach (var item in Model.Entities)
                            {
                                <tr>
                                    <td>@item.RowIdx</td>
                                    <td><a class="sp-modal-password" style="font-weight:bold; text-decoration:underline; cursor:pointer;" href="/Entrance/detail?requestIdx=@item.RequestIdx" idx="@item.RequestIdx">@item.Title</a></td>
                                    <td>@item.member.Name</td>
                                    <td>@item.CreateDate</td>
                                    <td>
                                        @item.EIdx
                                    </td>
                                    <td>
                                        <select class="select slt-consult" style="width:70%;">
                                            <option value="0">선택하세요</option>
                                            @foreach (var t in ViewBag.Teacher)
                                            {
                                                if (item.TeacherIdx == t.TeacherIdx.ToString())
                                                {
                                                    <option value="@t.TeacherIdx" selected="selected">@t.TeacherName (@t.LoginId)</option>
                                                }
                                                else
                                                {
                                                    <option value="@t.TeacherIdx"> @t.TeacherName (@t.LoginId)</option>
                                                }
                                            }
                                        </select>
                                        <input type="button" value="변경" style="width:20%; background-color:#3685ca; color:white;  border:0px;" class="btn_reg_consult" idx="@item.RequestIdx" />
                                    </td>
                                    <td id="progress-@item.RequestIdx">
                                        @if (item.Progress == "R")
                                        {
                                            <div><div class="btns"><a class="btn_chg_progress btn white" progress="R">승인대기</a></div></div>
                                        }
                                        else if (item.Progress == "I")
                                        {
                                            <div><div class="btns"><a class="btn_chg_progress btn blue" progress="I">승인 완료</a></div></div>
                                        }
                                        else if (item.Progress == "W")
                                        {
                                            <div><div class="btns"><a class="btn_chg_progress btn blue" progress="I">대기예약</a></div></div>
                                        }
                                        else
                                        {
                                            <div><div class="btns"><a class="btn grey">상담완료</a></div></div>
                                        }
                                    </td>
                                    <td>
                                        <div><div class="btns"><a class="btn_delete btn  red" idx="@item.RequestIdx">삭제</a></div></div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="common_list">
            <input type="hidden" id="hidden-applicationIdx" />

            <div class="list_w">
                <table class="list_tbl">
                    <colgroup>
                        <col style="width: 4%;">
                        <col style="width: auto;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 15%;">
                        <col style="width: 20%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>


                            <th>등록자</th>
                            <th>등록일</th>
                            <th>상담희망일</th>
                            <th>상담교사</th>
                            <th>처리상태</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Entities.Count() > 0)
                        {
                            foreach (var item in Model.Entities)
                            {
                                <tr>
                                    <td>@item.RowIdx</td>


                                    <td><a class="sp-modal-password" style="font-weight:bold; text-decoration:underline; cursor:pointer;" href="/Entrance/detail?requestIdx=@item.RequestIdx" idx="@item.RequestIdx">@item.Title</a></td>


                                    <td>[@item.member.SchoolTypeName]@item.member.Name</td>
                                    <td>@item.CreateDate</td>

                                    <td>

                                        @{
                                            string consultdt = "";
                                            try
                                            {
                                                string[] consultdate = item.Schedule.ConsultDate.Split('-');
                                                string y = consultdate[0];
                                                string m = consultdate[1];
                                                if (m.Length == 1)
                                                {
                                                    m = "0" + m;
                                                }
                                                string d = consultdate[2];
                                                if (d.Length == 1)
                                                {
                                                    d = "0" + d;
                                                }
                                                consultdt = y + "-" + m + "-" + d;
                                            }
                                            catch
                                            {
                                                <span>catch</span>
                                            }
                                            <a href="#" style="text-decoration:underline;" class="schedule_lnk" idx="@item.RequestIdx" sch_type="@item.member.SchoolType"><span>@consultdt   @item.Schedule.ConsultTime </span>   </a>
                                        }

                                    </td>
                                    <td>
                                        <select class="select slt-consult" style="width:70%;">
                                            <option value="0">선택하세요</option>
                                            @foreach (var t in ViewBag.Teacher)
                                            {
                                                if (item.TeacherIdx == t.TeacherIdx.ToString())
                                                {
                                                    <option value="@t.TeacherIdx" selected="selected">@t.TeacherName (@t.LoginId)</option>
                                                }
                                                else
                                                {
                                                    <option value="@t.TeacherIdx"> @t.TeacherName (@t.LoginId)</option>
                                                }
                                            }
                                        </select>
                                        <input type="button" value="변경" style="width:20%; background-color:#3685ca; color:white;  border:0px;" class="btn_reg_consult" idx="@item.RequestIdx" />
                                    </td>
                                    <td id="progress-@item.RequestIdx">
                                        @if (item.Progress == "R")
                                        {
                                            <div><div class="btns"><a class="btn_chg_progress btn white" progress="R">승인대기</a></div></div>
                                        }
                                        else if (item.Progress == "I")
                                        {
                                            <div><div class="btns"><a class="btn_chg_progress btn blue" progress="I">승인 완료</a></div></div>
                                        }
                                        else if (item.Progress == "W")
                                        {
                                            <div><div class="btns"><a class="btn_chg_progress btn blue" progress="I">대기예약</a></div></div>
                                        }
                                        else
                                        {
                                            <div><div class="btns"><a class="btn grey">상담완료</a></div></div>
                                        }
                                    </td>
                                    <td>
                                        <div><div class="btns"><a class="btn_delete btn  red" idx="@item.RequestIdx">삭제</a></div></div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}


<!-- 페이징 -->
<div id="pager" style="display:none;">
    @Html.Hidden("page", Model.PagingInfo.CurrentPage)
    <div class="totalCount">전체 <span>@Model.PagingInfo.TotalCount</span> 건</div>
    @Html.PagedListPager(new StaticPagedList<EntranceRequest>(Model.Entities, Model.PagingInfo.CurrentPage, Model.PagingInfo.PageSize, Model.PagingInfo.TotalCount)
                                                                                                                                          , page => Url.Action("admin", "Consult", new { w = ViewBag.ConsultWay, page = page, state = 1, keyword = "고강규" }))
</div>
<div id="password-modal" class="modal">
    <div class="modal-content" style="height:350px; width:800px; border:1px; background-color:#eff2fd;">
        <h1 style="color:#3685ca;font-size:28px; padding:3%;">상담게시글을 등록하실때 입력한 비밀번호를 입력하세요</h1>
        <div>
            <div style="padding:5%; float:left; width:100%; align-items:center;">
                <div style="float:left; width:70%;"><input type="text" id="txt-pwd" style="height:50px; width:100%;" /></div>
                <div style="float:left; height:50px; width:25%;  background-color:#3685ca; line-height:50px; color:white;text-align:center; ">
                    <a class="btn blue" id="btn-check-pw" href="#" style="font-size:25px; text-align:center;">확인</a>
                </div>
            </div>
        </div>
        <h3 style="color:#3685ca;font-size:20px; padding:3%; text-align:center;">상담게시글을 등록하실때 입력한 비밀번호를 입력하세요</h3>
        <div style="width:100%; text-align:center; float:right; width:100%; margin-right:9%;">
            <div style="height:50px; width:25%; background-color:darkred; line-height:50px; color:white; float:right;">
                <a class="btn blue" id="btn-modal-close" href="#" style="font-size:25px; text-align:center;">닫기</a>
            </div>
        </div>
    </div>
</div>
