﻿@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.Entity
@model Application
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        font-weight: bold !important;
    }
</style>
@section Javascript
{
    <script>
        $(document).ready(function () {
            var json = JSON.parse('@Model.ScoreHtml'.replace(/&quot;/g, '"'));

            var cnt = json.length;

            if (cnt == 13) {
                $(".score-html-t").remove();
            }
            else {
                $(".score-html-b").remove();
            }

            $.each(json, function (key, value) {
                $("#s" + (key + 1).toString()).text(value);
            });
    });

        DoAction = function (actionnm,idx) {
            isloading.start();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                data: JSON.stringify({
                    'actionnm': actionnm
                    ,'idx':idx
                }),
                url: '@Url.Action("Process", "Consult")',
                success: function (json) {
                    isloading.stop();
                    if (json.ok)
                        document.location = json.Redirect;
                    else
                        alert(json.Redirect);
                },
                error: function (xhr, msg) {
                    isloading.stop();
                    alert(msg);
                },
            });
        }

        fnGoList = function () {
            document.location.href = "Index?w=@ViewBag.ConsultWay";
        }
    </script>
}
<style>
    .socre input[type=text] {
        width: 100% !important;
    }

    .InnerTable {
        border: 1px solid #808080;
        border-collapse: collapse;
    }

        .InnerTable td {
            border: 1px solid #060606;
            text-align: center;
            width: 100px;
            height: 30px;
        }

            .InnerTable td.T {
                background-color: #e5fbf4;
                font-weight: bold;
                color: #333;
            }

            .InnerTable td.N {
                background-color: #f7f6dc;
                font-weight: bold;
                color: #333;
            }

            .InnerTable td.H {
                background-color: #f7e8ea;
                font-weight: bold color: #333;
            }
</style>
<div style="text-align:right" class="no-print">
    @*<img src="/resource/images/common/print.png" style="padding:7px;" onclick="javascript: window.print();" />*@
</div>
<div class="common_form">
    <table class="form_tbl">
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 80%;">
        </colgroup>
        <tbody>
            <tr class="top">
                <th>등록자</th>
                <td>@Model.Student.Name</td>
            </tr>
            <tr>
                <th>학교명</th>
                <td>@Model.Student.School</td>
            </tr>
            <tr>
                <th>학년</th>
                <td>@Model.Student.Grade</td>
            </tr>
            <tr>
                <th>핸드폰</th>
                <td>
                    @Model.Student.Hp
                </td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>
                    @Model.Student.Email
                </td>
            </tr>
            <tr>
                <th>문의유형</th>
                <td>@Model.ConsultTypeName</td>
            </tr>
            @if (Model.ConsultWay == "T")
            {
                <tr>
                    <th>상담요청시간</th>
                    <td style="font-size:18px; font-weight:bold">
                        @Model.Schedule.ConsultDate (@Model.Schedule.ConsultTime)
                    </td>
                </tr>
            }

            <tr>
                <th>제목</th>
                <td>@Model.Title </td>
            </tr>
            <tr id="socre-html">
                <th>성적</th>
                <td>
                    <div class="socre score-html-t" id="score-html">
                        <table cellpadding="0" cellspacing="0" class="InnerTable">
                            <tr>
                                <td colspan="12" class="T">
                                    모의고사 성적
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="T">
                                    국어
                                </td>
                                <td colspan="3" class="T">
                                    수학(가/나)
                                </td>
                                <td class="T">
                                    영어
                                </td>
                                <td colspan="3" class="T">
                                    탐구1
                                </td>
                                <td colspan="3" class="T">
                                    탐구2
                                </td>
                            </tr>
                            <tr>
                                <td class="T">
                                    백분위
                                </td>
                                <td class="T">
                                    등급
                                </td>
                                <td class="T">
                                    과목명
                                </td>
                                <td class="T">
                                    백분위
                                </td>
                                <td class="T">
                                    등급
                                </td>
                                <td class="T">
                                    등급
                                </td>
                                <td class="T">
                                    과목명
                                </td>
                                <td class="T">
                                    백분위
                                </td>
                                <td class="T">
                                    등급
                                </td>
                                <td class="T">
                                    과목명
                                </td>
                                <td class="T">
                                    백분위
                                </td>
                                <td class="T">
                                    등급
                                </td>
                            </tr>
                            <tr>

                                <td><span class="scoreitem" id="s1"></span></td>
                                <td><span class="scoreitem" id="s2"></span></td>
                                <td><span class="scoreitem" id="s3"></span></td>
                                <td><span class="scoreitem" id="s4"></span></td>
                                <td><span class="scoreitem" id="s5"></span></td>
                                <td><span class="scoreitem" id="s6"></span></td>
                                <td><span class="scoreitem" id="s7"></span></td>
                                <td><span class="scoreitem" id="s8"></span></td>
                                <td><span class="scoreitem" id="s9"></span></td>
                                <td><span class="scoreitem" id="s10"></span></td>
                                <td><span class="scoreitem" id="s11"></span></td>
                                <td><span class="scoreitem" id="s12"></span></td>
                            </tr>
                            <tr>
                                <td colspan="12" class="N">
                                    내신 성적
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="N">
                                    전 과목 평균
                                </td>
                                <td colspan="2" class="N">
                                    국영수과 평균
                                </td>
                                <td colspan="2" class="N">
                                    국영수사 평균
                                </td>
                                <td class="N">
                                    국어
                                </td>
                                <td class="N">
                                    수학
                                </td>
                                <td class="N">
                                    영어
                                </td>
                                <td class="N">
                                    사회
                                </td>
                                <td class="N">
                                    과학
                                </td>
                            </tr>
                            <tr>

                                <td colspan="3"><span class="scoreitem" id="s13"></span></td>
                                <td colspan="2"><span class="scoreitem" id="s14"></span></td>
                                <td colspan="2"><span class="scoreitem" id="s15"></span></td>
                                <td><span class="scoreitem" id="s16"></span></td>
                                <td><span class="scoreitem" id="s17"></span></td>
                                <td><span class="scoreitem" id="s18"></span></td>
                                <td><span class="scoreitem" id="s19"></span></td>
                                <td><span class="scoreitem" id="s20"></span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="H">
                                    진학희망대학
                                </td>
                                <td colspan="4" class="H">
                                    대학명
                                </td>
                                <td colspan="5" class="H">
                                    학과명
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="H">
                                    1 희망
                                </td>
                                <td colspan="4"><span class="scoreitem" id="s21"></span></td>
                                <td colspan="5"><span class="scoreitem" id="s22"></span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="H">
                                    2 희망
                                </td>
                                <td colspan="4"><span class="scoreitem" id="s23"></span></td>
                                <td colspan="5"><span class="scoreitem" id="s24"></span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="H">
                                    3 희망
                                </td>
                                <td colspan="4"><span class="scoreitem" id="s25"></span></td>
                                <td colspan="5"><span class="scoreitem" id="s26"></span></td>
                            </tr>
                        </table>
                    </div>

                    <div class="socre score-html-b" id="score-html">
                        <table cellpadding="0" cellspacing="0" class="InnerTable">

                            <tr>
                                <td colspan="6" class="N">
                                    내신 성적
                                </td>
                            </tr>
                            <tr>
                                <td class="N">
                                    전과목(평균)
                                </td>
                                <td class="N">
                                    국어(평균)
                                </td>
                                <td class="N">
                                    수학(평균)
                                </td>
                                <td class="N">
                                    영어(평균)
                                </td>
                                <td class="N">
                                    사회(평균)
                                </td>
                                <td class="N">
                                    과학(평균)
                                </td>
                            </tr>
                            <tr>

                                <td><span class="scoreitem" id="s1" /></td>
                                <td><span class="scoreitem" id="s2" /></td>
                                <td><span class="scoreitem" id="s3" /></td>
                                <td><span class="scoreitem" id="s4" /></td>
                                <td><span class="scoreitem" id="s5" /></td>
                                <td><span class="scoreitem" id="s6" /></td>

                            </tr>
                            <tr>
                                <td colspan="6" class="T">
                                    모의고사 성적
                                </td>
                            </tr>
                            <tr>
                                <td class="T">
                                    국어(백분위/등급)
                                </td>
                                <td class="T">
                                    수학(백분위/등급)
                                </td>
                                <td class="T">
                                    영어(등급)
                                </td>
                                <td class="T">
                                    탐구1(백분위/등급)
                                </td>
                                <td class="T">
                                    탐구2(백분위/등급)
                                </td>
                                <td class="T">
                                    -
                                </td>
                            </tr>
                            <tr>

                                <td><span class="scoreitem" id="s7" /></td>
                                <td><span class="scoreitem" id="s8" /></td>
                                <td><span class="scoreitem" id="s9" /></td>
                                <td><span class="scoreitem" id="s10" /></td>
                                <td><span class="scoreitem" id="s11" /></td>
                                <td>-</td>
                            </tr>

                            <tr>
                                <td colspan="2" class="H">
                                    진학희망대학
                                </td>
                                <td colspan="2" class="H">
                                    대학명
                                </td>
                                <td colspan="2" class="H">
                                    학과명
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="H">
                                    1 희망
                                </td>
                                <td colspan="2"><span class="scoreitem" id="s12" /></td>
                                <td colspan="2"><span class="scoreitem" id="s13" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>




            <tr>
                <th>기타질문</th>
                <td>
                    <div style="font-weight:bold;"> *본인에게 의미 있었던 활동 3가지를 적어주세요</div>
                    <div style="padding:10px;">@Model.ActivityItem</div>
                    <div style="font-weight:bold;">
                        *본 상담을 통해 해결하고 싶거나 궁금한 점을 적어주세요(진로,진학,학습,생활면에서 최대한 상세히, 필수)
                    </div>
                    <div style="padding:10px;">@Model.Note</div>
                </td>
            </tr>
            @if (Model.Progress == "C" && Model.ConsultWay == "B")
            {
                <tr>
                    <th style="background-color:#7FA9Ce !important;">상담내용</th>
                    <td>
                        @Html.Raw(Model.Reply.ReplyNote)
                    </td>
                </tr>
            }
            else if (_identity.Roll == "CONSULT" && Model.Progress == "C" && Model.ConsultWay == "T")
            {
                <tr>
                    <th style="background-color:#7FA9Ce !important;">상담보고서</th>
                    <td>
                        @Html.Raw(Model.Reply.ReplyNote)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Progress == "R")
    {
        <p class="comment no-print">
            담당 선생님이 배정되기 전입니다.
        </p>
    }
    else if (Model.Progress == "I")
    {
        <p class="comment no-print">
            상담이 진행중입니다
        </p>
    }
    else
    {
        if (Model.ConsultWay == "T")
        {
            <p class="comment no-print">
                상담이 완료되었습니다
            </p>
        }
    }
    <div class="btn_a right no-print no-print">

        @if (_identity.Roll == "STUDENT")
        {
            <a href="#" class="btn white" style="padding:0px;" onclick="fnGoList();">목록보기</a>
            if (Model.Progress == "R")
            {
                <a href="#" class="btn red" style="padding:0px; display:none;" onclick="DoAction('DELETE','@Model.ApplicationIdx');">삭제하기</a>
                <a href="#" class="btn blue" style="padding:0px;" onclick="DoAction('MODDIFY','@Model.ApplicationIdx');">수정하기</a>
            }
        }
        else if (_identity.Roll == "CONSULT" && Model.Progress == "I" && _identity.ConsultId != "admin")
        {

            if (Model.ConsultWay == "B")
            {
                <a href="Reply?w=@Model.ConsultWay&idx=@Model.ApplicationIdx" class="btn indigo" style="padding:0px;" onclick="">상담작성</a>
            }
            else
            {
                <a href="Reply?w=@Model.ConsultWay&idx=@Model.ApplicationIdx" class="btn indigo" style="padding:0px;" onclick="">
                    상담보고서 작성
                </a>
            }
            <a href="#" class="btn white" style="padding:0px;" onclick="fnGoList();">목록보기</a>
        }
        else
        {
            <a href="#" class="btn white" style="padding:0px;" onclick="fnGoList();">목록보기</a>
        }
    </div>

</div>

