﻿@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.Entity
@model Application
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        font-weight: bold !important;
    }    
</style>
@section Javascript
{
    <script>
    $(document).ready(function () {
        var ableDays = fnGetAbleDay();
        if ('@ViewBag.ConsultWay' == 'T') {
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                dayNames: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                prevText: '이전 달',
                nextText: '다음 달',
                minDate: +2,
                beforeShowDay: function (date) {
                    var dates = date.getDate();
                    var month = date.getMonth();
                    var year = date.getFullYear();

                    if ($.inArray(year + '-' + (month + 1) + '-' + dates, ableDays) != -1) {
                        return [true, "", "Available"];
                    }
                    else {
                        return [false, "", "unVailable"];
                    }
                }
            });
            $("#dteConsultDate").change(function () {
                fnGetAbleTime();
            });
        }
        if (@ViewBag.ApplicationIdx>0) {
            var json = JSON.parse('@Model.ScoreHtml'.replace(/&quot;/g, '"'));
            $.each(json, function (key, value) {
                $("#s" + (key + 1).toString()).val(value);
            });

            if ('@ViewBag.ConsultWay' == 'T') {
                if ('@ViewBag.ConsultDate' != '') {
                    $("#dteConsultDate").datepicker('setDate', '@ViewBag.ConsultDate');
                    fnGetAbleTime();
                    //$("#slt_consult_time").val('@ViewBag.ConsultTimeIdx')
                    $("#slt_consult_time").append('<option value="@ViewBag.ConsultTimeIdx" selected="selected">@ViewBag.ConsultTime</option>');
                }
            }
            $('input:checkbox[id="chkAgree"]').attr("checked", true);
        }



    });



    fnGetAbleDay = function () {
		var arr = [];
		var ableDays = '';
		$.ajax({

            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            url: '@Url.Action("GetAbleDate", "Consult")',
            success: function (msg) {
				//alert(msg.jsonMsg);
				ableDays = msg.jsonMsg;
				var strx = ableDays.split(',');
                $.each(strx, function (index, value) {
                    arr.push(value);
				});
            },
            error: function (xhr, msg) { alert(msg); },
        });
		$.ajaxSetup({ async: false });
		return arr;
    }

    fnGetAbleTime =function() {
        var date = $("#dteConsultDate").val();
        var ableTimes = '';
		$.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
				'date': date
            }),
            url: '@Url.Action("GetAbleTime", "Consult")',
            success: function (msg) {
				ableTimes = msg.jsonMsg;
                var json = JSON.parse(ableTimes.replace(/&quot;/g, '"'));
				var returnHtml = "";
				$.each(json, function (key, value) {
					var itemHtml = '<option value=$KEY$>$VALUE$</option>'
                    itemHtml = itemHtml.replace("$KEY$", value.ConsultTimeIdx)
                        .replace("$VALUE$", value.ConsultTime + '(남은좌석 : ' + value.Cnt+')');
					returnHtml = returnHtml + itemHtml
				});
                $("#slt_consult_time").empty();
                $("#slt_consult_time").append(returnHtml);
            },
            error: function (xhr, msg) {alert(msg);},
        });
		//$.ajaxSetup({ async: false });
		//var strx = ableDays.split(',');
		//var arr = [];
		//$.each(strx, function(index, value){
		//	arr.push(parseInt(value));
		//});

		//return arr;

	}


    @*fnInsert = function (consultType, title, note, secret, area) {
        isloading.start();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'consultType': consultType, 'title': title, 'note': note, 'secret': secret, 'area': area
            }),
            url: '@Url.Action("InsertForm", "Online")',
            success: function (msg) {
                document.location.href = "Detail?OP1=" + @ViewBag.IsOnline +"&PK=" + msg.jsonMsg;
                isloading.stop();
            },
            error: function (xhr, msg) {
                isloading.stop();
                alert(msg);
            },
        });
        $.ajaxSetup({ async: true });
    }

    fnUpdate = function (idx, consultType, title, note, secret, area) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'idx': idx, 'consultType': consultType, 'title': title, 'note': note, 'secret': secret, 'area': area
            }),
            url: '@Url.Action("UpdateForm", "Online")',
            success: function () {
                document.location.href = "Detail?OP1=" + @ViewBag.IsOnline +"&PK=" + idx;
            },
            error: function (xhr, msg) { alert(msg); },
        });
        $.ajaxSetup({ async: true });
    }*@

    fnSave = function () {
        if (fnValudation()) {
            var aa = $("#CreateForm").submit();
        }
    }


    $("#CreateForm").ajaxForm({
            dataType: 'json',
            beforeSubmit: function () {
            },
            success: function (json) {
                //$("#CreateForm").isLoading("hide");
                if (json.ok>0) {
                    location.href = "detail?idx=66666666";
                    //return true
                }
                else {
                    if (json.ok = -99){
                        alert('자리가 이미 마감되었습니다')
                    }
                    else{
                        alert('저장에실패했습니다');
                    }

                    //return false;
                }
            },
            error: function () {
                //return false;
                //$("#CreateForm").isLoading("hide");
            }
    });


    fnCancel = function () {
        document.location.href = "Index?w=" +'@ViewBag.ConsultWay';
    }   
    fnValudation = function () {
    //개인정보동의
    if (!$('input:checkbox[id="chkAgree"]').is(":checked")) {
        alert("개인정보동의란에 체크되지 않았습니다 ");
        return false;
    }

    //등록자
    if (isEmpty($("#Student_Name").val())){
        alert('이름을 입력하세요');
        return false;
    }
    //학교명
    if (isEmpty($("#Student_School").val())) {
        alert('학교를 입력하세요');
        return false;
    }
     //학년
    if (isEmpty($("#Student_Grade").val())) {
        alert('학년을선택하세요');
        return false;
    }
    //핸드폰
    if (isEmpty($("#Student_Hp").val())) {
        alert('핸드폰번호를 입력하세요');
        return false;
    }
    //이메일
    if (isEmpty($("#Student_Email").val())) {
        alert('이메일을 입력하세요');
        return false;
    }
    //alert($("#ConsultType").val());
    //문의유형
    if (isEmpty($("#ConsultType").val())) {
        alert('문의유형을 선택하세요');
        return false;
    }
    //제목
    if (isEmpty($("#Title").val())) {
        alert('제목을 입력하세요');
        return false;
    }
    //성적입력
    var scoreIsEmpty = false;
    var scoreObj = new Array();
    $(".scoreitem").css("border", "");
    var cnt = $(".scoreitem").length;
    for (var i = 1; i <= cnt; i++) {
        if ($("#s" + i).val() == "") {

            $("#s" + i).css("border", "1px red solid");
            scoreIsEmpty = true;
        }

        scoreObj.push($("#s" + i).val())
    }
    if (scoreIsEmpty) {
        alert('성적입력란에 모든 항목을 입력하세요');
        return false;
    }
    var scoreJson = JSON.stringify(scoreObj);
    $("#ScoreHtml").val(scoreJson);
        //기타질문1
    if (isEmpty($("#ActivityItem").val())) {
        alert('의미 있었던 활동 3가지를 적어주세요');
        return false;
    }
        //기타질문2
    if (isEmpty($("#Note").val())) {
        alert('상담을 통해 해결하고 싶거나 궁금한 점을 적어주세요 ');
        return false;
    }
        //비밀번호
    if (isEmpty($("#Student_Password").val())) {
        alert('비밀번호를 입력하세요');
        return false;
        }

    if ('@ViewBag.ConsultWay' == 'T') {
        //상담날짜,상담시간
        if (isEmpty($("#slt_consult_time").val())) {
            alert('상담시간을 선택하세요');
            return false;
        }

    }

    var pwd = $("#Student_Password").val();
    var re_pwd = $("#txt-re-password").val();
    if (pwd != re_pwd) {
        alert('패스워드가일치하지않습니다');
        return false;
    }


    //var consultType = $("#sltConsultType").val();
    var consultTimeIdx = $("#slt_consult_time").val();
    $("#Schedule_ConsultTimeIdx").val(consultTimeIdx);

    var consultWay = '@ViewBag.ConsultWay';
    $("#ConsultWay").val(consultWay);
    return true;
    }

    </script>
}
@section Css
{
    <style>
        .dateBox input.text.Ty2 {
            height: 38px !important;
            width: 160px;
        }

        input[type=text] {
            width: 80%;
        }

        select {
            width: 80%;
        }

        .socre input[type=text] {
            width: 100% !important;
        }

        .InnerTable {
            border: 1px solid #808080;
            border-collapse: collapse;
        }
        a.ui-state-default {
            font-weight: bold !important;
            border: 2px #1438ff solid !important;
            color: #1438ff !important;
        }

            .InnerTable td {
                border: 1px solid #060606;
                text-align: center;
                width: 100px;
                height: 30px;
            }

                .InnerTable td.T {
                    background-color: #e5fbf4;
                    font-weight: bold;
                    color: #333;
                }

                .InnerTable td.N {
                    background-color: #f7f6dc;
                    font-weight: bold;
                    color: #333;
                }

                .InnerTable td.H {
                    background-color: #f7e8ea;
                    font-weight: bold;
                    color: #333;
                }
    </style>
}
<div style="line-height:20px; margin-bottom:20px;">
    <img class="ico_required" src="/Resources/images/common/ico_required.png">나의 기초적인 정보를 입력해주세요. 상담 시 참고사항이 되어 정확한 상담이 가능합니다. <br />
    &nbsp;
</div>
@using (Html.BeginForm("Form", "Consult", FormMethod.Post, new { @id = "CreateForm", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.ApplicationIdx)
    @Html.HiddenFor(x => x.Schedule.ConsultTimeIdx)
    @Html.HiddenFor(x => x.ConsultWay)
    @*@Html.HiddenFor(x => x.ConsultType)*@
    @Html.HiddenFor(x => x.StudentIdx)
    @Html.HiddenFor(x => x.Progress)
    <div class="common_form">
        <table class="form_tbl">
            <colgroup>
                <col style="width: 20%;">
                <col style="width: 80%;">
            </colgroup>
            <tbody>
                <tr class="top">
                    <th>등록자(필수)</th>
                    <td>
                        @Html.TextBoxFor(x => x.Student.Name, new { @placeholder = "이름을 입력하세요" })
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <th>학교명(필수)</th>
                    <td>
                        @Html.TextBoxFor(x => x.Student.School, new { @placeholder = "학교명을 입력하세요" })
                    </td>
                </tr>
                <tr>
                    <th>학년(필수)</th>
                    <td>
                        @*@Html.TextBoxFor(x => x.Student.Grade)*@
                        @Html.DropDownListFor(x => x.Student.Grade, (SelectList)DropDownData.GradeItem(), new { @class = "select Ty3", @style = "width:80%;" })
                    </td>
                </tr>
                <tr>
                    <th>핸드폰(필수)</th>
                    <td>
                        @Html.TextBoxFor(x => x.Student.Hp, new { @placeholder = "핸드폰번호만 입력하세요", @class = "int" })
                    </td>
                </tr>
                <tr>
                    <th>이메일(필수)</th>
                    <td>
                        @Html.TextBoxFor(x => x.Student.Email, new { @placeholder = "이메일을 입력하세요" })
                    </td>
                </tr>
                <tr>
                    <th>문의유형(필수)</th>
                    <td>
                        @Html.DropDownListFor(x => x.ConsultType, (SelectList)DropDownData.ConsultTypeItem(), new { @class = "select Ty3", @style = "width:80%;" })
                    </td>
                </tr>
                @if (ViewBag.ConsultWay == "T")
                {
                    <tr>
                        <th>상담시간(필수)</th>
                        <td>
                            <span style="color:#d3d; font-weight:bold;">
                                ※상담일은 오늘로부터 2일 이후부터 신청 가능합니다.<br />
                                ※달력에서 클릭이 가능한 날짜에만 상담이 가능하며, 남은 좌석 수가 있을 경우 신청 가능합니다.

                            </span>
                            <div class="dateBox" style="width:100%; margin-bottom:5px;">
                                날짜 : <input type="text" id="dteConsultDate" readonly="readonly" class="datepicker date text Ty2" style="width:198px;" placeholder="날짜를 선택하세요" /><br />
                            </div>
                            <div style="width:100%;">
                                @Html.Raw("시간 : ")
                                <select class="offlineTime" id="slt_consult_time" style="width:198px;">
                                    <option value="">선택하세요</option>
                                </select>

                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <th>제목(필수)</th>
                    <td>
                        @Html.TextBoxFor(x => x.Title, new { @placeholder = "제목을 입력하세요" })
                    </td>
                </tr>
                <tr style="display:none;">
                    <td colspan="4" height="500px;" style="padding:0px !important;">
                        @Html.HiddenFor(x => x.ScoreHtml)
                    </td>
                </tr>
                @if (ViewBag.ConsultWay == "T")
                {
                    <tr>
                        <th>성적입력(필수)</th>
                        <td>
                            <div class="socre" id="score-html">
                                <table cellpadding="0" cellspacing="0" class="InnerTable">
                                    <tr>
                                        <td colspan="12" class="T">
                                            모의고사 성적
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="T">
                                            국어
                                        </td>
                                        <td colspan="3" class="T">
                                            수학(가/나)
                                        </td>
                                        <td class="T">
                                            영어
                                        </td>
                                        <td colspan="3" class="T">
                                            탐구1
                                        </td>
                                        <td colspan="3" class="T">
                                            탐구2
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="T">
                                            백분위
                                        </td>
                                        <td class="T">
                                            등급
                                        </td>
                                        <td class="T">
                                            과목명
                                        </td>
                                        <td class="T">
                                            백분위
                                        </td>
                                        <td class="T">
                                            등급
                                        </td>
                                        <td class="T">
                                            등급
                                        </td>
                                        <td class="T">
                                            과목명
                                        </td>
                                        <td class="T">
                                            백분위
                                        </td>
                                        <td class="T">
                                            등급
                                        </td>
                                        <td class="T">
                                            과목명
                                        </td>
                                        <td class="T">
                                            백분위
                                        </td>
                                        <td class="T">
                                            등급
                                        </td>
                                    </tr>
                                    <tr>

                                        <td><input type="text" class="scoreitem" id="s1" /></td>
                                        <td><input type="text" class="scoreitem" id="s2" /></td>
                                        <td><input type="text" class="scoreitem" id="s3" /></td>
                                        <td><input type="text" class="scoreitem" id="s4" /></td>
                                        <td><input type="text" class="scoreitem" id="s5" /></td>
                                        <td><input type="text" class="scoreitem" id="s6" /></td>
                                        <td><input type="text" class="scoreitem" id="s7" /></td>
                                        <td><input type="text" class="scoreitem" id="s8" /></td>
                                        <td><input type="text" class="scoreitem" id="s9" /></td>
                                        <td><input type="text" class="scoreitem" id="s10" /></td>
                                        <td><input type="text" class="scoreitem" id="s11" /></td>
                                        <td><input type="text" style="width:100%;" class="scoreitem" id="s12" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="N">
                                            내신 성적
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="N">
                                            전 과목 평균
                                        </td>
                                        <td colspan="2" class="N">
                                            국영수과 평균
                                        </td>
                                        <td colspan="2" class="N">
                                            국영수사 평균
                                        </td>
                                        <td class="N">
                                            국어
                                        </td>
                                        <td class="N">
                                            수학
                                        </td>
                                        <td class="N">
                                            영어
                                        </td>
                                        <td class="N">
                                            사회
                                        </td>
                                        <td class="N">
                                            과학
                                        </td>
                                    </tr>
                                    <tr>

                                        <td colspan="3"><input type="text" class="scoreitem" id="s13" /></td>
                                        <td colspan="2"><input type="text" class="scoreitem" id="s14" /></td>
                                        <td colspan="2"><input type="text" class="scoreitem" id="s15" /></td>
                                        <td><input type="text" class="scoreitem" id="s16" /></td>
                                        <td><input type="text" class="scoreitem" id="s17" /></td>
                                        <td><input type="text" class="scoreitem" id="s18" /></td>
                                        <td><input type="text" class="scoreitem" id="s19" /></td>
                                        <td><input type="text" style="width:100%;" class="scoreitem" id="s20" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="H">
                                            진학희망대학
                                        </td>
                                        <td colspan="4" class="H">
                                            대학명
                                        </td>
                                        <td colspan="5" class="H">
                                            학과명
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="H">
                                            1 희망
                                        </td>
                                        <td colspan="4"><input type="text" class="scoreitem" id="s21" /></td>
                                        <td colspan="5"><input type="text" class="scoreitem" id="s22" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="H">
                                            2 희망
                                        </td>
                                        <td colspan="4"><input type="text" class="scoreitem" id="s23" /></td>
                                        <td colspan="5"><input type="text" class="scoreitem" id="s24" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="H">
                                            3 희망
                                        </td>
                                        <td colspan="4"><input type="text" class="scoreitem" id="s25" /></td>
                                        <td colspan="5"><input type="text" class="scoreitem" id="s26" /></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>성적입력(필수)</th>
                        <td>
                            <div class="socre" id="score-html">
                                <table cellpadding="0" cellspacing="0" class="InnerTable">

                                    <tr>
                                        <td colspan="6" class="N">
                                            내신 성적
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="N">
                                            전과목(평균)
                                        </td>
                                        <td class="N">
                                            국어(평균)
                                        </td>
                                        <td class="N">
                                            수학(평균)
                                        </td>
                                        <td class="N">
                                            영어(평균)
                                        </td>
                                        <td class="N">
                                            사회(평균)
                                        </td>
                                        <td class="N">
                                            과학(평균)
                                        </td>
                                    </tr>
                                    <tr>

                                        <td><input type="text" class="scoreitem" id="s1" /></td>
                                        <td><input type="text" class="scoreitem" id="s2" /></td>
                                        <td><input type="text" class="scoreitem" id="s3" /></td>
                                        <td><input type="text" class="scoreitem" id="s4" /></td>
                                        <td><input type="text" class="scoreitem" id="s5" /></td>
                                        <td><input type="text" class="scoreitem" id="s6" /></td>

                                    </tr>
                                    <tr>
                                        <td colspan="6" class="T">
                                            모의고사 성적
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="T">
                                            국어(백분위/등급)
                                        </td>
                                        <td class="T">
                                            수학(백분위/등급)
                                        </td>
                                        <td class="T">
                                            영어(등급)
                                        </td>
                                        <td class="T">
                                            탐구1(백분위/등급)
                                        </td>
                                        <td class="T">
                                            탐구2(백분위/등급)
                                        </td>
                                        <td class="T">
                                            -
                                        </td>
                                    </tr>
                                    <tr>

                                        <td><input type="text" class="scoreitem" id="s7" /></td>
                                        <td><input type="text" class="scoreitem" id="s8" /></td>
                                        <td><input type="text" class="scoreitem" id="s9" /></td>
                                        <td><input type="text" class="scoreitem" id="s10" /></td>
                                        <td><input type="text" class="scoreitem" id="s11" /></td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="H">
                                            진학희망대학
                                        </td>
                                        <td colspan="2" class="H">
                                            대학명
                                        </td>
                                        <td colspan="2" class="H">
                                            학과명
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="H">
                                            1 희망
                                        </td>
                                        <td colspan="2"><input type="text" class="scoreitem" id="s12" /></td>
                                        <td colspan="2"><input type="text" class="scoreitem" id="s13" /></td>
                                    </tr>

                                </table>
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <th>기타질문(필수)</th>
                    <td>
                        <div style="font-weight:bold;"> *본인에게 의미 있었던 활동 3가지를 적어주세요</div>

                        @Html.TextAreaFor(x => x.ActivityItem, new { @style = "width:90%;height:200px;" })
                        <div style="font-weight:bold;">
                            *본 상담을 통해 해결하고 싶거나 궁금한 점을 적어주세요(진로,진학,학습,생활면에서 최대한 상세히, 필수)
                        </div>
                        @Html.TextAreaFor(x => x.Note, new { @style = "width:90%;height:200px;" })
                    </td>
                </tr>
                <tr>
                    <th>비밀번호(필수)</th>
                    <td>
                        <span style="color:#d3d;">
                            *비밀번호 분실 시, 상담결과 확인이 불가합니다. 반드시 적어놓고 꼭 기억해주세요.
                        </span>
                        @Html.PasswordFor(x => x.Student.Password, new { @style = "width:90%" })
                    </td>
                </tr>
                <tr>
                    <th>비밀번호재확인(필수)</th>
                    <td>
                        <input type="password" id="txt-re-password" style="width:90%" />
                    </td>
                </tr>
                <tr>
                    <th>개인정보동의(필수)</th>
                    <td><input type="checkbox" id="chkAgree" name="chkAgree" />개인정보수집에 동의하십니까? <a style="text-decoration:underline;" target="_blank" href="http://geumcheon.eduplan.co.kr/개인정보수집및이용동의.pdf">(개인정보수집및이용동의 안내)</a></td>
                </tr>
            </tbody>
        </table>

        <div class="btn_a right no-print">
            <a href="#" class="btn white" style="padding:0px;" onclick="fnCancel();">목록보기</a>
            <a href="#" class="btn blue" style="padding:0px;" onclick="fnSave();">저장하기</a>
        </div>
    </div>
}