﻿@using PagedList
@using PagedList.Mvc
@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.ViewModel
@using Geumcheon.Web.Core.Entity
@model ViewModelList<Application, SearchInfo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        font-weight: bold !important;
    }

    .info_box {
        padding: 2%;
        border: 1px solid #dfdfdf;
        background-color: #fbfbfd;
    }    
    ul li {
        font-weight: bold;
    }

    li > * {
        font-weight: normal;
    }

    .pagination-container {
        text-align: center;
    }
    .common_list .list_info {
        height: 50px;
        background-color: #fbfbfd;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #dfdfdf;
    }
    .search_text{
        width:450px;
    }
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
    $(document).ready(function () {
        var password_modal = document.getElementById('password-modal');
        $(".sp-modal-password").click(function () {
            password_modal.style.display = "block";
            $("#hidden-applicationIdx").val($(this).attr("idx"));
        });

        $("#btn-modal-close").click(function () {
            password_modal.style.display = "none";
        });

        $("#btn-check-pw").click(function () {
            fnSetPassword();
        });

        $(".btn_search").click(function () {
            $("#searchForm").submit();
        });

        $(".order").click(function () {
            //alert($(this).attr("orderkey"));
            $("#searchInfo_OrderType").val($(this).attr("orderkey"));
            $("#searchForm").submit();
        })
    });

    fnSetPassword = function () {

        var idx = $("#hidden-applicationIdx").val();
        var pwd = $("#txt-pwd").val();
	    $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'idx': idx,
                'pwd': pwd
            }),
            url: '@Url.Action("SetStudentConfing", "Consult")',
            success: function (msg) {
                var result = msg.jsonMsg;
                if (result == "T") {
                    $("#password-modal").css("display", "none");
                    location.href = "Detail?idx="+idx;
                }
                else {
                    alert("비밀번호가일지하지않습니다");
                }
            },
            //error: function (xhr, msg) { alert(msg); },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
	    $.ajaxSetup({ async: false });
    }
</script>
@if (ViewBag.ConsultWay == "B")
{

}
else if (ViewBag.ConsultWay == "T")
{

}
else if (ViewBag.ConsultWay == "F")
{

}
@using (Html.BeginForm("Index", "Consult", FormMethod.Get, new { @id = "searchForm" }))
{
    @Html.HiddenFor(x => x.Search.Name);
    @Html.HiddenFor(x => x.Search.TeacherId);
    @Html.HiddenFor(x => x.Search.OrderType);
    <input type="text" id="searchInfo_OrderType" name="searchInfo.OrderType" style="display:none;" />
    if (_identity.Roll == "CONSULT")
    {
        <div class="common_list">
            <input type="hidden" id="hidden-applicationIdx" />

            @if (ViewBag.ConsultWay == "B")
            {

                <div class="info_box">
                    <ul style="list-style-type:decimal-leading-zero; margin-left:25px;">

                        <li><p>컨설턴트는 순서대로 자동 배정됩니다.</p></li>
                        <li>
                            <p>배정된 컨설턴트께서는 ‘마감일(등록 시간으로부터 48시간)’ 이내에 반드시 답변을 달아주셔야 합니다.</p>
                        </li>
                        <li>
                            <p>답변 작성 중 수정은 가능하나, 최종 등록 후에는 <답변완료>로 노출되어 수정이 불가하니 신중하게 등록해주세요.</p>
                        </li>
                        <li><p>답변을 다실때는  “안녕하세요. 금천구 온라인 진학상담실입니다.”로 시작하시고, 마지막에는 “질문의 답변이 충분하셨는지요. 더 궁금하신 부분은 온라인 상담 또는 전화상담을 이용해주세요. 감사합니다.”라고 마무리 해주세요</p></li>
                        <li><p><처리상태> 접수: 컨설턴트 배정 전/ 준비중: 컨설턴트 배정 후, 상담답변 작성 이전/ 완료: 상담답변 제출 후</p></li>
                    </ul>
                    <span>  </span>
                </div>
                <div class="list_info" style="float:left; width:100%;">
                    <div style="float:left; width:90%; margin-left:25px;">
                        <div style="float:left;">
                            <div class="btns" style="float:left;">
                                <span style="font-weight:bold;">상담교사:</span>
                                <input type="text" id="searchInfo.TeacherId" name="searchInfo.TeacherId" class="search_text" />
                                <input type="text" id="searchInfo.ConsultWay" name="searchInfo.ConsultWay" value="B" style="display:none;" />
                                <a class="btn blue btn_search" key="CB">검색</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list_w">
                    <table class="list_tbl">
                        <colgroup>
                            <col style="width: 4%;">
                            <col style="width: 8%;">
                            <col style="width: auto;">

                            <col style="width: 8%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                            <col style="width: 7%;">

                        </colgroup>
                        <thead>
                            <tr style="font-weight:bold;">
                                <th>번호</th>
                                <th><a orderkey="CONSULTTYPE" href="#" style="text-decoration:underline;" class="order">상담유형 </a></th>
                                <th>제목</th>

                                <th><a orderkey="PROGRESS" href="#" style="text-decoration:underline;" class="order">처리상태</a></th>

                                <th><a orderkey="NAME" href="#" style="text-decoration:underline;" class="order">등록자</a></th>
                                <th><a orderkey="REGDATE" href="#" style="text-decoration:underline;" class="order">등록일</a></th>
                                <th>답변마감일</th>
                                <th>답변일</th>
                                <th><a orderkey="TEACHERID" href="#" style="text-decoration:underline;" class="order">상담교사</a></th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Entities.Count() > 0)
                            {
                                foreach (var item in Model.Entities)
                                {
                                    <tr>
                                        <td>@item.RowIdx</td>
                                        <td>@item.ConsultTypeName</td>

                                        @if (_identity.ConsultId.ToUpper() == item.TeacherId.ToUpper() || item.Progress == "R")
                                        {
                                            <td><a class="" style="font-weight:bold; text-decoration:underline; cursor:pointer;" href="detail?idx=@item.ApplicationIdx">@item.Title</a></td>
                                        }
                                        else if (_identity.ConsultId.ToUpper() == "ADMIN")
                                        {
                                            <td><a class="" style="font-weight:bold; text-decoration:underline; cursor:pointer;" href="detail?idx=@item.ApplicationIdx">@item.Title</a></td>
                                        }
                                        else
                                        {
                                            <td><a class="" style="font-weight:bold; cursor:pointer;" href="#">@item.Title</a></td>
                                        }
                                        <td>@item.ProgressName</td>
                                        <td>@item.Student.Name</td>
                                        <td>  @item.CreateDate</td>
                                        <td>@item.DeadlineDate</td>
                                        <td>
                                            @if (item.Progress == "C")
                                            {
                                            @item.ConfirmDate
                                            }
                                            else
                                            {
                                            <span>-</span>
                                            }
                                        </td>
                                        <td>@item.TeacherId</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="9">등록된 상담 신청목록이 없습니다</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (ViewBag.ConsultWay == "T")
            {
                <div class="info_box">
                    <ul style="list-style-type:decimal-leading-zero; margin-left:25px;">
                        <li>
                            <p>상담 가능 일에 신청되며, 동시간 컨설턴트가 2인 이상일때 누적 상담수가 적은 분부터 순차적으로 배정됩니다.</p>
                        </li>
                        <li>
                            <p>상담시작 20분 전에는 상담신청 시 제출한 궁금증 등 상담계획 수립을 마치고, 즉각적인 응답을 위해 PC에 온라인진학상담실(해당 학생신청 페이지)/포털/어디가/커리어넷/진학상담 관련 정보 등을 켜놓고 대기해주세요.</p>
                        </li>
                        <li><p>상담은 반드시 주변방해가 없는 1인실에서 해주세요</p></li>
                        <li>
                            <p> 예약 시간에 3차례 전화를 해서 연결이 안되면, 더 이상 시도 마시고 ‘상담보고서’에 ‘부재중으로 상담완료 못함’으로 기록해주시고, 어떠한 전화도 받지 마시고, 문자에 답도 하지 마세요.(3차례 시도했던 발신번호 부분은 사진촬영 부탁드립니다)</p>
                        </li>
                        <li>
                            <p>상담 시작 직전, 타이머를 ‘30분’ 설정 후 시작하고, 30분 초과가 안되도록 해주세요.</p>
                        </li>
                        <li>
                            <p>상담 시작 즉시 “본 상담은 긴급상담 이므로 최장 30분이며, 30분 초과시 재상담을 신청해주시거나, 온라인 상담에 질문해주세요. 이 부분에 동의하시나요?”라는 말을 내담자에게 하고, 답을 들은 후 시작해주세요.</p>
                        </li>
                        <li>
                            <p>30분이 안되어 상담이 끝났으면, 반드시 내담자에게 '더 물어볼게 없는지. 상담을 마쳐도 되겠는지' 반드시 물은후, 마쳐주세요(상담시간이 남았는데, 컨설턴트가 그냥 끊었다.. 라는 불만이 없도록)</p>
                        </li>
                        <li>
                            <p>상담은 학생의 상담신청 시 제출한 궁금증부터 답변을 주시고, 이 부분이 해결된 후 추가적인 질의응답으로 진행하시면 됩니다.</p>
                        </li>
                        <li>
                            <p>상담을 마칠때는 “오늘 수신하신 본 휴대폰은 발신전용으로, 문자나 전화 수신이 안됩니다. 향후 궁금한 부분은 금천구 온라인상담실에 질문 바랍니다. 수고하셨습니다. 이상, 긴급 전화상담을 마치겠습니다. 감사합니다”라고 하십니다.</p>
                        </li>
                        <li>
                            <p> 상담 직후, 반드시 <상담보고서>를 제출해주세요(제출마감: 익일까지)</p>
                        </li>
                        <li>  
                            <p>내담자와의 상담을 통해 알게 된 일체정보(개인정보 및 상담내용 등 일체)는 어떠한 경로로도 절대 유출되어서는 안됩니다. 명심해주세요.</p>
                        </li>
                        <li>
                            <p><처리상태> 접수: 컨설턴트 배정 전/ 준비중: 컨설턴트 배정 후, 상담보고서 제출 이전/ 완료: 상담 보고서 제출 후</p>
                        </li>
                    </ul>
                </div>
                <div class="list_info" style="float:left; width:100%;">
                    <div style="float:left; width:90%;">
                        <div style="float:left;">
                            <div class="btns" style="float:left;">
                                <span style="font-weight:bold;">상담교사:</span>
                                <input type="text" id="searchInfo.TeacherId" name="searchInfo.TeacherId" class="search_text" />
                                <input type="text" id="searchInfo.ConsultWay" name="searchInfo.ConsultWay" value="T" style="display:none;" />
                                <a class="btn blue btn_search" key="CT">검색</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list_w">

                    <table class="list_tbl">
                        <colgroup>
                            <col style="width: 4%;">
                            <col style="width: 8%;">
                            <col style="width: auto;">

                            <col style="width: 8%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">

                            <col style="width: 10%;">
                            <col style="width: 8%;">
                        </colgroup>
                        <thead>
                            <tr style="font-weight:bold;">
                                <th>번호</th>
                                <th><a orderkey="CONSULTTYPE" href="#" style="text-decoration:underline;" class="order">상담유형 </a></th>
                                <th>제목</th>

                                <th><a orderkey="PROGRESS" href="#" style="text-decoration:underline;" class="order">처리상태</a></th>
                                <th><a orderkey="NAME" href="#" style="text-decoration:underline;" class="order">등록자</a></th>
                                <th><a orderkey="REGDATE" href="#" style="text-decoration:underline;" class="order">등록일</a></th>

                                <th>상담일</th>
                                <th><a orderkey="TEACHERID" href="#" style="text-decoration:underline;" class="order">상담교사</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Entities.Count() > 0)
                            {
                                foreach (var item in Model.Entities)
                                {
                                    <tr>
                                        <td>@item.RowIdx</td>
                                        <td>@item.ConsultTypeName</td>

                                        @if (_identity.ConsultId.ToUpper() == item.TeacherId.ToUpper() || item.Progress == "R")
                                        {
                                            <td><a class="" style="font-weight:bold; text-decoration:underline; cursor:pointer;" href="detail?idx=@item.ApplicationIdx">@item.Title</a></td>
                                        }
                                        else if (_identity.ConsultId.ToUpper() == "ADMIN")
                                        {
                                            <td><a class="" style="font-weight:bold; text-decoration:underline; cursor:pointer;" href="detail?idx=@item.ApplicationIdx">@item.Title</a></td>
                                        }
                                        else
                                        {
                                            <td><a class="" style="font-weight:bold; cursor:pointer;" href="#">@item.Title</a></td>
                                        }
                                        <td>@item.ProgressName</td>
                                        <td>@item.Student.Name</td>
                                        <td>@string.Format("{0:MM.dd(ddd) HH:mm}",item.CreateDate)</td>
                                        <td>@{
                                            string[] consultdate = item.Schedule.ConsultDate.Split('-');
                                            string y = consultdate[0];
                                            string m = consultdate[1];
                                            if(m.Length == 1)
                                            {
                                                m = "0" + m;
                                            }
                                            string d = consultdate[2];
                                            if (d.Length == 1)
                                            {
                                                d = "0" + d;
                                            }
                                            string consultdt = y + "-" + m + "-"+d;
                                            }
                                        @consultdt
                                        </td>
                                        <td>@item.TeacherId</td>
                                        @*<td>@item.ConfirmDate</td>*@
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="8">등록된 상담 신청목록이 없습니다</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
        <!-- 페이징 -->
        <div id="pager"  style="margin-top:5px;"> 
            @Html.Hidden("page", Model.PagingInfo.CurrentPage)
            <div class="totalCount">전체 <span>@Model.PagingInfo.TotalCount</span> 건</div>
            @Html.PagedListPager(new StaticPagedList<Application>(Model.Entities, Model.PagingInfo.CurrentPage, 15, Model.PagingInfo.TotalCount)
                                                                                                                     , page => Url.Action("Index", "Consult", new { page = page }))
        </div>
    }
    @*학생*@
    else
    {
        if (ViewBag.ConsultWay == "B")
        {
            <div class="common_list">
                <input type="hidden" id="hidden-applicationIdx" />
                <div class="info_box">
                    <ul style="list-style-type:decimal-leading-zero; margin-left:25px;">

                        <li>
                            <p>본 게시판에 진학관련 궁금한 부분의 질문을 올려주시면, 컨설턴트가 직접 답변을 달아줍니다.(48시간 이내)</p>
                        </li>
                        <li>
                            <p>질문 시 비밀번호를 설정하게 되므로, 나의 질문은 타인에게 노출되지 않습니다.(비밀번호를 잊으시면 컨설턴트의 답변을 볼 수 없으니, 꼭 주의하세요).</p>
                        </li>
                        <li>
                            <p>상담을 통해 수집된 개인정보 및 성적, 상담내용 등에 대한 모든 정보는 일절 유출되지 않으며, 철저한 비밀이 보장을 약속 드리니 부담없이 상담해주세요.</p>
                        </li>
                        <li>
                            <p>진학 및 학습관련 질문 외, 심리상담이나 생활 관련 또는 기타의 경우 답변해드릴 수 없으니, 이점 참고해주세요.</p>
                        </li>
                        <li>
                            <p>본 온라인 상담은 학생의 정확한 성적 및 학생부 등의 제출이 없어 상담 답변에 제한이 있을 수 있습니다.  ‘전화상담’을 신청하시면 조금 더 자세한 상담을 받으실 수 있습니다.</p>
                        </li>
                    </ul>
                </div>
                <div class="list_info" style="">
                    <div style="float:left; width:100%;">
                        <div class="btns" style="float:left; margin-left:10px; margin-top:3px;">
                            <a class="btn blue" id="btnRegister" href="Form?w=@ViewBag.ConsultWay">상담신청</a>
                        </div>
                        <div style="float:left; width:90%;">
                            <div style="float:right;">
                                <div class="btns" style="float:right;">
                                    <span style="font-weight:bold;">등록자:</span>
                                    <input type="text" id="searchInfo.Name" name="searchInfo.Name" style="width:450px;" />
                                    <input type="text" id="searchInfo.ConsultWay" name="searchInfo.ConsultWay" value="B" style="display:none;" />
                                    <a class="btn blue btn_search" key="SB">검색</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list_w">
                    <table class="list_tbl">
                        <colgroup>
                            <col style="width: 4%;">
                            <col style="width: 8%;">
                            <col style="width: auto;">
                            <col style="width: 8%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                            @*<col style="width: 15%;">*@
                            @*<col style="width: 10%;">*@
                            <col style="width: 15%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th><a>상담유형</a></th>
                                <th>제목</th>

                                <th>처리상태</th>
                                <th>등록자</th>
                                <th>등록일</th>
                                @*<th>답변마감일</th>*@
                                <th>답변일</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Entities.Count() > 0)
                            {
                                foreach (var item in Model.Entities)
                                {
                                    <tr>
                                        <td>@item.RowIdx</td>
                                        <td>@item.ConsultTypeName</td>
                                        <td><span class="sp-modal-password" style="font-weight:bold; text-decoration:underline; cursor:pointer;" idx="@item.ApplicationIdx">@item.Title</span></td>

                                        <td>@item.ProgressName</td>
                                        @if (item.Student.Name.ToString().Length == 1)
                                        {
                                            <td>@item.Student.Name</td>
                                        }
                                        else if (item.Student.Name.ToString().Length == 2)
                                        {
                                            <td>@item.Student.Name.ToString().Substring(0, 1)*</td>
                                        }
                                        else
                                        {
                                            int i = item.Student.Name.ToString().Length - 2;
                                            string name = string.Empty;
                                            for (int j = 0; j < i; j++)
                                            {
                                                name += "*";
                                            }
                                            <td>@item.Student.Name.ToString().Substring(0, 1) @name @item.Student.Name.ToString().Substring(item.Student.Name.ToString().Length - 1, 1)  </td>
                                        }
                                        <td>@item.CreateDate</td>
                                        <td>
                                            @if (item.Progress == "C")
                                            {
                                                @item.ConfirmDate
                                            }
                                        </td>
                                        
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="7">등록된 상담 신청목록이 없습니다</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        }
        else if (ViewBag.ConsultWay == "T")
        {
            <div class="common_list">
                <input type="hidden" id="hidden-applicationIdx" />
                <div class="info_box">
                    <ul style="list-style-type:decimal-leading-zero;  margin-left:25px;">
                        <li>
                            <p>전문 컨설턴트와 30분 동안 전화를 통해 상담이 가능합니다.</p>
                        </li>
                        <li>
                            <p>컨설턴트와 전화상담이 가능한 시간 중, 내가 원하는 시간을 선택합니다.</p>

                        </li>
                        <li>
                            <p>약속한 상담시간에, 컨설턴트가 상담용 전화를 통해 신청자에게 전화를 드립니다.</p>
                        </li>
                        <li>
                            <p>상담시간 최소 10분전에 전화기를 들고 기다려주세요. 2회 연결 시도 후 통화가 안되는 경우, 상담은 자동취소됩니다.</p>

                        </li>
                        <li>
                            <p>30분 초과상담은 불가하므로, 추후 온라인/전화상담을 통해 다시 신청 부탁드립니다.</p>

                        </li>
                        <li>
                            <p>컨설턴트가 건 전화는 발신전용이므로 문자 및 전화 수신이 불가하니, 재상담 신청은 진학/상담실의 온라인/전화상담실을 이용해 주세요.</p>
                        </li>
                        <li>
                            <p>상담을 통해 수집된 개인정보 및 성적, 상담내용 등에 대한 모든 정보는 일절 유출되지 않으며, 철저한 비밀이 보장을 약속 드리니 부담없이 상담해주세요.</p>
                        </li>
                        <li>
                            <p>진학 및 학습관련 질문 외, 심리상담이나 생활관련 또는 기타의 경우 답변드릴 수 없으니, 이 점 참고해주세요.</p>
                        </li>
                        <li>
                            <p>본 전화상담은 학생부 등의 제출이 없어 상담내용에 제한이 있을 수 있으므로 양해 부탁드리며, 긴급상담(4월30일까지) 기간 이후 좀더 상세한 상담을 받으실 수  있도록 준비중입니다.</p>
                        </li>
                    </ul>
                </div>
                <div class="list_info" style="float:left; width:100%;">
                    <div class="btns" style="float:left">
                        <a class="btn blue" id="btnRegister" href="Form?w=@ViewBag.ConsultWay">상담신청</a>
                    </div>
                    <div style="float:left; width:90%;">
                        <div style="float:right;">
                            <div class="btns" style="float:right;">
                                <span style="font-weight:bold;">등록자:</span>
                                <input type="text" id="searchInfo.Name" name="searchInfo.Name" class="search_text" />
                                <input type="text" id="searchInfo.ConsultWay" name="searchInfo.ConsultWay" value="T" style="display:none;" />
                                <a class="btn blue btn_search" key="ST">검색</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list_w">
                    <table class="list_tbl">
                        <colgroup>
                            <col style="width: 4%;">
                            <col style="width: 8%;">
                            <col style="width: auto;">
                            <col style="width: 8%;">
                            <col style="width: 10%;">
                            <col style="width: 15%;">
                            @*<col style="width: 10%;">*@
                            <col style="width: 15%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>상담유형</th>
                                <th>제목</th>

                                <th>처리상태</th>
                                <th>등록자</th>
                                <th>등록일</th>
                                @*<th>상담교사</th>*@
                                <th>상담일</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Entities.Count() > 0)
                            {
                                foreach (var item in Model.Entities)
                                {
                                    <tr>
                                        <td>@item.RowIdx</td>
                                        <td>@item.ConsultTypeName</td>
                                        <td><span class="sp-modal-password" style="font-weight:bold; text-decoration:underline; cursor:pointer;" idx="@item.ApplicationIdx">@item.Title</span></td>

                                        <td>@item.ProgressName</td>
                                        @if (item.Student.Name.ToString().Length == 1)
                                        {
                                            <td>@item.Student.Name</td>
                                        }
                                        else if (item.Student.Name.ToString().Length == 2)
                                        {
                                            <td>@item.Student.Name.ToString().Substring(0, 1)*</td>
                                        }
                                        else
                                        {
                                            int i = item.Student.Name.ToString().Length - 2;
                                            string name = string.Empty;
                                            for (int j = 0; j < i; j++)
                                            {
                                                name += "*";
                                            }
                                            <td>@item.Student.Name.ToString().Substring(0, 1) @name @item.Student.Name.ToString().Substring(item.Student.Name.ToString().Length - 1, 1)  </td>
                                        }
                                        <td>  @item.CreateDate</td>
                                        @*<td></td>*@
                                       <td>@{
                                            string[] consultdate = item.Schedule.ConsultDate.Split('-');
                                            string y = consultdate[0];
                                            string m = consultdate[1];
                                            if(m.Length == 1)
                                            {
                                                m = "0" + m;
                                            }
                                            string d = consultdate[2];
                                            if (d.Length == 1)
                                            {
                                                d = "0" + d;
                                            }
                                            string consultdt = y + "-" + m + "-"+d;
                                            }
                                        @consultdt
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="7">등록된 상담 신청목록이 없습니다</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        <!-- 페이징 -->
        <div id="pager" style="margin-top:5px;">
            @Html.Hidden("page", Model.PagingInfo.CurrentPage)
            <div class="totalCount">전체 <span style="font-weight:bold; color:#428bca;">@Model.PagingInfo.TotalCount</span> 건</div>
            @Html.PagedListPager(new StaticPagedList<Application>(Model.Entities, Model.PagingInfo.CurrentPage, Model.PagingInfo.PageSize, Model.PagingInfo.TotalCount)
                                                                                                                     , page => Url.Action("Index?w="+ViewBag.ConsultWay, "Consult", new { page = page }))
        </div>
    }
}

<div id="password-modal" class="modal">
    <div class="modal-content" style="height:350px; width:800px; border:1px; background-color:#eff2fd;">
        <h1 style="color:#3685ca;font-size:28px; padding:3%;">상담게시글을 등록하실때 입력한 비밀번호를 입력하세요</h1>
        <div>
            <div style="padding:5%; float:left; width:100%; align-items:center;">
                <div style="float:left; width:70%;"><input type="password" id="txt-pwd" style="height:50px; width:100%;" /></div>
                <div style="float:left; height:50px; width:25%;  background-color:#3685ca; line-height:50px; color:white;text-align:center; ">
                    <a class="btn blue" id="btn-check-pw" href="#" style="font-size:25px; text-align:center;">확인</a>
                </div>
            </div>
        </div>
        <h3 style="color:#3685ca;font-size:20px; padding:3%; text-align:center;">상담게시글을 등록하실때 입력한 비밀번호를 입력하세요</h3>
        <div style="width:100%; text-align:center; float:right; width:100%; margin-right:9%;">
            <div style="height:50px; width:25%; background-color:darkred; line-height:50px; color:white; float:right;">
                <a class="btn blue" id="btn-modal-close" href="#" style="font-size:25px; text-align:center;">닫기</a>
            </div>
        </div>
    </div>
</div>
