﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript
{
    <style>
        ul li {
            font-weight: bold;
        }

        li > * {
            font-weight: normal;
        }
    </style>
}
<div style="width:100%;">
    <div>
        <p style="font-weight:bold; letter-spacing:-1px;">
            안녕하세요.<br />
            금천구청 온라인 진학상담실입니다.<br />
            코로나19로 인해 개학 연기와 학사일정, 입시일정의 변동으로, 우리 수험생 여러분과 학부모님들께서 걱정이 많으시죠?<br />
            이에, 저희 금천구청에서는 학생과 학부모님들의 걱정과 불안을 조금이라도 덜어드리고자, <br />
            <긴급 온라인 진학상담실>
                을 운영하게 되었으니 주민 여러분의 많은 관심과 이용 부탁드립니다. <br />
                본 온라인 진학상담실 활용 안내입니다.<br />
                <hr />
        </p>
    </div>

    <div class="info_box">
        <ul style="list-style-type:decimal-leading-zero; margin-left:50px;">
            <li><p>상담 신청 대상: 관내 고1~3학년 재학생</p></li>
            <li>
                <p><긴급 온라인 진학상담실></p>
                <ul>
                    <li><span>- 운영기간 2020.3.30(월)~4.30(금)까지 한시적 운영</span></li>
                </ul>
            </li>
            <li>
                <p>상담 내용: 진학 및 학습상담 (심리상담 및 기타 생활관련 상담은 자제 부탁드립니다)</p>
            </li>
            <li>
                <p>전문 컨설턴트: 서울시교육청 진로진학지원단 전문컨설턴트</p>
            </li>
            <li>
                <p>상담 방법:  온라인상담 / 전화상담</p>
                <p>&. 상담을 통해 수집된 개인정보 및 성적, 상담내용 등에 대한 모든 정보는 일절 유출되지 않으며, 철저한 비밀이 보장을 약속 드리니 부담없이 상담해주세요.</p>
                <ul>
                    <li> - 온라인상담
                        <ul style="margin-left:22px;">
                            <li><p>* 본 게시판에 진학관련 궁금한 부분의 질문을 올려주시면, 컨설턴트가 직접 답변을 달아줍니다.</p></li>
                            <li><p>* 질문을 올리신 후, 48시간 이내에 답변을 드립니다.</p></li>
                            <li><p>* 질문 시 비밀번호를 설정하게 되므로, 나의 질문은 타인에게 노출되지 않습니다.</p></li>
                        </ul>
                    </li>
                    <li>- 전화상담
                        <ul style="margin-left:22px;">
                            <li><p>* 전문 컨설턴트와 30분 동안 전화를 통해 상담이 가능합니다.</p></li>
                            <li><p>* 컨설턴트와 전화상담이 가능한 시간 중, 내가 원하는 시간을 선택합니다.</p></li>
                            <li><p>* 컨설턴트가 상담용 전화를 통해 상담신청자 분께 전화를 드립니다.</p></li>
                            <li><p>* 30분 초과상담은 불가하므로, 상담이 불충분할 경우 추후 온라인/전화상담을 통해 다시 신청 부탁드립니다.</p></li>                            
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
       <ul>
           <li><p><b>&.</b>본 상담실의 전문 컨설턴트들은 만족스러운 상담을 위해 최선을 다하지만, 상담의 내용 및 상담결과에 대해 금청구청 및 컨설턴트에게는 책임을 물을 수 없사오니, 참고로만 활용해주시기 바랍니다.</p></li>
           <li><p><b>&.</b>코로나19로 인해 발빠르게 대응하는 관계로 운영에 있어 부족한 부분이 있을 수 있으니, 너른 마음으로 양해 부탁드리며 많은 관심과 활용 부탁드립니다. 감사합니다.</p></li>
       </ul>
    </div>

    <div style=" float:left; width:100%; margin-top:10px;display:none;" >
        <div style="margin-right:10%; float:left;height:100%; width:35%;background-color:#3785ca; line-height:50px; text-align:center; font-weight:bold; color:white; cursor:pointer; cursor:pointer;"><a href="Form?w=B">온라인상담 신청하기</a></div>

        <div style="float:left;height:100%; width:35%; background-color:#3785ca ; line-height:50px; text-align:center; font-weight:bold; color:white; cursor:pointer; cursor:pointer;"><a href="Form?w=T">전화상담 신청하기</a></div>
    </div>

</div>
