﻿@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.Entity
@model Reply
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Javascript
{
    <script>
    $(document).ready(function () {
        $("#ifrmEditor").on("load", function () {
                setTimeout(function () {
                    var iframe1 = document.getElementById("ifrmEditor");
                    var html = $("#Note").val();
                    iframe1.contentWindow.pasteHTML(html);
                }, 1000);
            });
        //alert('tttt');
        $("#slt-progress").val($("#Progress").val());
        $("#btn-reply-save").click(function () {
            //alert('test');
            fnSave();
        });
    });

    fnSave = function () {
        //var iframe1 = document.getElementById("ifrmEditor");
        //var state = $("#sltState").val();
        //var note = iframe1.contentWindow.showHTML();
        //var isSecret = "1";
        //var a_idx = $IDX;

        var iframe1 = document.getElementById("ifrmEditor");
        var note = iframe1.contentWindow.showHTML();

        if ($("#Progress").val() == 'C' && '@ViewBag.ConsultWay' == 'B' ) {
            if (confirm("상담완료 상태로 저장하시면 학생에게 즉시 답변이 공개됩니다.\r실행하시겠습니까?")) {
                $("#Note").val(note);
                $("#CreateForm").submit();
            }
        }
        else {
            $("#Note").val(note);
            $("#CreateForm").submit();
        }

    }



    fnCancel = function () {
        //document.location.href = "Detail?OP1=" + @ViewBag.IsOnline + "&PK=" + $IDX;
        }

        $("#CreateForm").ajaxForm({
            dataType: 'json',
            beforeSubmit: function () {
            },
            success: function (json) {
                //$("#CreateForm").isLoading("hide");

                if (json.ok) {
                    location.href = "detail?idx=@Model.ApplicationIdx";
                    //return true
                }
                else {
                    alert('저장에실패했습니다');
                    //return false;
                }
            },
            error: function () {
                //return false;
                //$("#CreateForm").isLoading("hide");
            }

        });
    </script>
}
@using (Html.BeginForm("InsertReply", "Consult", FormMethod.Post, new { @id = "CreateForm", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.ApplicationIdx)
    @Html.HiddenFor(x => x.Note)
    if (ViewBag.ConsultWay == "O")
    {
        <div style="line-height:20px; margin-bottom:20px;">
            <img class="ico_required" src="/Resources/images/common/ico_required.png">상담내용 작성시, 처리상태를 <상담중>
                에 설정하고 저장하면 ‘임시저장’ 되어 답변 수정이 가능하지만, <상담완료>
                    로 설정하고 저장하면 ‘답변완료’로 즉시 답변이 노출되므로, 수정이 불가하니 유의해주세요.
                    <br />
        </div>
    }
    else
    {
        <div style="padding:2%;">
            <ul style="list-style-type:decimal-leading-zero;">
                <li>
                    상담보고서는 상담 즉시 작성해주세요.(상담일로부터 최소 2일 이내)
                </li>
                <li>
                    처리상태를 <작성중>으로 설정하고 저장하면 수정이 가능하지만, <작성완료>로 설정하고 저장하면, 최종 제출되어 수정이 불가하니 유의해주세요.
                </li>
                <li>
                    학생과 전화 상담했던 내용을 기록해주시면 감사하겠습니다.
                </li>
                <li>
                    4. 상담보고서 작성은 1) 질문1~ 질문N까지 각 질문에 대해 주셨던 답변2) 학생 및 학부모의 건의사항    3) 컨설턴트의 건의사항 및 기타 의 순으로 작성해주시면 되겠습니다.
                </li>
            </ul>
        </div>
    }
    <div class="common_form">
        <table class="form_tbl">
            <colgroup>
                <col style="width: 20%;">
                <col style="width: 80%;">
            </colgroup>
            <tbody>
                <tr class="top">
                    <th>등록자</th>
                    <td>   @_identity.ConsultId</td>
                </tr>
                <tr>
                    <th>처리상태</th>
                    <td>
                        @if (ViewBag.ConsultWay == "O")
                        {
                            @Html.DropDownListFor(x => x.Progress, (SelectList)DropDownData.PrgressItem(), new { @class = "select Ty3", @style = "width:80%;" })
                        }
                        else
                        {
                            @Html.DropDownListFor(x => x.Progress, (SelectList)DropDownData.PrgressItem_T(), new { @class = "select Ty3", @style = "width:80%;" })
                        }
                    </td>
                </tr>

                <tr>
                    <td colspan="4" height="500px;" style="padding:0px !important;">
                        <iframe src="~/Editor/SmartEditor2.html" frameborder="0" style="width:100%; height:500px" scrolling="no" id="ifrmEditor"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn_a right no-print">
            <a href="#" class="btn white" id="btn-reply-save" style="padding:0px;">작성취소</a>
            <a href="#" class="btn blue" id="btn-reply-cancel" style="padding:0px;" onclick="fnSave();">저장하기</a>
        </div>
    </div>
}