﻿@using PagedList.Mvc
@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.Entity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Resources/css/tab.css" type="text/css" />
<style>
    table {
        /*width: 100%;*/
        border: 1px solid #444444;
        border-collapse: collapse;
        /*overflow:scroll;*/
    }

    th, td {
        border: 1px solid #444444;
        width: 100px;
        height: 20px;
    }

    .slt-schedule {
        height: 20px;
        line-height: 20px;
        padding: 0px;
        border: 0px;
    }

    .no-schedule {
        /*background-color : #dcd9d9;*/
        color: red;
        /*font-weight:bold;*/
        text-align: center;
        cursor: pointer;
    }

    .yes-schedule {
        /*background-color: #8bd3e4;*/
        color: blue;
        text-align: center;
        cursor: pointer;
    }

    .yes-scheduled {
        background-color: #ffd800;
        text-align: center;
        /*cursor: pointer;*/
        font-weight: bold;
    }
</style>

<script type="text/javascript">
    var dateItemArray = new Array();
    $(document).ready(function () {

        $(".tab-menu li").click(function () {

        });

        var timeArray = ['09:00~10:00'
            , '10:00~11:00'
            , '11:00~12:00'
            , '12:00~13:00'
            , '13:00~14:00'
            , '14:00~15:00'
            , '15:00~16:00'
            , '16:00~17:00'
            , '17:00~18:00'
            , '18:00~19:00'
            , '19:00~20:00'
            , '20:00~21:00'
            , '21:00~22:00'
        ]

        var scheduleHtml = "";
        var timeHtml = "";
        //var i = 251;
        var i = 1;
        $.each(timeArray, function (key, value) {
            //i = (key + 251);
            i = (key + 1);
            //var html = "<tr><td>" + value + "</td>"
            //var html = "<tr><td>" + value + "</td>"
            var html = "<tr>"
            var time_html = "<tr style=\"height:20px; background-color:#7eb980; text-align:center; color:white;\"><td>"+value+"</td></tr>"

            html+="</tr>"
            scheduleHtml += html;
            timeHtml += time_html;

        });

        var date = $("#sltMonth").val();
        dateItemArray = fnMakeScheduleTable(date, '');
        $("#schedule").append(scheduleHtml);
        $("#time").append(timeHtml);


        $("#slt-teacher").change(function () {
            location.href = "scheduleview?idx=" + $(this).val();
        })

        $("#sltMonth").change(function () {

            $.each($("#schedule").find("tr"), function (index, val) {
                if (!$(this).hasClass("schedule-frame")) {
                    $(this).remove();    
                }
            });

            $.each($("#time").find("tr"), function (index, val) {

                //$(this).remove();
                if (!$(this).hasClass("schedule-frame")) {
                    $(this).remove();
                }
            });

            $.each($(".schedule-frame").find("td"), function (index, val) {
                if (!$(this).hasClass("notdelete")) {
                    $(this).remove();
                }
            });
            var scheduleHtml = "";
            var timeHtml = "";
            $.each(timeArray, function (key, value) {
                //i = (key + 251);
                i = (key + 1);
                //var html = "<tr><td>" + value + "</td>"
                //var html = "<tr><td>" + value + "</td>"
                var html = "<tr>"
                var time_html = "<tr style=\"height:20px; background-color:#7eb980; text-align:center; color:white;\"><td>" + value + "</td></tr>"

                html += "</tr>"
                scheduleHtml += html;
                timeHtml += time_html;

            });
            dateItemArray = fnMakeScheduleTable($(this).val(), '');
            $("#schedule").append(scheduleHtml);           
            $("#time").append(timeHtml);
        })
    });

    fnSetDetailSchedule =function(t,ct,isc) {
        var teacherIdx = 0;
        if ("@_identity.ConsultId" == "future") {
            teacherIdx = $("#slt-teacher").val();
        }
        else {
            teacherIdx = "@_identity.TeacherIdx"
        }     

        mlDebug(teacherIdx);
		$.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                  'ct': ct
                , 'isc': isc
                , 't': teacherIdx
            }),
            url: '@Url.Action("ModifyDetail", "Consult")',
            success: function (msg) {
				//var result = msg.ok;
                //if (!result) {
                //    alert('저장에 실패했습니다')
                //}                
            },
            error: function (xhr, msg) {alert('eeeeeeeeeee');},
        });
    }

    fnMakeScheduleTable = function (date, way) {
        var dateItemArray = new Array();
        var timeItemArray = new Array();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({
                'date': date
                , 'way': 'I'
            }),
            url: '@Url.Action("GetSehduleTable", "Consult")'
        }).done(function (msg) {
                //msg.jsonSheduleDate.forEach(element => alert(element));
            dateItemArray = msg.jsonSheduleDate;
            timeItemArray = msg.jsonSheduleTime;
            $.each(dateItemArray, function (key, value) {
                $("#consultDate").append("<td>" + value.ConsultDate + "</td>")
            });


            $.each(timeItemArray, function (key, value) {
                //alert(value.ConsultTimeIdx)

            });


            var rowIdx = 1;
            $.each(timeItemArray, function (key, value) {
                //alert(key);
                var tr = $("#schedule").find("tbody").find("tr").get(rowIdx);
                $(tr).append("<td class=\"td-schedule no-schedule\" id=\"idx-" + value.ConsultTimeIdx + "\"><span is-confirmed=\"0\">X</span></td>");

                rowIdx++;
                if (rowIdx == 14) {
                    rowIdx = 1;
                }
            });

            $(".td-schedule").click(function () {
                var isConfirmed = $(this).find("span").attr("is-confirmed");
                var consultTimeidx = $(this).attr("id").replace("idx-", "");
                var teacherIdx = '1';

                if (isConfirmed == "99") {
                    return;
                }

                if (isConfirmed == "0") {
                    isConfirmed = "1"

                    $(this).find("span").text("●");
                    $(this).removeClass("no-schedule");
                    $(this).addClass("yes-schedule");
                    $(this).find("span").attr("is-confirmed", "1");
                }
                else {
                    isConfirmed = "0"

                    $(this).find("span").text("X");
                    $(this).removeClass("yes-schedule");
                    $(this).addClass("no-schedule");
                    $(this).find("span").attr("is-confirmed", "0");
                }
                fnSetDetailSchedule(teacherIdx, consultTimeidx, isConfirmed);

            });



            var json = '@ViewBag.ConsultTime'.replace(/&quot;/g, '"');
            var jsonObj = JSON.parse(json);

            $.each(jsonObj, function (key, value) {
                if (value.ScheduledTimeIdx > 0) {
                    $("#idx-" + value.ConsultTimeIdx).find("span").text("상담예약");
                    $("#idx-" + value.ConsultTimeIdx).removeClass("no-schedule");
                    $("#idx-" + value.ConsultTimeIdx).removeClass("td-schedule");
                    $("#idx-" + value.ConsultTimeIdx).addClass("yes-scheduled");
                    $("#idx-" + value.ConsultTimeIdx).find("span").attr("is-confirmed", "99");
                }

                else {
                    $("#idx-" + value.ConsultTimeIdx).find("span").text("●");
                    $("#idx-" + value.ConsultTimeIdx).removeClass("no-schedule");
                    $("#idx-" + value.ConsultTimeIdx).addClass("yes-schedule");
                    $("#idx-" + value.ConsultTimeIdx).find("span").attr("is-confirmed", "1");
                }
            });
            }).error(function (xhr, msg) {
                alert(msg+'11');
            });
        return dateItemArray;
    }
</script>

@if (_identity.Roll == "CONSULT" && _identity.ConsultId == "future")
{
    <div>
        <span style="margin-left:5px;font-weight:bold;">교사선택:</span>
        <select style="width:500px; margin-left:5px;" id="slt-teacher">            
            @foreach (var t in ViewBag.Teacher)
            {
                if(ViewBag.TeacherIdx == t.TeacherIdx)
                {
                    <option value="@t.TeacherIdx" selected="selected"> @t.TeacherName (@t.LoginId)</option>                                     
                }
                else
                {
                    <option value="@t.TeacherIdx"> @t.TeacherName (@t.LoginId)</option>                                     
                }
                
            }
        </select>
    </div>
    <hr />
}

<div style="margin-left:10px;  min-width:900px;max-width:900px;">

    <select id="sltMonth" style="float:right;">
        <option value="2020-5">2020년-05월</option>
        <option value="2020-6">2020년-06월</option>
        <option value="2020-7">2020년-07월</option>
        <option value="2020-8">2020년-08월</option>
        <option value="2020-9">2020년-09월</option>
        <option value="2020-10">2020년-10월</option>
        <option value="2020-11">2020년-11월</option>
        <option value="2020-12">2020년-12월</option>
    </select>
    <span style="font-weight:bold;float:right; margin-right:10px;">년-월선택</span>
</div>
<div style="width:100%; padding:3px; flex-direction:row;display:flex;">
    <div style="width:140px;">
        <table id="time">
            <tr style="height:27px;text-align: center;" class="schedule-frame">
                <td style="background-color:#7fa9ce;color:white;font-weight:bold;" class="notdelete">
                    
                </td>
            </tr>
        </table>
    </div>


    <div style="overflow:auto; max-width:900px !important;">
        <table style="border:1px solid" id="schedule" >
            <tr id="consultDate" style="text-align: center;background-color:#7fa9ce;color: white;" class="schedule-frame">            
            </tr>


        </table>
    </div>
</div>