﻿
@{
    ViewBag.Title = "입학사정관특강";
    ViewBag.Navigation = "ADMISSIONS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css {
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="~/Resources/css/info_style.css" rel="stylesheet" />
}

@section Javascript {
    <script src="../Resources/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".t_btn").click(function () {

                if (false && "@Geumcheon.Web.Consult.Models._identity.ConsultId" == "") {

                    alert("로그인후 신청가능합니다\n로그인 화면으로 이동합니다");
                    location.href = "@Url.Action("Login", "Account")?returnUrl=@this.Request.Url.PathAndQuery";
                }
                else {
                    if ("@Geumcheon.Web.Consult.Models._identity.ConsultId" == "admin") {

                        var pidx = $(this).attr("idx");
                        $("#ifr-form").attr("src", "RequestList?pidx=" + pidx);
                        $("#btn-open-modal").click();

                    }
                    else {
                        var pidx = $(this).attr("idx");
                        $("#ifr-form").attr("src", "RequestForm?pidx=" + pidx);
                        $("#btn-open-modal").click();
                    }

                }


            })
        });
    </script>
}



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="btn-open-modal" style="display:none;">
    Launch demo modal
</button>
<!-- Modal -->
@if (Geumcheon.Web.Consult.Models._identity.ConsultId == "admin")
{
    <div class="popModal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:90% !important;height:800px !important;">
            <div class="modal-content" style="height:870px !important; width:1200px !important;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">설명회 신청</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
		</div>
                <div class="modal-body" style="height:90%;">
                    <iframe src="RequestForm" style="width:100%; height:100%; border:0px;" id="ifr-form"></iframe>
                </div>
                <div class="modal-footer" style="display:none;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="popModal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:90% !important;height:800px !important;">
            <div class="modal-content" style="height:870px !important; width:1200px !important;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">설명회 신청</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height:90%;">
                    <iframe src="RequestForm" style="width:100%; height:100%; border:0px;" id="ifr-form"></iframe>
                </div>
                <div class="modal-footer" style="display:none;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}

    <div style="font-family:'Noto Sans KR', sans-serif;font-weight:500;font-size:21px;letter-spacing:-2px;line-height:1.2;font-weight:400;box-sizing:border-box;width:100%;overflow-x:hidden; width:1240px;">
        <div class="content1">
            <div class="section section4_disabled">
                <div class="tit_box">
                    <img src="~/Resources/images/common/img_sec4.png">
                    <h2>신청 접수중<span>놓치지 말고 지금 바로 신청하세요</span></h2>
                </div>
                <ul>
                    <li><strong>• 신청 :</strong> 프로그램 신청 기간에만 신청이 가능합니다.</li>
                    <li><strong>• 예비 :</strong> 모집인원이 초과되면 ‘예비대기자’로 신청이 가능하며, 취소자 발생 시에 담당자가 연락을 드립니다. </li>
                    <li><strong>• 마감 :</strong> 신청 기간이 지나면 마감됩니다. </li>
                    <li><strong>* 문의 : 금천구청 교육지원과(02-2627-2822),  담당자 직통(070-5125-8615)</strong></li>
                </ul>
            </div>
        </div>
        <div class="section section4" style="background-color:#FFD800;height:420px;">
            <div class="tit_box">
                <h2 style="padding-top:0px; white-space: nowrap;">금천구 대입지원 앱 출시 !!</h2>
            </div>
            <ul style="top:200px;">
                <li>이젠 폰으로도 서비스를 편하게 이용하세요.</li>
                <li>자동 알림 기능으로 선착순 신청도 잊지 않고 확인 가능!</li>
                <li>다양한 입시프로그램을 손쉽게 접할 수 있는 기회!</li>
                <li><strong style="font-size:28px;">App store(아이폰), Play store(안드로이드) -> '금천구 대입지원'을 검색하세요.</strong></li>
                <li><a target="_blank" href="~/금천구_대입지원_앱_사용법.pdf" style="text-decoration:underline; color:#428bca;"><strong>※금천구 대입지원 앱 사용법 다운로드</strong></a></li>
            </ul>
        </div>
        <div class="content2">
            <div class="section section9">
                <h2>입학사정관 특강<span>대학별 합격 사례 및 면접관을 사로잡는 학생부,자소서,면접 Tip 대방출</span></h2>
                <ul>
                    <li>· 서울 및 수도권 대학 현직 입학사정관 초빙, 특강 및 질의응답</li>
                    <li>· 대상: 학생 및 학부모, 각 50명 (선착순, 대학별 자료집 배부)</li>
                    <li style="color:red;">· 입학사정관특강 3일 연속 참여시, 1:1 입시컨설팅 우선 참여 특혜를 드립니다.</li>
                </ul>
                <h2 style="padding-top:24px;"><span>연사 : 서울 및 수도권 주요 대학 현직 입학사정관</span></h2>
                <div class="table">
                    <table style="margin-top:18px; margin-bottom:34px;">
                        <!-- <colgroup>
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
            </colgroup> -->
                        <thead>
                            <tr>
                                <th>운영방식</th>
                                <th>대상</th>
                                <th>인원</th>
                                <th>대학</th>
                                <th>행사일정</th>
                                <th>신청기간</th>
                                <th>신청</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="3" class="tit"><strong>입학사정관 특강</strong><span>(서울 및 수도권 대학 현직 입사관)</span></td>
                                <td rowspan="3">희망 학생<br />및 학부모</td>
                                <td rowspan="3" style="max-width:80px;">오프라인 각 50명</td>
                                <td>홍익대학교<br />명지대학교<br />서울시립대학교</td>
                                <td>2020. 07. 28 (화)<br />16:50 - 19:00</td>
                                <td>2020. 06. 03 ~ 07. 27</td>
                                <td class="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-07-29") ? "t_btn_disabled" : "t_btn")" idx="17"><span>신청</span></td>
                            </tr>
                            <tr>
                                <td>단국대학교<br />세종대학교<br />인하대학교</td>
                                <td>2020. 07. 29 (수)<br />16:50 - 18:30</td>
                                <td>2020. 06. 03 ~ 07. 28</td>
                                <td class="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-07-29") ? "t_btn_disabled" : "t_btn")" idx="23"><span>신청</span></td>
                            </tr>
                            <tr>
                                <td>서강대학교<br />광운대학교<br />서울과학기술대학교</td>
                                <td>2020. 07. 30 (목)<br />16:50 - 18:40</td>
                                <td>2020. 06. 03 ~ 07. 29</td>
                                <td class="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-07-30") ? "t_btn_disabled" : "t_btn")" idx="25"><span>신청</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <span style="display:block;font-size:20px;margin:18px auto 16px;width:90%;">*연초에 계획한 일정이 코로나19로 인해 부분 수정되었습니다.</span>
                </div>

                <h2 style="padding-top:24px;"><span>입장시 유의사항</span></h2>

                <ul>
                    <li>· 행사장에서는 KF94이상 마스크 착용 (비말차단용 마스크 불가</li>
                    <li>
                        · 출입자 명부 작성(사전 신청자만 출입 가능)
                    </li>
                    <li>
                        · 행사 당일 발열체크, 37.8도 이하만 입장가능
                    </li>
                </ul>
                <br /><br /><br />
                <ul class="disclist">
                    <li style="list-style-type:decimal;">
                        2021. 대학별 대입전형 주요사항
                        <ul class="disclist" style="width:100%;">
                            <li>수시 주요전형 변경 포인트와 특징</li>
                            <li>정시 주요전형 변경 포인트와 특징</li>
                        </ul>
                    </li>
                    <li style="list-style-type:decimal;">
                        대학별 인재상
                        <ul class="disclist" style="width:100%;">
                            <li>Best 와 Worst 학생부 비교</li>
                            <li>학생부 종합전형 사례로 보는 인재상</li>
                            <li>면접관을 사로잡는 자소서와 면접 사례</li>
                        </ul>
                    </li>
                    <li style="list-style-type:none; margin-left:-24px;">
                        *현장 질의응답*
                    </li>
                </ul>

            </div>

            <!-- //section7 -->
        </div>
    </div>

    
