﻿
@{
    ViewBag.Title = "대입설명회";
    ViewBag.Navigation = "OCCASIONAL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css {
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="~/Resources/css/info_style.css" rel="stylesheet" />
}


@section Javascript {
    <script src="../Resources/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".t_btn").click(function () {

                if (false &&"@Geumcheon.Web.Consult.Models._identity.ConsultId" == "") {

                    alert("로그인후 신청가능합니다\n로그인 화면으로 이동합니다");
                    location.href = "@Url.Action("Login", "Account")?returnUrl=@this.Request.Url.PathAndQuery";
                }
                else {

                    if ("@Geumcheon.Web.Consult.Models._identity.ConsultId" == "admin") {

                        var pidx = $(this).attr("idx");
                        $("#ifr-form").attr("src", "RequestList?pidx=" + pidx);
                        $("#btn-open-modal").click();

                    }
                    else {
                        var pidx = $(this).attr("idx");
                        $("#ifr-form").attr("src", "RequestForm?pidx=" + pidx);
                        $("#btn-open-modal").click();
                    }
                }

            })
        });
    </script>
}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="btn-open-modal" style="display:none;">
    Launch demo modal
</button>
<!-- Modal -->
@if (Geumcheon.Web.Consult.Models._identity.ConsultId == "admin")
{
    <div class="popModal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:90% !important;height:800px !important;">
            <div class="modal-content" style="height:870px !important; width:1200px !important;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">설명회 신청</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height:80%;">
                    <iframe src="RequestForm" style="width:100%; height:100%; border:0px;" id="ifr-form"></iframe>
                </div>
                <div class="modal-footer" style="display:none;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="popModal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:90% !important;height:800px !important;">
            <div class="modal-content" style="height:870px !important; width:1200px !important;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">설명회 신청</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height:80%;">
                    <iframe src="RequestForm" style="width:100%; height:100%; border:0px;" id="ifr-form"></iframe>
                </div>
                <div class="modal-footer" style="display:none;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}
    <div style="font-family:'Noto Sans KR', sans-serif;font-weight:500;font-size:21px;letter-spacing:-2px;line-height:1.2;font-weight:400;box-sizing:border-box;width:100%;overflow-x:hidden;width:1240px;">
        <div class="content1">
            <div class="section section4_disabled">
                <div class="tit_box">
                    <img src="~/Resources/images/common/img_sec4.png">
                    <h2>신청 접수중<span>놓치지 말고 지금 바로 신청하세요</span></h2>
                </div>
                <ul>
                    <li><strong>• 신청 :</strong> 프로그램 신청 기간에만 신청이 가능합니다.</li>
                    <li><strong>• 예비 :</strong> 모집인원이 초과되면 ‘예비대기자’로 신청이 가능하며, 취소자 발생 시에 담당자가 연락을 드립니다. </li>
                    <li><strong>• 마감 :</strong> 신청 기간이 지나면 마감됩니다. </li>
                    <li><strong>* 문의 : 금천구청 교육지원과(02-2627-2822),  담당자 직통(070-5125-8615)</strong></li>
                </ul>
            </div>
        </div>
        <div class="section section4" style="background-color:#FFD800;height:420px;">
            <div class="tit_box">
                <h2 style="padding-top:0px; white-space: nowrap;">금천구 대입지원 앱 출시 !!</h2>
            </div>
            <ul style="top:200px;">
                <li>이젠 폰으로도 서비스를 편하게 이용하세요.</li>
                <li>자동 알림 기능으로 선착순 신청도 잊지 않고 확인 가능!</li>
                <li>다양한 입시프로그램을 손쉽게 접할 수 있는 기회!</li>
                <li><strong style="font-size:28px;">App store(아이폰), Play store(안드로이드) -> '금천구 대입지원'을 검색하세요.</strong></li>
                <li><a target="_blank" href="~/금천구_대입지원_앱_사용법.pdf" style="text-decoration:underline; color:#428bca;"><strong>※금천구 대입지원 앱 사용법 다운로드</strong></a></li>
            </ul>
        </div>
        <div class="content2">
            <div class="section section7">
                <h2>대입설명회</h2>
                <ul>
                    <li>
                        · 최고의 입시 전문가와 전문대교협 진학지원관이 직접 합불데이터로 분석한 우리 지역 맞춤 설명회
                    </li>
                    <li>· 대상: 학생 및 학부모,  500명 (선착순, 배치자료집 배부)</li>
                </ul>
                <div class="table">
                    <span>※ 사전 신청자에게는 배치 자료집을 드립니다 (대학별 요강, 8개 입시기관 배치점수 포함)</span>
                    <table>
                        <!-- <colgroup>
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                </colgroup> -->
                        <thead>
                            <tr>
                                <th>운영방식</th>
                                <th style="width:15%;">진행</th>
                                <th>대상</th>
                                <th>인원</th>
                                <th>행사일정</th>
                                <th>신청기간</th>
                                <th>신청</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tit"><strong>정시 지원전략</strong></td>
                                <td rowspan="3"><p>온 라 인</p><p style="font-size:13px;">(유튜브 스트리밍)</p></td>
                                <td rowspan="3">희망 학생<br />및 학부모</td>
                                <td>300명</td>
                                <td>2020. 12. 12 (토)<br />14:00 - 16:00</td>
                                <td>현재 ~ 2020. 12. 11</td>
                                <td class="@(DateTime.Now < DateTime.Parse("2020-09-18") || DateTime.Now > DateTime.Parse("2020-12-12") ? "t_btn_disabled" : "t_btn")" idx="14"><span>신청</span></td>
                            </tr>
                            <tr>
                                <td class="tit"><strong>수시 지원전략</strong></td>
                                <td rowspan="2">500명</td>
                                <td rowspan="2">2020. 08. 07 (금)<br />18:50 - 21:00</td>
                                <td rowspan="2">2020. 06. 03 ~ 08. 06</td>
                                <td class="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-08-07") ? "t_btn_disabled" : "t_btn")" idx="5">
                                    <span>신청</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="tit"><strong>전문대 지원전략</strong></td>
                                <td class="@(DateTime.Now < DateTime.Parse("2020-06-03") || DateTime.Now > DateTime.Parse("2020-08-07") ? "t_btn_disabled" : "t_btn")" idx="11"><span>신청</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <p><span>* 연초에 계획한 일정이 코로나19로 인해 부분 수정되었습니다.</span></p>
                    <p><span>* 코로나19 상황에 따라 온라인으로 운영될 수 있습니다.</span></p>
                </div>
            </div>

            <div class="section section8">
                <h2>정시 지원전략 1-2부</h2>
                <h2><span>주제 : 2021. 정시지원 전략 중심 내용</span></h2>
                <ul>
                    <li style="list-style-type:decimal;">
                        2021. 정시의 다양한 변수
                        <ul style="width:100%;">
                            <li>2021. 정시 전형의 주요 변화 분석</li>
                            <li>합불사례로 보는 정시 합격선에 영향을 주는 변수</li>
                            <li>모집인원 규모 변화와 합격선</li>
                            <li>경쟁률 변화가 합격선에 미치는 영향</li>
                            <li>기타 심리적 요소 Vs 합격선</li>
                        </ul>
                    </li>
                    <li style="list-style-type:decimal;">
                        수도권 주요대학 지원전략
                        <ul style="width:100%;">
                            <li>합불사례로 보는 최상위권 대학 지원전략</li>
                            <li>합불사례로 보는 중상위권 대학 지원전략</li>
                            <li>합불사례로 보는 중위권 대학 지원전략</li>
                            <li>합불사례로 보는 경기. 인천권 지원전략</li>
                        </ul>
                    </li>
                    <li style="list-style-type:decimal;">
                        마무리
                        <ul style="width:100%;">
                            <li>모의지원과 배치지원 참고표</li>
                            <li>모의지원의 허와 실</li>
                        </ul>
                    </li>
                </ul>
                <div>
                    <h2><span>연사 : 김창묵</span></h2>
                    <ul>
                        <li>현. 경신고 진학부장</li>
                        <li>대교협 상담교사 대상 직무연수 전문강사</li>
                        <li>서울시 교육청 대학진학지도지원단 대입직무연수 강사</li>
                        <li>서울진학지도협의회 및 전국진학지도협의회 상담국 이사</li>
                        <li>EBSi 상담위원</li>
                        <li>교육청 설명회 및 컨설팅 (대구교육청 , 부산교육청 , 강원교육청 , 광주교육청 , 전북교육청 , 제주교육청 )</li>
                    </ul>
                    <h2><span>연사 : 이규복</span></h2>
                    <ul>
                        <li>현. ㈜퓨쳐플랜 법인이사, (사)청소년드림토피아 이사장 교육청 지정 연수기관 강사 및 진로진학상담1급 정교사 교수요원 (전남교육청,  태안교육청, 서울시교육청, 대구교육청, 경기교육청 외)</li>
                        <li>전. 한국진로학습연구소 대표이사</li>
                        <li>유니포타임즈  진학진로 전문컬럼니스트</li>
                        <li>이슈투데이 입시전략 전문컬럼니스트</li>
                        <li>한국교육개발원 진로진학 전문위원</li>
                        <li>씨스쿨 교육전략연구소 소장	  EBS수능방송 입시전략 자문위원</li>
                        <li>강남구청수능방송 입시전략 자문위원</li>
                        <li>중앙교육진흥연구소 입시분석 실장</li>
                        <li>고려대학교 교육학 석사(교육정보학)</li>
                        <li>모의고사 및 수능 분석/전국 배치참고표 개발</li>
                        <li>*강의(진로진학교사 직무연수 및 교장연수-경기도교육청, 전라남도교육청, 서울시교육청, 경북칠곡교육청, 천안교육청, 전남교육청 외/중앙일보 다빈치센터 학부모 교실/전국고교 초청 설명회/신세계 백화점/현대 백화점(삼성)외)</li>
                        <li>*주요연구 (모의고사 및 수능 분석/전국 배치참고표 개발, 현재 진로진학 컨설팅 및 시스템 개발, 컨설팅 프로그램 진로진학가이드 통 분석/개발, 한국교육개발원 진로진학 서비스 개발, GLP AP 진단검사 개발(퓨처북), 진로진학정보 시스템 구축 및 운영(교육개발원,강남구청등), EBS 인터넷 대입 종합서비스 구축, 대학진학종합 시스템 구축 및 운영(대교협), 모의고사 문제은행 시스템 구축(중앙교육), 심리검사 분석설계 및 개발 (중앙교육) 외</li>
                    </ul>
                </div>
            </div>

            <div class="section section8">
                <h2>수시 지원전략 1-2부</h2>
                <h2><span>주제 : 2021. 합격하는 수시 지원전략</span></h2>
                <ul>
                    <li>2021. 수시 전형의 주요 변화 분석</li>
                    <li>2021. 수시 전형별로 본 합격 포인트</li>
                    <li>주요대 수시 합격라인 분석</li>
                    <li>의치한, 교대, 간호대 특징과 합격 포인트</li>
                    <li>학생부 분석과 자소서 작성의 핵심 키워드</li>
                    <li>적성고사, 논술고사 성공 가이드</li>
                    <li>성적대별 수시 지원전략</li>
                    <li>특성화고생을 위한 수시 지원전략</li>
                </ul>
                <div>
                    <h2><span>연사 : 박성현</span></h2>
                    <ul>
                        <li>현. 목동고 3학년 부장</li>
                        <li>서울교육청 대입지원단 대입직무연수 대표강사</li>
                        <li>대입상담관 (양천구청, 동작구청, 광진구청, 구로구청, 마포구청 )</li>
                        <li>대입자문위원 (**대, ***대, ***대, **대, **대 )</li>
                        <li>논술고사 출제위원 (***대, ****대, **대)</li>
                        <li>모의논술 출제 위원 (***대, ***대, **대, **대)</li>
                        <li>재외국민 지필고사 출제위원 (***대, **대 )</li>
                        <li>수능적성고사 출제위원 (**대)</li>
                        <li>수시논술가이드북 집필 (성균관대, 가톨릭대)</li>
                    </ul>
                    <h2><span>연사 : 이규복</span></h2>
                    <ul>
                        <li>현. ㈜퓨쳐플랜 법인이사, (사)청소년드림토피아 이사장 교육청 지정 연수기관 강사 및 진로진학상담1급 정교사 교수요원 (전남교육청,  태안교육청, 서울시교육청, 대구교육청, 경기교육청 외)</li>
                        <li>전. 한국진로학습연구소 대표이사</li>
                        <li>유니포타임즈  진학진로 전문컬럼니스트</li>
                        <li>이슈투데이 입시전략 전문컬럼니스트</li>
                        <li>한국교육개발원 진로진학 전문위원</li>
                        <li>씨스쿨 교육전략연구소 소장	  EBS수능방송 입시전략 자문위원</li>
                        <li>강남구청수능방송 입시전략 자문위원</li>
                        <li>중앙교육진흥연구소 입시분석 실장</li>
                        <li>고려대학교 교육학 석사(교육정보학)</li>
                        <li>모의고사 및 수능 분석/전국 배치참고표 개발</li>
                        <li>*강의(진로진학교사 직무연수 및 교장연수-경기도교육청, 전라남도교육청, 서울시교육청, 경북칠곡교육청, 천안교육청, 전남교육청 외/중앙일보 다빈치센터 학부모 교실/전국고교 초청 설명회/신세계 백화점/현대 백화점(삼성)외)</li>
                        <li>*주요연구 (모의고사 및 수능 분석/전국 배치참고표 개발, 현재 진로진학 컨설팅 및 시스템 개발, 컨설팅 프로그램 진로진학가이드 통 분석/개발, 한국교육개발원 진로진학 서비스 개발, GLP AP 진단검사 개발(퓨처북), 진로진학정보 시스템 구축 및 운영(교육개발원,강남구청등), EBS 인터넷 대입 종합서비스 구축, 대학진학종합 시스템 구축 및 운영(대교협), 모의고사 문제은행 시스템 구축(중앙교육), 심리검사 분석설계 및 개발 (중앙교육) 외</li>
                    </ul>
                </div>

            </div>

            <div class="section section8">
                <h2>전문대 지원전략</h2>
                <h2><span>주제 : 2021. 변화의 시대, 전문대 지원전략</span></h2>
                <ul>
                    <li style="list-style-type:decimal;">
                        취업이 잘되는 전문대학은?
                        <ul style="width:100%;">
                            <li>지역별 전문대학 유망학과</li>
                            <li>지역별 취업률 높은 학과</li>
                            <li>유망한 전문대 이색학과</li>
                            <li>해외 취업에 강한 전문대</li>
                        </ul>
                    </li>
                    <li style="list-style-type:decimal;">
                        전문대 입학전형의 특징
                        <ul style="width:100%;">
                            <li>전문대와 4년제 전형방법 비교</li>
                            <li>내 점수에 유리한 성적 반영 학교 선택</li>
                            <li>정시에도 학생부 반영하는 대학이 많다.</li>
                            <li>수도권 주요대학 입시결과 공개</li>
                        </ul>
                    </li>
                    <li style="list-style-type:decimal;">
                        전문대 지원전략 세우기
                        <ul style="width:100%;">
                            <li>성적분석을 통해 유리한 전형</li>
                            <li>목표대학 설정 및 진단</li>
                            <li>특성화고생 지원전략</li>
                            <li>최종 지원에 따른 유의점 분석</li>
                        </ul>
                    </li>
                </ul>
                <div>
                    <h2><span>연사 : 김장업</span></h2>
                    <ul>
                        <li>현. 한국전문대학교육협의회 대표강사</li>
                        <li>한국대학교육협의회 대입상담센터 대입상담교사단</li>
                        <li>한국전문대학교육협의회 입학지원실 입학자료개발</li>
                        <li>2015개정교육과정 진로와 직업 교과서 집필(YBM출판사)</li>
                    </ul>
                </div>
            </div>

            <!-- //section7 -->
        </div>
    </div>
