﻿
@{
    ViewBag.Title = "대입설명회";
    ViewBag.Navigation = "OCCASIONAL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    table {
        border: 1px solid #000;
    }

    th {
        border: 1px solid #000;
        background-color: #C1EAF7;
        text-align: center;
        padding: 8px;
    }

    tr {
        border: 1px solid #000;
        text-align: center;
    }

    td {
        border: 1px solid #000;
        padding: 8px;
    }

        td .btns .btn.blue {
            background: #3685ca;
            border: 1px solid #3685ca;
            border-image: none;
            color: #fff;
        }

        td .btns .btn.white {
            border: 1px solid #3685ca;
            border-image: none;
            color: #3685ca;
        }

        td .btns .btn.grey {
            background-color: dimgrey;
            border: 1px solid dimgrey;
            border-image: none;
            color: #fff;
            cursor: auto;
        }

    table .career {
        border: 1px solid #ababab;
    }

    th .career {
        border: 1px solid #ababab;
        background-color: #C1EAF7;
        text-align: center;
    }

    tr .career {
        border: 1px solid #ababab;
        padding: 8px;
    }

    td .career {
        border: 1px solid #ababab;
    }
</style>

<div>
    <div style="color:red; white-space:pre-line">
        • &lt;신청&gt; 프로그램 신청 기간에만 신청이 가능합니다.
        • &lt;예비&gt; 모집인원이 초과되면 ‘예비대기자’로 신청이 가능하며, 취소자 발생 시에 담당자가 연락을 드립니다.
        • &lt;마감&gt; 신청 기간이 지나면 마감됩니다.
        * 문의 : 금천구청 교육지원과(02-2627-2822), 담당자 직통(070-5125-8615)

    </div>
    <table cellpadding="0" cellspacing="0" class="InnerTable" style="border: 1px solid #000;">
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 10%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 10%;">
        </colgroup>
        <thead>
            <tr>
                <th class="N">
                    구 분
                </th>
                <th class="N">
                    대 상
                </th>
                <th class="N">
                    인 원
                </th>
                <th class="N">
                    행사일정
                </th>
                <th class="N">
                    신청기간
                </th>
                <th class="N">
                    신청
                </th>
            </tr>
        </thead>
        <tr>
            <td class="N">
                수시지원전략
            </td>
            <td rowspan="3" class="N">
                희망 학생 및 학부모
            </td>
            <td rowspan="2" class="N">
                500명
            </td>
            <td rowspan="2" class="N">
                2020. 7. 31.(금) <br />
                19:00-21:30
            </td>
            <td rowspan="2" class="N">
                2020. 6. 22. ~ 7. 24.
            </td>
            <td class="N">
                <div class='btns'><a class='btn grey'>신청</a></div>
            </td>
        </tr>
        <tr>
            <td class="N">
                전문대 지원전략
            </td>
            <td class="N">
                <div class='btns'><a class='btn grey'>신청</a></div>
            </td>
        </tr>
        <tr>
            <td class="N">
                정시지원전략
            </td>
            <td class="N">
                300명
            </td>
            <td class="N">
                2020. 12. 26.(토) <br />
                14:00-15:30
            </td>
            <td class="N">
                2020. 11. 18. ~ 12. 20.
            </td>
            <td class="N">
                <div class='btns'><a class='btn grey'>신청</a></div>
            </td>
        </tr>
    </table>

    <div style="color:red; white-space:pre-line">
        ❍ 내  용 : 2021. 대입의 이슈와 변화, 수시 및 정시 지원전략, 합격 배치점 및 사례
        ❍ 대  상 : 학생 및 학부모 (선착순)
        ※ 사전 신청자에게는 배치 자료집을 드립니다 (대학별 요강, 8개 입시기관 배치점수 포함)

    </div>
    <h4 style="color:#090909;">[수시 지원전략 1-2부]</h4>
    <div>❍ 연 사 : 박성현</div>
    <div style="white-space:pre-line; padding-left:32px;">
        현. 목동고 3학년 부장
        서울교육청 대입지원단 대입직무연수 대표강사
        대입상담관 (양천구청, 동작구청, 광진구청, 구로구청, 마포구청 )
        대입자문위원 (**대, ***대, ***대, **대, **대 )
        논술고사 출제위원 (***대, ****대, **대)
        모의논술 출제 위원 (***대, ***대, **대, **대)
        재외국민 지필고사 출제위원 (***대, **대 )
        수능적성고사 출제위원 (**대)
        수시논술가이드북 집필 (성균관대, 가톨릭대)

    </div>
    <div>❍ 연 사 : 이규복</div>
    <div style="white-space:pre-line; padding-left:32px;">
        현. ㈜퓨쳐플랜 법인이사, (사)청소년드림토피아 이사장 교육청 지정 연수기관 강사 및 진로진학상담1급 정교사 교수요원
        (전남교육청,  태안교육청, 서울시교육청, 대구교육청, 경기교육청 외)
        전. 한국진로학습연구소 대표이사
        유니포타임즈  진학진로 전문컬럼니스트
        이슈투데이 입시전략 전문컬럼니스트
        한국교육개발원 진로진학 전문위원
        씨스쿨 교육전략연구소 소장	  EBS수능방송 입시전략 자문위원
        강남구청수능방송 입시전략 자문위원
        중앙교육진흥연구소 입시분석 실장
        고려대학교 교육학 석사(교육정보학)
        모의고사 및 수능 분석/전국 배치참고표 개발
        *강의(진로진학교사 직무연수 및 교장연수-경기도교육청, 전라남도교육청, 서울시교육청, 경북칠곡교육청, 천안교육청, 전남교육청 외/중앙일보 다빈치센터 학부모 교실/전국고교 초청 설명회/신세계 백화점/현대 백화점(삼성)외)
        *주요연구 (모의고사 및 수능 분석/전국 배치참고표 개발, 현재 진로진학 컨설팅 및 시스템 개발, 컨설팅 프로그램 진로진학가이드 통 분석/개발, 한국교육개발원 진로진학 서비스 개발, GLP AP 진단검사 개발(퓨처북), 진로진학정보 시스템 구축 및 운영(교육개발원,강남구청등), EBS 인터넷 대입 종합서비스 구축, 대학진학종합 시스템 구축 및 운영(대교협), 모의고사 문제은행 시스템 구축(중앙교육), 심리검사 분석설계 및 개발 (중앙교육) 외

    </div>
    <div>❍ 주 제 : “2021. ”합격하는 수시 지원전략“</div>
    <div style="white-space:pre-line; padding-left:32px;">
        - 2021. 수시 전형의 주요 변화 분석
        - 2021. 수시 전형별로 본 합격 포인트
        - 주요대 수시 합격라인 분석
        - 의치한, 교대, 간호대 특징과 합격 포인트
        - 학생부 분석과 자소서 작성의 핵심 키워드
        - 적성고사, 논술고사 성공 가이드
        - 성적대별 수시 지원전략
        - 특성화고생을 위한 수시 지원전략

    </div>

    <h4 style="color:#090909;">[전문대 지원전략]	</h4>
    <div>❍ 연 사 : 신성철</div>
    <div style="white-space:pre-line; padding-left:32px;">
        현. 한국전문대학교육협의회 진학지원관
        전. 강동고 진학부장
        한국대학교육협의회 상담교사단
        전국진학협의회 상담이사
        서울시 교육청 진학협의회 상담국장	대학진학지도지원단 ,EBSi 상담위원
        학생부종합 강의 및 상담 (강동구청, 송파구청, 양천구청, 동대문구청 )
        *집필 : 진로와 직업 (중등교과서 ), 수시톡톡, 수시정시 대입의 이해 (교육부)
        *교사대상 연수 : 서울시교육청, 광주시교육청, 대구시교육청, 부산시교육청 외

    </div>
    <div>❍ 주 제 : “2021. 변화의 시대, 전문대 지원전략”</div>
    <div style="white-space:pre-line; padding-left:32px;">
        [1] 취업이 잘되는 전문대학은?
        - 지역별 전문대학 유망학과
        - 지역별 취업률 높은 학과
        - 유망한 전문대 이색학과
        - 해외 취업에 강한 전문대
        [2] 전문대 입학전형의 특징
        - 전문대와 4년제 전형방법 비교
        - 내 점수에 유리한 성적 반영 학교 선택
        - 정시에도 학생부 반영하는 대학이 많다.
        - 수도권 주요대학 입시결과 공개
        [3] 전문대 지원전략 세우기
        - 성적분석을 통해 유리한 전형
        - 목표대학 설정 및 진단
        - 특성화고생 지원전략
        - 최종 지원에 따른 유의점 분석

    </div>

    <h4 style="color:#090909;">[정시 지원전략]</h4>
    <div>❍ 연 사 : 김창묵 </div>
    <div style="white-space:pre-line; padding-left:32px;">
        현. 경신고 진학부장
        대교협 상담교사 대상 직무연수 전문강사
        서울시 교육청 대학진학지도지원단 대입직무연수 강사
        서울진학지도협의회 및 전국진학지도협의회 상담국 이사
        EBSi 상담위원
        교육청 설명회 및 컨설팅 (대구교육청 , 부산교육청 , 강원교육청 , 광주교육청 , 전북교육청 , 제주교육청 )

    </div>
    <div>❍ 내 용 :  “2021학년도. 정시지원 전략 중심 내용”</div>
    <div style="white-space:pre-line; padding-left:32px;">
        [1] 2021. 정시의 다양한 변수
        - 2021. 정시 전형의 주요 변화 분석
        - 합불사례로 보는 정시 합격선에 영향을 주는 변수
        - 모집인원 규모 변화와 합격선
        - 경쟁률 변화가 합격선에 미치는 영향
        - 기타 심리적 요소 Vs 합격선

        [2] 수도권 주요대학 지원전략
        - 합불사례로 보는 최상위권 대학 지원전략
        - 합불사례로 보는 중상위권 대학 지원전략
        - 합불사례로 보는 중위권 대학 지원전략
        - 합불사례로 보는 경기. 인천권 지원전략

        [3] 마무리
        - 모의지원과 배치지원 참고표
        - 모의지원의 허와 실

    </div>

</div>