﻿
@{
    ViewBag.Title = "학부모아카데미";
    ViewBag.Navigation = "PARENTACADEMY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css {
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="~/Resources/css/info_style.css" rel="stylesheet" />
}
@section Javascript {
    <script src="../Resources/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".t_btn").click(function () {
                
                if (false) {

                    alert("로그인후 신청가능합니다\n로그인 화면으로 이동합니다");
                    location.href = "@Url.Action("Login", "Account")?returnUrl=@this.Request.Url.PathAndQuery";
                }
                else {
                    if ("@Geumcheon.Web.Consult.Models._identity.ConsultId" == "admin" || "@Geumcheon.Web.Consult.Models._identity.ConsultId" == "future") {

                        var pidx = $(this).attr("idx");
                        $("#ifr-form").attr("src", "RequestList?pidx=" + pidx);
                        $("#btn-open-modal").click();

                    }
                    else {
                        var pidx = $(this).attr("idx");                        
                        $("#ifr-form").attr("src", "RequestForm?pidx=" + pidx);
                        $("#btn-open-modal").click();
                    }

                }


            })
			$(".t_btn_disabled").click(function () {
                if ("@Geumcheon.Web.Consult.Models._identity.ConsultId" == "admin" || "@Geumcheon.Web.Consult.Models._identity.ConsultId" == "future") {

                    var pidx = $(this).attr("idx");
                    $("#ifr-form").attr("src", "RequestList?pidx=" + pidx);
                    $("#btn-open-modal").click();

                }
            })
        });
    </script>
}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="btn-open-modal" style="display:none;">
    Launch demo modal
</button>
<!-- Modal -->
@if (Geumcheon.Web.Consult.Models._identity.ConsultId == "admin")
{
    <div class="popModal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:90% !important;height:800px !important;">
            <div class="modal-content" style="height:870px !important; width:1200px !important;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">학부모아카데미 신청</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height:90%;">
                    <iframe src="RequestForm" style="width:100%; height:100%; border:0px;" id="ifr-form"></iframe>
                </div>
                <div class="modal-footer" style="display:none;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="popModal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:90% !important;height:800px !important;">
            <div class="modal-content" style="height:870px !important; width:1200px !important;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">학부모아카데미 신청</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height:90%;">
                    <iframe src="RequestForm" style="width:100%; height:100%; border:0px;" id="ifr-form"></iframe>
                </div>
                <div class="modal-footer" style="display:none;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}
<div style="font-family:'Noto Sans KR', sans-serif;font-weight:500;font-size:21px;letter-spacing:-2px;line-height:1.2;font-weight:400;box-sizing:border-box;width:100%;overflow-x:hidden;width:1240px;">
    <div class="content1">
        <div class="section section4_disabled">
            <div class="tit_box">
                <img src="~/Resources/images/common/img_sec4.png">
                <h2>신청 접수중<span>놓치지 말고 지금 바로 신청하세요</span></h2>
            </div>
            <ul>
                <li><strong>• 신청 :</strong> 프로그램 신청 기간에만 신청이 가능합니다.</li>
                <li><strong>• 예비 :</strong> 모집인원이 초과되면 ‘예비대기자’로 신청이 가능하며, 취소자 발생 시에 담당자가 연락을 드립니다. </li>
                <li><strong>• 마감 :</strong> 신청 기간이 지나면 마감됩니다. </li>
                <li><strong>* 문의 : 금천구청 교육지원과(02-2627-2822),  담당자 직통(070-5125-8615)</strong></li>
            </ul>
        </div>
    </div>
    <div class="section section4" style="background-color:#FFD800;height:420px;">
        <div class="tit_box">
            <h2 style="padding-top:0px; white-space: nowrap;">금천구 대입지원 앱 출시 !!</h2>
        </div>
        <ul style="top:200px;">
            <li>이젠 폰으로도 서비스를 편하게 이용하세요.</li>
            <li>자동 알림 기능으로 선착순 신청도 잊지 않고 확인 가능!</li>
            <li>다양한 입시프로그램을 손쉽게 접할 수 있는 기회!</li>
            <li><strong style="font-size:28px;">App store(아이폰), Play store(안드로이드) -> '금천구 대입지원'을 검색하세요.</strong></li>
            <li><a target="_blank" href="~/금천구_대입지원_앱_사용법.pdf" style="text-decoration:underline; color:#428bca;"><strong>※금천구 대입지원 앱 사용법 다운로드</strong></a></li>
        </ul>
    </div>
    <div class="content2">
        <div class="section section7">
            <h2>학부모 입시 아카데미<span>학부모가 반드시알아야 할 고입 · 대입의 핵심,<br />학생부종합전형 대비자소서 및 면접 전략의 실체 </span></h2>
            <ul>
                <li>· 최고의 진로진학 전문가 초빙의 초·중·고 학교 급별 운영(수,목 저녁7-9시, 4회차)</li>
                <li>· 대상: 학부모, 각 40명 (선착순, 교재 배부)</li>
				<li>·강의용 교재는 해당 강의 시작 1시간전부터 종료 1시간 후까지 <a target="_blank" href="BatchDown" style="text-decoration:underline; color:navy; font-weight:bold;">다운로드</a> 가능합니다.</li>
				<li><강의안은 참가자분들께 참고로 올려드린 것으로, 강의시간 활용외에 일체 활용을 금지합니다></li>
            </ul>
            <div class="table">
                <table style="margin-top:34px;">
                    <!-- <colgroup>
                        <col width="">
                        <col width="">
                        <col width="">
                        <col width="">
                        <col width="">
                        <col width="">
                    </colgroup> -->
                    <thead>
                        <tr>
                            <th>운영방식</th>
                            <th>대상</th>
                            <th>인원</th>
                            <th>행사일정</th>
                            <th>신청기간</th>
                            <th>신청</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tit"><strong>초·중등 반</strong></td>
                            <td rowspan="3">희망 학생<br />및 학부모</td>
                            <td rowspan="3">40명<br />*3반</td>
                            <td>2020. 10. 07 (수)<br />19:00 - 21:30</td>
                            <td>2020. 09. 01 ~ 10. 06</td>
                            <td idx="26" class="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-07 16:30") ? "t_btn_disabled" : "t_btn")"><span>신청</span></td>
                        </tr>
                        <tr>
                            <td class="tit"><strong>공통(초·중·고) 반</strong></td>
                            <td>2020. 10. 08 (목)<br />19:00 - 21:30</td>
                            <td>2020. 09. 01 ~ 10. 07</td>
                            <td idx="27" class="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-08 16:30") ? "t_btn_disabled" : "t_btn")"><span>신청</span></td>
                        </tr>
                        <tr>
                            <td class="tit"><strong>고등반</strong></td>
                            <td>2020. 10. 14 - 15 (수 - 목)<br />19:00 - 21:30</td>
                            <td>2020. 09. 01 ~ 10. 14</td>
                            <td idx="28" class="@(DateTime.Now < DateTime.Parse("2020-08-01") || DateTime.Now > DateTime.Parse("2020-10-15 16:30") ? "t_btn_disabled" : "t_btn")"><span>신청</span></td>
                        </tr>
                    </tbody>
                </table>
                <span>
                    운영방식 : 온라인 실시간 유튜브 (코로나로 인해 비대면 교육)<br />
                </span>
                <span>
                    * 사전 신청하신 분만 초대하여 입장 가능하니, 반드시 사전 신청 부탁드립니다. (선착순 주의)
                </span>
            </div>

        </div>

        <div class="section section8">
            <h2>초·중등 반</h2>
            <h2><span>주제 : 초중등 학부모가 반드시 알아야 할 고입‧ 대입</span></h2>
            <ul>
                <li style="list-style-type:decimal;">
                    중 ‧ 고등학교 교육과정에 대한 이해
                    <ul style="width:100%;">
                        <li>교육과정을 알아야 대입에 성공한다.</li>
                        <li>고등학교 성적표를 알면 전략이 보인다.</li>
                    </ul>
                </li>
                <li style="list-style-type:decimal;">
                    초중등 학부모가 알아야할 대입의 기초
                    <ul style="width:100%;">
                        <li>대학입시 용어와 기본 이해</li>
                        <li>관심대학 전형별 특징과 합격전략</li>
                    </ul>
                </li>
                <li style="list-style-type:decimal;">
                    고교유형별 현명한 대입 전략
                    <ul style="width:100%;">
                        <li>고교유형별 특징과 강약점</li>
                        <li>특목고, 자사고 폐지와 향후 전망</li>
                        <li>고교 선택이 대학 진학을 결정한다</li>
                        <li>우리아이 성향에 맞는 대입전형 찾아보기</li>
                    </ul>
                </li>
                <li style="list-style-type:decimal;">
                    성공적인 대입을 위한 준비
                    <ul style="width:100%;">
                        <li>자유학기제를 잘 활용하는 아이, 대입에도 성공한다.</li>
                        <li>성공적인 대입을 위해 지금부터는 이렇게!</li>
                    </ul>
                </li>
            </ul>
            <div>
                <h2><span>연사 : 윤상형</span></h2>
                <ul>
                    <li>현. 영동고등학교 진학부장</li>
                    <li>서울시교육청 대학진학지도 지원단</li>
                    <li>한국 대학교육협의회 대입상담센터 대표강사</li>
                    <li>tbs, ‘기적의 TV, 상담 받고 대학 가자’ 진행 및 출연/EBS 라디오, ‘행복한 교육세상’ 패널 출연</li>
                    <li>서울특별시교육청 학부모 대상 입시 설명회 강사</li>
                    <li>서울특별시교육청 교사 대상 입시 설명회 강사</li>
                    <li>서울특별시교육쳥 교사 대상 진학지도 관련 직무연수 강사</li>
                    <li>서울특별시교육청 중등진학지도연구회 직무연수 강사</li>
                    <li>성북구청, 마포구청, 강북구청 광주 남구청 학부모 대상 입시 설명회 강사</li>
                    <li>대구광역시 교육청 교사 대상 진학지도 관련 직무연수 강사</li>
                </ul>
            </div>
        </div>

        <div class="section section8">
            <h2>공통(초·중·고) 반</h2>
            <h2><span>주제 :  최상위권 대학들이 원하는 학교생활기록부 관리 방법</span></h2>
            <ul>
                <li style="list-style-type:decimal;">
                    학생부 평가 방법 실제(Worst  Vs  Best 케이스 분석)
                    <ul style="width:100%;">
                        <li>학생부 종합전형 달라지는 점(현 중2~고2) - 블라인드 평가를 중심으로</li>
                        <li>학생부  학업역량 영역 평가 사례 분석</li>
                        <li>학생부  전공적합성 영역 평가 사례 분석</li>
                        <li>학생부 인성영역 평가 사례 분석</li>
                        <li>학생부 발전가능성 영역 사례 분석</li>
                        <li>유사도 검증시 불이익 사례 분석(고려대 방식)</li>
                        <li>교과 Vs 종합 Vs 논술전형 합격률 비교</li>
                    </ul>
                </li>
                <li style="list-style-type:decimal;">
                    경쟁력 있는 학생부 만들기 실습
                    <ul style="width:100%;">
                        <li>고등학교 학생부 로드맵 짜기 - 학교 교육계획서 분석하기</li>
                        <li>전공적합성을 높이는 선택과목 선택</li>
                        <li>학업역량과 전공적합성 모두 잡는 대회 선택</li>
                        <li>전공적합성을 높이는 동아리 선택</li>
                        <li>전공적합성을 높이는 진로활동 선택</li>
                        <li>전공과 연관된 봉사활동 선택</li>
                    </ul>
                </li>
            </ul>
            <div>
                <h2><span>연사 : 이규복</span></h2>
                <ul>
                    <li>현. ㈜퓨쳐플랜 법인이사, (사)청소년드림토피아 이사장 교육청 지정 연수기관 강사 및 진로진학상담1급 정교사 교수요원 (전남교육청, 태안교육청, 서울시교육청, 대구교육청, 경기교육청 외)</li>
                    <li>전. 한국진로학습연구소 대표이사</li>
                    <li>유니포타임즈 진학진로 전문컬럼니스트</li>
                    <li>이슈투데이 입시전략 전문컬럼니스트</li>
                    <li>한국교육개발원 진로진학 전문위원</li>
                    <li>씨스쿨 교육전략연구소 소장 EBS수능방송 입시전략 자문위원</li>
                    <li>강남구청수능방송 입시전략 자문위원</li>
                    <li>중앙교육진흥연구소 입시분석 실장</li>
                    <li>고려대학교 교육학 석사(교육정보학)</li>
                    <li>모의고사 및 수능 분석/전국 배치참고표 개발</li>
                    <li>*강의(진로진학교사 직무연수 및 교장연수-경기도교육청, 전라남도교육청, 서울시교육청, 경북칠곡교육청, 천안교육청, 전남교육청 외/중앙일보 다빈치센터 학부모 교실/전국고교 초청 설명회/신세계 백화점/현대 백화점(삼성)외)</li>
                    <li>*주요연구 (모의고사 및 수능 분석/전국 배치참고표 개발, 현재 진로진학 컨설팅 및 시스템 개발, 컨설팅 프로그램 진로진학가이드 통 분석/개발, 한국교육개발원 진로진학 서비스 개발, GLP AP 진단검사 개발(퓨처북), 진로진학정보 시스템 구축 및 운영(교육개발원,강남구청등), EBS 인터넷 대입 종합서비스 구축, 대학진학종합 시스템 구축 및 운영(대교협), 모의고사 문제은행 시스템 구축(중앙교육), 심리검사 분석설계 및 개발 (중앙교육) </li>
                </ul>
            </div>
        </div>

        <div class="section section8">
            <h2>고등 반, 1-2회기</h2>
            <h2><span>주제 : 변화하는 대입제도의 이해와 백전백승 전략</span></h2>
            <ul>
                <li style="list-style-type:decimal;">
                    교육 환경의 변화와 대응
                    <ul style="width:100%;">
                        <li>학령인구의 감소, 학생부 기재의 변화, 수능제도의 변화, 입시제도의 변화</li>
                    </ul>
                </li>
                <li style="list-style-type:decimal;">
                    교육과정의 변화와 대응
                    <ul style="width:100%;">
                        <li>2015교육과정에 맞는 교과목 선택, 학점제의 이해와 대비</li>
                    </ul>
                </li>
                <li style="list-style-type:decimal;">
                    전형별 이해와 대응마무리
                    <ul style="width:100%;">
                        <li>학생부 위주(교과/종합), 논술위주, 실기/실적 위주, 수능위주</li>
                    </ul>
                </li>
                <li style="list-style-type:decimal;">
                    사회변화와 자녀의 진로진학 지도
                    <ul style="width:100%;">
                        <li>사회변화, 인식변화에 따른 자녀의 진로진학 지도 포인트</li>
                    </ul>
                </li>
            </ul>
            <div>
                <h2><span>연사 : 박문수</span></h2>
                <ul>
                    <li>현. 청원여고 교무부장</li>
                    <li>TBS 상담받고 대학가자 MC 및 전문위원</li>
                    <li>한국 대학교육 협의회 대표강사, 상담교사, 파견교사</li>
                    <li>전. 청원여고 진학부장, 연구부장</li>
                    <li>서울시교육청 진학지도 지원단</li>
                    <li>EBS 대입정보설명회 강사, 교육청 컨설팅 위원, 대학 정책교사 및 대학별고사 검토 위원</li>
                    <li>자격연수 초빙 강사 (교장 교감 진로진학교사 대상 )</li>
                </ul>
            </div>
        </div>

        <div class="section section8">
            <h2>고등 반, 3-4회기</h2>
            <h2><span>주제 : 학생부종합전형 대비 자소서 작성과 면접 전략의 실제</span></h2>
            <ul>
                <li style="list-style-type:decimal;">
                    학생부종합전형 평가에 대한 이해
                    <ul style="width:100%;">
                        <li>주요 대학별 특성 파악 방법</li>
                    </ul>
                </li>
                <li style="list-style-type:decimal;">
                    학교생활기록부 분석 방법
                </li>
                <li style="list-style-type:decimal;">
                    사례로 보는 자기소개서
                    <ul style="width:100%;">
                        <li>대학이 바라보는 자기소개서</li>
                        <li>자기소개서의 역할 분석</li>
                        <li>자기소개서 문항별 강조점 및 작성법의 실제</li>
                    </ul>
                </li>
                <li style="list-style-type:decimal;">
                    주요 대학별 면접평가 주안점
                </li>
                <li style="list-style-type:decimal;">
                    합격하는 면접 준비 꿀팁
                </li>
            </ul>
            <div>
                <h2><span>연사 : 박정준</span></h2>
                <ul>
                    <li>현. 오산고등학교 진학부장</li>
                    <li>서울시교육청 대입진학지원단</li>
                    <li>전. EBSi 학생부종합전형 면접 강사</li>
                    <li>교육부 논술강사</li>
                    <li>*지자체 수시 정시 상담 (서울시청, 동작구청, 양천구청, 금천구청, 동대문구청 외)</li>
                    <li>*교사 대상 직무연수 (교육부, 서울시교육청, 광주시 교육청, 대구시 교육청, 부산시 교육청 외 )</li>
                    <li>*집필 (교육부 독서논술가이드북, 개정교육과정을 반영한  진로진학가이드북, 수시 /정시 대입의 이해)</li>
                </ul>
            </div>
        </div>

        <!-- //section7 -->
    </div>
</div>
