﻿

@using PagedList
@using PagedList.Mvc
@using Geumcheon.Web.Consult.Models
@using Geumcheon.Web.Core.ViewModel
@using Geumcheon.Web.Core.Entity
@model List<PresentationRequest>
@{
    Layout = null;
}
<link rel="stylesheet" href="../Resources/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="../Resources/css/base.css" type="text/css" />
<link rel="stylesheet" href="../Resources/css/layout.css" type="text/css" />
<link rel="stylesheet" href="../Resources/css/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="../Resources/css/loading.css" type="text/css" />
<style>
    th {
        font-weight: bold !important;
    }

    div .btns .btn.red {
        background: #FF5722;
        border: 1px solid #FF5722;
        border-image: none;
        color: #fff;
    }
</style>
<script src="../Resources/js/jquery-1.10.2.js"></script>
<script>
    fnDeletePresentationRequest = function (idx) {
        if (confirm("선택하신 선청을 삭제하시겠습니까?")) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                data: JSON.stringify({
                    'pidx': idx
                }),
                url: '@Url.Action("DeletePresentationRequest", "Presentation")',
                success: function (msg) {
                    if (msg.jsonMsg > -1) {
                        location.reload();
                    }
                    else {
                        alert('삭제하지못했습니다');
                    }
                },
                //error: function (xhr, msg) { alert(msg); },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }
    }
</script>
@if (Geumcheon.Web.Consult.Models._identity.ConsultId == "future" || Geumcheon.Web.Consult.Models._identity.ConsultId == "admin")
{
    <div style="width:100%; text-align:right; margin-bottom:5px;"><div class="btns"><a class="btn_excel btn  blue" idx="" href="ExcelDown?pidx=@ViewBag.PIDx">엑셀다운로드</a></div></div>
}
<div class="common_list">
    <input type="hidden" id="hidden-applicationIdx" />
    <div class="list_w">
        <table class="list_tbl">
            <colgroup>
                <col style="width: 4%;">

                <col style="width: 10%;">
                <col style="width: 20%;">
                <col style="width:  20%;">


                <col style="width:auto;">
                <col style="width: 10%;">

            </colgroup>
            <thead>
                <tr>
                    <th>번호</th>

                    <th>이름</th>
                    <th>핸드폰</th>

                    <th>처리상태</th>
                    <th></th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }

                @if (Model != null && Model.Count() > 0)
                {

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@(i++)</td>

                            <td>@item.Name</td>
                            <td>@item.HP</td>

                            <td>
                                @item.StateDP
                            </td>
                            <td>
                                @item.Memo
                            </td>
                            <td>
                                <div><div class="btns"><a class="btn_delete btn  red" idx="@item.PtRequestIdx" onclick="fnDeletePresentationRequest(@item.PtRequestIdx);">삭제</a></div></div>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>






