﻿@model List<Geumcheon.Web.Core.Entity.PresentationRequest>
@{
    ViewBag.Title = "설명회신청";
    Layout = null;

    //Geumcheon.Web.Core.Entity.Member member = ViewData["Member"] as Geumcheon.Web.Core.Entity.Member;
}
<link rel="stylesheet" href="../Resources/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="../Resources/css/base.css" type="text/css" />
<link rel="stylesheet" href="../Resources/css/layout.css" type="text/css" />
<link rel="stylesheet" href="../Resources/css/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="../Resources/css/loading.css" type="text/css" />
<link href="~/Resources/css/info_style.css" rel="stylesheet" />

<script type="text/javascript" src="../Resources/js/vendor.js"></script>
<script type="text/javascript" src="../Resources/js/base.js"></script>
<script src="../Resources/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="../Resources/js/jquery.form.min.js"></script>
<script type="text/javascript" src="../Resources/js/loading.js"></script>
<script type="text/javascript" src="../Resources/js/jquery-ui.js"></script>
<script type="text/javascript" src="../Resources/js/fpUtil.js"></script>

<script type="text/javascript">

    const phoneRegex = /^01(?:0|1|[6-9])[.-]?(\d{3}|\d{4})[.-]?(\d{4})$/;
    const emailRegex = /^(([^<>()\[\].,;:\s@@"]+(\.[^<>()\[\].,;:\s@@"]+)*)|(".+"))@@(([^<>()[\].,;:\s@@"]+\.)+[^<>()[\].,;:\s@@"]{2,})$/i;
    var requestuserinfo = [];

    $(document).ready(function () {
        $("#btn-close").click(function () {
            $('.close', parent.document).click();
        });

        $("#btn-save").click(function () {
            if (inputValidate()) {
                $.ajax({
                    url: "@Url.Action("InsertAnoymousePtRequest", "Presentation")",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: JSON.stringify({
                        requestuserinfo: requestuserinfo,
                        ptidx: "@Model.FirstOrDefault().PtIdx",
                        ptrequestidx: "@Model.FirstOrDefault().PtRequestIdx",
                        memo: $("#consultMemo").val()
                    }),
                    dataType: "json",
                    type: "POST",
                    beforeSend: function () {
                        requesting = true
                    }
                }).done(function (json) {
                    if (json.ok) {
                        const duplicatePhone = [];
                        $.each(json.jsonMsg, function (index, item) {
                            if (item == "99/D") {
                                duplicatePhone.push(requestuserinfo[index].hp);
                            }
                        });

                        let alertStr = "설명회 신청을 완료하였습니다.";
                        if (@(Geumcheon.Web.Consult.Models._identity.MemberIdx == null ? 0 : 1) == 1) {
                            alertStr += "\n신청내역은 나의활동>신청 및 상담내역에서 확인하실수 있습니다.";
                        }
                        if (duplicatePhone.length > 0) {
                            alertStr += "\n신청자 중 " + duplicatePhone.join(", ") + "는 이미 신청된 핸드폰 번호 입니다.";
                        }

                        alert(alertStr);

                        $('.close', parent.document).click();
                    }
                    else {
                        console.log(json.message);
                        alert("신청 중 오류가 발생하였습니다.");
                    }

                }).fail(function (httpObj, textStatus) {
                    requesting = false;
                    alert("처리 중 오류가 발생하였습니다.");
                });



                //$("#CreateForm").submit()
            }
        });

        $("#CreateForm").ajaxForm({
            dataType: 'json',
            beforeSubmit: function () {
            },
            success: function (json) {
                //alert(json.jsonMsg);
                var idx = json.jsonMsg.split('/')[0];
                var result = json.jsonMsg.split('/')[1];
                if (result == 'R') {
                    alert('설명회 신청을 완료하였습니다. \n신청내역은 나의활동>신청 및 상담내역에서 확인하실수 있습니다.')
                }
                $('.close', parent.document).click();
            },
            error: function () {
                //return false;
                //$("#CreateForm").isLoading("hide");
            }

        });

    });

    // 입력창 값 체크
    var inputValidate = function () {
        const userinfos = [];
        let invalidInfo = false;
        let nouser = true;

        $.each($("tr[name=userinforow]"), function (index, item) {
            const inputItem = $(item).find("input");
            const selectItem = $(item).find("select");

            const userinfo = {
                name: inputItem[0].value,
                hp: selectItem[0].value + inputItem[1].value + inputItem[2].value,
                email: inputItem[3].value,
                atype: selectItem[1].value,
                ptrequestidx: item.attributes["requestidx"].value,
            };

            if ((inputItem[1].value + inputItem[2].value != "") && !phoneRegex.test(userinfo.hp)) {
                invalidInfo = true;
                alert("신청자" + (index + 1).toString() + "의 핸드폰 번호를 확인해 주세요.");
                return false;
            }
            //else if (userinfo.email != "" && !emailRegex.test(userinfo.email)) {
            //    invalidInfo = true;
            //    alert("신청자" + (index + 1).toString() + "의 이메일 주소를 확인해 주세요.");
            //    return false;
            //}


            if (userinfo.name != "" && userinfo.hp != "") {
                nouser = false;
            }

            userinfos.push(userinfo);
        });

        if (invalidInfo) {
            return;
        }
        else if (nouser) {
            alert("최소 한명 이상의 성명, 핸드폰, 정보를 입력해 주세요.");
            return;
        }

        //if ($("#consultMemo").val() == "") {
        //    alert("설명회에서 다뤘으면 하는 내용을 입력하세요.");
        //    return false;
        //}

        requestuserinfo = userinfos;
        return true;
    };
</script>

<style>
    .content {
        min-width: 1024px !important;
    }

    .dateBox input.text.Ty2 {
        height: 38px !important;
        width: 160px;
    }

    .socre input[type=text] {
        width: 100% !important;
        text-align: center;
    }

    .InnerTable {
        border: 1px solid #808080;
        border-collapse: collapse;
    }

        .InnerTable td {
            border: 1px solid #060606;
            text-align: center;
            width: 100px;
            height: 30px;
        }

            .InnerTable td.T {
                background-color: #e5fbf4;
                font-weight: bold;
                color: #333;
            }

            .InnerTable td.N {
                background-color: #f7f6dc;
                font-weight: bold;
                color: #333;
            }

            .InnerTable td.H {
                background-color: #f7e8ea;
                font-weight: bold;
                color: #333;
            }

    .consultRow.none {
        display: none;
    }

    .consultChangeRow.none {
        display: none;
    }

    div .btns .btn.red {
        background: #c30505;
        border: 1px solid #c30505;
        border-image: none;
        color: #fff;
    }

    .input100 {
        width:100%;
    }
</style>


<h1 style="padding:0px 8px; color:red;display:none;">| 주의사항 |</h1>
<div class="registerdata" style="display:none;">
    <ul style="list-style:square ; margin-left:25px;">
        <li>본 서비스는 금천구청 고교 재학생(또는 졸업생)과 금천구 주민들에게만 제공되는 서비스입니다.</li>
        <li>
            본 로그인 정보로는 본인 신청만 가능합니다.
        </li>
    </ul>

</div>
<div class="divider"></div>

<h1 style="padding:0px 8px;">| 행사 일정 |</h1>
<div class="registerdata">
    <ul style="list-style:square ; margin-left:25px;">
        <li>@Model.FirstOrDefault().PresentationDate_DP</li>
    </ul>
</div>
<div class="divider"></div>

<h1 style="padding:0px 8px;">| 행사 장소 |</h1>
<div class="registerdata">
    <ul style="list-style:square ; margin-left:25px;">
        <li>
            @Model.FirstOrDefault().Address
        </li>
        @if (Model.FirstOrDefault().PresentationType == "E") {
            <li>
                온, 오프라인 진행 (오프라인 선착순 50명)
            </li>
        }
    </ul>
</div>
<div class="divider"></div>

@if (Model.FirstOrDefault().PresentationType == "E")
{
<div class="registerdata">
    *입사관특강 3일 연속 참여시, 1:1입시컨설팅 우선 참여 특혜를 드립니다.*
</div>
}


@using (Html.BeginForm("InsertPtRequest", "Presentation", FormMethod.Post, new { @id = "CreateForm", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.FirstOrDefault().PtRequestIdx);
    @Html.HiddenFor(x => x.FirstOrDefault().PtIdx);

    @Html.HiddenFor(x => x.FirstOrDefault().Name);
    @Html.HiddenFor(x => x.FirstOrDefault().HP);
    @Html.HiddenFor(x => x.FirstOrDefault().Email);
    @Html.HiddenFor(x => x.FirstOrDefault().Area);
    @Html.HiddenFor(x => x.FirstOrDefault().School);
    @Html.HiddenFor(x => x.FirstOrDefault().Grade);
    @Html.HiddenFor(x => x.FirstOrDefault().Memo);
    <div style="min-width:960px;">
        <div class="content">
            <!-- 컨설트 신청 -->
            <div name="request" class="content2">
                <div class="registerform" style="display:none;">
                    <div class="registerrow">
                        <div style="width:50%;display:flex;">
                            <div class="registerheader"><span>본인 성명</span></div>
                            <div class="registerdata">
                                <input type="text" id="accountName" placeholder="성명을 입력하세요." value="@Model.FirstOrDefault().Name" style="width:320px;" />
                            </div>
                        </div>
                    </div>
                    <div class="registerrow">
                        <div style="width:50%;display:flex;">
                            <div class="registerheader"><span>핸드폰</span></div>
                            <div class="registerdata">
                                <select id="phoneFirst">
                                    <option value="010" @(Model.FirstOrDefault().HP.Length > 3 && Model.FirstOrDefault().HP.Substring(0, 3) == "010" ? "selected" : "")>010</option>
                                    <option value="011" @(Model.FirstOrDefault().HP.Length > 3 && Model.FirstOrDefault().HP.Substring(0, 3) == "011" ? "selected" : "")>011</option>
                                    <option value="016" @(Model.FirstOrDefault().HP.Length > 3 && Model.FirstOrDefault().HP.Substring(0, 3) == "016" ? "selected" : "")>016</option>
                                    <option value="017" @(Model.FirstOrDefault().HP.Length > 3 && Model.FirstOrDefault().HP.Substring(0, 3) == "017" ? "selected" : "")>017</option>
                                    <option value="018" @(Model.FirstOrDefault().HP.Length > 3 && Model.FirstOrDefault().HP.Substring(0, 3) == "018" ? "selected" : "")>018</option>
                                    <option value="019" @(Model.FirstOrDefault().HP.Length > 3 && Model.FirstOrDefault().HP.Substring(0, 3) == "019" ? "selected" : "")>019</option>
                                </select>
                                <input type="text" id="phoneMiddle" style="width:110px;" value="@(Model.FirstOrDefault().HP.Length > 10 ? Model.FirstOrDefault().HP.Substring(3, Model.FirstOrDefault().HP.Length - 7) : "")" />
                                -
                                <input type="text" id="phoneLast" style="width:117px;" value="@(Model.FirstOrDefault().HP.Length > 10 ? Model.FirstOrDefault().HP.Substring(Model.FirstOrDefault().HP.Length - 4, 4) : "")" />
                            </div>
                        </div>
                        <div style="width:50%;display:flex;">
                            <div class="registerheader"><span>이메일</span></div>
                            <div class="registerdata">
                                <input type="text" id="accountEmail" style="width:320px;" value="@Model.FirstOrDefault().Email" />
                            </div>
                        </div>
                    </div>
                    <div class="registerrow">
                        <div style="width:50%;display:flex;">
                            <div class="registerheader"><span>거주지역</span></div>
                            <div class="registerdata"><input type="text" id="accountAddress" placeholder="거주지역을 입력하세요." value="@Model.FirstOrDefault().Area" style="width:320px;" /></div>
                        </div>
                        <div style="width:50%;display:flex;">
                            <div class="registerheader"><span>학교</span></div>
                            <div class="registerdata">
                                <input type="text" id="accountSchool" value="@Model.FirstOrDefault().School" style="width:230px;" />
                                <select id="accountGrade">
                                    <option value="1" @(Model.FirstOrDefault().Grade == 1 ? "selected" : "")>1학년</option>
                                    <option value="2" @(Model.FirstOrDefault().Grade == 2 ? "selected" : "")>2학년</option>
                                    <option value="3" @(Model.FirstOrDefault().Grade == 3 ? "selected" : "")>3학년</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="registerrow" style="display:none;">
                        <div class="registerheader"><span></span></div>
                        <div class="registerdata">
                            <p>
                                ※ 설명회에서 다뤘으면 하는 내용
                            </p>
                            <textarea id="consultTitle" style="width:900px;">@Model.FirstOrDefault().Memo</textarea>
                        </div>
                    </div>
                </div>


                <table style="width:100%;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>성명</th>
                            <th>핸드폰</th>
                            <th style="display:none;">이메일</th>
                            <th>구분</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 5; i++)
                        {
                            if (Model.Count > i)
                            {
                                <tr name="userinforow" requestidx="@Model[i].PtRequestIdx">
                                    <td>신청자@(i + 1)</td>
                                    <td><input type="text" class="input100" value="@Model[i].Name" /></td>
                                    <td>
                                        <select>
                                            <option value="010" @(Model[i].HP.Length > 3 && Model[i].HP.Substring(0, 3) == "010" ? "selected" : "")>010</option>
                                            <option value="011" @(Model[i].HP.Length > 3 && Model[i].HP.Substring(0, 3) == "011" ? "selected" : "")>011</option>
                                            <option value="016" @(Model[i].HP.Length > 3 && Model[i].HP.Substring(0, 3) == "016" ? "selected" : "")>016</option>
                                            <option value="017" @(Model[i].HP.Length > 3 && Model[i].HP.Substring(0, 3) == "017" ? "selected" : "")>017</option>
                                            <option value="018" @(Model[i].HP.Length > 3 && Model[i].HP.Substring(0, 3) == "018" ? "selected" : "")>018</option>
                                            <option value="019" @(Model[i].HP.Length > 3 && Model[i].HP.Substring(0, 3) == "019" ? "selected" : "")>019</option>
                                        </select>
                                        <input type="text" style="width:72px;" value="@(Model[i].HP.Length > 10 ? Model[i].HP.Substring(3, Model[i].HP.Length - 7) : "")" />
                                        -
                                        <input type="text" style="width:72px;" value="@(Model[i].HP.Length > 10 ? Model[i].HP.Substring(Model[i].HP.Length - 4, 4) : "")" />
                                    </td>
                                    <td style="display:none;"><input type="text" class="input100" value="@Model[i].Email" /></td>
                                    <td><select>
                                        @*<option value="S" @(Model[i].AccountType == "S" ? "selected" : "")>학생</option>*@
                                        <option value="P" @(Model[i].AccountType == "P" ? "selected" : "")>학부모</option>
                                        <option value="G" @(Model[i].AccountType == "G" ? "selected" : "")>일반</option>
                                        </select>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr name="userinforow" requestidx="0">
                                    <td>신청자@(i + 1)</td>
                                    <td><input type="text" class="input100" /></td>
                                    <td>
                                        <select>
                                            <option value="010">010</option>
                                            <option value="011">011</option>
                                            <option value="016">016</option>
                                            <option value="017">017</option>
                                            <option value="018">018</option>
                                            <option value="019">019</option>
                                        </select>
                                        <input type="text" style="width:72px;" value="" />
                                        -
                                        <input type="text" style="width:72px;" value="" />
                                    </td>
                                    <td style="display:none;"><input type="text" class="input100" /></td>
                                    <td><select>
                                        @*<option value="S">학생</option>*@
                                        <option value="P">학부모</option><option value="G">일반</option></select></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                
                <div style="border:1px solid #626262; border-top:0px; padding:8px;">
                    <p>
                        ※ 한 번 신청시 동행인 최대 5명까지 신청 가능합니다.<br />
                        ※ 신청자 확인, 안내를 위해 휴대폰, 이메일 주소가 필요하니 반드시 적어주세요.
                    </p>
                </div>

                <div style="padding:8px; padding-top:16px; display:none;">
                    <p>
                        ※ 설명회에서 다뤘으면 하는 내용
                    </p>
                    <textarea id="consultMemo" style="width:100%;">@Model.FirstOrDefault().Memo</textarea>
                </div>

                <div>
                    <div class="registerrow">
                        <div class="registerdata" style="margin:auto; display:flex;">
                            <div class="btns" style="margin-left:8px;">
                                <a class="btn blue" id="btn-save" style="font-size:20px; padding:8px 32px;">신청</a>
                                <a class="btn red" id="btn-close" style="font-size:20px; padding:8px 32px;">취소</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}