﻿
@{
    ViewBag.Title = "로그인";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    body {
        background: #eee !important;
    }
    /* STRUCTURE */
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }
    #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        text-align: center;
    }
    #formFooter {
        background-color: #f6f6f6;
        border-top: 1px solid #dce8f1;
        padding: 25px;
        text-align: center;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
    }
    /* FORM TYPOGRAPHY*/
    input[type=button], input[type=submit], input[type=reset] {
        background-color: #56baed;
        border: none;
        color: white;
        padding: 4px 0px 8px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 20px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-weight: bold;
        margin: 15px;
    }
        input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
            background-color: #39ace7;
        }
        input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
            -moz-transform: scale(0.95);
            -webkit-transform: scale(0.95);
            -o-transform: scale(0.95);
            -ms-transform: scale(0.95);
            transform: scale(0.95);
        }
    input[type=text], input[type=password] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #dadada;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }
        input[type=text]:focus {
            background-color: #fff;
            border-bottom: 2px solid #5fbae9;
        }
        input[type=text]:placeholder {
            color: #cccccc;
        }
    /* ANIMATIONS */
    /* Simple CSS3 Fade-in-down Animation */
    /* Simple CSS3 Fade-in Animation */
    .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }
    .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
    .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }
    .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }
    /* Simple CSS3 Fade-in Animation */
    .underlineHover:after {
        display: block;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: #56baed;
        content: "";
        transition: width 0.2s;
    }
    .underlineHover:hover {
        color: #0d0d0d;
    }
        .underlineHover:hover:after {
            width: 100%;
        }
</style>

<script type="text/javascript">
    var duplicateCheckID = "";
    var requesting = false;

    const passwordRegex = /^[a-zA-Z0-9]{6,50}$/;
    const idRegex = /^[a-zA-Z0-9]{4,30}$/;//.test(this.state.userName)) {
    const phoneRegex = /^01(?:0|1|[6-9])[.-]?(\d{3}|\d{4})[.-]?(\d{4})$/;
    const emailRegex = /^(([^<>()\[\].,;:\s@@"]+(\.[^<>()\[\].,;:\s@@"]+)*)|(".+"))@@(([^<>()[\].,;:\s@@"]+\.)+[^<>()[\].,;:\s@@"]{2,})$/i;
    $(document).ready(function () {
        // 로그인
        $("#loginBtn").on("click", function () {
            if (inputValidate()) {
                if (requesting) {
                    //alert("로그인 중입니다.");
                }
                else {
                    login();
                }
            }
        });
        // 회원가입
        $("#joinBtn").on("click", function () {
            document.location.href = "@Url.Action("Join", "Account")";
        });
        // 비밀번호 입력창 엔터
        $("#accountPWD").on("keydown", function (key) {
            if (key.keyCode == 13) {
                if (inputValidate()) {
                    if (requesting) {
                        //alert("로그인 중입니다.");
                    }
                    else {
                        login();
                    }
                }
            }
        });
    });

    var inputValidate = function () {
        if ($("#accountID").val().trim() == "") {
            alert("ID를 입력해 주세요.");
            return false;
        }
        else if ($("#accountPWD").val() == "") {
            alert("비밀번호를 입력해 주세요.");
            return false;
        }

        return true;
    };

    var login = function () {
        $.ajax({
            url: "@Url.Action("AccountLogin", "Account")",
            data: {
                id: $("#accountID").val(),
                pwd: $("#accountPWD").val(),
                url: "@ViewBag.rtnUrl"
            },
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                requesting = true;
            }
        }).done(function (json) {
            requesting = false;
            if (json.ok) {
                document.location.href = "@ViewBag.rtnUrl";
            }
            else {
                alert(json.message);
            }
        }).fail(function (httpObj, textStatus) {
            requesting = false;
            alert("처리 중 오류가 발생하였습니다.");
        });
    }


</script>


<div style="max-width:640px;">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Login Form -->
            <form style="padding-top:30px;">
                <input type="text" id="accountID" class="fadeIn second" name="login" placeholder="아이디" style="margin:15px; height:40px;">
                <input type="password" id="accountPWD" class="fadeIn third" name="password" placeholder="암호" style="margin:15px; height:40px;">
                <input type="button" id="loginBtn" class="fadeIn fourth" value="로그인" style="width:85%;">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#" id="joinBtn">회원가입</a>
            </div>

        </div>
    </div>
    
</div>
