﻿
@if (ViewBag.ConsultWay == "O")
{
    <h1 style="padding:0px 8px;">| 신청기간 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>2020년 6월 1일(월) ~ 2020년 7월 17일(금)</li>
        </ul>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담일정 |</h1>
    <div class="registerdata">
        <ul style="list-style:square ; margin-left:25px;">
            <li>2020년 8월 1일(토)</li>
        </ul>
    </div>
    <div class="divider"></div>

    <h1 style="padding:0px 8px;">| 상담 전 준비서류 |</h1>
    <div class="registerdata" style="display:flex; align-items:center;">
        <ul style="list-style:square ; margin-left:25px;">
            <li>아래의 ‘신청하기’로 상담신청 후, 상단의 <나의활동>의 <컨설팅 기초자료 입력>에서 모든 항목을 입력해야 정식으로 접수가 완료됩니다.</li>
            <li>컨설팅 1주일 전까지 기초자료를 입력하지 않았거나 누락의 경우, 예비자 학생에게 컨설팅 기회가 자동 양도되므로 주의해 주세요</li>
        </ul>
        <div class="btns" style="margin-left:8px; display:none;">
            <a href="@Url.Action("BasicInfo", "MyPage")" class="btn blue" id="modifyBtn" style="">컨설팅 기초자료 제출 바로가기</a>
        </div>
    </div>

    <div class="divider"></div>
}