﻿
@*@ViewBag.Navigation
@Geumcheon.Web.Consult.Models._identity.Roll
@ViewBag.ConsultWay*@


<script>
    var requesting = false;
    var listType = "_O"
    setListType = function () {
        var roll = '@Geumcheon.Web.Consult.Models._identity.Roll';
        if (roll == 'STUDENT' || roll == 'PARENT') {
            roll = 'S';
        }
        else if (roll == 'CONSULT') {
            if ('@Geumcheon.Web.Consult.Models._identity.ConsultId' == 'admin' || '@Geumcheon.Web.Consult.Models._identity.ConsultId' == 'future') {
                roll = 'A'
            }
            else {
                roll = "C";
            }
        }

        var way = '@ViewBag.ConsultWay';
        listType = roll + '_' + way;
        return listType;
    }
        // 상담 신청 리스트 조회
    requestConsultList = function (page) {
        listType = setListType();
        $.ajax({
            url: "@Url.Action("GetListData", "Entrance")",
            headers: {
                "Content-Type": "application/json"
            },
            data: JSON.stringify({
                page: page,
                type: "@(ViewBag.ConsultWay ?? "I")",
                search: $("#searchTitle").val(),
                order: "REGDATE",
                listType: listType
            }),
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                requesting = true
            }
        }).done(function (json) {
            console.log(json);
            if ('@Geumcheon.Web.Consult.Models._identity.ConsultId' == 'future') {
                //alert(setListType().replace('A', 'F'));
                createConsultList(json.data, setListType().replace('A', 'F'));
            }
            else {
                createConsultList(json.data, setListType());
            }
            

            requesting = false;
        }).fail(function (httpObj, textStatus) {
            requesting = false;
            alert("처리 중 오류가 발생하였습니다.");
        });
    }

        $(document).ready(function () {
            requestConsultList(@ViewBag.Page);
            // 검색
            $("#modifyBtn").on("click", function () {
                requestConsultList(@ViewBag.Page);
            });

            // 검색창 입력창 엔터
            $("#searchTitle").on("keydown", function (key) {
                if (key.keyCode == 13) {
                    requestConsultList(@ViewBag.Page);
                }
            });
        });

</script>
<script src="~/Resources/js/fpLib.js"></script>
<style>
    .consultlist .row .rowIdx {
        width: 5%;
        padding: 8px;
    }

    .consultlist .row .title{
        width: 35%;
        padding: 8px;
    }

    .consultlist .row .name {
        width: 15%;
        padding: 8px;
    }
    
    .consultlist .row .date10 {
        width: 10%;
        padding: 8px;
    }

    .consultlist .row .date15 {
        width: 15%;
        padding: 8px;
    }

    .consultlist .row .etc10 {
        width: 10%;
        padding: 8px;
    }
    .consultlist .row .etc15 {
        width: 15%;
        padding: 8px;
    }
    .consultlist .row .etc20 {
        width: 20%;
        padding: 8px;
    }
    .btn{
        font-weight:bold;
        text-decoration:underline;
    }
    .registerform{
        border-top: 0px !important;
        border-bottom:0px !important;
    }
</style>

<div class="divider"></div>
<div class="list-header">
    @if (ViewBag.ConsultWay == "O" && string.IsNullOrEmpty(Geumcheon.Web.Consult.Models._identity.ConsultId))
    {

        <div style="display:flex; align-items:center; text-align:center; border: 1px solid #C3C3C3; border-top: 1px solid #3685ca; background-color:#F7F7F7; font-weight:bold;">
            <div style="width:5%;padding:8px;  border-right:1px solid #C3C3C3;">번호</div>
            <div style="width:35%;padding:8px; border-right:1px solid #C3C3C3;">제목</div>
            <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">처리상태</div>
            <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">신청자</div>
            <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">신청일</div>            
        </div>
    }

    else
    {
        if (Geumcheon.Web.Consult.Models._identity.Roll == "STUDENT" || Geumcheon.Web.Consult.Models._identity.Roll == "PARENT")
        {
            if (ViewBag.ConsultWay == "O")
            {
                <div style="display:flex; align-items:center; text-align:center; border: 1px solid #C3C3C3; border-top: 1px solid #3685ca; background-color:#F7F7F7; font-weight:bold;">
                    <div style="width:5%;padding:8px;  border-right:1px solid #C3C3C3;">번호</div>
                    <div style="width:35%;padding:8px; border-right:1px solid #C3C3C3;">제목</div>
                    <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">처리상태</div>
                    <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">신청자</div>
                    <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">신청일</div>                    
                </div>
            }
            else
            {

            }
        }
        else
        {
            if ((Geumcheon.Web.Consult.Models._identity.ConsultId == "admin"))
            {
                if (ViewBag.ConsultWay == "O")
                {
                    <div style="display:flex; align-items:center; text-align:center; border: 1px solid #C3C3C3; border-top: 1px solid #3685ca; background-color:#F7F7F7; font-weight:bold;">
                        <div style="width:5%;padding:8px;  border-right:1px solid #C3C3C3;">번호</div>
                        <div style="width:35%;padding:8px; border-right:1px solid #C3C3C3;">제목</div>
                        <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">처리상태</div>
                        <div style="width:10%;padding:8px; border-right:1px solid #C3C3C3;">신청자</div>
                        <div style="width:10%;padding:8px; border-right:1px solid #C3C3C3;">신청일</div>
                        <div style="width:10%;padding:8px; border-right:1px solid #C3C3C3;">답변마감일</div>
                        <div style="width:15%;padding:8px;">상담선생님</div>
                    </div>
                }
                else
                {
                    <div style="display:flex; align-items:center; text-align:center; border: 1px solid #C3C3C3; border-top: 1px solid #3685ca; background-color:#F7F7F7; font-weight:bold;">
                        <div style="width:5%;padding:8px;  border-right:1px solid #C3C3C3;">번호</div>
                        <div style="width:35%;padding:8px; border-right:1px solid #C3C3C3;">제목</div>
                        <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">처리상태</div>
                        <div style="width:10%;padding:8px; border-right:1px solid #C3C3C3;">학생명</div>
                        <div style="width:10%;padding:8px; border-right:1px solid #C3C3C3;">신청일</div>
                        <div style="width:10%;padding:8px; border-right:1px solid #C3C3C3;">상담요청일</div>
                        <div style="width:10%;padding:8px; border-right:1px solid #C3C3C3;">상담선생님</div>
                        <div style="width:20%;padding:8px;">기초조사서 / 검사</div>
                    </div>
                }
            }
            else
            {
                if (ViewBag.ConsultWay == "O")
                {
                    <div style="display:flex; align-items:center; text-align:center; border: 1px solid #C3C3C3; border-top: 1px solid #3685ca; background-color:#F7F7F7; font-weight:bold;">
                        <div style="width:5%;padding:8px; border-right:1px solid #C3C3C3;">번호</div>
                        <div style="width:35%;padding:8px;border-right:1px solid #C3C3C3;">제목</div>
                        <div style="width:15%;padding:8px;border-right:1px solid #C3C3C3;">처리상태</div>
                        <div style="width:15%;padding:8px;border-right:1px solid #C3C3C3;">신청자</div>
                        <div style="width:15%;padding:8px;border-right:1px solid #C3C3C3;">신청일</div>            
                    </div>
                }
                else
                {

                    <div style="display:flex; align-items:center; text-align:center; border: 1px solid #C3C3C3; border-top: 1px solid #3685ca; background-color:#F7F7F7; font-weight:bold;">
                        <div style="width:5%;padding:8px; border-right:1px solid #C3C3C3;">번호</div>
                        <div style="width:35%;padding:8px; border-right:1px solid #C3C3C3;">제목</div>
                        <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">처리상태</div>
                        <div style="width:10%;padding:8px; border-right:1px solid #C3C3C3;">신청자</div>
                        <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">신청일</div>
                        <div style="width:15%;padding:8px; border-right:1px solid #C3C3C3;">상담요청일</div>
                        <div style="width:20%;padding:8px;">기초조사서 / 검사</div>
                    </div>
                }
            }
        }
    }

    <div class="consultlist">
    </div>
    <div class="divider"></div>
    <div id="pager" style="margin-top:5px;">
        <div class="totalCount">
            전체 <span style="font-weight:bold; color:#428bca;"></span> 건
        </div>
        <div class="pagination-container" style="text-align:center;">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<div class="divider"></div>