﻿
<style>
    .page_tab ul {
        border-bottom-color: #02523a;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        -ms-zoom: 1;
    }

        .page_tab ul::after {
            clear: both;
            display: block;
            content: "";
        }

        .page_tab ul li {
            background: rgb(245, 245, 245);
            border-width: 1px 1px 0px;
            border-style: solid solid none;
            border-color: rgb(195, 195, 195) rgb(195, 195, 195) currentColor;
            border-image: none;
            width: 164px;
            float: left;
            list-style: none;
        }

            .page_tab ul li a {
                width: 100%;
                height: 30px;
                text-align: center;
                color: rgb(102, 102, 102);
                line-height: 30px;
                font-size: 14px;
                display: block;
                text-decoration: none;
            }

            .page_tab ul li.curr {
                background: rgb(255, 255, 255);
                border-width: 1px 1px 0px;
                border-style: solid solid none;
                border-color: #02523a #02523a currentColor;
                border-image: none;
            }

                .page_tab ul li.curr a {
                    top: 1px;
                    color: #02523a;
                    border-bottom-color: rgb(255, 255, 255);
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                    position: relative;
                }

    .sel {
        font-weight: bold;
        color: white;
        background-color: #EE7855;
    }

    th {
        font-weight: bold !important;
    }

    .writer {
        font-weight: bold;
    }

    .thead {
        background-color: #f2f2f2;
        font-weight: bold !important;
    }

    .thead-dark {
        background-color: #e7e7e7;
        font-weight: bold !important;
    }

    .answer {
        width: 98%;
    }

    .borderTop {
        border-top: 1px solid black;
    }

    .borderBottom {
        border-bottom: 1px solid black;
    }
</style>
<link rel="stylesheet" href="~/Resources/css/tab.css" type="text/css" />
<script>
    $(document).ready(function () {
        var obj = $(".tab-menu li").get(0);
        switch ('@Model')
        {
            case 'BASICINFO_P':{
                obj = $(".tab-menu li").get(0);
                break;
            }
            case 'BASICINFO_S': {
                obj = $(".tab-menu li").get(1);
                break;
            }
            case 'NESIN': {
                obj = $(".tab-menu li").get(3);
                break;
            }
            case 'MOI': {
                obj = $(".tab-menu li").get(4);
                break;
            }
            case 'STUDENTRECORD': {
                obj = $(".tab-menu li").get(2);
                break;
            }
            case 'SMARTTEST': {
                obj = $(".tab-menu li").get(5);
                break;
            }

            case 'SMARTCOACHING': {
                obj = $(".tab-menu li").get(3);
                break;
            }
        }
        $(".tab-menu li").removeClass("selected");
        $(obj).addClass("selected");
    });
</script>
@if (Geumcheon.Web.Consult.Models._identity.SchoolType == "M")
{
    <div class="tab-menu-wrap" style="margin-bottom:10px;">
        <ul class="tab-menu">
            <li style="width: 25%;"><a href="BasicInfo?writerType=p">기초조사서(학부모)</a></li>
            <li class="selected" style="width: 25%;"><a href="BasicInfo?writerType=s">기초조사서(학생)</a></li>            
            <li style="width: 25%;"><a href="StudentRecord">학교생활기록부</a></li>
            <li style="width: 25%;"><a href="SmartCoaching">성적/검사</a></li>
        </ul>
    </div>
}
else
{
    <div class="tab-menu-wrap" style="margin-bottom:10px;">
        <ul class="tab-menu">
            <li style="width: 16.6%;"><a href="BasicInfo?writerType=p">기초조사서(학부모)</a></li>
            <li class="selected" style="width: 16.6%;"><a href="BasicInfo?writerType=s">기초조사서(학생)</a></li>
            <li style="width: 16.6%;"><a href="StudentRecord">학교생활기록부</a></li>
            <li style="width: 16.6%;"><a href="Nesin">내신성적</a></li>
            <li style="width: 16.6%;"><a href="Moi">모의고사성적</a></li>

            <li style="width: 16.6%;"><a href="SmartTest">검사하기</a></li>            
        </ul>
    </div>
}